[2017-08-22 14:31] gregorydimitriadis opened #176 "Multiple Macro Units"
TBD

[2017-08-22 14:34] gregorydimitriadis opened #177 "Information on XML Format"
TBD

[2017-08-22 14:35] gregorydimitriadis opened #178 "Open-Ended: Reconsider Annotator Functionality"
Reconsider the functionality of Annotators entirely. Consider the issue of deleting annotators ~~and participants~~.

[2017-08-22 14:42] cneidle opened #179 "current frame should be in view in the Utterance window"
In the utterance window, clicking on the |- or -| buttons to the left of Play Utterance do indeed go to the proper frames, but the view is not adjusted so that the newly active frame is visible.

When I click the "go to beginning of utterance" button, I then have to manually scroll to find the beginning of the utterance

![screen shot 2017-08-22 at 10 40 48 am](https://user-images.githubuserconten

[2017-08-22 14:58] cneidle commented on #178
We do *not* want to delete participants.

[2017-08-22 15:01] cneidle commented on #91
This is not an accurate description of what needs to be done.  I will need to provide you with a list of the global changes that need to be made to the field values.  Some of these involve some values of topics, but that is not exhaustive.  It won't be a long list, however.

[2017-08-22 15:36] gregorydimitriadis opened #180 "Formalize gitflow and release procedures"
Currently all releases are done manually. This ticket is to track the work needed to automate this process, as well as formalize the gitflow which accumulates finished work into the releases.

[2017-08-22 15:38] gregorydimitriadis commented on #91
@cneidle - thanks. Do they all involve changing the value names in some way?

[2017-08-22 15:40] cneidle commented on #91
yes

thanks,
 Carol

[2017-08-22 21:54] cneidle opened #181 "Small request - please add one more global participant"
<img width="276" alt="screen shot 2017-08-22 at 5 52 23 pm" src="https://user-images.githubusercontent.com/13629122/29589323-dd51734e-8762-11e7-9c20-83873a12c8b4.png">

Thanks.

[2017-08-23 01:30] cneidle opened #182 "low-priority enhancement request - in case it's quick and easy"
It would be great if, when working within the Utterance window, the up and down arrows could be used to go to previous and next utterances (i.e., to move up and down the list of utterances on the left).

Just mentioning it as it occurs to me.  Not critical...

Instinctively, I keep trying to do that.

thanks!

[2017-08-23 08:05] cneidle commented on #179
This is also a problem in playing an utterance that is not entirely visible within the Gloss window:  The portions of the utterance being played are not visible; there is no dynamic scrolling.  This should be a high priority for fixing (before the next release).

[2017-08-23 08:11] cneidle opened #183 "Show non-empty field button should apply to current utterance, not just what is visible in the window"
SO, I am looking at Rachel 43, U14.

I can't see the whole utterance in the gloss window (and I can't eliminate empty space at the beginning of the utterance because of the bug I reported about not being able to change the start time of the utterance).  So this is what I see when I open that utterance, after I have clicked on the show non-empty button.

<img width="1279" alt="screen shot 2017-08-2

[2017-08-23 08:35] cneidle commented on #173
This same problem occurs with "play event" and "play entity" : Rather than ending on the final frame of the event or entity, the active frame when the play is over is one beyond where it should be:

<img width="980" alt="screen shot 2017-08-23 at 4 32 58 am" src="https://user-images.githubusercontent.com/13629122/29606473-6bcad508-87bc-11e7-8dba-3654a677b1ca.png">

[2017-08-23 08:43] cneidle commented on #173
What I reported above doesn't happen all the time.  I'm not experiencing this problem now.  Not sure what determines when/whether there will be "overshoot" on playing events.

[2017-08-23 09:21] cneidle opened #184 "Change in value not getting saved"
File 43 - U 18

I  changed the value of a Topic/Focus event from "foc/ref" to "topic" and saved the file.
The original value persists.  When I close the file and reopen, the change has not been preserved.

<img width="737" alt="screen shot 2017-08-23 at 5 15 30 am" src="https://user-images.githubusercontent.com/13629122/29608653-cff052be-87c2-11e7-9318-23b902561536.png">

[2017-08-23 09:25] cneidle commented on #184
This appears to be related to the search window having been open.  I had done a search for that value, found it, attempted to change it (all with the search window still open), and the change didn't stick. When I attempted the same change but without having the search window open, there was  not a problem.

This is obviously a serious bug, as using the search window to find something so it can be

[2017-08-23 14:03] cneidle commented on #184
FWIW:  It's not enough to close the search window before making and saving a change.  Once the search window has been opened, it's not possible to make a change that will stick.  It's necessary to quite the program, open it again, and then make and save the change without opening the search window.

[2017-08-29 13:46] gregorydimitriadis commented on #173
@cneidle The reason for this is that not all events/utterances use frames the same way. Some of them have frame numbers which are divisible by the "packet duration" used for the movies (which is the correct way to do it, which was not always the case - this was changed awhile ago). This applies to new events/utterances and when the start/end time is set with the menubar buttons manually. There are

[2017-08-29 16:48] cneidle commented on #173
Hi Greg,

Yes, that sounds OK at the utterance level.  That explains also why
we were having this problem only sometimes.

Am concerned, though, for how this  may work for things like “play event”.
In that case, and perhaps also in the case of play utterance, might it make
sense to have these commands (however modified along the lines you suggest)
be immediately followed, behind the scenes, by a c

[2017-08-30 13:36] gregorydimitriadis commented on #173
@cneidle It's a good idea, but I think it may be an inappropriate place to do the correcting of the frames when it is played through. The expectation of playing should be that it only plays through, and not edit anything in the meanwhile. (The principle of least surprise, so to speak). Unfortunately the best way I can see doing that would be to correct everything in one go when the collection is o

[2017-08-30 13:46] cneidle commented on #173
Hi Greg,

Not sure we’re fully communicating.

I was not talking about editing.

I was talking about what the current (visibly displayed) frame should be
at the conclusion of a “play utterance” or “play event” action.

It should not be later than, or sooner than, the last frame of the
relevant object.

I was not talking about editing anything, only having the green scroll bar
land on the final fra

[2017-08-30 13:49] gregorydimitriadis commented on #173
@cneidle I see. If possible for the green scroll bar to be "in between" what it thinks of as the proper frames while displaying normal to the user's eyes, then we can do that as well.

[2017-09-05 14:23] gregorydimitriadis commented on #91
Moving to Sprint_23 tentatively to determine details which may be needed for this script.

[2017-09-05 14:55] gregorydimitriadis opened #185 "NO_OF_HANDS incorrectly saved for some two-handed glosses"
See below email exchange and attached collection for details:

[signstream_bug_handedness.pdf](https://github.com/DCS-LCSR/SignStream3/files/1277812/signstream_bug_handedness.pdf)
[Rachel_2012-02-14_sc65.zip](https://github.com/DCS-LCSR/SignStream3/files/1277816/Rachel_2012-02-14_sc65.zip)

[2017-09-06 13:01] cneidle opened #186 "SignStream 3.0.9 does not launch"
I follow the usual steps (including running DisableQuarantine script).  The program launches but immediately quits.

Here's the text from the log file:

<?xml version="1.0" encoding="MacRoman" standalone="no"?>
<!DOCTYPE log SYSTEM "logger.dtd">
<log>
<record>
  <date>2017-09-06T08:59:23</date>
  <millis>1504702763514</millis>
  <sequence>0</sequence>
  <logger>edu.bu.signstream.ui</logger>
  <lev

[2017-09-06 14:04] gregorydimitriadis commented on #186
@cneidle Currently looking into this

[2017-09-06 15:07] gregorydimitriadis commented on #186
@cneidle It was a typo on the release script to build the package. Fixed and rebuilt here:
http://dai.cs.rutgers.edu/SignStream/download/release/SignStream3-3.0.9.zip

[2017-09-07 14:17] gregorydimitriadis commented on #180
This has begun during Sprint_22, but will continue to be an ongoing and evolving process going forward iteratively getting more robust each cycle. Moving out of the Sprint_22 to be looked at on an ongoing basis.

[2017-09-19 15:53] gregorydimitriadis commented on #157
@cneidle Does clear here mean to just remove all the entered information from existing rules? Or does it also mean to clear the screen down to just one blank rule (as exists when you first open the window)?

[2017-09-19 16:07] cneidle commented on #157
I would think the latter - that is, if one wanted to do a new search, one would start all over again.
So one should see the screen in the same state as when you would first open that window.  Thanks.

[2017-09-19 17:21] gregorydimitriadis commented on #133
Closing as fixed as per Carol on 2017-09-06

[2017-09-19 17:21] #133 closed, assigned to gregorydimitriadis

[2017-09-19 17:21] gregorydimitriadis commented on #165
Closing as fixed as per Carol on 2017-09-06

[2017-09-19 17:21] #165 closed, assigned to gregorydimitriadis

[2017-09-19 17:21] gregorydimitriadis commented on #174
Closing as fixed as per Carol on 2017-09-06

[2017-09-19 17:21] #174 closed, assigned to gregorydimitriadis

[2017-09-19 17:22] gregorydimitriadis commented on #181
Closing as fixed as per Carol on 2017-09-06

[2017-09-19 17:22] #181 closed, assigned to gregorydimitriadis

[2017-09-19 17:22] gregorydimitriadis commented on #173
Closing as fixed as per Carol on 2017-09-06

[2017-09-19 17:22] #173 closed, assigned to gregorydimitriadis

[2017-09-29 17:45] gregorydimitriadis commented on #91
Moving out of sprint cycle, awaiting further requirements of scripting needs.

[2017-10-06 13:59] cneidle opened #187 "Macro Unit Information Window remains open"
I launched SignStream (3.0.10), and then immediately opened an existing collection.

The Macro Unit Information unit (blank -- from when i launched the program) remained visible.

![screen shot 2017-10-06 at 9 56 52 am](https://user-images.githubusercontent.com/13629122/31281264-e7f3aa3c-aa7c-11e7-8135-2ae1d133ada2.png)

Edit Macro Unit is not available from the top menu.  It is grayed out.  In fa

[2017-10-06 18:51] gregorydimitriadis commented on #149
This will mostly be subsumed by changes in #168, but as per meeting with Carol this morning this is my takeaway on how SignStream should treat compounds:

For semantics I will consider "ACTION" to be called the base form of a constituent part of a compound "ACTION*"

* The sign bank file which SignStream receives will not contain full-formed compounds; it will only receive the constituent parts of

[2017-10-06 19:09] cneidle commented on #149
Thanks.

For clarification:

If we consider a compound, such as  ACT+AGENT, it has two constituent parts:  ACT* and *AGENT,
the base forms of which are, respectively, ACT and AGENT.

The sign bank entries for the above would be

ACT
   ACT*  (ACT+AGENT)

and

AGENT
   *AGENT (ACT+AGENT)

Each entry will be listed with the compound of which it is a constituent in parentheses,
and the user will be a

[2017-10-12 18:57] cneidle commented on #182
perfect.  thanks.

[2017-10-12 19:04] cneidle opened #188 "Previous and Next Utterance don't do exactly what they should"
Hi,

If I am viewing, e.g., U 11, and I click on Previous Utterance, it should have
exactly the same effect as if I had clicked on U 10.

But it still leaves U11 selected, and has gray highlighting on U 10.

So this:
![screen shot 2017-10-12 at 3 02 00 pm](https://user-images.githubusercontent.com/13629122/31514078-801dd928-af5e-11e7-8479-b9485152a63c.png)

instead of this:

![screen shot 2017-10-

[2017-10-12 19:07] cneidle commented on #126
This is listed as complete, but it does not seem to be fixed.  If I have something selected in a given utterance, e.g.

![screen shot 2017-10-12 at 3 05 43 pm](https://user-images.githubusercontent.com/13629122/31514205-da314878-af5e-11e7-94e1-6dcd9fc52656.png)

And I go to a different utterance, either by clicking on a different U in the left, or by using the Next or Previous button, and i then g

[2017-10-12 19:08] cneidle commented on #145
looks good. thanks.

[2017-10-12 19:12] cneidle commented on #122
yes, it now asks to save before closing the application, even when there is nothing new to save.
(better to err in this direction than in the other, in any case.  just mentioning it.)

So if I do a save as... and then attempt to exit, it asks me if I want to save.

This is also true if I double click on a glow to view the morph-phon window.  If I make no changes but close the window, it also somet

[2017-10-12 19:12] cneidle commented on #157
Looks much better - thanks!

[2017-10-12 19:13] cneidle commented on #166
thanks.

[2017-10-12 19:14] cneidle commented on #139
Beautiful.  Thank you!

[2017-10-12 19:17] #182 closed, assigned to gregorydimitriadis

[2017-10-12 19:18] cneidle commented on #166
As we discussed, would be good to add this information to the readme, and I will add it to future versions of the user guide.

[2017-10-12 19:20] #145 closed, assigned to gregorydimitriadis

[2017-10-12 19:25] gregorydimitriadis commented on #122
@cneidle - is this something worth fixing, or is the abundance of caution in asking to save good?

[2017-10-12 19:26] #157 closed, assigned to gregorydimitriadis

[2017-10-12 19:26] #139 closed, assigned to gregorydimitriadis

[2017-10-12 19:28] gregorydimitriadis commented on #166
Adding to the README file - will do, prior to our next public release. Closing this out for now - thanks.

[2017-10-12 19:28] #166 closed, assigned to gregorydimitriadis

[2017-10-12 19:34] gregorydimitriadis commented on #126
True - this is still incomplete. Adding to current the current cycle.

[2017-10-12 19:34] #126 closed, assigned to gregorydimitriadis

[2017-10-12 20:21] cneidle commented on #122
Well, it is a lower priority now than it was, by a lot.

This is no longer dangerous, just mildly annoying.  It is a  bit disconcerting
to get that message right after one has saved a file, or when one has opened
and closed a window without doing anything, because you wonder
whether somehow something unintended had changed.

But I would put this at the bottom of the priority list for now, given
th

[2017-10-12 20:23] gregorydimitriadis commented on #122
Makes sense - thanks.

[2017-10-12 20:23] gregorydimitriadis commented on #132
@cneidle - Can this one be closed?

[2017-10-12 21:04] cneidle commented on #132
No - we have an infinite loop.

I start a new collection, add a movie file, participant, and annotator, and save those selections.
Then I do a "save as" for the collection as a whole.

This is what I get, in chronological order:

![screen shot 2017-10-12 at 5 01 26 pm](https://user-images.githubusercontent.com/13629122/31519096-4ce805f4-af6f-11e7-8796-21fa99d35f8c.png)

![screen shot 2017-10-12 at

[2017-10-13 13:55] cneidle commented on #132
This latest infinite loop problem is not limited to this context.  I was editing another file; did save-as, then attempted to close the window and ended up with this same problem.

![screen shot 2017-10-13 at 9 55 06 am](https://user-images.githubusercontent.com/13629122/31549610-aeb38794-affc-11e7-89c0-7e4bab3a5c39.png)

[2017-10-13 13:59] cneidle opened #189 "Searching for Same start and end handshape on the dominant hand does not work"
Way too many things are displayed.

![screen shot 2017-10-13 at 9 59 31 am](https://user-images.githubusercontent.com/13629122/31549793-3d460400-affd-11e7-8225-2499e93ccb7f.png)

[2017-10-13 14:01] cneidle commented on #189
seems that the same and different handshape selectors are all not working...

[2017-10-13 14:26] cneidle commented on #189
Sorry - this should be deleted here - don't see how to delete, so will just close.  feel free to delete if possible.

[2017-10-13 14:26] #189 closed, assigned to nobody

[2017-10-13 19:19] gregorydimitriadis commented on #168
Attaching mockup of the Sign Bank changes discussed between myself and Carol.
[2017_fall_sign_bank.pdf](https://github.com/DCS-LCSR/SignStream3/files/1383749/2017_fall_sign_bank.pdf)

[2017-10-13 19:28] cneidle commented on #168
Looks good to me.  just a reminder that for the ASLLVD we have a composite of the start and end frame images, whereas in the newer continuous signing data, to be added soon to the DAI, there will be separate images for the start and end frames.   Thanks.

[2017-10-13 19:33] cneidle commented on #168
PS  I'm assuming that this is just a very rough sketch of the elements that will appear, and that there will be some attention to esthetics (e.g., living a little bit of space between things, etc.).  I'd be very happy to look at the near-final design before it gets beyond the point of being modified...   thanks again!

[2017-10-23 13:47] #172 closed, assigned to gregorydimitriadis

[2017-10-31 17:07] hammondcl opened #190 "Left/RightHandShapes always inserts "diff""
If you search a sign in the sign bank and "insert all data" of that sign, no matter what information is in the box in the sign bank, (SAME or DIFF), it always checks the diff box in the morph-phon information.

For example, the sign DECIDE, I have input all data from the sign bank. From the screenshot you can see the information in the sign box "LeftRightHandShapes: SAME, however it inputs "Diff't

[2017-10-31 17:16] #186 closed, assigned to gregorydimitriadis

[2017-11-03 16:52] claireettlin opened #191 "Insert All Data Bug: Low Priority - est. 2 hours"
When you are coding a one handed sign, and you search it in the sign bank, then go to  "insert all data", it will add the selection line that says " Same HS left/Right", which should only appear when you have inserted data from a two handed sign (Left and Right).

![screen shot 2017-11-03 at 12 02 08 pm](https://user-images.githubusercontent.com/32074197/32385812-ad509604-c095-11e7-99a1-e411ae1079

[2017-11-03 18:43] claireettlin opened #192 "Start and end times not aligned for right and left hands"
When trying to adjust handshape start and end times, only one utterance bar is adjusting. This is for utterance 4 Rachel 46
![screen shot 2017-11-03 at 2 40 58 pm](https://user-images.githubusercontent.com/32074197/32390585-55ac8baa-c0a5-11e7-89a0-ba46903dd479.png)
![screen shot 2017-11-03 at 2 41 03 pm](https://user-images.githubusercontent.com/32074197/32390586-56e87cc2-c0a5-11e7-90d5-2e88f1256c

[2017-11-03 18:47] claireettlin commented on #192
But report seems to be an issue with a locking of the left and right hand alignments

[2017-11-06 14:55] gregorydimitriadis commented on #191
Seems related to #190

[2017-11-06 14:57] gregorydimitriadis commented on #192
@claireettlin -- Is this gloss meant to be aligned, and it is not moving in alignment?

[2017-11-06 17:41] cneidle commented on #188
fixed

[2017-11-06 17:46] #188 closed, assigned to gregorydimitriadis

[2017-11-06 17:48] cneidle commented on #156
Return to original state seems to work, and I have not had problems clicking on search results.

(Closing the search results window does close the file, without a warning, but that is presumably part of another ongoing issue.)

[2017-11-06 17:49] gregorydimitriadis commented on #156
Indeed - that is issue #152

[2017-11-06 17:51] cneidle commented on #149
Presumably this will need to be tested with the newest Sign Bank.  Currently, AGENT shows up without any indication of the compound that contains is (in parentheses).

[2017-11-06 17:53] cneidle commented on #179
Seems to be working properly :-)

[2017-11-06 17:56] cneidle commented on #192
Sorry - Claire's comment doesn't make this clear - but this is NOT a bug.  Because file 46 had gotten totally corrupted and all but 2 sentences had disappeared, I restored a 2012 version of that file.  The default assumption for the older data seems to have been that the 2 hands were unlocked.  Once the user locks the two hands, they act in tandem, as they should.  So this issue can be closed, unl

[2017-11-06 18:31] #179 closed, assigned to gregorydimitriadis

[2017-11-06 18:32] gregorydimitriadis commented on #192
Thanks Carol - closing..

[2017-11-06 18:32] #192 closed, assigned to gregorydimitriadis

[2017-11-13 14:52] gregorydimitriadis commented on #147
@cneidle see above - do we eventually want to implement this functionality for `Display Time Period` ?

[2017-11-13 14:54] cneidle commented on #147
Yes :-)

Thanks,
 Carol

[2017-11-13 14:54] gregorydimitriadis commented on #98
@cneidle - what would be a good list of items to display here?

[2017-11-17 17:22] cneidle opened #193 "Save-as not working properly"
Working with file Jonathan_2012-11-27_sc90-new.ss3 (but the same is true for other files):

When I try to save it with the same name in a new folder, I get this error message:

![screen shot 2017-11-17 at 12 08 24 pm](https://user-images.githubusercontent.com/13629122/32959687-6a1d470a-cb90-11e7-8c4f-f9015de772ab.png)

However, it does appear to be saved in the folder I had designated, but as a FO

[2017-11-17 17:27] cneidle opened #194 "Search Sign Bank Window - "Clear" does not clear"
If I attempt to search for something in the Sign Bank window and then hit "clear" the previous results do not disappear.

![screen shot 2017-11-17 at 12 28 06 pm](https://user-images.githubusercontent.com/13629122/32960433-d79143f2-cb92-11e7-8e88-06f1baaab1e2.png)

After clicking "clear"

![screen shot 2017-11-17 at 12 28 14 pm](https://user-images.githubusercontent.com/13629122/32960440-dd46aa9e-

[2017-11-17 17:45] cneidle opened #195 "Search Sign Bank window - problem with "enter" - est. 5 hours"
If I have a sign that is already in the sign bank -- and I assume this is intended -- as with MOTHER,
the Morph-Phon window gives me the option of entering it without looking it up in the sign bank (this is for a sign that had previously been annotated):

![screen shot 2017-11-17 at 12 31 32 pm](https://user-images.githubusercontent.com/13629122/32960563-51431806-cb93-11e7-9fe2-adce0731a690.png)

[2017-11-17 18:43] cneidle commented on #195
OK - Now I understand what Alli meant when she said that the sign gets added to an empty folder when the message "added to sign bank" appears after hitting the "enter" button, this is what she was referring to.  Note that MANY exists.  If I added a + (making it MANY+) and hit "enter" this is where the new entry goes:

![screen shot 2017-11-17 at 1 37 07 pm](https://user-images.githubusercontent.co

[2017-11-17 18:53] cneidle opened #196 "English translations disappearing !"
Working again on file 90, I can see NO English translations.  I was trying to investigate Alli's report that the translation was sometimes starting before (and outside of) the defined utterance.

I can still see no translations in that file, although all sentences had translations.  When I went down to
look at the file in Alli's office, many of the translations were missing, but some were still th

[2017-11-20 16:02] cneidle commented on #196
Just to follow up on the last part of this comment, although this should probably be set up as a separate issue, the same thing happens with other files:  1) no participant is forced to be selected before closing the Morph-Phon window, and 2) duplicate instances of annotator BU-ASLLRP cannot be eliminated.

![screen shot 2017-11-20 at 10 59 17 am](https://user-images.githubusercontent.com/13629122

[2017-11-20 16:04] cneidle commented on #196
(Note that wrt to above image, I went back to add "Rachel" as a participant after having successfully confirmed selections with no participant selected.)

[2017-11-20 16:53] cneidle opened #197 "Display non-empty not happening when a new sentence is selected"
When I choose a new sentence by clicking in the left-hand index, the sentence should be displayed along with all non-empty fields for that utterance.  But it isn't.  Compare the two screenshots, the first after going from U7 to U8 by clicking on the left, and the second after clicking on the show non-empty fields button.  This problem does not seem to occur with the Prev Utterance or Next Utteranc

[2017-11-29 23:07] allihorowitz opened #198 "After clicking Display non-Empty fields, entire utterance moves with arrow keys - est. 3 hours"
If you want to see all fields that hold data and click the blue button in the side bar, all fields show as they should. (see first two screenshots)

![screen shot 2017-11-29 at 5 58 26 pm](https://user-images.githubusercontent.com/33096249/33403599-05ebc308-d52f-11e7-974c-32f4616b3466.png)

![screen shot 2017-11-29 at 5 58 39 pm](https://user-images.githubusercontent.com/33096249/33403608-0e798514

[2017-12-05 23:57] cneidle commented on #196
Could you please let me know as soon as this bug is fixed?  We're waiting to add back translations to files from which they have disappeared until this is fixed...  thanks very much!

[2017-12-06 18:09] gregorydimitriadis commented on #196
Hopefully should be fixed before the next rollout, in the next few days.

[2017-12-14 19:28] gregorydimitriadis commented on #175
@cneidle - Is the latest version of this file currently under "2012/CURRENT/Cory" ?

[2017-12-14 22:40] cneidle commented on #175
No - I will email the latest version of file 111 to Greg.

thanks,
 Carol

[2017-12-20 16:27] cneidle opened #199 "v.13 - serious bug with 'play utterance'"
Play utterance is not working.

I select a sentence, or select an item within a sentence.  Play utterance seems to start playing the movie from the beginning of the movie file !

The first picture below shows me having selected an utterance.

The second picture shows (with a few second delay) the movie being played from the beginning of the file...

<img width="1171" alt="screen shot 2017-12-20 at

[2017-12-20 16:42] cneidle commented on #199
Not able to reproduce this.  I closed and reopened the file, and the problem did not recur.  Tried another file, and this also did not happen.   FWIW.

[2017-12-20 19:19] cneidle opened #200 "Utterance window: horizontal alignment problem (v.13): uncoordinated scrolling"
<img width="1312" alt="screen shot 2017-12-20 at 2 14 48 pm" src="https://user-images.githubusercontent.com/13629122/34224257-4a1517fc-e590-11e7-9949-207aa4a265b6.png">

The left and right sides of the window are not aligned properly.

When the right side scrolls, the left side should scroll with it, as the field labels need to be aligned with the value displays.

<img width="1102" alt="screen sho

[2017-12-25 17:38] cneidle opened #201 "VERY SERIOUS BUG: gloss 1 vs. gloss 2 fields screwed up"
This is actually visible in the screen shot from serious issue #200.  I had not looked carefully.

For one-handed signs, the gloss 1 and 2 fields appear to be reversed.

Consider BEAUTIFUL in the following two screen shots.

This is how things should be displayed - v ... 12

<img width="1348" alt="screen shot 2017-12-25 at 12 16 29 pm" src="https://user-images.githubusercontent.com/13629122/343419

[2017-12-28 15:13] cneidle commented on #201
fixed.

[2017-12-28 15:25] cneidle opened #202 "Bug (v. ... 14) with Dialog box about saving changes from Morph-phon window"
When I attempt to quit the Morph-phon window regardless of whether or not I have made changes (this should only happen when information has been modified, of course), this appears:

![screen shot 2017-12-28 at 10 12 14 am](https://user-images.githubusercontent.com/13629122/34414552-f2126360-ebb7-11e7-8f5a-256eb67389a8.png)

But I am -- sometimes -- unable to click on the default option, nor to inv

[2017-12-28 15:41] cneidle commented on #202
Also having (sporadic) problems with the Bypass Sign Bank Check button.  Clicking on it in the instance shown has no effect:

![screen shot 2017-12-28 at 10 37 48 am](https://user-images.githubusercontent.com/13629122/34415180-433c5eaa-ebbb-11e7-9705-7efa8671cc7a.png)

It seems that things in the morph-phon window are not functioning as they should be.

[2017-12-28 18:49] cneidle commented on #175
Still a problem, e.g., file 59, U 11 and U 22.   When exported to the DAI, the start image of these sentences will be entirely black, because I am unable to reset the start time of the utterance (which needs to be one frame later than it currently is).  Deleting all elements near the start of the utterance doesn't help.

[2018-01-08 16:01] #201 closed, assigned to nobody

[2018-01-13 16:58] cneidle commented on #202
**Needs to be fixed prior to next release.**

[2018-01-13 16:58] cneidle commented on #200
**Needs to be fixed prior to next release.**

[2018-01-13 16:59] cneidle commented on #199
We should put this on hold until/unless it occurs again.

[2018-01-13 17:01] cneidle commented on #198
Medium priority.  Odd behavior.  Should not be happening.  Not as critical as other bugs but would be good to get this taken care of.

[2018-01-13 17:01] cneidle commented on #194
Should be fixed prior to next release.

[2018-01-13 17:07] cneidle opened #203 "Play utterance starts too soon - est. 5 hours"
Relatively minor bug, but this should not be happening.

If I am viewing an utterance:

![screen shot 2018-01-13 at 12 05 14 pm](https://user-images.githubusercontent.com/13629122/34908203-32743e3e-f85a-11e7-91a8-4dbfa3696962.png)

and then click on Play Utterance, the player goes to a frame before the start  (which often results in the entire utterance ceasing to be visible):

![screen shot 2018-

[2018-01-23 23:24] cneidle opened #204 "Search in Sign Bank not working right"
Try looking up "LOOK-UP"

No results found.   But there should be matches...

I thought it might be a problem with the hyphen.  Including the hyphen does give some results, but not all.   Also a problem with a "." in the gloss.

<img width="986" alt="screen shot 2018-01-23 at 6 16 54 pm" src="https://user-images.githubusercontent.com/13629122/35306177-7c7bb756-006a-11e8-8182-b771ee98c8cf.png">

<i

[2018-01-24 14:40] gregorydimitriadis commented on #204
@cneidle Should this be in the DAI project?

[2018-01-24 14:45] gregorydimitriadis opened #205 ""Show non-empty buttons" logic error"
Discovered new bug while working on issue #198

The "show non-empty" button logic works by looking at the selected thing in the utterance list on the left side panel. This now has multiple "modes" of highlighting for selection activated now (gray for what is visible on screen and blue for what was clicked by user and is thus the "operative" selected utterance which is called upon when "play uttera

[2018-01-24 14:56] cneidle commented on #204
Very sorry about that!   Please ignore.

[2018-01-24 14:56] #204 closed, assigned to nobody

[2018-03-18 17:21] cneidle commented on #194
fixed.  thnks.

[2018-03-18 17:22] cneidle commented on #200
fixed.  thanks.

[2018-03-19 13:37] #194 closed, assigned to gregorydimitriadis

[2018-03-19 13:37] #200 closed, assigned to gregorydimitriadis

[2018-04-04 15:38] cneidle commented on #195
FYI - the problem with deleting signs was fixed.

However, the issue with the Enter button being grayed out even when the sign is in the Sign Bank seems to persist, at least on the first attempt to do this.

![screen shot 2018-04-04 at 11 33 28 am](https://user-images.githubusercontent.com/13629122/38318103-99b50d3a-37fc-11e8-804f-e9e5f1216be8.png)

One that window is closed, subsequent attempts t

[2018-04-09 13:50] cneidle opened #206 "Enhancement request - not urgent - "expand all" option in Search Sign Bank window - possibly cannot do (!) - will lag app"
It would be great to be able to see all the sign bank main entries and entry variants, as displayed in the DAI 2 SignBank, without having to manually expand every main entry folder.  So 2 buttons, one for "expand all" and one for the reverse, would be much appreciated.  But not mission critical.  Thanks.

![screen shot 2018-04-09 at 9 49 07 am](https://user-images.githubusercontent.com/13629122/38

[2018-04-09 13:58] cneidle commented on #206
Alternatively, having them all expanded by default, as in the DAI, would be far preferable to the current display -- in case that is trivial to do.   THANKS.

[2018-04-13 02:51] cneidle opened #207 "BUG - in Search Sign Bank window: Include handshapes in search DOES NOT WORK"
The subject header says it all.

 Handshape searching is not working in the Sign Bank Search window.

Thanks.

(priority: high)

[2018-04-26 19:23] cneidle commented on #175
This is still a problem.  It is also impossible to reset the end frames of utterances in the database view.  The error suggests that this conflicts with what is already annotated, but it doesn't.

[2018-04-27 13:41] cneidle opened #208 "minor bug: entry of non-manual information - 3 hours"
It is possible to enter a line in a non-manual field with no menu showing up for selection of the value. That results in something that is ill-defined.  That should not be allowed.  It seems to me that a line without a value attached to it should not be retained in the file...

Low priority - but mentioning it while I am noticing it.

[2018-04-28 19:06] cneidle commented on #162
This was fixed.  But it's broken again.

<img width="1175" alt="screen shot 2018-04-28 at 3 05 09 pm" src="https://user-images.githubusercontent.com/13629122/39399986-b2c9a3c4-4af5-11e8-9900-086eede99cd8.png">

[2018-04-29 02:03] cneidle opened #209 "Dominant Hand mapping to right vs. left (for participants who are right- vs. left-handed) [est. 2-10 hours, depending]"
I was looking at the Morph-Phon info window, and noticing that the Location, Orientation, and Movement tabs are not grayed out, although they are not functional, and presumably should be.  (I thought this had been done, actually.)

On the other hand, I see that the Dominant Hand selection of R vs. L *is* grayed out.

That's not a problem for us, since our signers are all right-handed, but it is pr

[2018-04-30 14:39] gregorydimitriadis commented on #162
@cneidle is that the only segment tier in the collection? Also what happens when you add a new segment tier? If the segment tier already exists, signstream will not automatically assign the participant to it - only for new creations.

[2018-04-30 14:53] cneidle commented on #162
Hi Greg,

Yes, that is the only segment tier in the collection.

And yes - when I create a new one, the participant name does appear.
But it is impossible to manually enter the information so that the names
are uniform, since the new one necessarily contains a : and the old one
cannot include a : when it is renamed.

Not a big deal.

But that still doesn’t explain this:

Participant: N/A shows up

[2018-04-30 15:00] cneidle commented on #162
OK - I found a way to do it - by renaming the participant.  DONE :-)

[ too late for the demo I recorded this weekend for LREC, but c’est la vie ]

Thanks,
 Carol

[2018-05-01 15:03] cneidle opened #210 "Unable to create new utterances in Segment Tiers - est. 3 hours"
Hi,  This is Carol with Indya.

We are using the latest version (17) and the latest Sign Bank file (from yesterday), just FYI.

We have reached a point where we are unable to create new utterances in any of our segment tiers.  Option clicking has no effect.  We have tried closing and reopening SignStream.  Makes no difference.

![screen shot 2018-05-01 at 11 02 22 am](https://user-images.githubuse

[2018-05-01 16:20] gregorydimitriadis commented on #210
@cneidle Tested and reproduced. Not sure why it's happening yet, but I found a workaround: delete the first utterance of the segment tier to return the state to normal - i.e. can add utterances, etc.

Will investigate further at the next opportunity.

[2018-05-02 14:10] gregorydimitriadis commented on #207
fixed with latest release

[2018-05-02 14:10] #207 closed, assigned to nobody

[2018-05-02 16:37] bugspotter33 commented on #210
Hi Greg,

I deleted the first utterance from tier 3 and was able to add U1-U11. After U11 I can no longer add anymore utterances. I tried deleting U11 and adding it again but no luck with utterances after that.

Indya

![screen shot 2018-05-02 at 12 35 00 pm](https://user-images.githubusercontent.com/38887034/39536912-03fadafc-4e06-11e8-85e9-4641a4ca5955.png)

[2018-05-02 16:38] bugspotter33 commented on #210
/Users/asllrp/Desktop/Screen Shot 2018-05-02 at 12.35.00 PM.png

[2018-05-02 18:57] cneidle opened #211 "Go-to-end-of-utterance button not working - est. 5 hours"

[2018-05-02 19:01] cneidle commented on #211
The "go to end of utterance" button works, in the sense that the green video alignment indicator goes there, but the display fails to show the current frame when that happens.  (This is surely related to the prior bug about not always showing the current frame (#179), but I *thought* that had been fixed.)

Here are two screen shots -- the first after I select "go to end of utterance" from the butt

[2018-05-04 14:15] bugspotter33 opened #212 "Cannot select one handed in Morph-Phon Info"
When trying to enter in handshape information I clicked on the one-handed option and didn't see the drop down menu appear to select if the handshapes were the same or different for both hands. If I click the two-handed option it doesn't give me the drop down menu to select differing handshapes for both hands.

![screen shot 2018-05-04 at 10 15 30 am](https://user-images.githubusercontent.com/38887

[2018-05-04 14:18] cneidle commented on #212
I just clarified this with Indya.  There is no problem.

Never mind - sorry about that.   Thanks.

[2018-05-04 16:27] #212 closed, assigned to nobody

[2018-05-04 19:03] bugspotter33 commented on #210
Hi,
If I zoom out then I am able to add utterances, however if I am zoomed in I cannot

[2018-05-05 16:51] cneidle opened #213 "Major problems with saving in High Sierra"
described in two email messages sent a little while ago

[2018-05-07 15:53] bugspotter33 opened #214 "options for fingerspelled words - est. 2 hours"
This isn't a major issue but when glossing a fingerspelled word, my understanding is that there should not be an option to select whether or not the handshapes are the similar or different. I have been seeing the option to select similar/different for the start/end handshapes. The first screenshot shows what I have been seeing and the second screenshot shows what should be happening instead.

![sc

[2018-05-10 14:34] gregorydimitriadis opened #215 "Visualization"
New feature for 2017-2018 year

[2018-05-11 17:27] bugspotter33 opened #216 "Wrong Morph-Info [w/232 - est. 15 hours]"
I am working on file 82 of the Rachel/Jonathan data utterance 29 (U29) and I have been noticing some strange things happening with the morp-info. I am going through all the glosses for Jonathan and there was a gloss that is one-handed and has a different start and end shape. I selected all this information in the morp-info window and saved the work. I then went back into the morp-info of the gloss

[2018-05-11 17:43] cneidle opened #217 ""exact word" option not working in Search window - est. 3 hours"
Compare

<img width="960" alt="screen shot 2018-05-11 at 1 42 39 pm" src="https://user-images.githubusercontent.com/13629122/39938549-51cc4c26-5521-11e8-8dfb-05c9baf42271.png">

<img width="963" alt="screen shot 2018-05-11 at 1 42 49 pm" src="https://user-images.githubusercontent.com/13629122/39938556-54b41c34-5521-11e8-8279-7e4120430d93.png">

[2018-05-11 18:14] bugspotter33 commented on #216
This is another example of a sign that should only be a lexical sign and not glossed as a name sign.

![screen shot 2018-05-11 at 2 12 33 pm](https://user-images.githubusercontent.com/38887034/39939863-95cf52d4-5525-11e8-9d7f-2303422a608c.png)

[2018-05-11 19:04] cneidle commented on #216
Just a quick comment:  So Indya had the sign entered correctly, but when she came back to it, the "Name Sign" box appeared to be checked, although she hadn't checked it.  This was not an isolated case; she found this happening several times. Errors like this are very hard to catch, since they aren't visible except in the Morph-Phon window. So, these errors may be affecting other files as well.

Wh

[2018-05-11 19:13] bugspotter33 commented on #216
Rachel file 82 U14. Another issue I am having is trying to enter information in the morph-info window about a number but not having the drop down menu section to select that the handshape of the number differs. One thing I am noticing is that when I select the number selection at the top of the morph-info window and then select one handed for the sign, my option to select whether or not the hand s

[2018-05-14 16:18] bugspotter33 opened #218 "Disappearing Data"
It seems as though there is an issue displaying data. I am currently working on file 82 of Rachel/Jonathan dialog. I have started entering non-manual information (head, face, grammar, etc) for the Jonathan utterances. I have completed utterances 1-4. If I click on these utterances one by one, all the data and coded information is there. However, if I just scroll from one utterance to the next all

[2018-05-25 15:17] gregorydimitriadis commented on #216
On the initial issue, of the wrong macro unit screen, my hunch would be that it is just the display part (i.e. the frontend) which is in error, and not the underlying data from which it is generated. I am not sure, though - can you please attach the collection file here?

On the second thing, having to do with not seeing the drop down when selecting number, that appears to definitely be a bug.

[2018-05-25 15:20] gregorydimitriadis commented on #218
@bugspotter33 do the nonmanual fields in this case come back when hitting the "show non-empty" button in the nonmanual fields section? (the blue button to the right of the plus and minus buttons)

[2018-05-25 15:22] cneidle commented on #216
Hi Greg,

I’m attaching the file here.

Thanks,
  Carol

[2018-05-25 15:31] bugspotter33 commented on #218
Okay so I found the button and yes the fields do reappear once you click that button.

[2018-05-25 15:34] gregorydimitriadis commented on #211
@cneidle I can't seem to reproduce this one. Does it only happen sometimes, or for every collection and utterance you try?

[2018-05-25 15:46] gregorydimitriadis commented on #218
@bugspotter33 Thanks - appears it's a bug, then, as that action should occur automatically.

[2018-05-25 15:46] gregorydimitriadis commented on #218
@bugspotter33 Correction - it shouldn't occur automatically on scroll, but the fields disappearing definitely should not happen.

[2018-05-25 15:48] gregorydimitriadis commented on #216
Hi Carol,

Did it get attached? I don't see it..

Might have to do it through github

-Greg

________________________________
From: cneidle <notifications@github.com>
Sent: Friday, May 25, 2018 11:22:57 AM
To: DCS-LCSR/SignStream3
Cc: Gregory Dimitriadis; Comment
Subject: Re: [DCS-LCSR/SignStream3] Wrong Morph-Info (#216)

Hi Greg,

I’m attaching the file here.

Thanks,
Carol

—
You are receiving

[2018-05-25 15:50] cneidle commented on #216
Hi - Yes I did attach it.

Github does not accept this filetype.

I can try making a zip of it and resending…

Thanks,
 Carol

[2018-05-25 15:50] cneidle commented on #211
It happens VERY regularly— pretty much for every collection and for every utterance
(in which the entire utterance is not in the visible area).

Random example:

Opening up this utterance, clicking on the “go to end of utterance button”.
The green alignment indicator is where it needs to be, but it is out of visible range.
Using the arrow keys to advance by 1, e.g., makes it all visible.

Thanks,

[2018-05-25 15:53] cneidle commented on #216
Here’s a zip of it

[2018-05-25 16:25] bugspotter33 opened #219 "Redirecting Utterances"
I'm not sure if this is a bug or if maybe it is because of how close the utterances are but I am working on file 82 of the Rachel and Jonathan dialog and I am noticing that every time I select an utterance from the database view, I am shown/redirected to data from the previous utterance. The utterance before is highlighted in blue on the left hand side where you can see all the glosses and then th

[2018-05-25 16:32] cneidle commented on #219
I have now seen this with my own two eyes…

It happens frequently but not always.

The selected utterance is shown as n-1 relative to having clicked on utterance n.

Carol

[2018-05-25 18:35] bugspotter33 opened #220 "Can't open an utterance [w/219 - est. 3 hours]"
I just started non-manuals for Rachel in file 82 of the Rachel/Jonathan dialog. I have only finished U1 and am starting U2 however I can't get to U2 to enter data. Every time I click on U2 on the left, it highlights blue for a second and then goes back to U1. I can show you what I see now but the highlight transition on the screen happens to fast for me to capture. I also can't scroll to U2 from w

[2018-05-26 18:01] cneidle commented on #220
I have not been able to reproduce this, nor has Aimee.

[2018-05-29 14:32] gregorydimitriadis commented on #220
@bugspotter33 @cneidle testing on the same machine/environment/etc?

[2018-05-29 14:44] bugspotter33 commented on #220
~~Hi Greg, I have been working on the same machine and environment and I just tried to reproduce the issue and the closest I've gotten is that as I click on the utterances starting from U1 of the Rachel data of file 82, I can see the data for U1 and U2 however when I click on U3 I get of flash of the data and then I am shown data for U4. However, this issue seems similar to issue to the "Redirecti

[2018-05-29 14:51] cneidle commented on #220
MY APOLOGIES!   My comment was posted for the wrong bug !!!
The bug I had been unable to reproduce was something different that had been reported to ne by Aimee !!!  Not this one.  Very sorry.
Please disregard my comment above about attempting to reproduce this problem.

[2018-05-29 15:19] gregorydimitriadis commented on #220
Gotcha - thanks. Indeed, seems similar to #219

[2018-05-30 18:30] bugspotter33 commented on #220
Hi Greg, I was able to reproduce this bug today as Carol and I were discussing various utterances. It occurred as I was trying to look at a specific utterance (Rachel File 82). I was trying to look at U3 and it kept skipping it and showing me U4. I found that if I used the buttons at the bottom (see attached screenshot) I was able to get to the data of U3.

![screen shot 2018-05-30 at 2 26 43 pm](

[2018-05-30 20:13] gregorydimitriadis commented on #216
@bugspotter33 I can't seem to reproduce the initial case - with gloss (3)INJECT.

On opening your collection file, I can open that gloss and see the proper values - "Diff't START/END hs" shows up as it should.

Do you have any other glosses which you can point to and reliably see the error? If possible provide a series of steps which you did before the error happened.

[2018-05-31 16:58] bugspotter33 commented on #216
Jonathan file 82 U4 and U5 both have a name sign glossed as ns-BRUCE. In U4 I don't see the option to change the handshapes(if a change was needed) in the drop down menu yet in U5 the drop down menu is shown (see screen shots below)

![screen shot 2018-05-31 at 12 54 58 pm](https://user-images.githubusercontent.com/38887034/40796181-38a7f32e-64d2-11e8-9bde-6254aad047f1.png)

![screen shot 2018-05-

[2018-05-31 17:33] bugspotter33 commented on #216
What I am noticing thus far...

With regards to the drop down menu disappearing, I found that if one gloss has this issue when you open the morp-info window, then the glosses to follow will also have the same issue when you open their morp-info windows. However when clicking on a gloss that may be two handed, it seems to break the cycle as the information of the two handed gloss appears fine in th

[2018-05-31 18:40] cneidle commented on #216
Just to clarify the above:  The issue is not the ability to reselect handshapes.  It is the problem with the menus that ought to be visible (and that ought to display the previously encoded information correctly) for the relationship between start and end handshapes, and the relationship between the handshapes on the two hands for 2-handed signs.  Thanks.

[2018-06-01 18:52] bugspotter33 commented on #216
Today I am going through all the Rachel data to see if there are any bugs that can be reproduced and I've found one that I've mentioned before. The gloss is TWELVE which should be labeled as a number in the morph-info window, however it was marked as a lexical sign when I opened the morph-info window. Everything else was correct. When I tried to click on the number button the drop down menu to sel

[2018-06-04 15:55] gregorydimitriadis commented on #217
Hi @cneidle

Can we get the collection this was seen on? Thanks..

[2018-06-04 17:25] bugspotter33 opened #221 "Disappearing Data (non-manuals) [w/ 218 est. 5 hours]"
Hi Greg,

I am working on non-manuals in file 82 of the Rachel and Jonathan dialog U29 of Rachel. I am having trouble with the eyebrow event. As I enter in the information, save it, and log out of SignStream the information is no longer there when I reopen SignStream. I have re entered the information three times today and it still hasn't saved. Please see screenshots below (the first is what info

[2018-06-05 19:17] gregorydimitriadis commented on #221
@bugspotter33  @cneidle can you please provide the 82 collection? Thanks.

[2018-06-05 19:41] gregorydimitriadis commented on #219
This was reproducible using this collection file.

[2018-06-06 13:44] bugspotter33 opened #222 "Can't delete non-manual - est. 12 hours"
I am working in the Cory file 113 U16 and I have come across a non-manual that I can't delete. When I click on it it doesn't highlight red and I tried to right click to delete it and nothing is working. The event is a raised non-manual event at the very beginning of the sentence and I think there is also an onset underneath.

![screen shot 2018-06-06 at 9 41 23 am](https://user-images.githubuserco

[2018-06-06 15:28] gregorydimitriadis commented on #222
@bugspotter33 @cneidle can you please send the collection? Thanks in advance

[2018-06-06 18:13] cneidle opened #223 "Overlap that should not be allowed - gloss items - est. 8 hours"
I'm working with file 112, which I emailed you very recently -- utterance 82.

The endpoint of one sign (GROUP/TOGETHER) overlaps with the initial hold of the following sign.
This should not be allowed...

<img width="713" alt="screen shot 2018-06-06 at 2 10 10 pm" src="https://user-images.githubusercontent.com/13629122/41056894-9146a3ac-6993-11e8-9f5f-f316643d70a9.png">

I just deleted that initi

[2018-06-06 18:29] bugspotter33 opened #224 "error in the warning messages - est. 4 hours"
I am working in the Cory 113 file U54 and I have been getting a warning message when entering data in the morph-info window when I am certain the sign has been saved/exists in the sign bank. I searched the sign SCHOOL and found it in the sign bank. However when I press enter on the morph-info window the warning message appears and tells me the sign is not in the sign bank.

![screen shot 2018-06-0

[2018-06-06 18:37] cneidle commented on #211
This is perhaps a related problem.  When using the + button to adjust the endpoint of a selected item, the end frame (+1) should become visible.  This is not happening in file 112, U 85

<img width="1361" alt="screen shot 2018-06-06 at 2 34 51 pm" src="https://user-images.githubusercontent.com/13629122/41058174-19d98d94-6997-11e8-8177-b0a250a997d5.png">

[2018-06-06 18:39] cneidle commented on #211
Addendum to previous:  In fact, even when the end frame is initially visible, adding 1 to the end frame causes the field of view to jump back so that it ceases to be visible.

<img width="1112" alt="screen shot 2018-06-06 at 2 37 51 pm" src="https://user-images.githubusercontent.com/13629122/41058255-526cdbde-6997-11e8-9942-36fda44bdfaf.png">

<img width="1113" alt="screen shot 2018-06-06 at 2 37

[2018-06-06 18:40] cneidle commented on #211
Furthermore, "go to end" of object has exactly the same (incorrect) effect as using the +/- buttons to adjust the end frame, with respect to what is visible when that is invoked.

[2018-06-06 18:56] gregorydimitriadis commented on #224
@bugspotter33 from the "Sign Bank" window - did you first click "Insert All Data"? That should've transfered over to the "Morph Phon" window all the information from that sign (e.g. the primary entry value, etc)

[2018-06-06 18:57] cneidle commented on #224
Hi Greg,

It should not be necessary to re-enter information for glosses that are already
coded and that already exist in the sign bank.

Thanks,
 Carol

[2018-06-06 19:00] gregorydimitriadis commented on #224
@cneidle True, but I think the logic for "enter"ing out of that window looks at whether there is values for "primary entry" and "entry/variant", and if they are in the sign bank. If they're blank it will give this error message.

[2018-06-06 19:01] cneidle commented on #224
Hi Greg,

We’ve been through this before.

The entry/variant uniquely determines what sign it is.

It should not be necessary to have the primary entry slot filled in order to avoid
an error message.

I thought this got fixed long ago…

Thanks,
 Carol

[2018-06-06 19:43] gregorydimitriadis commented on #224
Carol,

Ah, sorry - you're right. I had forgotten about that and was still thinking about the old way.

So this appears to be something different happening.

-Greg

________________________________
From: cneidle <notifications@github.com>
Sent: Wednesday, June 6, 2018 3:01:59 PM
To: DCS-LCSR/SignStream3
Cc: Gregory Dimitriadis; Comment
Subject: Re: [DCS-LCSR/SignStream3] error in the warning messa

[2018-06-06 21:19] aimeeaylward opened #225 "Green bar inconsistent in moving to where you click"
I've been working on the Cory 107 file and noticed something odd with the green scrolling bar. Sometimes when I click in an empty area of a field, the bar moves to where I have clicked, while other times it doesn't move when I click. I noticed this when trying to click on an event and instead of selecting the event, the bar just moves to where I clicked. However, it happens when clicking in any pa

[2018-06-07 15:02] bugspotter33 opened #226 "missing handshapes - est. 8 hours"
I am working on U69 in Cory 113 file and I just edited a gloss that looked strange. When I opened the utterance the gloss ALL-DAY looked like it was missing handshapes. When I opened the morph-info I could see that there wasn't any data entered. I then entered the correct data and the gloss changed but is still missing handshapes.

![screen shot 2018-06-07 at 10 57 48 am](https://user-images.githu

[2018-06-07 21:52] cneidle opened #227 "low-priority bug - est. 1 hour"
Hi,

Hitting Carriage Return ought to. have the same effect as clicking on OK when the SAVE dialog box comes up, but it doesn't.

<img width="358" alt="screen shot 2018-06-07 at 5 50 49 pm" src="https://user-images.githubusercontent.com/13629122/41128254-82470aac-6a7b-11e8-9fcc-4f8dff40cd6f.png">

[2018-06-08 18:03] bugspotter33 opened #228 "Things to look out for - est. 2 hours"
I am working on Cory 114 (all utterances involved) and I am noticing overlap within the non-manuals. This was a bug in the past because we weren't able to separate or delete the overlapping and now we can. I am just stating that we be on the look out for this as it can be easily overlooked. Also, on rare occasion when there is a gloss that starts with CL ex's CLEAR, CLASS, CLOSE, etc. the morp-inf

[2018-06-08 18:25] s-bhatt opened #229 "<Wrong Project>"
Comment deleted.

[2018-06-08 18:33] gregorydimitriadis commented on #229
@s-bhatt wrong project, I think? : )

[2018-06-08 18:33] #229 closed, assigned to nobody

[2018-06-08 23:31] ghost opened #230 "TEST"
IGNORE...THIS IS FROM DOUG.

[2018-06-08 23:42] #230 closed, assigned to nobody

[2018-06-11 14:17] gregorydimitriadis commented on #226
@bugspotter33 @cneidle

Hi - can you please send the collection file this was seen in? Thanks

[2018-06-11 19:01] bugspotter33 opened #231 "Deleting a gloss"
I am working on U6 of Cory 115 and I noticed some glosses that were two-handed but what we were actually seeing was a one-handed gloss. As I went into the morph-info of the glosses, everything was entered as a two-handed sign yet when I pressed "bypass sign bank" the glosses still appeared as one handed. The two signs are (2h)IX-3p:i As I tried to delete one, it deleted both. It was like these two

[2018-06-11 19:12] cneidle commented on #231
Hi Indya,

That had been entered as a 2-handed sign (incorrectly!),
but with the relationship between the right and left hand
unlocked, and the 2 hands had been time-adjusted separately.

You should just delete that sign and re-enter it properly.

I can explain this to you tomorrow :-)

But this is not a bug.

Thanks,
 Carol

[2018-06-11 21:25] gregorydimitriadis commented on #231
@cneidle should I close this?

[2018-06-11 21:35] cneidle commented on #231
yes, please close.  thanks.

[2018-06-11 21:35] #231 closed, assigned to nobody

[2018-06-11 22:57] cneidle opened #232 "Related to Wrong Morph-Info #216"
Starting a new thread - because that one is already very long.

There are quite a few cases where, e.g., in file 50, a sign had previously been annotated as 1-handed, and it is displayed with handshapes for one hand, but the morph-phon window shows it as 2-handed.

We detected this because these files were not being parsed properly for uploading to the DAI.

I am sending the file with the first fe

[2018-06-12 15:56] gregorydimitriadis commented on #232
Relates to #216

[2018-06-13 16:55] bugspotter33 commented on #222
Cory 115 U30 same issue (can't delete the non-manual) in the field hp tilt -right  at the beginning of the utterance

![screen shot 2018-06-13 at 12 55 22 pm](https://user-images.githubusercontent.com/38887034/41366095-0d4f8e8a-6f09-11e8-8293-38da7e760013.png)

[2018-06-19 14:25] bugspotter33 opened #233 "Can't play selected utterances [w/199 - est. 6 hours]"
I am reviewing Cory 114 and I am selecting various utterances to play (U11,U12,U13,etc) and instead of playing these utterances, Sign Stream only plays utterance one even when the utterances I want to view are highlighted in blue. If I click the play utterance button and get the actual utterance I want to play, it will and then it won't stop, continuing to play all the utterances instead of stoppi

[2018-06-19 14:33] bugspotter33 commented on #233
Related issue in another Cory file 113 I try to select an utterance and instead of opening that single utterance, it gives me a view of multiple utterances at a time. When trying to click only on the utterance I want, nothing changes.

![screen shot 2018-06-19 at 10 30 49 am](https://user-images.githubusercontent.com/38887034/41603996-23c64ef4-73ac-11e8-947d-7f4b79890da3.png)

I am also doing a se

[2018-06-21 14:39] bugspotter33 commented on #226
Final holds seem to do something weird to the glosses. An issue I ran into today was when I tried to gloss a two handed sign (TABLE) and it didn't matter if I deleted the final hold and re-added it, it still disrupts the gloss. This is Cory 107 U1

![screen shot 2018-06-21 at 10 33 52 am](https://user-images.githubusercontent.com/38887034/41726072-5a9b8fcc-753f-11e8-88e1-8feff818d6a4.png)

[2018-06-21 23:18] cneidle commented on #175
This should be a high priority for fixing.  It is really a problem, e.g.
in this sentence, where the current end of one of the video files is problematic, and
the utterance needs to be shortened.  There is nothing that should prevent doing that.

<img width="1163" alt="screen shot 2018-06-21 at 7 15 40 pm" src="https://user-images.githubusercontent.com/13629122/41750039-bd1faee2-7587-11e8-838d-fcb

[2018-06-21 23:21] cneidle commented on #175
So the final frame for the SIDE view in the DAI, which is in fact a front view (an error in video processing) can't be removed from this utterance.

<img width="430" alt="screen shot 2018-06-21 at 7 20 01 pm" src="https://user-images.githubusercontent.com/13629122/41750138-48d486ba-7588-11e8-9e7c-90cee653849b.png">

[2018-06-27 15:28] cneidle commented on #213
I think this is no longer an issue.

[2018-06-27 16:03] cneidle commented on #233
related to #199 ???

[2018-06-28 17:47] #213 closed, assigned to nobody

[2018-06-29 13:58] bugspotter33 commented on #226
Same issue occurring with final holds in Cory 107 U35

![screen shot 2018-06-29 at 9 58 20 am](https://user-images.githubusercontent.com/38887034/42096314-fa283b1e-7b82-11e8-8128-c9bee097e797.png)

[2018-06-29 22:23] cneidle commented on #226
This is systematic, it seems.  Should be a high-priority fix.  thanks!

[2018-07-03 15:17] cneidle opened #234 "Windows associated with a collection should close when the collection is closed - est. 1 hour"
I opened the Morph-Phon window while working with one file.

I then open a different collection, causing the first one to clause.  But the Morph-Phon window remains open, with data from the now-closed file.

This should not happen.

<img width="1166" alt="screen shot 2018-07-03 at 11 14 38 am" src="https://user-images.githubusercontent.com/13629122/42228724-a59c02e6-7eb2-11e8-8b42-5f6f9c0fe8f7.png

[2018-07-03 15:32] cneidle opened #235 "Keyboard shortcut for "hide others" does not work [ est. ? ]"
The menu item works, but the listed keyboard shortcut does not.

<img width="183" alt="screen shot 2018-07-03 at 11 28 36 am" src="https://user-images.githubusercontent.com/13629122/42229532-afc7ea3a-7eb4-11e8-8c05-ff40fff67003.png">

If the menu is being displayed, the keyboard shortcut will highlight that item in the menu.

<img width="190" alt="screen shot 2018-07-03 at 11 29 16 am" src="https:

[2018-07-05 15:06] cneidle commented on #211
I have also seen several instances of the inverse problem:  where "go to beginning" of an event causes that frame to go from being visible to NOT being visible.  For example:

<img width="972" alt="screen shot 2018-07-05 at 11 04 32 am" src="https://user-images.githubusercontent.com/13629122/42331436-6716d2c0-8043-11e8-8862-b20dc7c9923c.png">

then click on "go to beginning" of selected event

<im

[2018-07-05 15:09] cneidle commented on #211
PS to previous comment:  Resetting the start point for that event also causes the relevant frame to cease to be in the visible field.

[2018-07-06 17:11] cneidle opened #236 "Cannot adjust start and end points of (nearly) adjacent non-manual items - reported error of overlap when there isn't - est. 3 hours"
Apologies if there is already a thread for this; I didn't find it.

In the case illustrated below, I cannot adjust the onset of raised brows to make it start one frame earlier, nor can I adjust the endpoint of the -raised event to make it one frame later, despite the fact that these two are one frame apart.  We have seen this before...

Thanks,
 Carol

![screen shot 2018-07-06 at 1 06 53 pm](https

[2018-07-09 15:20] bugspotter33 commented on #223
Issue is still occurring. I found an example in Rachel file 66 U1 all the glosses have overlap!!! It doesn't matter if they are one handed or two handed. This issue is also occurring through utterances 1 and 2

![screen shot 2018-07-09 at 11 34 07 am](https://user-images.githubusercontent.com/38887034/42460539-215a8368-836c-11e8-8937-b0791de96e1b.png)

![screen shot 2018-07-09 at 11 34 39 am](http

[2018-07-09 15:33] cneidle commented on #223
The above case is a bit different from the first reported issue.  This is a case where there is a 2-handed sign glossed.  When that is deleted, it reveals the presence of a similarly glossed 1-handed sign on the non-dominant hand, which cannot be deleted.  I tried first making the 2-handed sign into a 1-handed sign on the dominant hand.  What is on the non-dominant hand still cannot be deleted.  I

[2018-07-10 15:04] bugspotter33 opened #237 "English Translations Deleted - est. 4 hours"
When trying to adjust the starting time of an utterance (U25 Jonathan 90) the English translation of this utterance was deleted. When trying to reproduce the issue, the translation moved outside of the data field then disappeared.

![screen shot 2018-07-10 at 11 01 52 am](https://user-images.githubusercontent.com/38887034/42518963-f8625114-8430-11e8-86e8-98fbd887122b.png)
![screen shot 2018-07-10

[2018-07-10 15:27] bugspotter33 commented on #222
Found another case in U29 Jonathan file 90. Can't delete the one framed blink.

![screen shot 2018-07-10 at 11 26 26 am](https://user-images.githubusercontent.com/38887034/42520403-30afc0bc-8434-11e8-89a0-5c379b2eeeb6.png)

[2018-07-10 15:31] bugspotter33 commented on #222
This last bug (U29 J90) we were able to delete. It was difficult to select even after being zoomed in as much as possible.

[2018-07-12 19:48] bugspotter33 opened #238 "Can't enter in onsets/offsets - est. 5 hours"
I am working with new data, Ben Introduction file, and I started entering non-manual data but I can't enter any onsets/offsets. When right clicking on any given event, a drop down menu isn't displayed to give me onset/offset options. This is throughout the file. This seems to only be an issue when I have both temporal partitions 1 and 2 displayed at the same time.

![screen shot 2018-07-12 at 3 47

[2018-07-13 18:00] aimeeaylward opened #239 "Empty fields do not collapse automatically when switching between utterances - est. 3 hours"
I am currently working on the Cory 108 file, though I have noticed this in previous files, as well. When using the next utterance button to skip forward one utterance, fields that had events in the previous utterance remain open even though they do not contain events in the second utterance.

In the second screenshot of utterance 9, the hm:shake and yes-no question fields still appear even though

[2018-07-13 18:01] aimeeaylward commented on #239
Also, it doesn't happen consistently with every field from the previous utterance that isn't present in the next utterance, i.e. the negative field in utterance 8 doesn't appear in utterance 9.

[2018-07-16 16:44] aimeeaylward commented on #222
I have found a case of this in Jonathan 93 U1, a -wide eye apert event that I'm unable to delete. I was unable to select it even when zooming in fully.

[2018-07-16 21:00] gregorydimitriadis commented on #175
Fixed in v3.1.1

[2018-07-16 21:00] gregorydimitriadis commented on #211
~Fixed in v3.1.1~

[2018-07-17 14:04] gregorydimitriadis commented on #237
@bugspotter33 was this trying to update the utterance start time from the databaseView or the utteranceView ? (picture seems like from the utteranceView)

[2018-07-17 14:07] gregorydimitriadis opened #240 "Save timescale value in collection XML - est. 5 hours"
In addition to:
* movie duration
* packet duration

We must also save...
* timescale

...in the collection to perform the proper conversion from signstream time to real time (seconds)

[2018-07-17 14:41] bugspotter33 commented on #237
This is from the utterance view

[2018-07-17 17:50] bugspotter33 commented on #223
Found another example of this issue in Cory 108 U17 with the gloss BOX/ROOM and then there is something weird happening with the display on ARRIVE. So I am going to delete it and enter it in again.

![screen shot 2018-07-17 at 1 46 14 pm](https://user-images.githubusercontent.com/38887034/42836157-45a2861e-89c8-11e8-9a85-9d81744ebd98.png)

![screen shot 2018-07-17 at 1 46 29 pm](https://user-image

[2018-07-19 17:12] cneidle opened #241 "Enhancement; Include "translation" in list of fields that can be explicitly searched"
In the Search window, all the available fields seem to be listed, except the translation field.  It is still possible to include the translation field in what is searched (by selecting "Any" field and a specific value), and we can include this in future documentation as a work-around for not being able to search the translation field specifically, but it would be useful to add that field to the me

[2018-07-19 23:16] cneidle commented on #211
This is NOT fixed.

Please reopen, as top priority.

Thanks,
 Carol

[2018-07-22 15:11] cneidle commented on #175
Confirmed as fixed :-)

[2018-07-22 16:47] cneidle opened #242 "Overlap allowed (when it shouldn't be) when user adjusts start frame of gloss [est. 7. hours]"
I'm working on file 107, U 20.  I attempted to adjust the start point of COOK.

When I tried to move the start to a point prior to the end of the preceding sign, I did get a warning dialog box, but succeeded in doing this by ignoring that box.  This should not be allowed to happen.

<img width="363" alt="screen shot 2018-07-22 at 12 46 02 pm" src="https://user-images.githubusercontent.com/13629122

[2018-07-22 16:49] cneidle commented on #242
There is also an issue in locking and unlocking the two hands.  Once the hands have been unlocked and then locked again, they still behave as unlocked with respect to the display of handshapes.

[2018-07-22 19:30] cneidle commented on #242
A related issue:  I get this warning when I SHOULDN'T - although again, the warning does not prevent me from increasing the endpoint in this case by 1 frame.  (There is nothing to the right, so no overlap involved at all.)

This is file 107 - U 64.

<img width="492" alt="screen shot 2018-07-22 at 3 28 34 pm" src="https://user-images.githubusercontent.com/13629122/43049349-2cea9c42-8dc4-11e8-82c1-a

[2018-07-23 14:54] #175 closed, assigned to gregorydimitriadis

[2018-07-26 22:27] aimeeaylward opened #243 "Playing last utterance jumps back to first utterance - est. 10 hours"
I am working on Jonathan 94 and noticed a minor bug. When I'm on the last utterance and click "play utterance" (U72), it plays through the utterance fine, and then once it reaches the end the window jumps back to the first utterance, though the last one is still selected.

Before selecting "play utterance":
<img width="1279" alt="screen shot 2018-07-26 at 6 24 52 pm" src="https://user-images.githu

[2018-07-31 18:00] gregorydimitriadis commented on #211
Sorry - marked the wrong issue.

[2018-07-31 18:16] #127 closed, assigned to gregorydimitriadis

[2018-07-31 18:32] #180 closed, assigned to gregorydimitriadis

[2018-07-31 20:13] gregorydimitriadis commented on #196
Closing in favor of #237

[2018-07-31 20:13] #196 closed, assigned to gregorydimitriadis

[2018-07-31 20:16] gregorydimitriadis commented on #151
Possibly related to #237

[2018-08-01 13:59] gregorydimitriadis commented on #218
Likely related to #221

[2018-08-01 14:03] gregorydimitriadis commented on #237
@bugspotter33 I think the only valid way to attempt to change the start time of an utterance would be from the database view. Operations from within the utterance view are meant to be limited to gloses/nonmanuals/etc

[2018-08-01 14:04] cneidle commented on #237
This change WAS made from the DB view. The picture shows what was visible in the utterance view after that happened.

Sorry for any confusion about that

Sent from my iPhone

[2018-08-01 14:28] gregorydimitriadis commented on #130
@cneidle @bugspotter33 has this ever been observed? I'm not entirely certain what the use case is that I reported above

[2018-08-04 19:01] cneidle commented on #237
moved this up a bit higher in the priority list

[2018-08-04 19:02] cneidle commented on #216
moved this a tiny bit higher in the priority list

[2018-08-04 19:16] cneidle commented on #130
don't think so.

[2018-08-04 19:16] cneidle commented on #130
lowering priority

[2018-08-04 19:28] cneidle commented on #223
increasing priority level

[2018-08-04 19:31] cneidle commented on #227
This is not the only place where this should happen...

[2018-08-04 19:33] cneidle commented on #238
increasing priority a bit

[2018-08-04 19:37] cneidle commented on #242
have increased priority level

[2018-08-04 19:38] cneidle commented on #222
am increasing priority

[2018-08-04 19:45] cneidle commented on #153
raised priority; related to #154?

[2018-08-04 19:58] cneidle commented on #169
would be important to incorporate this in the next release

[2018-08-04 19:59] cneidle commented on #224
increased priority by a little

[2018-08-07 14:32] gregorydimitriadis commented on #130
Assuming 'low priority' for this one - based on the ones its grouped with in the list.

[2018-08-07 14:36] gregorydimitriadis commented on #153
@cneidle yes, somewhat related - won't have the same fix necessarily, but not entirely orthogonal.

[2018-08-07 14:40] gregorydimitriadis commented on #169
Possibly a big task - could be upwards of 20+ hours

[2018-08-07 17:21] gregorydimitriadis commented on #211
On another attempt, I was able to reproduce this.

[2018-08-07 20:06] gregorydimitriadis commented on #236
@cneidle

This appears to be similar to issue #18 and has the workaround I mentioned back then:
https://github.com/DCS-LCSR/SignStream3/issues/18#issuecomment-133460955

[2018-08-07 20:28] gregorydimitriadis commented on #236
@cneidle

Rather, this comment which references the above:
https://github.com/DCS-LCSR/SignStream3/issues/25#issuecomment-149915833

[2018-08-07 21:26] gregorydimitriadis commented on #226
For the initial reported case (ALL-DAY in U69) - another issue is that the gloss is marked as a one-handed where it's actually two-handed - is that right?

[2018-08-08 03:40] bugspotter33 commented on #226
ALL-DAY is typically a two-handed sign so unless this is signed with one
hand it should be marked as two-handed.

On Tue, Aug 7, 2018 at 2:26 PM, Greg Dimitriadis <notifications@github.com>
wrote:

[2018-08-17 14:51] gregorydimitriadis commented on #226
This is proving difficult to debug and solve. Moving on to the next issue and coming back to this later.

[2018-08-17 15:18] gregorydimitriadis commented on #218
@cneidle I think this one is technically not a bug, right? I can see what was seen in the initial report, and on scrolling back to U29 and clicking "show all non-empty" I see "eye brows" reappear. That appears to be working correctly.

[2018-08-17 15:25] cneidle commented on #218
The fields should not disappear.  That is (or was) a bug.

Choosing Next Utterance, or Previous Utterance, or clicking on a specific utterance on the left, or using the arrow keys to select the next or previous utterance:  All of those things should automatically invoke "show non-empty" so that when the user chooses a specific utterance to view, the user also sees the data associated with that utt

[2018-08-17 15:35] gregorydimitriadis commented on #218
I see. In that case, I cannot reproduce the fields disappearing entirely while scrolling.

[2018-08-17 15:39] gregorydimitriadis commented on #221
I cannot reproduce this issue on this collection. I go to U29 and add an event for eye brows. Go back to database view, then back to utterance view. It still shows up. I save the collection, close signstream, reopen it and return to U29 - I still see the event. Same if I try for nearby utterances.

[2018-08-17 15:52] cneidle commented on #218
It recurs for me.

Note that this file, 82, has multiple temporal partitions/segment tiers:

<img width="1062" alt="screen shot 2018-08-17 at 11 47 38 am" src="https://user-images.githubusercontent.com/13629122/44275978-35c5c800-a214-11e8-92b3-6a6b1749e4ad.png">

Here is the view when I scroll from utterance 2.  Note what is visible in the utterance that
has the translation “I’m curious… "

<img w

[2018-08-17 15:56] gregorydimitriadis commented on #237
@cneidle can I get the collection for this? Thanks.

[2018-08-17 15:56] cneidle commented on #218
Pictures for above

<img width="1062" alt="screen shot 2018-08-17 at 11 47 38 am" src="https://user-images.githubusercontent.com/13629122/44276075-76bddc80-a214-11e8-82bc-9dd9f6cdc80b.png">

<img width="1351" alt="screen shot 2018-08-17 at 11 47 00 am" src="https://user-images.githubusercontent.com/13629122/44276081-7ae9fa00-a214-11e8-8ed6-2f5868047c0a.png">

<img width="1336" alt="screen shot 201

[2018-08-17 16:15] gregorydimitriadis commented on #218
@cneidle This is different than the original reported thing. In the original, it was the actual field labels for everything which disappeared. In this example, all the field labels remain (for the fields which were showing for the "selected" utterance - in your case U2) but there is nothing showing for them  as you scrolled into the next utterances. On clicking one of those next utterances, it sim

[2018-08-17 16:27] gregorydimitriadis commented on #151
@cneidle May I get the 55 collection? Thanks.

[2018-08-17 16:54] gregorydimitriadis commented on #237
@cneidle scratch that - I was able to reproduce with the 113 collection as well.

[2018-08-17 19:07] gregorydimitriadis commented on #233
@cneidle may I get the 114 collection file? Thanks

[2018-08-17 19:27] gregorydimitriadis commented on #233
I could not reproduce the case found in 113. I tried the case from 114 in other collections but could also not reproduce that.

[2018-08-17 20:03] cneidle commented on #218
Yes, you are correct.  Sorry.

This is not the bug that was reported.

I did witness it myself, however (as Indya was
doing the annotations).

It was for a file packed with information, and on a
not very powerful computer.

My impression at the time was that screen redrawing
had just failed to repaint the upper portion of the
window.

FWIW,
 Carol

[2018-08-17 21:13] gregorydimitriadis commented on #242
Reproduced and debugging

[2018-08-29 15:21] gregorydimitriadis opened #244 "Quarantine script hangs - High Sierra"
Per email from Carol:

"
Still one problem with High Sierra though:  disable quarantine consistently hangs

I did succeed however in copying the command from that window directly into the terminal window, and that worked.

So there is a workaround.  But I suspect that anyone attempting to install in High Sierra will not succeed in getting the programs to run, as it stands.
"

[2018-08-29 15:30] gregorydimitriadis opened #245 "Video Time Sync error - est. 8 hours"
Per Doug:

"
Carol and Greg,

I just tested on version 3.0.1-rc1 of Signstream.

The video sync on utterance start/stop time change situation as shown to us from Carol today appears to happen with more than just the new video.  I see this same issue with the old video...

2012-02-09_0059-cam3-for-ss3.mp4

So in my mind, this is a code bug.

Doug

P.S. The original formatted video in h264 had laggy

[2018-08-29 15:32] gregorydimitriadis commented on #215
Note - easy tweak: increase thickness of the graph line width, for easier visibility.

[2018-08-31 14:28] gregorydimitriadis commented on #242
First case is fixed. Working on second case (whoa and REFUSE)

@cneidle is this accurate to say:

That if a gloss has a dom and nondom aspect, AND it is marked as locked left-right, then *by definition* the dom and nondom parts both have to have the same start/end times? So in the picture (and I can reproduce this when testing as well) with the blue diamonds showing for "whoa" it's thinking that i

[2018-08-31 17:50] cneidle commented on #242
Yes, that sounds right to me.

Thanks,
 Carol

[2018-09-07 15:04] cneidle commented on #177
high priority, as Augustine is just about done with the download cart functionality for the DAI, so people will be able to download our XML files very soon.

[2018-09-07 15:06] cneidle commented on #221
Suggest tabling this since it has not been reproduced, until such time as it recurs.

[2018-09-12 19:26] gregorydimitriadis commented on #209
Completed with the simple part - just renaming on the frontend. To change the backend I've determined is quite a lot of work, as notions of "right" and "left" (any their many derivations - R/L, RIGHT/LEFT, etc) are hardcoded in too many places all around the codebase.

[2018-09-14 18:19] gregorydimitriadis commented on #169
Mostly done for now.

[2018-09-18 20:04] gregorydimitriadis commented on #245
@cneidle I don't recall exactly how to reproduce this issue - can you help?

[2018-09-20 17:42] gregorydimitriadis commented on #216
There's some logic in the code at play from previous issues which may be responsible for some of the things reported here. For instance:

* clicking fingerspelled, loan, or number results in:
  * auto-select onehanded
  * set passive base arm unchecked
  * set all three comoboxes (sameDifStartEnd, sameDifStartEndLeft, sameDifStartEndRight) invisible
* clicking gesture results in:
  * all of the ab

[2018-09-20 18:00] gregorydimitriadis commented on #232
@cneidle For the first three (not, like, pineapple) I see the same happening.

For FATHER - in the xml for the collection it is actually saved as "NO_OF_HANDS=2"

[2018-09-20 19:52] gregorydimitriadis commented on #216
Can't reproduce the "same start/end hs" combobox not showing up for one-handed signs.

[2018-09-20 20:16] gregorydimitriadis commented on #232
Fixing some bag logic for setting 1/2 handed which should resolve one-handed signs showing up as two-handed in the MorphPhon

[2018-09-20 20:26] gregorydimitriadis commented on #216
@cneidle This is relevant to both this issue and was also mentioned in #228:

There is some logic in the morph phon window code which, upon opening the MorphPhon window, if the gloss was not saved to the xml with anything for SIGN (lexical/classifier/number/fingerspelled, etc) then it makes an 'educated guess' based on the gloss name as to what should be automatically selected for that sign type.

[2018-09-20 20:28] gregorydimitriadis commented on #228
@cneidle other than the comment i made in #216 just now about this - is there anything for me to edit/change for this paritcular issue?

[2018-09-22 20:54] cneidle commented on #245
Working at the utterance level, I was attempting to set the start and end points of an utterance.  I selected, e.g., "U1" once I had created it, and then used the plus button to try to extend the endpoint until the utterance ended.  It went way beyond where the utterance really extended.  Using the minus button likewise did not allow me to get to the actual endpoint, and the plus and minus buttons

[2018-09-22 21:00] cneidle commented on #216
Hi,

Passive base arm should always be unchecked by default.
Same for marked number of hands.

The other default settings that I’ve bolded below are correct.

Once the user changes the default settings, that should remain, of course.

I would think that a gesture should also have the same vs. different start/end handshape box checked,
and if the user makes it two-handed, then the box about the rel

[2018-09-22 21:02] cneidle commented on #232
Ok - glad if you have fixed this.

[2018-09-22 21:10] cneidle commented on #216
This is a comment about the regex pattern matching.  It is great if the type of sign can be predicted (and assigned by default when the user opens the Morph-Phon window for the first time) from the characters in the sign, as is apparently being done, if I understand correctly.

The problem, I think, is that we want exact word match for the string of upper case letters =
CL  DCL  LCL etc.  (possibl

[2018-09-22 21:12] cneidle commented on #228
Assuming that this is resolved for going forward, this is mainly an issue of our having to search through the data and correct errors that have crept in because of this.  So, no, I don't think there is anything specific for you to do in relation to the above, beyond the more general fix.  Thanks.

[2018-09-25 17:52] gregorydimitriadis commented on #245
@cneidle Thanks, got it

[2018-09-27 02:03] bugspotter33 commented on #226
I think I have a work around/fix for this bug. When marking the handshapes of a gloss that will have a final hold, typically what shows up in the morph info window is one handshape picture for the right hand and one handshape picture for the left hand. Once you press enter, the gloss looks wacky and handshapes aren't where they should be or aren't there at all. However, if you go back into the mor

[2018-10-11 18:55] gregorydimitriadis commented on #191
@cneidle

Issue is that in the sign bank file - the field coming across in one-handed signs is START_END_RIGHT_HS, with nothing for START_END_LEFT_HS -- In my opinion, it should just come across for the field START_END_HS (which is how SignStream interprets things - if there is no left/right, then START_END_HS is what's used.

But be that as it may - if it stays this way, SignStream has to change.

[2018-10-11 19:29] gregorydimitriadis commented on #216
@cneidle once the default value is changed, the value does indeed remain (as far as I've seen). But there are some glosses which were not saved with any default value - I'm not entirely sure the steps which preceded that happening, as it shouldn't be possible (given what a user can do in the app).

Which colleciton/gloss was the detected "CL" type error?

[2018-10-11 20:27] gregorydimitriadis commented on #220
@cneidle I cannot reproduce this one in the collection noted.

[2018-10-12 17:26] cneidle commented on #216
Hi Greg,  Wherever that CL error had been found, we manually corrected it.  HOWEVER, the issue is that the data entry process selects a default type from the gloss, which is EXTREMELY useful, and it erroneously thinks that CLASS is a classifier, cf.
![screen shot 2018-10-12 at 1 23 29 pm](https://user-images.githubusercontent.com/13629122/46884190-406e9900-ce22-11e8-83a0-0a079900645a.png)

I'll em

[2018-10-12 17:30] cneidle commented on #191
Sorry - I don't fully  understand this.  @kwasiopoku Augustine should be brought into this discussion.

[2018-10-12 18:24] gregorydimitriadis commented on #244
Note: also test newest OS

[2018-10-30 18:09] cneidle opened #246 "Enhancement requests - Adding ToolTips"
Hi - I know we have discussed this at various times, but when time permits, it would be great to have some tooltip additions, e.g., to explain what the various buttons do in the utterance and db windows.
The usefulness of having this has been reinforced by our newer SignStream users, who say this would be helpful in figuring out how things are supposed to work.

Also - and I realize that this is m

[2018-10-30 18:12] cneidle commented on #171
Just curious: How is this being done?  Would it not make sense to have a local file that keeps track of the likely locations of the video files, i.e., where they have been found before?  Or is that what is now (supposed to be) happening?

[2018-11-05 15:33] gregorydimitriadis opened #247 "Visualization: Order for display of fields"
Per Carol:

Per Doug:

Per Carol:

[2018-11-05 15:37] gregorydimitriadis opened #248 "Visualization: click to change field sizes"
Need a user-level action mechanism to increase the size (in pixels, height) of the display of the visualization graphs.

Proposed: double click on field label - the field will expand to a predefined maximum size. Double click again to return to the default/minimum size. Exact size can be determined.

[2018-11-13 16:38] gregorydimitriadis commented on #238
@bugspotter33 @cneidle which collection is this? Possibly need a copy to test.

[2018-11-15 19:32] travisnguyen commented on #211
It looks like this bug has been resolved in version 3.1.2.

[2018-11-15 19:40] travisnguyen commented on #237
This bug seems to have been resolved in version 3.1.2.

[2018-11-15 20:02] travisnguyen commented on #239
This bug seems to be resolved in version 3.1.2.

[2018-11-16 15:51] #211 closed, assigned to gregorydimitriadis

[2018-11-16 15:52] #237 closed, assigned to gregorydimitriadis

[2018-11-16 15:52] #239 closed, assigned to gregorydimitriadis

[2018-11-19 17:01] gregorydimitriadis commented on #214
@bugspotter33 @cneidle should the dropdown for start/end handshapes **not show up** for {fingerspelled, two-handed} either?

[2018-11-25 09:17] cneidle commented on #214
that is correct.

For fingerspelled signs, no [start and end same/different handshape] menu is relevant.

thanks!

[2018-11-28 18:30] gregorydimitriadis commented on #203
@cneidle Is this one that the video actually plays a frame before start, or just that the scroll takes it back so about half the screen is the empty space prior to the utterance? The second part I believe to just be resulting from always keeping the green scroll bar in view, and if not in view then re-centering it.

[2018-11-28 18:46] gregorydimitriadis commented on #222
@cneidle @bugspotter33 cannot reproduce this one  -- I suspect the issue might have something to do with the odd onset where it's not supposed to be, or one-frame's behaving oddly. The collection I received did not have the onset under the regular nonmanual to test it.

[2018-11-29 19:28] travisnguyen commented on #242
The second case (whoa and REFUSE) seems to be resolved in version 3.1.2.

[2018-11-29 19:41] travisnguyen commented on #216
Discrepancy: This bug has been noted as fixed in the release notes for 3.1.2, but has only been partially addressed.

[2018-11-29 19:41] travisnguyen commented on #232
Discrepancy: This bug has been noted as fixed in the release notes for 3.1.2, but has only been partially addressed.

[2018-11-29 19:42] travisnguyen commented on #219
This seems to be resolved in version 3.1.2.

[2018-11-29 19:55] travisnguyen commented on #209
Discrepancy: This bug has been noted as fixed in the release notes for 3.1.2, but has only been partially addressed.

Some issues still present:

- Location, Orientation, and Movement tabs are still not grayed out
- Descriptions of left and right hand are still present in the Morph-Phon information window (rather than being replaced with terms denoting hand dominance)
    - "L" and "R" for the "Do

[2018-11-29 20:13] travisnguyen opened #249 ".ss3 Files without Specified Lookup File Directory Do Not Have Working Horizontal Scroll Bars"
Hi everyone,

This doesn't seem to be a bug that affects functionality of the program too much, but I am noting it for posteriority's sake.

Also, this bug doesn't seem to be reproduceable. Trying to reproduce it by removing the specified lookup file directory (at Macro Unit -> Edit Macro Unit -> Lookup) for an .ss3 file either causes the program to crash, or the lookup button is grayed out and un

[2018-11-30 15:25] #242 closed, assigned to gregorydimitriadis

[2018-11-30 15:28] #219 closed, assigned to gregorydimitriadis

[2018-11-30 15:34] gregorydimitriadis commented on #249
@travisnguyen

Does taking out the lookup directory involve removing the attached video file? (i.e. is there still a video attached after doing this) -- I know that without a video some of these things you reported could occur and are expected to (i.e. bad state)

[2018-11-30 23:00] gregorydimitriadis commented on #224
@cneidle is there an up-to-date version of this collection?

I have a possibly old verison of Cory 113 which shows something slightly different for the SCHOOL gloss there.

[2018-12-02 19:26] cneidle commented on #224
Most recent:

thanks,
 Carol

[2018-12-02 19:30] cneidle commented on #249
I don’t understand what is meant by “taking out the lookup directory”.

But definitely, yes, a video FILE must be selected in order for things
to display properly.

Travis - let’s discuss this on Tuesday.

[2018-12-04 18:19] travisnguyen commented on #249
@gregorydimitriadis Yes; after removing the lookup directory, there is no video attached.

[2019-01-23 22:04] gregorydimitriadis commented on #225
@bugspotter33 @cneidle

My best guess with this one, having not been able to truly reproduce, is that it may be the sensitivity of the mouse being used to click. If there is any side-movement whatsoever, it will interpret that as a click-and-drag and start to move the green slider.

[2019-01-24 17:54] gregorydimitriadis commented on #235
@cneidle tested this, but it appears to work for me. To confirm, this shortcut is "option+command+h" (lowercase h needed, no shift-press)

Also, I'm not sure we can disable the menu item showing up -- i.e. it is common to all mac osc apps.

[2019-01-24 21:47] cneidle commented on #235
Ok great.

No need to disable the menu item !

Thanks

Sent from my iPhone

[2019-02-01 15:41] gregorydimitriadis commented on #233
Update: we can reproduce the original case from 114, but not the one from 113. The 113 issue may be a zooming-related thing, so that clicking on an utterance might not bring you zoomed in properly enough to get the the proper one, but I can't confirm that.

[2019-02-27 18:13] travisnguyen opened #250 "Changing Start and End Times of Final Hold for Two-Handed Sign Changes Start and End Times of Non-Dominant Hand"
Hi all,

I recently encountered an issue with changing the start and end times of final holds for two-handed signs. (This specific bug hasn't been described in past bugs about final holds and alignment issues, but I presume they could be related.)

Here's a description of the issue (using video 94 and U21 as an example):

1. A two-handed sign (here, HUG) is given a final hold as an additional elem

[2019-02-27 18:58] gregorydimitriadis commented on #250
Hi @travisnguyen -- what version was this noticed in?

[2019-02-27 19:08] travisnguyen commented on #250
3.1.2.

[2019-02-27 19:10] gregorydimitriadis commented on #250
@travisnguyen when you are in possession of v3.1.3, can you please check this one again? I just tested on this latest version and cannot reproduce it there.

[2019-02-27 19:15] gregorydimitriadis commented on #245
@cneidle can I close this one?

[2019-02-27 19:21] gregorydimitriadis commented on #232
@cneidle @travisnguyen what is the current state of this issue?

[2019-02-27 19:22] gregorydimitriadis commented on #216
@cneidle @travisnguyen what is the current state of this issue?

[2019-02-27 20:26] travisnguyen commented on #250
@gregorydimitriadis Just installed version 3.1.3, and it looks like the problem I described in the OP is resolved in the latest version.

[2019-02-28 19:23] gregorydimitriadis commented on #250
@travisnguyen awesome - mind if I close this one?

[2019-03-01 17:21] travisnguyen commented on #250
@gregorydimitriadis I can close it. Thanks.

[2019-03-01 17:21] #250 closed, assigned to gregorydimitriadis

[2019-03-07 16:50] gregorydimitriadis commented on #247
Hi @cneidle this issue (and most of visualization) is mostly complete - if there is a default ordering you wish to see can you provide it here?

Currently the default ordering is:
* hp: tilt fr/bk
* comp: yaw
* hp: turn
* comp: pitch
* hp: titl side
* comp: roll
* eye brows
* comp: eye brows
* eye apert
* comp: eye apert
* (the rest of the fields)

[2019-03-09 18:01] cneidle commented on #247
Hi Greg,

I am confused about why hm:    fields are not also included among the options here…
Why only the hp:   fields?

?

Thanks,
 Carol

[2019-03-11 13:43] gregorydimitriadis commented on #247
@cneidle

Hi Carol -- I think I had put 'head position' for the SignStream fields corresponding to the yaw/pitch/roll of the visualization file. The other fields, including head movement and others, are possible to be ordered, but they are not included in the 'default' ordering of the fields. All the fields can be rearranged and then that ordering would be saved, but initially it would just be the

[2019-03-25 17:19] travisnguyen opened #251 "Missing Selected Handshapes in Morph-Phon Info"
Hi everyone,

I'm noticing a recurrent bug in the latest version of SignStream (3.1.3). When I right-click a gloss and select "Morph-Phon Info", sometimes none of the handshapes show up under "Selected Handshapes" (i.e., in the "Dominant Hand" and "Non-Dominant Hand" fields):

<img width="1418" alt="Screen Shot 2019-03-25 at 1 06 52 PM" src="https://user-images.githubusercontent.com/4441077/549395

[2019-03-26 14:24] gregorydimitriadis commented on #251
@travisnguyen I could reproduce this as well - possibly only for fingerspelled (fs-) glosses (?)

[2019-03-26 16:55] travisnguyen commented on #251
@gregorydimitriadis It also affects lexical signs, although not as common (cf. TRIP in any utterance in the same video file). In my experience, the bug seems to show up most often with indexicals and fingerspelling.

[2019-03-26 21:36] travisnguyen opened #252 "Change in Video Playback Quality"
Video playback quality seems to have changed with the latest migration of the basement lab computer to a new Mac. Videos show an increased rate of compression artifacts per frame as well as slightly unsmooth playback (compared to the old computer).

Here are screenshots of video frames containing the artifacts mentioned above (videos from 0094 for U56):

<img width="460" alt="Screen Shot 2019-03-2

[2019-03-27 18:48] gregorydimitriadis commented on #216
Hi @travisnguyen just checking in again - do you remember which part of this issue is not addressed?

[2019-03-27 18:48] gregorydimitriadis commented on #232
Hi @travisnguyen just checking in again - do you remember which part of this issue is not addressed?

[2019-03-27 21:51] travisnguyen commented on #216
@gregorydimitriadis My last comment was about a discrepancy between how the bug fix was described in the README.txt for version 3.1.2 ("fixed") and in the e-mail that Carol and I received that included a list of bug fixes in version 3.1.2 ("partially fixed"). I haven't looked at this bug in detail, but if the issue is resolved, feel free to mark it as complete.

[2019-03-27 22:00] travisnguyen commented on #232
@gregorydimitriadis My last comment was about a discrepancy between how the bug fix was described in the README.txt for version 3.1.2 ("fixed") and in the e-mail that Carol and I received that included a list of bug fixes in version 3.1.2 ("partially fixed").

In any case, I can't reproduce the issue using the first four signs of U14 in file 0050 (described by Carol earlier in this thread) or any

[2019-03-27 22:06] travisnguyen commented on #251
@gregorydimitriadis Here's a short (non-exhaustive) list of the glosses where I encounter the bug in file 0094:

U33 IX-loc:i
U34 #HS
U35 #HS
U36 IX-3p:i
U37 TRIP
U38 TRIP
U39 TRIP
U41 #VP
U42 ADDICTED
U42 (25) WHY
U43 IX-2p
U44 IX-1p
U45 #WHEN
U45 FUTURE
U46 DEPART
U46 IX-1p
U46 YES
U47 DEPART

[2019-03-28 13:33] gregorydimitriadis commented on #216
Ah I see - thanks. Indeed, I noted about the partial fix because I attempted to address many of the concerns from this issue but don't have 100% every issue is resolved. Maybe we can leave this issue and #232 open as placeholders in case the issues crop up again.

[2019-03-28 13:33] gregorydimitriadis commented on #232
see comment here https://github.com/DCS-LCSR/SignStream3/issues/216#issuecomment-477596393

[2019-03-28 14:32] gregorydimitriadis commented on #251
Hi @travisnguyen - when you next get a chance can you email me the collection file for this one (0094)?

[2019-03-28 15:45] travisnguyen commented on #251
@gregorydimitriadis Just sent the file.

[2019-04-04 18:42] gregorydimitriadis commented on #251
completed for next release

[2019-04-04 18:49] gregorydimitriadis commented on #195
completed for next release

[2019-04-18 20:14] gregorydimitriadis commented on #252
@travisnguyen for reference, does this same thing appear to occur in previous signstream versions?

[2019-04-30 15:58] travisnguyen commented on #252
Just checked 3.1.1, 3.1.2, and 3.1.3.

3.1.2 has good playback quality, but 3.1.1 and 3.1.3 both have choppy playback quality.

[2019-05-01 14:23] gregorydimitriadis commented on #252
Hi @travisnguyen @cneidle  - for testing on our side this is what we did:

We used the same MacOS version and opened Signstream 3.1.1, 3.1.2, and 3.1.3 all on the same collection file with the same video noted above. We took 10 screenshots of the video windows from each version of Signstream each at the same timestamp in the video and then compared the screenshots using an image diff tool (pixel b

[2019-05-01 14:36] gregorydimitriadis commented on #249
Hi @travisnguyen @cneidle

For this, I can only reproduce this by opening the collection (sent from BU) initially, where the video is not associated because it cannot find the file. In that case, in the lack of a video, the application acts as you describe here. This is expected behavior from the known issue of not having the collection associated with the video. Is this the same on your end?

Onc

[2019-05-01 15:10] cneidle commented on #249
I am a bit confused about the vocabulary being used in this discussion.

When a collection is opened, if the videos are not associated,
then they need to be selected manually and attached before
the proper timescale will be displayed for the collection.

The “lookup” function was intended to help the user find
the videos.  In the original version of SIgnStream, launching
“lookup” would result in t

[2019-05-02 16:21] travisnguyen commented on #252
@gregorydimitriadis

GitHub doesn't support .mov file types, so I'll send you examples from collection file 95, utterances 1, 2, and 3, for versions 3.1.1, 3.1.2, and 3.1.3 via e-mail.

As for video compression artifacts, I think it's best to explain with an image. Please see the images described as "Original image, with good color grade" and "Loss of edge clarity and tone 'fuzziness' in heavy JPE

[2019-05-02 20:58] gregorydimitriadis commented on #252
@travisnguyen Sure, will wait for those emails. Thanks in advance.

[2019-05-03 17:25] gregorydimitriadis commented on #198
Cannot reproduce this happening anymore. Possibly was fixed by earlier fixes.

[2019-05-03 21:10] travisnguyen commented on #252
@gregorydimitriadis Done. The videos don't show any jarring examples of compression artifacts, but there is a slight difference in playback quality. Let me know if you have any questions.

[2019-05-03 21:11] travisnguyen commented on #252
Also, let me know if you need the specs of the computer I'm using.

[2019-05-11 17:45] cneidle opened #253 "Translations have ceased to be visible !!"
Translations were viewed perfectly through SignStream v. 3.1.3.  However, in 3.1.4 and 3.2 (essentially the same new version), nothing appears in any of the translation fields.  HELP !

Thanks.

[2019-05-11 17:45] #253 closed, assigned to nobody

[2019-05-11 17:46] cneidle opened #254 "Translations have ceased to be visible"
Translations were viewed perfectly through SignStream v. 3.1.3. However, in 3.1.4 and 3.2 (essentially the same new version), nothing appears in any of the translation fields. HELP !

Thanks.

[2019-05-13 14:51] gregorydimitriadis commented on #254
@cneidle Looking into this now

[2019-05-22 15:14] cneidle opened #255 "Serious problem"
Mac OS 10.14.3.   Downloaded the latest version of SIgnSTream.  Ran DisableQuarantine.  When launched, SIgnSTream immediately quits !

[2019-05-28 12:43] cneidle commented on #255
The problem was (as Doug suggested) that the legacy Java package had not been installed on the new machine.  So, no problem!  THANKS. and sorry.

[2019-05-28 12:43] #255 closed, assigned to nobody

[2019-05-30 17:00] cneidle opened #256 "handshape selection palettes: Left and Right hands are reversed!"
The handshapes should be restricted on the NON-DOMINANT hand (usually the left hand, since all of our signers are right-handed), but this is backwards!

<img width="936" alt="Screen Shot 2019-05-30 at 12 58 24 PM" src="https://user-images.githubusercontent.com/13629122/58649684-c15ba180-82da-11e9-9f8c-35879f0878a1.png">

[2019-05-30 17:37] gregorydimitriadis commented on #256
Attempting to reproduce this - like so:
* click on a two-handed gloss, on the gloss1 line
* see 'dominant hand' selected (grayed out)
* select diff left/right hs
* open palette
* see the right hand populated with more handshapes (different than your picture)

* exit panels, then:
* click on the same two-handed gloss, on the gloss2 line
* see 'non-dominant hand' selected (grayed out)
* select diff

[2019-05-31 08:15] cneidle commented on #256
Hi Greg,

I just tried to reproduce this and it was OK.

It’s possible that Justin entered the text on the gloss 2 line instead
of the gloss 1 line.

But we really need to discuss the issue of dominant vs. non-dominant hand.

Right now we can only annotate right-handed signers, and this is kind of embarrassing.

For a right-handed signer, the right hand is always the dominant hand.

For a 2-handed

[2019-06-03 15:05] cneidle opened #257 "problem with opening selected gloss items - latest release version, new computer"
When a gloss item is selected and you double-click on it, nothing seems to happen. You can try multiple times and still nothing happens.  It is possible to get to the morph phon window by using the menu, but even that takes multiple tries before it will open.  Don't know why this should be happening.  It works ok (same version of SignStream, same file) on my laptop running Sierra (10.12.6).

We ar

[2019-06-03 15:08] gregorydimitriadis commented on #257
@cneidle can you send the collection this was seen in? Is it multiple collections?

[2019-06-03 15:26] cneidle commented on #257
Hi Greg,

This is the collection we were working on most recently.

But I do not believe the problem is specific to any given collection.

I was noticing this the other day also when we were working with different files.

This one uses the videos for file 96.

Thanks!
  Carol

[2019-06-05 13:44] cneidle opened #258 "Association between a particular gloss and what is displayed in the morph-phon window."
Here is a scenario:

You are looking at an annotated file.  You double-click on a gloss item and thereby (hopefully) open the morph-phon window.  You have a look.  Everything looks fine.  you don't change anything.  Or maybe you make a change.  You click on another gloss but you fail to close the morph-phon window before doing so.  You then notice that the morph-phon window is open and you click E

[2019-06-10 14:37] justberg opened #259 "handshapes not entered properly into the utterance window from the morph-phon window"
HI - This is Carol here with Justin.  We have a file in which we have entered the letters for the fingerspelled sign "dog" - D-O-G.  These appear correctly in the morph-phon window, but get converted to D-O-O when entered into the utterance window!

Here are 3 screen shots showing the sequential order.
I also used your latest test version of the program, so am attaching the log and error files, in

[2019-06-10 20:16] cneidle commented on #259
Really?  This reproduces very reliably for me!  Have you tried entering this sequence of letters?  I suspect it is something wrong with the way the "G" handshape is represented. I went to a random file, added fs-DOG and exactly the same thing happened.  When I went back to the morph-phon window, the "G" was also wrong there, although it was initially right.

<img width="1408" alt="Screen Shot 2019

[2019-06-13 19:09] cneidle opened #260 "display of screen after "go to beginning of utterance" in Utterance Window"
Hi - i think we have discussed this before, but there are times when selecting "go to beginning of utterance" does not then show that current (first) frame, as it should, at the left of the window.  What should be displayed is exactly what you see when you select an utterance from the menu on the left, i.e., the beginning of the utterance should be at the left of the window, now like this:

![Scre

[2019-06-19 13:18] gregorydimitriadis commented on #256
@cneidle with the sign bank, we have glosses saved with 'dom' and 'nondom' hands. When transferring signs from the sign bank back into the MorphPhon window - will whatever is 'dom' in the sign bank correspond to the current participant's 'dom' hand? I.e. for a left-handed dominant person, the gloss in the sign bank having HandShapeA for DomHand and HandShapeB for NonDomHand - HandShapeA would be t

[2019-06-19 14:04] cneidle commented on #256
Hi Greg,

When we modify the way SIgnStream deals with right- vs. left- hands
in relation to dominant vs. non-dominant, we will need to be in consultation
with Augustine to make sure that we are all on the same page about what
should happen and how things should correspond.

Currently all of our signers are right-handed.  So we have not yet dealt
in any way with issues related to left-handed signe

[2019-06-19 14:37] gregorydimitriadis commented on #256
@cneidle this all makes sense - I believe we are also mostly on the same page. In my opinion we shouldn't have to change anything about how the data is encoded in the sign bank file itself. The difference would be, as you said, how the search in the sign bank occurs with relation to the current participant and then sending those glosses back to the participant.

And indeed, let's discuss more late

[2019-06-19 17:57] cneidle commented on #260
This is high priority IMHO.  This also makes playing an utterance very unsettling, since half the
utterance window is wasted for the first several seconds of play...  and it is very disconcerting to see a half-blank annotation screen when you play an utterance.   THANKS.

[2019-06-20 17:50] gregorydimitriadis opened #261 "Locations"
Adding the ability to annotate location data in the MorphPhon panel for glosses.

Most discussion on this topic has taken place offline and it is currently underway.

[2019-06-20 17:51] gregorydimitriadis opened #262 "Search enhancements"
We would like to expand the possible collection search options, to include:
* sign types (see #263) must be done first
* location data (see #261) must be done first
* handshapes (the most involved and will demand some UI changes likely)

[2019-06-20 18:03] gregorydimitriadis opened #263 "Sign type field"
Create a new manual field for sign type (e.g. lexical, fingerspelled, loan) which displays as part of a gloss

[2019-06-20 18:06] cneidle commented on #262
Thanks!

When it comes time to designing an expanded search mechanism,
it may be useful to look at the search that is done through the DAI…

http://dai.cs.rutgers.edu/dai/s/dai <http://dai.cs.rutgers.edu/dai/s/dai>

It will take some thought to figure out how to do this best within
SignStream.  Happy to discuss when the time comes.

Thanks very much!

[2019-06-20 18:06] gregorydimitriadis opened #264 "Manual field toggles"
Requires completion of #261 and #263 first

Similar to how currently there is a nonmanual field selector (accessible by clicking the green plus sign on the utterance view) in this same panel we would have manual field selector. Include optional fields such as:
* sign type
* location
* ...anything else we can think of

[2019-06-23 13:08] cneidle opened #265 "Problem with arrow keys in Utterance window - introduced between 3.2.1 and 3.2.2"
In the Utterance window, the down arrow key still works correctly in 3.2.1 in moving from one utterance to the next in the left menu of utterances.  However, in 3.2.2, it does not do that.  When I first noticed this, it advanced from the first utterance to the last.  I closed the file and reopened it (after confirming that everything works fine in 3.2.1), and now the down arrow key seems to reduce

[2019-06-23 14:02] cneidle opened #266 "some handshapes not showing up in Sign Bank search"
Handshapes are missing in this Sign Bank Search (3.2.2)

<img width="844" alt="Screen Shot 2019-06-23 at 10 00 04 AM" src="https://user-images.githubusercontent.com/13629122/59977337-ff787800-959d-11e9-9e9b-55a53390bee5.png">

[2019-06-23 18:13] cneidle commented on #260
fixed - thank you

[2019-06-23 18:13] #260 closed, assigned to gregorydimitriadis

[2019-06-23 18:58] cneidle opened #267 "still a problem keeping selected frame in the visual field, depending on level of zoom"
Subject header says it all.  Here's an example.  If I set the endpoint of the highlighted event to be the current frame, that frame dispappears from view:

<img width="1317" alt="Screen Shot 2019-06-23 at 2 55 53 PM" src="https://user-images.githubusercontent.com/13629122/59980680-47f85b80-95c7-11e9-9bf1-22c94ce9bf4e.png">

<img width="1412" alt="Screen Shot 2019-06-23 at 2 56 09 PM" src="https://

[2019-06-24 23:19] cneidle commented on #265
This is very inconvenient - what would have changed between 3.2.1 and 3.2.2 that would have broken this?  Thanks!

[2019-06-24 23:25] cneidle opened #268 "changing type of sign in Sign-Phon window can wipe out hand information"
If a sign has already been annotated, and then you decide, e.g., to change its classification from classifier to lexical sign, what happens is pretty annoying:

Because the default number of hands for lexical signs is 2, then even though this had already been categorized as a 1-handed sign, with a specific handshape, the number of hands
changes to 2 and the selected handshapes are wiped out.

It w

[2019-06-24 23:30] cneidle opened #269 "Search window persisting"
If you conduct a search, and then open a new SignStream collection without closing the search window and then go to the search window, and you then change the search domain to be the file that is currently open, the program thinks the previous file is still open and threatens to close it.

<img width="1286" alt="Screen Shot 2019-06-24 at 7 27 45 PM" src="https://user-images.githubusercontent.com/1

[2019-06-25 13:17] gregorydimitriadis commented on #265
@cneidle This was actually done intentionally. I had noticed that it was inconsistent whether the up arrows performs the zoom. The only situation where it did not was after clicking into the utterance view and/or between utterances on the list, so we changed it. We will change it back to the previous way.

[2019-06-25 13:27] gregorydimitriadis commented on #268
Hi @cneidle -- trying to understand this one.

For the first part -- I cannot reproduce this with a few random glosses I've chosen. I change them to be a Classifier, then select one-handed for them. I see the top row of handshapes filled in, only. Then I select Lexical. It automatically switches to two-handed, and copies the top row of handshapes to the bottom row. I have yet to see the handshapes

[2019-06-25 13:54] cneidle commented on #268
Hi Greg,

The problem occurs when going from a 1-handed classifier sign (the cases I was facing
involved a 1-handed classifier sign on the non-dominant hand) to a lexical sign.

What consistently happens is the the number of hands changed from 1 to 2
(the default for lexical signs) and the handshape information is wiped out.

This happened for me yesterday 100% of the time (and there were many, ma

[2019-06-25 14:01] cneidle commented on #265
Hi Greg,

We definitely do not want to use the arrow keys for zoom
in the utterance window (and I don’t really care about using
them for zooming anywhere else either).

We want to use them for navigation in the menu on the left.

This is an old discussion we had, and a decision had been
made about the functionality of the arrow keys, which was
implemented long ago, as we had requested.

See #182 o

[2019-06-25 14:09] gregorydimitriadis commented on #268
@cneidle Thanks, I see - I can reproduce it by making the one-handed sign on the non-dominant hand. To fix that would be a simple issue.

On this, though:

have been entered (and therefore after number of hands and handshapes have been
determined by the user), NOTHING should happen to alter the number of hands
or the handshapes.

This may be a big change, based on how that panel is coded. Many of

[2019-06-25 14:27] cneidle commented on #268
Thanks, Greg.

Well, that is unfortunate.  It is not possible to bypass those triggers if handshapes
have been entered ??

If that is the case, then I really think it is important that the user only be allowed to change
sign type information in the handshape tab.

What about having the tabs above the sign type information:

Handshapes/sign type  |  Location   |  etc.

That would also give more dis

[2019-06-25 15:04] gregorydimitriadis commented on #268
@cneidle It may be doable to bypass the triggers if there are handshapes. Will investigate this.

I'm more skeptical of merging the sign type and handshape information.

[2019-06-26 16:53] cneidle opened #270 "Just FYI - temp files seem to accumulate when you searches..."
<img width="613" alt="Screen Shot 2019-06-26 at 12 51 13 PM" src="https://user-images.githubusercontent.com/13629122/60199115-33a79f00-9811-11e9-9901-d3b7d1124336.png">

They seem to be mostly between 1 and 3 MB per file, so this will add up...

just FYI.

thanks.

[2019-06-26 17:12] gregorydimitriadis commented on #266
@cneidle apparently this is due to the sign bank file itself not having the handshapes for this gloss

[2019-07-04 17:18] cneidle opened #271 "Search window"
1) When I search for the gloss "ANY", the seems to be interpreting this as a wildcard, rather than the string A + N + Y.

<img width="962" alt="Screen Shot 2019-07-04 at 1 15 45 PM" src="https://user-images.githubusercontent.com/13629122/60681640-0d5fb000-9e5e-11e9-8849-1f7ee7aae88a.png">

2)  Also a feature request:  It would be great if typing in the text box could automatically
toggle the setti

[2019-07-12 13:30] cneidle opened #272 "small fix needed in Morph-Phon window"
I can't believe I had not noticed this until now. It must be because there is no need to pay any attention to this, as it has not been functional.  However, in this screen shot:

<img width="542" alt="Screen Shot 2019-07-12 at 9 19 22 AM" src="https://user-images.githubusercontent.com/13629122/61131151-6a72eb80-a486-11e9-9e09-8b94a43f59a1.png">

it now says Dominant hand - and then there are radio

[2019-07-17 13:56] cneidle opened #273 "Enhancement: Suggested default field order for the Visualization"
<img width="168" alt="Screen Shot 2019-07-17 at 9 55 00 AM" src="https://user-images.githubusercontent.com/13629122/61381437-0f236d80-a879-11e9-8c06-d62374cc3ede.png">

thanks !!

[2019-07-17 19:54] gregorydimitriadis commented on #273
@cneidle do you want all of the fields listed here included in the ordering?

[2019-07-17 20:41] cneidle commented on #273
Hi,

I was suggesting that that would be the default ordering for any fields that are selected.

I was not suggesting that all fields be displayed by default.

Is that what you were asking?

Or have I misunderstood the question?

Thanks!

Best,
 Carol

[2019-07-18 13:26] gregorydimitriadis commented on #273
@cneidle ah, yes, we are on the same page. By 'include in the ordering' for those fields, I mean that *if* they are displayed in the utterance, then they will by default display in that order. Otherwise they will not display (as usual) - thanks

[2019-07-19 20:49] bugspotter33 opened #274 "Overlap/can't fix"
In Deaf Speech Ben data Utterance 44 and 45 have an overlap and I'm not able to adjust the length of either utterances to undo the overlap.

![Screen Shot 2019-07-19 at 4 45 57 PM](https://user-images.githubusercontent.com/38887034/61564737-1e571680-aa45-11e9-9de8-4793ab5386a9.png)

[2019-07-19 21:20] cneidle commented on #274
Hi Indya,

I believe I can fix this for you.  Just let me know when the file is safe to edit :-)

Before changing the start or endpoint of U45 or U44, the items within the utterances
must be sure to be clear of those new start or endpoints. I can take care of this for you.
No problem.

Thanks,
 Carol

On Jul 19, 2019, at 4:49 PM, bugspotter33 <notifications@github.com<mailto:notifications@github.c

[2019-07-19 21:48] bugspotter33 commented on #274
Okay I will be taking a break from working in about 30 minutes and it will
be available to be edited.

Indya

On Fri, Jul 19, 2019 at 5:20 PM cneidle <notifications@github.com> wrote:

[2019-07-19 23:26] cneidle commented on #274
all set :-)

[2019-07-19 23:26] #274 closed, assigned to nobody

[2019-07-20 03:15] bugspotter33 opened #275 "Can't open/edit a specific utterance"
I am working in Deaf Speech Ben file U39 and I keep clicking on the utterance to open to add the non-manuals and I get sent to U20 and U21 and can't scroll within the program to get to U39

![Screen Shot 2019-07-19 at 11 10 39 PM](https://user-images.githubusercontent.com/38887034/61573336-f5ea0f00-aa7a-11e9-8914-8b637ff1f7dd.png)

![Screen Shot 2019-07-19 at 11 10 27 PM](https://user-images.githu

[2019-07-20 03:18] bugspotter33 commented on #275
I also tried opening the next utterance U40 and scrolling backwards from there but then it shows that the entire file has no non manuals at all for any of the utterances.

![Screen Shot 2019-07-19 at 11 16 43 PM](https://user-images.githubusercontent.com/38887034/61573362-7b6dbf00-aa7b-11e9-8e62-34fe828c0c04.png)

[2019-07-20 03:21] bugspotter33 commented on #275
I closed and reopened SS and can now access the utterance but this is still a major concern as I'm not sure why it happened.

[2019-07-20 03:44] bugspotter33 commented on #275
If I save my work in U39 come out of it to the Database view window and then click on it to open it jumps to another utterance and I can't scroll to it.

![Screen Shot 2019-07-19 at 11 43 57 PM](https://user-images.githubusercontent.com/38887034/61573568-1c11ae00-aa7f-11e9-96e1-fec1559c37a0.png)

[2019-07-20 04:03] cneidle commented on #275
You have a video file open when you are doing this?

Sent from my iPhone; please excuse typos.

[2019-07-20 11:17] cneidle commented on #275
Hi Indya,

Let’s look at this together this coming week :-)
I’m not able to reproduce the problem.

Just FYI, I’ll be in the office Monday through Thursday.

Thanks!

Best,
 Carol

[2019-07-20 11:19] cneidle commented on #275
Hi Indya,

Let’s look at this together this coming week :-)
I’m not able to reproduce the problem.

Just FYI, I’ll be in the office Monday through Thursday.

Thanks!

Best,
 Carol

[2019-07-23 15:26] gregorydimitriadis opened #276 "Field wrapper clickable heights off"
This applies, at least, to the manual fields section of the utterance view. You can click slightly above a field and trigger the click action for that field (i.e. click above the horizontal line demarcating the field, and still trigger the click action). The heights of the wrappers are slightly off, and just need to be tweaked to be more exact.

[2019-07-24 16:05] gregorydimitriadis commented on #263
Hi @cneidle - we've been thinking on this one recently on our side. If we had an additional field (under the existing gloss1/gloss2/handshapes and future location field) how would we expect this to function?

Would it always 'sync' to the dominant hand of the gloss? If there is a gloss with only the nondom hand used, should it sync to that hand instead in this case? (So default, use the dom if it

[2019-07-24 16:20] cneidle commented on #263
Hi,

Good question.

I think we will probably need to have two fields for location, one above the other:

a top line for the location associated with the dominant hand of a 1-handed sign
produced with the dominant hand or with the dominant hand of a 2-handed sign;
and a second line below, used only for the exceptional cases of 1-handed signs
produced on the non-dominant hand.

The handshape inform

[2019-07-24 16:29] gregorydimitriadis commented on #263
Hi @cneidle just to clarify - when you say 'location' you mean 'sign type' - right?

[2019-07-24 16:36] cneidle commented on #263
Sorry- I misread your question.  I thought you were asking about how to represent LOCATION in the case where there are two overlapping items associated with a location.  So that is the question (which you didn't ask) that I was responding to.  This is an important modification of the way in which we had been thinking of the location field.

The same issue does also arise for sign type.  And the pr

[2019-08-16 17:57] cneidle commented on #265
This still does not work in version 3.2.3.

[2019-09-10 03:10] bugspotter33 opened #277 "SS unexpectedly quit"
I have been working on the Ben data and SS will close while I'm working. There isn't any way I can reproduce the issue I just know that I've been working on non manuals when it has happened. This is the 3rd time it has quit on me within the last week and a half.

[2019-09-10 13:19] gregorydimitriadis commented on #277
Hi @bugspotter33 -- is this always with the same collection? Can you email the collection(s) this was experienced with?

[2019-09-12 02:04] bugspotter33 commented on #277
So far it has been with Ben Voice Life, Voice Identity and Deaf Speech.

[2019-09-12 13:35] gregorydimitriadis commented on #277
@cneidle can I get a copy of this collection? Thanks

[2019-09-12 23:43] bugspotter33 commented on #277
I sent them to you yesterday

Indya

On Thu, Sep 12, 2019 at 6:35 AM Greg Dimitriadis <notifications@github.com>
wrote:

[2019-10-07 15:54] gregorydimitriadis opened #278 "Ability to open and edit multiple collections simultaneously"
TBD many details - basic idea is to allow SignStream to open multiple collection files and for a user to be able to (easily, visually) edit them both at the same time.

[2019-10-07 15:57] gregorydimitriadis opened #279 "Hover-over text for buttons"
TBD (which buttons, what text to display, etc)

[2019-10-07 15:59] gregorydimitriadis commented on #169
Re-classifying as an open/ongoing issue - to explore better options than our current update scripts.

[2019-10-07 19:37] gregorydimitriadis opened #280 "Rethinking concept of local files in general"
TBD - open to other options to store local/global data (currently xml files included in package)

[2019-10-07 20:25] gregorydimitriadis opened #281 "Standardizing save states"
Certain things in the app are saved to 'memory' immediately. Some things are saved to 'memory' only after some other action occurs. Other things are only saved when manually saved to disk (command+S).

We should find some way to either standardize this across everything, or make it obvious what 'level' of saving is being performed for every action

[2019-10-07 20:31] gregorydimitriadis opened #282 "Renumbering utterances"
Utterances get automatically numbered when created, plus-one after the highest existing "U#"

It's possible to delete an utterance, and then the numbers will be off next time you create an utterance.

There should be an automatic mechanism in the background which automatically renumbers utterances sequentially, on deletes and updates.

Alternatively, instead of automatically doing so, there could

[2019-10-07 20:36] gregorydimitriadis opened #283 "Search synonyms"
TBD: some way to query the web interface for synonyms for a gloss

[2019-10-15 17:59] gregorydimitriadis opened #284 "Cut/Paste Functionality"
Continuing off of https://github.com/DCS-LCSR/SignStream3/issues/79

Focusing on Cut/Paste here

[2019-10-28 14:51] gregorydimitriadis commented on #282
@cneidle for this, how about a button on the menubar: under Macro Unit > Temporal Partition > Renumber Utterances

This would only apply to the selected temporal partition's utterances

[2019-10-29 13:56] cneidle commented on #282
Hi Greg,

That sounds reasonable.

I would suggest a dialog box with a warning, describing exactly
what will happen and alerting that this action, if confirmed, cannot
be reversed.  Cancel should be the default in that dialog box,
with the user needing to explicitly click ‘confirm’.

Thanks!

Best,
 Carol

[2019-11-08 20:10] careymballard opened #285 "problem with today's version - edit macro unit"
HI Greg - This is Carol - with Carey.

When we create a new file, and go to attach a video file, by choosing "edit macro unit" it won't let us just do that:
<img width="727" alt="Screen Shot 2019-11-08 at 3 07 59 PM" src="https://user-images.githubusercontent.com/51385350/68507401-d1888d00-0239-11ea-90a7-f2d8a69d3c9e.png">

[2019-11-08 20:53] careymballard opened #286 "problem entering location"
Hi - We (carol and carey) are now trying to use the new version with a previously edited file.

In particular, we have been testing the new location functionality.

In one case, however, when we go into a gloss that has already been annotated with handshapes, to add the location information, we get an error message, as follows:

<img width="697" alt="Screen Shot 2019-11-08 at 3 50 00 PM" src="http

[2019-11-13 20:28] gregorydimitriadis commented on #285
Hello - @careymballard @cneidle

This is odd. When you go to make a new collection (Command+N) it should bring you to the new panel, and a fresh macro unit window. Is this the point when the "Please select a macro unit" shows up? Or is it after doing new collection, and then manually clicking "edit macro unit" from the menubar?

[2019-11-13 20:29] gregorydimitriadis commented on #286
@careymballard @cneidle

This is a bug, and will have a fix shortly.

[2019-12-03 15:45] gregorydimitriadis opened #287 "Error when opening same collection as current"
Open an collection.  Make some changes.  Do not save. (If you save, it's actually worse)

Open the "same" collection again.  The video does not show up.  Nothing seems to work.

[2019-12-03 15:47] gregorydimitriadis opened #288 "Database view video buttons not working"
In the Database view...The "|-" and "-|" buttons next to "Play Video" do not seem to work.

[2019-12-03 15:48] gregorydimitriadis opened #289 "Database view button for play event - gray out"
In the Database view...if nothing is selected..."|-","-|","Play Event" should likely be grayed out.

[2019-12-03 15:49] gregorydimitriadis opened #290 "Database view hide buttons for play entity"
In the Database view...if nothing is selected..."|-","-|","Play Entity" is always grayed out.

This was because there is no notion of 'entity' at the database level - so we should just hide those buttons in this view.

[2019-12-03 15:50] gregorydimitriadis opened #291 "Video slider broken"
The long video slider in the Database view, Utterance window and video window....does not seem to work

[2019-12-03 15:53] gregorydimitriadis opened #292 "Prevent closing last video window"
If you close the Video window...everything breaks.  Doesn't seem like there's a way to reopen the video.

Because of this, we should prevent the user from closing the (last) video panel. I say 'last' because there must be at least one video file open, but the user can close others (they can have up to 4 open at once).

[2019-12-03 15:54] gregorydimitriadis opened #293 "Field selector buttons broken"
In Utterance view...click "+" Field Selector.  Click checkbox for "Head"...Close window (not "Done" or "Cancel").  Reopen "+"...options still show "Head" checked"....Close window (not Dont/Cancel)....click the default fields selectors icon...Head does not show up.

P.S. After doing this...Cancel and Done buttons broke.....won't do anything after closing the window.

[2019-12-03 15:56] gregorydimitriadis opened #294 "Prevent attaching non-video files"
Adding a video file that is NOT a real video file...does some weird things.

So due to this, we should prevent the user from choosing video files that are not within an approved list of file extensions (it is possible to limit the 'open-able' files on the file selector) to varieties of .mpeg, .mp4, etc

[2019-12-03 16:02] gregorydimitriadis opened #295 "New collection utterance event bug"
Until anything is created inside an Utterance (or the utterance window is viewed and then returned to the database view)....the play icons "|-" and "-|" for an event in the database view seem not to work as expected.

New collection...create utterance...select utterance...click "|-" or "-|"

Steps to reproduce:
* new collection.
* make utterance.
* click on utterance.
* press "|-" or "-|" for Even

[2019-12-19 15:18] gregorydimitriadis opened #296 "Overlap when creating utterances"
To reproduce:
* create an utterance A
* start creating a second utterance after the end of A and drag it back before the beginning of A
* this will create an utterance before A
* you can do this repeatedly as well to get multiple overlapping utterances each of a single frame and hard to delete

[2019-12-19 15:57] gregorydimitriadis opened #297 "Issues resizing videos"
Opening certain (particularly large aspect ratio) videos can cause some problems:
* the 'large' version of the video is larger than the monitor's display size and so makes it impossible to reach the navigation buttons at the bottom
* making it 'small' and then 'large' again results in a window the same size as the 'small' one but cropped to a piece of the video that size, while the rest of the vid

[2019-12-19 20:56] gregorydimitriadis opened #298 "Menubar items disabled until nonmanual event created"
To reproduce:
* make a fresh collection
* try to click the menubar options - but they are grayed out
* go to create an utterance, click inside, create a nonmanual event
* back back to database view
* click menubar - now the options are available

[2019-12-20 16:45] gregorydimitriadis opened #299 "Frame numbers on utterance should be consistently displayed"
* db view
* select utterance via either temporal partition or segment tier lines.
* see start and end points values visible in the top
* go to utterance window by double clicking an utterance in the db view.
* go back to db view
* the line is still selected
* the values for start and end points aren't there.

[2019-12-20 16:45] gregorydimitriadis opened #300 "CMD-w command doesn't always work"
Reproduced in a compiled application like so:
* open an existing collection
* try to close it via CMD-W -- doesn't work
* go into utterance view, then back again
* try again to close - this time it works

[2019-12-20 19:29] gregorydimitriadis opened #301 "Prevent user from attaching the same video twice"
Via the 'edit macro unit' window it is possible to add the same video twice. It will only have one video panel open, but two entries in the video file section will be filled with the same video. The app should prevent this from occurring.

[2019-12-27 16:04] cneidle opened #302 "New version of SIgnStream 3.2.5.1 with new videos - not going well"

[2019-12-27 16:22] cneidle commented on #302
OK - I opened SignStream, attached a new video file (AMELIA_HENSLEY_VOCABULARY_WORDS_052418_TC_hb-for-ss3).  I set up two utterances, and renamed them both to "LIBRARIAN" and "PEA-BRAIN".  I could not save the file.  I went inside the first utterance and set the start and endpoint for the first two signs and connected them as 2 parts of a compound.  I saved using the keyboard shortcut, to the name

[2019-12-27 16:45] cneidle commented on #302
When I try to play the video in the sign bank, however, nothing happens.  A separate window opens up that shows a "play video" button and nothing else. No way to play the video.

THat window can't be closed either.

[2019-12-27 17:17] cneidle commented on #302
There is a problem with overlap, which I believe you are aware of.
<img width="662" alt="Screen Shot 2019-12-27 at 12 17 19 PM" src="https://user-images.githubusercontent.com/13629122/71526063-e5985480-28a2-11ea-9a79-77c513d75a3b.png">

[2019-12-27 19:13] cneidle opened #303 "For the wishlist..."
Have been wishing for this for a long time:  When you do a "save as" the name of the current file should show up by default.   The user should not have to retype the whole filename...   Thanks!

[2019-12-27 19:18] cneidle commented on #302
(sorry - did not mean to close this!)

[2019-12-29 16:34] cneidle opened #304 "New version of SIgnStream 3.2.5.1 with new videos - entire video plays in a loop!"
Rather than having the playing of the video stop at the end of the video, it just continues playing right from the beginning again...

Is this a property of the video (i.e., is it set to loop for playback?) ?

or is this a problem with SignStream?

Thanks

[2019-12-29 16:37] cneidle opened #305 "Option to show/hide new manual fields?"
I know we discussed the option to show or hide the new manual fields, e.g., the sign type field.
Where does that stand?  Thanks!

[2019-12-29 16:48] cneidle opened #306 "Problem with behavior of gloss labels that have not yet been time-aligned"
I am coding the DSP sentences.  I type in multiple glosses, e.g.

LEAVE-THERE     BOOK     THERE

I adjust the start and end points and I have gotten repeated errors  (cannot set end point outside of the sentence).  Usually when I try again, I don't get that message again. But what does happen is that even though I have not yet set times for any of those glosses, when I set the time for one gloss,

[2019-12-29 16:55] cneidle opened #307 "Sign Bank Search: Default selection for number of hands"
HI,  It would be very helpful if the default for searching the sign bank could be "either" rather than "1-handed".   Thanks!

[2019-12-29 16:56] cneidle commented on #307
<img width="525" alt="Screen Shot 2019-12-29 at 11 55 32 AM" src="https://user-images.githubusercontent.com/13629122/71559988-31c5cf00-2a32-11ea-990c-9158d828b05a.png">

[2019-12-29 17:27] cneidle opened #308 "Sign Bank Window: Handshape search is not working"
This was reported in #207.  Still not working.

<img width="937" alt="Screen Shot 2019-12-29 at 12 25 28 PM" src="https://user-images.githubusercontent.com/13629122/71560330-9a16af80-2a36-11ea-9f5e-95b61e6c431d.png">

[2019-12-29 19:58] cneidle opened #309 "Location options"
I thought we had discussed this previously.
Could we please change the location positions to be

"initial"    "sole or medial"    "final"

?

THANKS
<img width="551" alt="Screen Shot 2019-12-29 at 2 56 12 PM" src="https://user-images.githubusercontent.com/13629122/71561963-9c373900-2a4b-11ea-9e02-b13d1fac4a68.png">

[2019-12-30 12:32] cneidle opened #310 "persistence of settings when opening a new blank collection"
Various settings remain in place when you go from viewing one collection to "open new blank collection" - including, for example, the zoom setting.  So, for example, if you have it way zoomed in, then this seems to change the scale of the zoom for the new file, with the default zoom corresponding to wherever the zoom level was.  More annoyingly, if you close the video window of the previous file b

[2019-12-30 12:36] cneidle commented on #310
The problem of having no video window appear also occurs if you start by choosing to open a collection, then cancel, and choose to create a new blank collection.

[2019-12-30 13:32] cneidle commented on #310
Example of the problem with zoom:  In collection being viewed, put zoom at max.  Open new blank collection.  The normal zoom is now associated with the maximum level, so it is impossible to increase the zoom level.

<img width="815" alt="Screen Shot 2019-12-30 at 8 27 09 AM" src="https://user-images.githubusercontent.com/13629122/71583998-b2420980-2ade-11ea-9743-acc637d428db.png">

<img width="745

[2019-12-30 14:07] cneidle opened #311 "low priority bug: problem with click-dragging to create new utterance when window auto-scrolls"
If you are click-dragging to create a new utterance and the event goes beyond the visible range of the window, the current mouse point jumps forward a huge amount.  Ideally when scrolling at a constant rate, the line should be drawn without this happening.  Just while I am noticing it...

[2020-01-01 01:03] cneidle opened #312 "SignStream crashed - here's the log report, FYI"
Process:               JavaApplicationStub [2576]
Path:                  /Users/USER/Desktop/*/SignStream3.app/Contents/MacOS/JavaApplicationStub
Identifier:            edu.bu.signstream.ui.SS3SignStreamApplicationLauncher
Version:               3.2.5.1
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           JavaApplicationStub [2576]
User ID:               501

[2020-01-01 13:27] cneidle opened #313 "Unable to save file; seems to have been turned into a folder"
I was editing a file normally.  When I went to save it, I got an error message.

I was able to "save as" and a saw that a folder had been created from the original file.
<img width="887" alt="Screen Shot 2020-01-01 at 8 21 22 AM" src="https://user-images.githubusercontent.com/13629122/71641840-1b0cbb80-2c70-11ea-86c1-fd2ec7a6e8a4.png">

I wonder if it is because the original file ended in .ss3.ss3

[2020-01-01 17:35] cneidle opened #314 "Left and right arrow keys change function"
I have been working at the utterance level.  At some point, the left and right arrow keys cease to move the video to the preceding and following frame, but instead collapse and expand the temporal partition triangle.  I don't know what brings about this change, but restarting SignStream fixes it.

<img width="518" alt="Screen Shot 2020-01-01 at 12 34 32 PM" src="https://user-images.githubuserconte

[2020-01-02 12:43] cneidle opened #315 "Keyboard shortcut to save file does not work while video window is active"
There is also no warning that the file has failed to be saved... (other than the fact that the dialog box to confirm the save does not appear).

[2020-01-02 14:48] gregorydimitriadis commented on #305
@cneidle  Closing in favor of #264 - will update status there

[2020-01-02 14:48] #305 closed, assigned to gregorydimitriadis

[2020-01-02 14:49] gregorydimitriadis commented on #264
@cneidle status of this one: I believe the code is complete for this issue - I have not yet tested it or integrated it into the main application. I will elevate this in priority accordingly

[2020-01-02 15:02] gregorydimitriadis commented on #302
Hi @cneidle - working my way through this and other issues. One immediate question - what did you mean by 'renaming' the utterances? We had disabled that functionality (from the database view)

[2020-01-02 15:09] gregorydimitriadis commented on #308
@cneidle I believe this is working - just that the checkbox for 'include handshapes in search' must be clicked for it to work.

I can see how it might be counter-intuitive though, to have the checkbox and the hs image selectors. Maybe we just get rid of the checkbox, and if there are any handshapes selected then include them in the search? Otherwise wildcard

[2020-01-02 16:06] gregorydimitriadis commented on #312
@cneidle do you remember what the app was doing at the time this crash happened?

[2020-01-02 16:08] gregorydimitriadis commented on #313
This is possible and likely - we will account for that case also (.ss3.s33 file extension)

[2020-01-02 16:17] gregorydimitriadis commented on #302
Inability to save the new collection likely related to #298

[2020-01-02 16:18] gregorydimitriadis commented on #302
I think the sign bank window going blank was to due with loading/rendering all the handshape images in the loadout - not sure if this is correct, though.

[2020-01-02 16:20] gregorydimitriadis commented on #302
Overlapping utterances is on #296 - in progress

[2020-01-02 16:24] gregorydimitriadis opened #316 "Improve sign bank results load time"
Spinning off from #302 - but also a longstanding issue:

When the search results for the sign bank are particuarly large, some definite slowdown occurs when viewing this and opening words to look at the handshapes. Something should be done to improve the end-user experience of using this panel.

[2020-01-02 16:25] cneidle commented on #302
The problem persists…

Is there a solution?

Thanks!
   Carol

[2020-01-02 16:25] gregorydimitriadis commented on #302
#306 will try to address the loading issue with the sign bank results

[2020-01-02 16:27] gregorydimitriadis opened #317 "Paste does not work in file selector window"
Spinning off from #302:

"I went to save it with a real filename, and I wanted to copy text from the name of the movie file to the "save as" menu, but "Paste" does not work."

[2020-01-02 16:28] gregorydimitriadis commented on #302
#317 for 'paste' not working

[2020-01-02 16:29] gregorydimitriadis opened #318 "Bug with playing sign bank video"
Spinning off from #302

"When I try to play the video in the sign bank, however, nothing happens. A separate window opens up that shows a "play video" button and nothing else. No way to play the video.

THat window can't be closed either."

[2020-01-02 16:30] gregorydimitriadis commented on #302
#159 for sign bank video bug

[2020-01-02 16:32] gregorydimitriadis commented on #302
Closing this in favor of other opened issues to be worked on independtly

[2020-01-02 16:32] #302 closed, assigned to gregorydimitriadis

[2020-01-03 12:22] cneidle opened #319 "High priority: Problem with data entry from Sign Bank for parts of compounds"
Since our Sign Bank only includes individual signs, which in some cases constitute parts of compounds, when data is automatically entered from a part of a compound, only the information for that sign should be entered.

For example, for "AGENT"  -- which occurs in many compounds -- if it needs to be added, the gloss must be AGENT (not the compound).  Currently, the correct handshape and other info

[2020-01-03 14:16] gregorydimitriadis commented on #319
@cneidle how can we programmatically determine that the variant should be "AGENT" here? What if a user made a search looking for the variant "*AGENT (MOTIVATE++AGENT" as you have selected, and wanted to insert that text as the variant? What should distinguish those cases?

If there is a distinguishing of those cases - is this just a matter of the sign bank file itself needing a variant for "AGENT"

[2020-01-03 15:09] cneidle commented on #319
Hi Greg,

This is not an issue.

Compare the results of the following two searches, for the component parts of
the compound LIBRARY + AGENT.

When the user searches for agent — requiring an exact match — this is what
appears:

*AGENT (LIBRARY+AGENT)

The asterisk indicates that the occurrence is part of a compound with something
attached to the left.  The video this played (when the playing of vid

[2020-01-03 15:31] gregorydimitriadis commented on #319
@cneidle I think I have a few issues/questions.

1) There is in fact a record in the sign bank for {entry: AGENT, variant: AGENT} when you perform this search. Wouldn't the best thing to do be to select this variant for 'insert all data'?

2) I see it as (possibly?) a problem that when you select 'exact word' it forces the exact word on the entries (tree branches) but not the variants (tree leaves

[2020-01-03 16:18] cneidle commented on #319
Yes, it would.  But for some odd reason, I was not seeing that in the search results.

In other cases, we may have signs only in compounds and we may not have any isolated examples, so the problem remains for those cases.

Definitely not.  All searches should apply to all main entries and all entry/variants.

Yes - but as I just mentioned, we have cases where the part of the compound
does not exis

[2020-01-03 16:41] gregorydimitriadis commented on #319
@cneidle I see - if there are cases where there are only compounds containing the gloss we want, then this is a concern. However, I see a possible alternative. This would appear to be a use case for adding a local sign; i.e. if there happened to exist no entry/variant for AGENT/AGENT, so the user should add it as a local sign.

Sorry for the misunderstanding with the parentheses - I was agreeing w

[2020-01-03 17:09] cneidle commented on #319
Hi,

The user has no way to do this, because there is no video the user can add.

Nor can the system automatically create an entry that includes a video,
although the Sign Bank does create a place-holder entry, as you see below.

Here is an example of such a sign:  ASCEND
We only have that as part of a compound.  We do not have an independent
video for it.

[2020-01-03 18:24] cneidle commented on #312
Nothing in particular….   Sorry!

[2020-01-03 18:27] cneidle commented on #308
Ah!

It would be intuitive if the checkbox could be checked when the user
selects a handshape for one of those handshape search boxes.

(low priority relative to other things, obviously, but would be what
the use would expect)

Thanks,
 Carol

[2020-01-03 18:35] cneidle commented on #308
Yes, that makes sense.  Use handshapes by default when there
are handshapes in one or more of those boxes.

Perhaps make the checkbox “do not include handshapes in search”
for the case where the handshapes appear (from having been entered
manually by the user before the search Sign Bank window is opened) ??

THANKS,
 Carol

[2020-01-03 19:25] gregorydimitriadis commented on #319
@cneidle it is true that they would not be able to add the video, but they will add the data for the gloss variant as it should be. Isn't this the main use case for adding a local sign?

[2020-01-03 19:45] cneidle commented on #319
Hi Greg,

We are not able to make use the local sign bank, for the reasons I mentioned.

And no single component of compounds is going to be used frequently enough
to make it worth trying something complicated.

HOWEVER, we really need, in general, to be able to enter information from signs that
occur as components of compounds.  That is a general need, which use of a local Sign
Bank does not addr

[2020-01-03 19:51] gregorydimitriadis commented on #319
@cneidle I think my only concern was implementing the rule to ignore everything within parentheses. We can absolutely make it this way, and it will work - I just worried in the future it might come back to do something unexpected to a non-compound sign containing parentheses.

Will treat this issue as inserting compound signs to ignore the asterisk and everything inside parentheses (inclusively)

[2020-01-03 19:58] cneidle commented on #319
Hi Greg,

Ok - we do not otherwise use parentheses in glosses,
except at or near the beginning of a sign, to indicate things like
handshapes, e.g.,  “(S)MOSQUITO” and marked number of
hands, e.g., “(1h)ADMIT"

Hopefully this can be distinguished from   *AGENT (LIBRARY+AGENT)

Basically we want to ignore everything that is a space followed by a string
in parentheses.  In all cases where we want to

[2020-01-06 14:21] cneidle opened #320 "High priority: No video window opening! No way to re-select"
I have opened one of the new SignStream DSP collections on a computer other than the one on which I had created it. No video opens.  There is no Macro Unit window at all, and no way to edit the Macro Unit to reselect the video...  All I see is this - note also that the data is also not visible at all, although there are annotations.

<img width="1371" alt="Screen Shot 2020-01-06 at 9 15 20 AM" src

[2020-01-06 14:46] gregorydimitriadis commented on #320
Hi @cneidle - not sure what this might be - can I get the collection file?

[2020-01-06 15:45] gregorydimitriadis commented on #304
@cneidle can you please send the collection and a note of which video(s) were used? Thanks

[2020-01-06 15:46] cneidle commented on #320
Hi,

I discovered the source of this problem.

I had copied the SIgnStream folder into the dropbox folder and then onto the other computer.
That seems to have caused the problem (although I don’t know why).

When I copied it first onto a thumb drive and then onto the other computer, everything worked fine.

Sorry to have bothered you with this.

Thanks,
 Carol

[2020-01-06 15:47] gregorydimitriadis commented on #320
@cneidle Okay no worries - glad it is resolved!

[2020-01-06 15:47] #320 closed, assigned to gregorydimitriadis

[2020-01-06 16:07] cneidle opened #321 "High priority - Problems with missing handshapes from Sign Bank search display"
HI,

I know we had encountered this before, and I had though/hoped that this had been resolved.
The problem seems to involve cases where the handshape label had a "/" in it.

Anyway, our colleagues at RIT have been using the Sign Bank for annotations, and they reported the following problems:

<img width="988" alt="Screen Shot 2020-01-06 at 11 04 09 AM" src="https://user-images.githubusercontent.c

[2020-01-06 16:20] gregorydimitriadis commented on #321
@cneidle I am looking in the sign bank for these sign and reproducing them also. It seems the issue is that the sign bank xml file itself does not contain the handshapes for these signs.

[2020-01-08 16:08] gregorydimitriadis commented on #307
@cneidle currently what it does is take from the Morph Phon window - if that has 1-handed then 1-handed will transfer to the default to search in sign bank. Same if it's 2-handed. Do you want it to just default to 'either' regardless?

[2020-01-08 16:45] cneidle commented on #307
Yes please :-)

No need for the user to code that before looking up the sign.

Thanks!

Sent from my iPhone; please excuse typos.

[2020-01-13 00:24] cneidle opened #322 "version 3.2.5.2 - consistent problems with video"
<img width="1022" alt="Screen Shot 2020-01-12 at 7 22 48 PM" src="https://user-images.githubusercontent.com/13629122/72228050-2b2a7200-3571-11ea-8a55-a34a2c50d256.png">

[2020-01-13 23:52] bugspotter33 commented on #277
New SS quit unexpectedly. Working on Julian B vocab file

[2020-01-14 07:58] bugspotter33 opened #323 "Incorrect information about sign type"
Working on JulB-vocab-050718_TC_hb and when glossing a sign that is a name sign, any sign glossed after this automatically gets labeled as a name sign in the lexical data window. See picture below:

![Screen Shot 2020-01-13 at 11 51 14 PM](https://user-images.githubusercontent.com/38887034/72324791-97d06a00-3660-11ea-815e-1e839756a069.png)

[2020-01-14 20:38] cneidle opened #324 "SignSTream has been crashing a lot"
for Indya, Carey, and me.   No obvious trigger... Also the video degrades frequently, and so SignStream needs to be restarted often for that reason...

[2020-01-20 04:13] bugspotter33 commented on #324
SS quit unexpectedly. Working on MM 053118 vocab file

[2020-01-20 06:23] bugspotter33 commented on #324
Videos in SS have been turning green or have a colored stripe across them after working in SS for a while.

![Screen Shot 2020-01-19 at 9 40 03 PM](https://user-images.githubusercontent.com/38887034/72703420-60533900-3b0a-11ea-86f1-e72d49798b2f.png)

[2020-01-21 07:14] bugspotter33 commented on #324
SS quit unexpectedly with file JBPM 053118 vocab

[2020-01-21 15:58] gregorydimitriadis commented on #322
@cneidle is this with every video/collection tried? Or a few in particular? Can I get a copy of those please?

[2020-01-21 16:01] cneidle commented on #322
Hi Greg,

Hope you enjoyed your time away!

This happens a lot; does not depend on videos or collections.

However, we have been working with the DawnSignPress video collection.

It seems to happen when there is too much demand on the program (memory issue?)
E.g., when you have clicked a few times on things without waiting in between.
Closing the file and reopening resolves the problem.

And for w

[2020-01-21 16:07] gregorydimitriadis commented on #324
@cneidle can I get a copy of the collections having issues?

[2020-01-21 16:10] gregorydimitriadis commented on #322
@cneidle I see. Are these the 'converted' DSP videos?

[2020-01-21 16:10] cneidle commented on #324
Sure - I will share the dropbox folder with those collections with you.
Thus far we have been working on the collections in the VOCAB
subfolder.   I assume you already have the videos?  I will invite you
to share the video folder as well, in case you need access to those.

And yes, they are the converted videos.

Thanks,
 Carol

[2020-01-21 16:22] gregorydimitriadis commented on #324
Are these the same videos I converted previously (into "...._VOCABULARY....-for-ss3.mp4" formats)?

[2020-01-21 16:25] cneidle commented on #324
Yes, these are the videos you converted for us.

Thanks,
 Carol

[2020-01-23 07:39] bugspotter33 commented on #324
Working on file JBPM 053118 and this is what is happening after 5-10minutes of working in SS

![Screen Shot 2020-01-22 at 10 24 52 PM](https://user-images.githubusercontent.com/38887034/72965151-6ea28e80-3d70-11ea-967a-6ff5fe3376c1.png)

[2020-01-23 07:47] bugspotter33 opened #325 "Wrong data entries"
When searching for a sign in the signbank through SS and selecting INSERT ALL DATA so that the data is automatically entered into the Morph Info window, the handshape start and end doesn't always get updated for 1 handed signs that have a different start and end point. The example below shows the sign BETTER which has a different start and end handshape but the INSERT ALL DATA feature has the data

[2020-02-02 17:09] cneidle commented on #319
Entry of information from compounds should also be disallowed directly from the SIgnStream Sign Bank.

E.g., one should not be able to enter the information from TEACH+AGENT.

In SignStream, as you know, this cannot be represented as a single object...

TEACH and AGENT must be entered independently by the user, and then joined in the usual way.

THANKS.

[2020-02-03 14:31] gregorydimitriadis commented on #319
@cneidle by information do you mean the entire sign bank entry, or just the 'data' at the bottom (sign type, passive base arm, etc)? From my understanding above, if someone selects "TEACH+AGENT" from the sign bank to insert, then it will insert the sign bank entry, but the 'entry/variant' field will just be "AGENT"

[2020-02-04 17:43] cneidle commented on #319
Hi Greg,

It will be incorrect to insert ANYTHING from TEACH+AGENT.

The user should have to insert TEACH as an independent item
and AGENT as an independent item and link the two.

Inserting any information from any compound, or from any compound part
(i.e., any item that includes an * at the beginning and/or the end) should
be disabled.

THANKS,
 Carol

[2020-02-04 17:46] gregorydimitriadis commented on #319
@cneidle if that is the case - what is the original case described in this issue?

[2020-02-04 17:48] cneidle commented on #319
From the things displayed in the Sign Bank, only individual signs should
be able to have their information entered in the Morph-Phon window.

If it would be easier to discuss this by Skype, I’m available :-)

Thanks,
 Carol

[2020-02-04 17:55] gregorydimitriadis commented on #319
@cneidle I believe I understand - we have the compound signs searchable in the sign bank, and we can select them and look at the information. But we will disable 'insert all data' for any compound sign which matches that format (asterisk at beginning and/or end)

Let me know if this is incorrect

[2020-02-04 18:16] cneidle commented on #319
Yes - we should disable entry of information for any of the following, e.g.:

	TEACH+AGENT

	TEACH* (TEACH+AGENT)

	*AGENT (TEACH+AGENT)

Thanks !!

best,
 Carol

[2020-02-12 13:08] cneidle opened #326 "Return of bug that I thought was resolved"
We are now working with the latest version of SignStream 3.2.5.2, and we are opening a collection that we had saved in the default location where SIgnSTream files are save -- the SS databases folder:

<img width="316" alt="Screen Shot 2020-02-12 at 8 07 22 AM" src="https://user-images.githubusercontent.com/13629122/74337674-bd8b8480-4d6e-11ea-9761-a6fc0cb2fe0d.png">

Double-clicking on the Utteran

[2020-02-12 13:09] cneidle commented on #326
We had also saved a copy of this file to the desktop, and that version also has the same issue.

We are working from Mac OS 10.4.6.  This problem  has occurred more often here than elsewhere.

[2020-02-13 17:36] gregorydimitriadis commented on #326
@cneidle checking into it

[2020-02-13 19:51] bugspotter33 opened #327 "Clearing the handshapes on signbank site"
On the ASLLRP Sign Bank site, when searching for a sign by adding in the handshapes, the clear handshapes button doesn't work after you've found whatever sign you were looking for. For example, I looked for 'zoom-off' by entering the the D and ND handshapes. If you click the clear handshapes button the handshapes are cleared but when you search a new word the same handshapes from the last word you

[2020-02-13 20:15] bugspotter33 opened #328 "non-manual marker window not working"
When trying to enter non-manuals, you can select any non-manual and the blue check will appear but when clicking DONE nothing happens. The window is frozen. I can click an unclick other non-manuals but the DONE button doesn't work so I have to close out SS and reopen it and then it works. This has happened about five times.

![Screen Shot 2020-02-13 at 12 12 34 PM](https://user-images.githubuserco

[2020-02-15 15:37] cneidle opened #329 "Left and right arrow keys not working unless video window is active"
IN version 3.2.6

[2020-02-15 15:58] cneidle opened #330 "Data entry not working for signs on non-dominant hand"
In 3.2.6, the attempt to enter data for signs entered on the non-dominant hand is not working.  Clicking on the Enter button does not work.  Nor does clicking on the Bypass sign bank button.

<img width="1088" alt="Screen Shot 2020-02-15 at 10 56 03 AM" src="https://user-images.githubusercontent.com/13629122/74591016-13b42e00-4fe2-11ea-8be1-c4ab243bbac9.png">

[2020-02-18 18:29] cneidle commented on #308
Can you have the "include handshapes" box checked when the user selects a handshape in conducting the search??   This has obviously not been done yet...  It makes it seem like the handshape search is not working.   FWIW.

THANKS.

[2020-02-18 18:47] gregorydimitriadis commented on #330
@cneidle just realized something about this issue - is this valid to be annotating the gloss on the non-dominant hand, but not select any handshapes for it? I think this is why it is failing (in the code)

I would guess this came as a result from inserting from the sign bank (for "THREE") - which then placed the handshapes into the dominant slot. Is this as intended?

[2020-02-18 18:50] gregorydimitriadis commented on #308
@cneidle will do

[2020-02-18 18:50] cneidle commented on #330
Hi Greg,

The problem is that when data is entered from the Sign Bank for a 1-handed
sign on the non-dominant hand, the handshapes should be copied into the
field for the non-dominant hand, not for the dominant hand!

I had chosen to “insert all data” for the sign THREE produced on the non-dominant
hand.  That is where the handshapes should have been inserted.

Hope that is clear.

Happy to discus

[2020-02-18 18:52] gregorydimitriadis commented on #330
@cneidle I see - so if we insert from sign bank into a morph-phon window which is annotating a 'non-dominant' gloss - then the dom in the SB should be swapped to non-dom in the morph-phon, and vice versa - correct?

[2020-02-18 18:57] cneidle commented on #330
exactly

[2020-02-20 14:52] gregorydimitriadis opened #331 "Resize/scale frame images from sign bank for continuous images"
Search for a continuous sign in the sign bank and see the frame images are differerent sizes. SignStream can/should take those images and scale them so they are the same size.

[2020-02-26 13:17] cneidle opened #332 "GIthub access"
Hi - This is Carol here with Tess and Rachel, and they logged in to github to report a bug, but are unable to see "issues".  In fact, I don't think they see "repositories" at all.  Could you please check to make sure they have full access?

[2020-02-26 13:17] cneidle opened #333 "beginning of video"

[2020-02-26 13:20] cneidle commented on #333
I thought we had reported this before and that it had been fixed.  When we start a new collection, link in videos, and then, in database view, attempt to use the buttons just to the left of "play video" (in the upper right), they do not take you to the beginning or end of the video. The play video button itself IS working.

[2020-02-26 13:29] cneidle commented on #333
Once some information has been entered into one of the utterances (e.g., a single gloss) and the file has been saved, those buttons work.  But you should not have to do that in order to use those buttons.

[2020-02-26 14:00] cneidle opened #334 "Unable to enter info from morph-phon window into utterance window"
After inserting data from sign bank into morph phon window, the Enter and Bypass SIgn Bank buttons both fail to insert into the utterance window!  Nothing happens
<img width="881" alt="Screen Shot 2020-02-26 at 8 57 44 AM" src="https://user-images.githubusercontent.com/13629122/75351557-55f92d00-5876-11ea-9f94-90079e7a2fe5.png">

We then tried entering info manually for this one-handed sign, and s

[2020-02-26 14:02] cneidle commented on #334
PLEASE IGNORE.  THey had entered the info on the non-dominant hand, so this is in essence the bug I had reported recently about problems when things are entered only on the non-dominant hand.

[2020-02-26 14:02] #334 closed, assigned to nobody

[2020-02-26 14:50] gregorydimitriadis commented on #332
I opened an incognito window (so no history/profile, etc) and I can view the ASL-DAI repo (it's public) and see the issues. The same should be the case for the new users - if they go to this link what do they see? https://github.com/DCS-LCSR/SignStream3/issues/332

[2020-02-26 14:51] cneidle commented on #332
They are done working for today.  Will report back at the next opportunity.

Thanks,
 Carol

[2020-03-04 23:00] bugspotter33 opened #335 "Data from signbank into morph-info window isn't being displayed"
I looked up the word BUY within SS and found the data in the sign bank. When I clicked INSERT ALL DATA nothing happens. The screen stays displayed and none of the handshape data is entered. Working on file DL-Sentences 121418 Utterance 13.

![Screen Shot 2020-03-04 at 2 55 29 PM](https://user-images.githubusercontent.com/38887034/75931077-ed3b2300-5e28-11ea-8ba4-891b8885bcce.png)

[2020-03-04 23:07] bugspotter33 commented on #335
It looks like it is only specific towards signs with different left/right handshapes. For example, MEET and AGREE have the same handshapes on both hands, and there are no issues entering the data when clicking on INSER ALL DATA. However signs like BUY or TIME have different left/right handshapes, and the data can't be entered from the signbank automatically.

[2020-03-12 04:56] bugspotter33 commented on #328
This is still an issue with the latest version of SS. I am currently working on file TG 121418 U6

[2020-03-12 13:31] gregorydimitriadis commented on #328
@bugspotter33 indeed, this issue was not addressed in the latest release.

[2020-03-13 00:46] bugspotter33 commented on #325
This is also still an issue. Working on TG 012418

![Screen Shot 2020-03-11 at 5 59 07 PM](https://user-images.githubusercontent.com/38887034/76579419-666df200-6489-11ea-8dac-734ae08a1ab7.png)

[2020-03-13 00:48] bugspotter33 commented on #328
Updating an entry, the correct file number is TG 012418

[2020-03-13 15:29] gregorydimitriadis commented on #325
@bugspotter33 noted, will check it

[2020-03-26 20:14] bugspotter33 opened #336 "Signbank display"
I was searching for a sign and what was displayed was completely wrong but when I clicked on the  examples the correct examples were displayed.

![Screen Shot 2020-03-26 at 1 12 00 PM](https://user-images.githubusercontent.com/38887034/77692370-bb1e6c00-6f63-11ea-9c72-7b6e6873573f.png)

[2020-03-26 20:20] gregorydimitriadis commented on #336
@bugspotter33 was this from the SignStream sign bank or the online DAI?

[2020-03-26 20:24] bugspotter33 commented on #336
Similar issue when trying to play video of an example of a sign searched, the video displayed is wrong when in SS searching the signbank.
Ask-1p, Ask_2-3p-pl-arc, 1p-Ask:j, 2p-Ask:j all the display videos for this sign is wrong.

![Screen Shot 2020-03-26 at 1 20 16 PM](https://user-images.githubusercontent.com/38887034/77693159-2288eb80-6f65-11ea-87db-b087ea819e01.png)
![Uploading Screen Shot 2020

[2020-03-26 20:34] cneidle commented on #336
Hi Indya,

You have found a major problem with the Sign Bank.  In general, please
report these in bugs in the SIgn Bank rather than the SignSteram project.

Augustine reuploaded the continuous signing data very recently, and
something seems to have broken with respect to the Sign Bank connection...

I'll let him know.  Thanks.

[2020-04-04 00:35] bugspotter33 commented on #325
This is still an issue. Working on Jul B 012418 sentences U11. The gloss is WHAT and the morp-info window displays the handshapes as different when they are the same

![Screen Shot 2020-04-03 at 5 22 42 PM](https://user-images.githubusercontent.com/38887034/78414554-72a12700-75d1-11ea-8a27-145fcb67a5ca.png)

[2020-04-06 20:04] gregorydimitriadis commented on #316
@cneidle quick question on this - do you prefer everything in the sign bank results set to be expanded already? Or the user must click to open each sign?

[2020-04-07 16:17] cneidle commented on #316
HI GREG,

In either case, it would be great to have an option to expand
or contract all triangles !

It really all depends on the magnitude of the search results.
If there are relatively few results, it would be best to see thing
expanded initially.  For longer lists, it would be best to have
them contracted initially.

Would there be a way to have the display determined by the
number of results ?

[2020-04-07 16:30] gregorydimitriadis commented on #316
@cneidle we can do that

[2020-04-07 18:20] cneidle commented on #316
Great!

Thanks,
 Carol

[2020-04-24 00:13] bugspotter33 opened #337 "SS crashed"
Opened RB sentences 012518 to U4 and played the utterance twice and SS crashed.

![Screen Shot 2020-04-23 at 5 11 27 PM](https://user-images.githubusercontent.com/38887034/80161587-bf02d580-8585-11ea-8758-c2e67b46028a.png)

[2020-04-24 14:37] gregorydimitriadis commented on #337
@bugspotter33 the utterance was selected, and 'play event' was clicked twice in succession?

[2020-04-24 21:28] bugspotter33 commented on #337
Yes

[2020-04-25 16:22] cneidle opened #338 "v. 3.2.9.1 - problem attaching video"
I opened a previously annotated collection, and attempted to locate the video.
I was unable to save.  Clicking on the save button highlighted it but did nothing.
Attempting to cancel, resulted in a dialog box again offering the option to save.
But attempting to save again did not work.

<img width="1353" alt="Screen Shot 2020-04-25 at 12 18 44 PM" src="https://user-images.githubusercontent.com/136

[2020-04-25 16:25] cneidle commented on #338
Although I did not manually save the file at all, when I reopened it, the video I had been attempting to attach opened up.  (This is probably in part related to the issue we have discussed before, where locating a video even without saving the collection, saves the located video -- although it should not.  But there is obviously more going on here... )

[2020-04-27 14:25] gregorydimitriadis commented on #338
@cneidle do you have the original collection file (before the incidental saving)?

[2020-04-29 22:56] bugspotter33 opened #339 "Disappearing morp info data"
Working in MM file 051518 sentences U23: When entering in the data for the gloss PRISON the hand shapes on the right and left are different. When selecting this gloss from the sign bank the morph info window does not display that the sign is two handed or that the hand shapes on either hand is different. When trying to enter the hand shapes/info manually and selecting the "Bypass signbank Check" b

[2020-04-30 15:56] gregorydimitriadis commented on #339
@bugspotter33 can't seem to reproduce the disappearing aspect here. What were the exact steps taken? (and does it happen every time?)

The sign bank file itself might be an issue here - if it is labelled as "same left/right" then that is what it will show up as in SignStream

[2020-05-03 18:33] cneidle opened #340 "Closing a file must close all associated windows"
I was testing the new version 3.2.9.1.   I had the handshape palettes open for one file.  I then went to open a new file.  The handshape palettes from the previous collection remained open!

I had reported a related issue previously, of a different window that remained open when one went from one file to the next...

<img width="1373" alt="Screen Shot 2020-05-03 at 2 31 47 PM" src="https://user-im

[2020-05-03 18:55] cneidle opened #341 "Display problem - for sign with same start and end handshape"
Start handshape not showing up in the Utterance window!

This from TH-sentences-062218_TB_hb

<img width="1021" alt="Screen Shot 2020-05-03 at 2 53 52 PM" src="https://user-images.githubusercontent.com/13629122/80922901-18b98b80-8d4e-11ea-9daf-699a74240dd5.png">

When I re-entered the lexical item, the missing handshape showed up properly...

<img width="1173" alt="Screen Shot 2020-05-03 at 2 54 0

[2020-05-03 18:59] cneidle commented on #341
Actually, i'm not completely sure of the problem.  There should actually be a different start handshape.  That one had disappeared from the Utterance window, and the sole remaining handshape was appearing as both start and end in the Morph-Phon window.  Not sure whether this had been mis-annotated (as having same start and end handshapes, but I doubt it, since it was probably entered from the Sign

[2020-05-03 21:00] cneidle opened #342 "For graphically imported fields - not showing up in the Field Spec List"
Hi -

I have imported a graphical file, and the fields are showing up in the Utterance Window, but
not in the list of fields - so far as I can tell.  Am I missing something?

So for example, whereas I can hide one of those, I have no way to make it visible again...

<img width="1083" alt="Screen Shot 2020-05-03 at 4 58 13 PM" src="https://user-images.githubusercontent.com/13629122/80925645-891cd88

[2020-05-07 15:35] gregorydimitriadis commented on #341
@cneidle is it reproducible? I tried getting the issue but I couldn't replicate it.

[2020-05-07 15:39] gregorydimitriadis commented on #342
@cneidle the toggle for the graphical fields is on the yellow icon (second from the right)

[2020-05-07 16:00] cneidle commented on #342
Beautiful!  Thank you.

I’ll add that to the User Guide  :-)

Thanks,
 Carol

[2020-05-07 16:20] #342 closed, assigned to gregorydimitriadis

[2020-05-10 14:11] cneidle opened #343 "Keyboard shortcut for Quitting SignStream"
does not do anything.

[2020-05-10 14:13] cneidle commented on #343
Actually, trying to Quit SignStream from the menu also is not working for me.

Not sure if this is relevant, but I am working with a file that has a graph attached...  Will test now with other files.

[2020-05-10 14:15] cneidle commented on #343
No, not having any luck quitting the program.  I can open a new file, which will close the one I was working with, but cannot directly quit SignStream.

[2020-05-11 15:28] cneidle commented on #343
Quitting is working today.  Don't know what caused it to stop working yesterday...

[2020-05-12 13:14] cneidle opened #344 "Unable to edit macro unit"
When I choose "Edit Macro Unit" from the menu, nothing happens at all.

If I click on "macro_unit_1" and then do that, I get the error message below:
<img width="787" alt="Screen Shot 2020-05-12 at 9 12 22 AM" src="https://user-images.githubusercontent.com/13629122/81695685-f0f2b380-9430-11ea-97a6-be444652985d.png">

[2020-05-12 13:21] cneidle commented on #344
Seems to be happening just with this one file.  I opened the file, did a "save as".  The original file lets me open the macro unit.  The re-saved version (to which I had made no other changes) does not.  I tried re-saving another file, and the problem did not recur.

I can send you the file, if you like: Rachel_2012-01-27_sc51-gr.ss3

[2020-05-12 13:44] gregorydimitriadis commented on #344
@cneidle indeed, please send the file - thanks in advance

[2020-05-13 13:38] cneidle opened #345 "Search menus are not working properly"
In the search window, when a particular field is selected for searching, what should be displayed in the Values menus is a list of all values contained in the file, plus "any" and "specity".  That works properly for some, e.g.:

<img width="422" alt="Screen Shot 2020-05-13 at 9 30 46 AM" src="https://user-images.githubusercontent.com/13629122/81818946-aa6a8b00-94fc-11ea-8bb9-27a81bd39812.png">

Th

[2020-05-15 16:18] gregorydimitriadis commented on #345
@cneidle suggested priority?

[2020-05-15 16:21] cneidle commented on #345
How long do you think this would take to fix?  If it’s relatively quick, it would be great to take care of this...

Thanks!
  Carol

Sent from my iPhone; please excuse typos.

[2020-05-15 16:33] gregorydimitriadis commented on #345
@cneidle Probably not long, so I'll look at it sooner rather than later.

[2020-05-16 17:38] cneidle opened #346 "Perhaps related to #344? Unable to attach video"
I tried to open a file that Indya had been working on.  It won't let me relocate the video.

<img width="1351" alt="Screen Shot 2020-05-16 at 1 27 57 PM" src="https://user-images.githubusercontent.com/13629122/82126217-3d175e00-9779-11ea-8813-9d5c07208884.png">

When I try to confirm the selection, nothing happens.  If I choose to not save when I quit and I try again, the same thing happens.

If I

[2020-05-16 17:56] cneidle commented on #346
I have emailed this file to you.

[2020-05-16 18:42] cneidle commented on #346
Never mind!   I tried opening the file on my other computer.  No problem.  I went back to my laptop and redownloaded SignStream, and it is OK.  Not sure what went wrong, but it is ok now :-). THANKS.

[2020-05-16 18:42] #346 closed, assigned to nobody

[2020-05-20 16:43] gregorydimitriadis commented on #344
@cneidle turns out what the issue with this was is related not to the save-as, but graph file logic. It was a bug in opening a collection with a graph file, and when it is unable to locate the graph file it threw the error. Easy fix, will be included in the next.

[2020-05-20 18:19] cneidle commented on #344
Thanks!
  Carol

[2020-05-22 23:46] bugspotter33 opened #347 "Strange Display for Compounds"
Working on file AJ 070518 sentences U38 and U39 and I was entering a compound for U39 and I noticed that the options to link two words together also included words from the previous utterance U38. For example HOME WORK is a compound but when trying to connect these two words I also have the option to connect the word VIBRATE from the previous utterance.

![Screen Shot 2020-05-22 at 4 41 01 PM](htt

[2020-05-23 00:25] cneidle commented on #347
Thanks for reporting that. It should not be possible to create a compound by linking to something outside of the current utterance.

[2020-06-15 22:54] bugspotter33 opened #348 "Video Display/View occurrences isn't available"
Hi I am working in AJ sentences file 031918_TC_hb U2 gloss POSS-3p and I clicked on 'play sign video' and nothing was available and then I clicked 'view occurrences' and got a null message. This also occurred with U9 (2h)LOOK.

![Screen Shot 2020-06-15 at 3 15 18 PM](https://user-images.githubusercontent.com/38887034/84713663-6239f080-af20-11ea-8063-bd31cfdfbb4c.png)

![Screen Shot 2020-06-15 at 3

[2020-06-15 22:56] cneidle commented on #348
Hi Indya

I believe this problem was fixed a little while ago.

Are you still having this problem?

Thanks!
   Carol

Sent from my iPhone; please excuse typos.

[2020-06-15 23:08] cneidle commented on #348
Sure enough - This is working from one of my laptops (as I reported to Doug a while ago), BUT not from the other one (running a slightly older Mac OS).  Don't know why that should be...

[2020-06-15 23:17] cneidle commented on #348
Oops - I take that back!  I restarted my other computer, and it is now working OK on both computers.  It may be that I didn't wait long enough after clicking on "play video".  Sometimes the response from the Rutgers server can be extremely slow...   But it seems OK :-)    THANKS!

[2020-06-15 23:32] bugspotter33 commented on #348
Yes this is still an issue

On Mon, Jun 15, 2020 at 3:57 PM cneidle <notifications@github.com> wrote:

[2020-06-16 00:37] cneidle commented on #348
What exactly happens?   Have you tried waiting a couple of minutes after you click, in case there is slowness in the sever response?

Thanks!
  Carol

Sent from my iPhone; please excuse typos.

[2020-06-16 00:46] bugspotter33 commented on #348
Hi Carol,

I open up AJ sentences file 031918 click and open U2. click on the main
gloss POSS-3p, click search sign bank, click on POSS-3p:j and the button
'view occurrences 44' pops up. When I click on it a screen pops up that
says null and the other buttons don't work either. If I click on POSS-3p
the 'view occurrences 1' button works but the other buttons do not.

Indya

On Mon, Jun 15, 2020 at

[2020-06-16 00:49] cneidle commented on #348
Can we do a screen share via Skype so you can show me?

I am available now (with 5 minutes advance notice) or any time tomorrow.

Thanks!
   Carol

Sent from my iPhone; please excuse typos.

[2020-06-16 01:04] bugspotter33 commented on #348
Hi Carol,

I haven't been able to use Skype in a few months. It doesn't allow me to
make or receive calls. I haven't tried opening it again since February so I
will try it again now.

Indya

On Mon, Jun 15, 2020 at 5:50 PM cneidle <notifications@github.com> wrote:

[2020-06-16 01:29] cneidle commented on #348
Have sent email with further details of problematic behavior in the Sign Bank.

[2020-06-16 23:21] bugspotter33 commented on #348
'Play sign video' and 'Play Composite Video' buttons aren't working. U2 file AH 080918 sentences main gloss KISS-FIST

![Screen Shot 2020-06-16 at 4 17 19 PM](https://user-images.githubusercontent.com/38887034/84837536-3cc6e880-afed-11ea-9bb8-15cf2142e976.png)

[2020-06-17 01:36] bugspotter33 opened #349 "SS isn't being displayed"
When opening file AJ 031918 SS appears to be gray. If I click around to where I know the buttons should be , they work but everything is gray except for the main glosses. I've restarted SS and got the same results. Will try with a different file.

![Screen Shot 2020-06-16 at 6 32 10 PM](https://user-images.githubusercontent.com/38887034/84844868-3726ce00-b000-11ea-81d3-04ec72ebe2b4.png)

![Screen

[2020-06-17 01:39] cneidle commented on #349
Hi Indya,

Can you please send a copy of that file to Greg via email?

I believe he has access to the videos; if not he can let me know.

Thanks!
  Carol

[2020-06-19 08:36] bugspotter33 commented on #348
I am noticing that many of the glosses are having this issue of missing video data when trying to enter/verify the sign information from the sign bank. Similar to the screenshot above, only the hand shapes are displayed but no video data is displayed. You can select view occurrences to see the video but the button doesn't always work and that's when the 'null' message is displayed.

[2020-06-20 21:06] cneidle commented on #349
Happening for me too, also with this file

<img width="1367" alt="Screen Shot 2020-06-20 at 5 05 41 PM" src="https://user-images.githubusercontent.com/13629122/85211551-61d29880-b318-11ea-8fe9-c88997199a33.png">

[2020-06-20 21:24] cneidle opened #350 "Problem with "insert all data" from Sign Bank window"
<img width="1511" alt="Screen Shot 2020-06-20 at 4 40 40 PM" src="https://user-images.githubusercontent.com/13629122/85211828-e7574800-b31a-11ea-8a57-e4890a50d102.png">

[2020-06-21 00:12] kwasiopoku commented on #350
@gregorydimitriadis here are some additional information to help with debugging this issue.

My hypothesis was that the special characters "(2h)alt." in the label may be at the root of the issue reported above.

Based on what Carol and I reviewed, the following sign occurrence from the signbank does not work when try to import all data within signstream

`<VARIANT ID='4330' DEFAULT_OCCURRENCE_ID='

[2020-06-22 13:15] gregorydimitriadis commented on #350
Checking

[2020-06-22 13:22] gregorydimitriadis commented on #348
@cneidle is this fully resolved now?

[2020-06-22 13:31] gregorydimitriadis commented on #350
It is a bug with alternating signs, it appears. Fixing now.

[2020-06-22 14:13] cneidle commented on #348
Yes, I believe so - except for the bug reported separately for 2-handed alternating signs, which you are fixing :-).   Thanks!

[2020-06-22 14:13] #348 closed, assigned to nobody

[2020-06-22 15:14] gregorydimitriadis commented on #349
Checking. Seems to be a bug..tracking it down now.

[2020-07-14 17:10] bugspotter33 commented on #328
issue occurred again in LB flie 122818 U23

[2020-07-16 23:53] cneidle opened #351 "Testing new version 3.3.0 7/16/20 - video window issue"
Closing the video window by using the red button in the upper left corner does not work

<img width="391" alt="Screen Shot 2020-07-16 at 7 52 42 PM" src="https://user-images.githubusercontent.com/13629122/87733472-ee4c6b80-c79d-11ea-8c68-f17bb7c6dfb2.png">

[2020-07-16 23:57] cneidle opened #352 "Testing new version 3.3.0 7/16/20 - still not possible to search the sign bank for all sign types"
If a gloss had been marked as a loan sign, the sign bank is still inaccessible.

<img width="595" alt="Screen Shot 2020-07-16 at 7 54 36 PM" src="https://user-images.githubusercontent.com/13629122/87733597-41262300-c79e-11ea-8497-8e091b32c730.png">

Changing to a lexical sign does not make the sign bank available -- unless you save the entry, and then re-open the morph-phon window with it opening

[2020-07-17 20:38] cneidle opened #353 "Back to database view from Utterance Window sometimes produces a blank screen"
This has happened to me 3 or 4 times today, from different files.
But it doesn't always happen.

I don't know what affects this, but...

<img width="948" alt="Screen Shot 2020-07-17 at 3 55 09 PM" src="https://user-images.githubusercontent.com/13629122/87828799-b69bfd00-c84b-11ea-9916-3a0c2de3bb55.png">

<img width="1282" alt="Screen Shot 2020-07-17 at 4 22 56 PM" src="https://user-images.githubus

[2020-07-27 23:36] cneidle opened #354 "Showing wrong frame for start of utterance"
When you click on an utterance from the menu on the left of the Utterance window, SignStream should go to the first frame of that utterance.  Instead it consistently goes to a position of n+1 where n is the end frame of the previous utterance.

Example of what happens now when you click on an utterance

<img width="897" alt="Screen Shot 2020-07-27 at 7 32 13 PM" src="https://user-images.githubuser

[2020-08-01 01:23] cneidle opened #355 "Trouble with non-global annotators"
Hi,  There is a problem which occurs quite often, but not always.

I open a file that was annotated at RIT.  I attempt to add as annotator one that I have added locally.

Nothing occurs initially in the menu.

When I try. to add it, I get an error message.

<img width="1230" alt="Screen Shot 2020-07-31 at 1 42 27 PM" src="https://user-images.githubusercontent.com/13629122/89090921-f7c7fd00-d373-11

[2020-08-01 01:48] cneidle opened #356 "Compounds should not connect different utterances; Deleting part of a compound"
In the RIT file, I found a compound that linked the last gloss in one utterance and the first gloss in the next utterance.
My plan was to delete one part, resize the utterances, and put the second part in the same utterance as the first.
However, I discovered that deleting one part of the compound did not delete the compound link, and totally screwed up the file.  I reverted to the previous versio

[2020-08-02 14:28] cneidle opened #357 "High-priority fix needed: general problems with visibility of final utterances in some files"
In the files from RIT, there is a systematic problem with many of them. There are two possible manifestations of this.  In both cases, nothing appears in the main portion of the Utterance Window from what has been transcribed in the final utterance, although in one case the annotations are visible in the menu on the left; in the other case,  nothing appears in the left-hand index either.  There ar

[2020-08-02 15:34] cneidle commented on #357
PS. For what it's worth, I tried adding an extra utterance to see if that would make the one that had previously been in final position visible, but that did not work, unfortunately.  See below.

I can send you a link to the Dropbox folders that contain these files and the corresponding videos, if that would be helpful.  Just let me know.

Thanks very much!

<img width="1199" alt="Screen Shot 2020

[2020-08-03 14:16] cneidle opened #358 "Priorities for bug fixes"
Hi Greg,

Priorities would be:

1)  Blank final utterance !!!!!

	[ There is no need for the specific RIT collection repair
	   I initially requested; that turned out to be part of this
	   much more general problem, rather than an issue
	  specific to that file.]

   This is a big problem, currently affecting about 25 files (50%).
   We need to resolve this before we can work with the RIT data.

[2020-08-03 14:21] cneidle commented on #357
I will share with you the Dropbox folder that contains the RIT SignStream files and the corresponding videos.
These are the ones that, at least as of yesterday, did not seem to have a problem with the final utterance:

<img width="775" alt="Screen Shot 2020-08-03 at 10 13 21 AM" src="https://user-images.githubusercontent.com/13629122/89192786-08929180-d573-11ea-83e1-20b7c0e4c0e0.png">

These are t

[2020-08-03 14:25] gregorydimitriadis opened #359 "Adding participant to collection without one causes issues"
Per Carol:

However, adding a participant totally messes up the file.
I did it once, and virtually all annotations disappeared.
I tried it a second time, and only all hand information disappeared.

[2020-08-03 18:12] gregorydimitriadis commented on #357
@cneidle So, I unzipped the collection file (.ss3) and for U10 I see this:

[code]

Which basically shows that for U10, all the STATEMENT-FIELD objects are empty. The statement fields basically correspond to the manual and nonmanual fields on the view, and the entity's are the events in those fields. For comparison, a portion of U9 looks like:

[code]

[2020-08-03 18:13] gregorydimitriadis commented on #357
~~@cneidle in the first screenshot here, I see there was data for U10 - is it possible that go wiped somewhere in between? And if so, do you have a 'rollback' version of that collection available?~~

Edit: nevermind I see that was a different collection. I'm referring to V03 in my previous post.

[2020-08-03 18:23] cneidle commented on #357
right.  V03 has 9 utterances.  thanks.

[2020-08-03 19:51] gregorydimitriadis commented on #357
@cneidle so the same thing with collection "PF01_V02" -- I check out the xml for U8 and see it it empty.

[2020-08-03 20:13] gregorydimitriadis commented on #357
@cneidle same with "PF15_V03"

What is the script called that generated the excel file you posted? I think I have it, just not sure where..

[2020-08-15 19:36] cneidle opened #360 "PROBLEM - entry from Sign Bank"
Entering the information for THANK-YOU from the Sign Bank is not working. This is in PF20_01 from RIT

<img width="1462" alt="Screen Shot 2020-08-15 at 3 32 12 PM" src="https://user-images.githubusercontent.com/13629122/90320205-ebfc3f00-df0c-11ea-8b13-259ae0de23bd.png">

[2020-08-18 14:03] gregorydimitriadis commented on #360
@cneidle @kwasiopoku I believe this to be an issue with the sign bank file. Currently there are 2 ways in the file to represent the same 'state' of an occurrence, with properties: two-handed and same left/right hs

See for instance the gloss Carol noted in this issue which has the issue - "THANK-YOU":
[code]

But then the gloss "GOOD" (which works) has the same properties but is saved different in

[2020-08-18 17:31] cneidle commented on #354
This remains a problem, just FYI.  This is what it looks like when you go to a specific utterance.  Thanks.
<img width="1365" alt="Screen Shot 2020-08-18 at 1 28 33 PM" src="https://user-images.githubusercontent.com/13629122/90545716-10e3f280-e157-11ea-9047-5a758fb92141.png">

[2020-08-19 12:39] cneidle commented on #360
Hi Greg,

Sorry, I don't understand this.

These Sign Bank entries were generated from SignStream annotations…

It should not be possible to produce something in SignStream
that is not useable.

Thanks,
 Carol

[2020-08-19 12:40] cneidle commented on #360
OOPS - on second thought:

I believe that a manual adjustment was made in the DAI
to this particular sign…

Will investigate with Augustine.

Thanks,
   Carol

[2020-08-19 14:56] gregorydimitriadis commented on #354
@cneidle I can't seem to reproduce this one with the same collection and video. Is it still occurring in 3.1.1?

[2020-08-19 15:19] gregorydimitriadis commented on #169
closing as obsolete

[2020-08-19 15:19] #169 closed, assigned to gregorydimitriadis

[2020-08-19 15:43] gregorydimitriadis opened #361 "Gloss/Video skipping"
The first sign in the first utterance of the video gets 'skipped' over when playing from the beginning. It is possible, however, to play the sign by itself normally. Could be either the gloss itself is skipping, or this is a xuggler/video issue.

Collection: PF20_V01_ANNOTATED.ss3

Reported by Carol via email 2020-08-12

[2020-08-21 19:54] gregorydimitriadis commented on #361
@cneidle was this issue noticed with any other than this collection?

[2020-08-21 23:27] cneidle commented on #354
I also was not able to reproduce it.

Will report back if/when this happens again.

Thanks!
  Carol

[2020-08-21 23:27] cneidle commented on #361
No - only this file.

Thanks,
 Carol

[2020-08-22 06:12] bugspotter33 opened #362 "Gloss residue"
When deleting the contents of an utterance, the information of the type of gloss that was deleted gets left behind and I can't delete it from the utterance contents. See file MM sentences 062818 U25

![Screen Shot 2020-08-21 at 11 05 52 PM](https://user-images.githubusercontent.com/38887034/90950127-a4415000-e403-11ea-84c6-4a0bee2e2336.png)

![Screen Shot 2020-08-21 at 11 03 12 PM](https://user-im

[2020-08-22 06:12] bugspotter33 commented on #362
also in U27

[2020-08-22 06:19] bugspotter33 commented on #362
looks like all the 'out of sync' utterances in this file have this issue: U1, U3, U19, U25, U27, U37

[2020-08-22 06:44] bugspotter33 commented on #362
Same issue found in File MM sentences 051518 U13

[2020-08-22 13:51] cneidle commented on #362
Hi

I have noticed this problem as well — very systematically.

HOWEVER, I believe it is a problem with screen redrawing.

The “lex” remnants do not show up when you leave the utterance and come back,
or when you close the file and reopen it.

Thanks,
   Carol

[2020-08-22 19:49] cneidle opened #363 "Sign Type - inserting from Sign Bank / modifying setting in Morph/Phon window"
I am checking a file where a number sign was classified as a lexical sign.

If I try to enter all information from the sign bank, the sign type is not included.

If I try to modify the sign type of the entry itself, I get a message warning me that it will wipe out the handshape information (since it seems that the default setting for numbers is 1 hand; so it will wipe out the information about the

[2020-08-22 22:39] cneidle opened #364 "RIT data - weirdness at the beginning of utterances"
Here's a new one:  IN PF20_V05, the utterance listing at the left is missing the first sign in two sentences!

<img width="761" alt="Screen Shot 2020-08-22 at 6 37 16 PM" src="https://user-images.githubusercontent.com/13629122/90966968-ba541c80-e4a6-11ea-9183-ee9c29d63837.png">

<img width="877" alt="Screen Shot 2020-08-22 at 6 36 02 PM" src="https://user-images.githubusercontent.com/13629122/9096

[2020-08-23 12:55] cneidle opened #365 "Deleting 2-handed signs"
When deleting a 2-handed sign, only the dominant hand information initially gets deleted.  The second hand needs to be subsequently selected and deleted.   (Both hands should be deleted when the 2-handed sign is deleted)

[2020-08-23 12:57] cneidle opened #366 "Default handshape palette for loan signs..."
should be "Letters" rather than "All".

Thanks!

[2020-08-23 12:58] cneidle opened #367 "Compounds"
If it's trivial, would it be possible to display the "+" that gets inserted for a compound in red, e.g.?
So that it is easy to see when viewing the utterance whether there is a compound?

Also, when one element of a compound is deleted, the link to adjacent items should also be deleted.

Currently if we have

GLOSS1         GLOSS2+GLOSS3

 if GLOSS2 is deleted, GLOSS1 ends up linked to GLOSS 3:  G

[2020-08-24 13:40] gregorydimitriadis commented on #364
@cneidle is this related to #361  (i.e. where the video skips over those glosses as well) or only related to the left-side-utterance-list?

[2020-08-24 13:47] gregorydimitriadis commented on #367
@cneidle The red plus sign should be trivial. Deleting the residual plus sign after a gloss deletion - probably also trivial, but will let you know if not.

[2020-08-24 13:52] cneidle commented on #364
No problem with video skipping. Only affects left index

[2020-08-24 14:18] gregorydimitriadis commented on #363
@cneidle Hi Carol - first a question(s):

Was the number sign mis-classified as lexical - in the sign bank display?

Then, when you did the 'add to' it was not included - what was the sign type in the MorphPhon prior to this? And afterwards, did it change?

The warnings, I think are intentional when you go from 2-handed to 1-handed.

[2020-08-24 14:22] cneidle commented on #363
Hi Greg,

I sent you screenshots showing that the Sign Type was listed in the
sign bank as “N/A” if I remember correctly.

The sign type was lexical (the default) after insertion of the information
about a number sign in the Morph-Phon window.

Yes, I understand what is happening with the 2-handed change.  The
inconvenience I described is collateral damage in this case from the
inability to includ

[2020-08-24 14:29] gregorydimitriadis commented on #363
@cneidle I see - what was the gloss in this case? - thanks

[2020-08-24 14:32] cneidle commented on #363
Here's an example.  This happens, so far as I can tell, with all Number signs in the sign bank.  Thanks.

<img width="954" alt="Screen Shot 2020-08-24 at 10 31 09 AM" src="https://user-images.githubusercontent.com/13629122/91057289-001efb00-e5f5-11ea-896d-830946d19c4a.png">

[2020-08-24 16:40] cneidle commented on #361
Here is another file where that is happening:  PF15_V03.  SHAPE/STATUE does not play from the beginning, but does play when selected to play.

<img width="1289" alt="Screen Shot 2020-08-24 at 12 38 09 PM" src="https://user-images.githubusercontent.com/13629122/91072025-e38bbe80-e606-11ea-8f96-c775f86cf78f.png">

[2020-08-25 01:59] cneidle commented on #361
here's another one:  PIG doesn't play when the video advances from the beginning...

<img width="1003" alt="Screen Shot 2020-08-24 at 9 57 47 PM" src="https://user-images.githubusercontent.com/13629122/91114052-fdec8900-e654-11ea-95e7-7a95ef78b8ae.png">

[2020-08-26 16:10] cneidle opened #368 "Search not working properly"
Searching for specific values is not working.

<img width="1040" alt="Screen Shot 2020-08-26 at 12 08 47 PM" src="https://user-images.githubusercontent.com/13629122/91328505-0b109180-e795-11ea-8c8d-710d2a20ab7f.png">

<img width="1040" alt="Screen Shot 2020-08-26 at 12 08 58 PM" src="https://user-images.githubusercontent.com/13629122/91328500-0a77fb00-e795-11ea-9ced-62ae1c5c9c4d.png">

[2020-08-28 20:25] cneidle opened #369 "Zoom"
I know we have discussed this, but just wanted to make sure there's a record of the issue:

Zoom is not working properly...

Thanks!

[2020-08-28 23:38] cneidle commented on #235
This is working now.

[2020-08-28 23:38] #235 closed, assigned to gregorydimitriadis

[2020-09-18 14:20] cneidle commented on #368
This is still a problem, just FYI.

[2020-09-18 14:21] cneidle commented on #354
This currently seems to be working fine :-)   Thanks.

[2020-09-22 15:06] #354 closed, assigned to gregorydimitriadis

[2020-09-22 17:38] gregorydimitriadis commented on #368
Reproduced, with a couple other cases as well.

[2020-09-23 14:57] gregorydimitriadis commented on #368
Fixed for next release.

[2020-09-24 21:45] cneidle opened #370 ""Active utterance" problem with dialog"
We have not really been working much with dialogs, but we now have one we are finishing.

I opened both participant panes, and then closed one.  The remaining one does not seem to be recognized for things like 'plus utterance' or other commands that refer to the utterance (i.e., go to beginning or end of utterance).  Nothing happens when those buttons are clicked on.  I can provide the file by ema

[2020-09-28 19:22] gregorydimitriadis commented on #359
@cneidle having difficulty reproducing this - what were the sequence of steps which brought about the problem?