[2015-08-03 19:05] gregorydimitriadis opened #1 "Add Annotator Window - cannot save new annotator"
Steps to reproduce:
Menubar > Macro Unit > Edit Macro Unit
Add new annotator
Click New
Fill in name and label, click Save
No response at this point - marking as bug

[2015-08-03 19:37] gregorydimitriadis opened #2 "Overview Window - Display Time Period line"
Keystroke Option + Left-Click & drag on the "Display Time Period" line should select all utterances within the resulting start/end frame

[2015-08-03 19:37] gregorydimitriadis commented on #2
Question for Carol: Isn't this the keystroke for creating a new utterance?

[2015-08-03 19:38] gregorydimitriadis opened #3 "Utterance Window - whitespace in gloss names"
All whitespace in gloss name entry should be treated as delimiters

TODO: verify this is the case in the XML representation of the data

[2015-08-03 19:42] gregorydimitriadis opened #4 "Utterance Window - gloss double-click to select"
Double-click on a gloss should not select any spaces

[2015-08-03 19:42] gregorydimitriadis opened #5 "Gloss Window - default selections"
While selecting properties for a gloss, the default for [fingerspelled + one-handed] should be [diff start/end hs]

[2015-08-03 19:42] gregorydimitriadis opened #6 "Gloss Window - handshape images do not display"
With fingerspelled selected: enter handshapes for letters, then clear it, then re-enter them, and the handshapes do not appear below (as they are supposed to)

[2015-08-03 19:43] gregorydimitriadis opened #7 "Gloss Window - issues with Enter button"
1. Cannot enter out of gloss window if handshape images do not show up
2. After user has edited the gloss name, user is not able to press enter key to leave the menu and save changes (unless handshapes are selected)

TODO: First confirm if these behaviors are expected
TODO: If it is expected, perhaps move this issue to a Feature, implementing a dialog box to explain to the user what is possible

[2015-08-03 19:43] gregorydimitriadis opened #8 "Gloss Window - handshapes for right hand disappear"
Use case: Select [two-handed + same start/end hs], click the dropdown toggle, click “same start/end hs” again.
The result is that the handshape images for the right hand disappear below

[2015-08-03 19:43] gregorydimitriadis opened #9 "Gloss Window - handshape NullPointerException"
Select a handshape in the gloss window, but it doesn't show up below, and instead a NullPointerException is visible on the console output. It is saved but not shown in the gloss window or utterance window (this is known because it shows up again if the gloss window is again brought up for that particular gloss)

[2015-08-03 19:43] gregorydimitriadis opened #10 "Gloss Window - one frame glosses"
One-frame gloss should be necessarily the same start/end handshape (this should be enforced) and in the window it should only display one icon of the handshape, instead of two as currently displays. Should also disallow greater than one handshape being selected in the first place.

[2015-08-03 19:45] gregorydimitriadis opened #11 "Enhancement: Utterance Window - resizing issues"
1. Within the Utterance Window, the lines for gloss1 and gloss2 should always be visible, even in the case of window-resizing or limited screen space

[2015-08-03 19:46] gregorydimitriadis opened #12 "Enhancement: Overview Window - multiple Segment Tier's"
The goal is ultimately to have more than one Segment Tier displayed, with notes from different annotators being shown in each.

[2015-08-03 19:46] gregorydimitriadis opened #13 "Enhancement: Gloss Window - radio toggle changing default hs selection"
Toggle between Fingerspelled and Lexical Sign - changes the handshape from one-handed to two-handed (whereas the default for Lexical Sign should still be one-handed)

[2015-08-03 19:49] gregorydimitriadis opened #14 "test"
test

[2015-08-03 19:49] #14 closed, assigned to nobody

[2015-08-03 20:51] blazetravis opened #15 "Problem with Final Holds"
The latest version of SignStream is having problems with setting final holds on main glosses.

When opening the new sign stream, I followed these steps to get to the problem:
1. Open UAT.
2. Go to Utterance 50.
3. Control click the gloss WITH+
4. Select final hold.
5. Get "Warnig message"
6. Press ok.
7. Get display as seen below:
![screen shot 2015-08-03 at 4 48 32 pm](https://cloud.githubusercon

[2015-08-04 17:33] kwasiopoku opened #16 "Failure to save local participants and annotators"
When adding new participants and annotators via the macro unit screen, SignStream3 doesn't actually save the new values on save.  The data is lost when the application is relaunched

[2015-08-05 19:14] rklopez opened #17 "Moving video with arrow keys - est. 5 hours"
When in SignStream3, after opening the nonmanual fields and adding new values, you need to click on the video to use the arrow keys to move it. If you are clicked on the SS3 screen, the video will not move with the arrow keys.

[2015-08-05 19:17] rklopez opened #18 "Onsets cannot be 1 frame"
While in the nonmanual section of SS3, I cannot make onsets be only one frame away from the start of an event. A "WARNIG" message appears.

[2015-08-05 19:17] rklopez opened #19 "WARNIG message"
The warning message is spelled WARNIG.

[2015-08-05 19:20] rklopez opened #20 "Scroll bar does not appear - est. 6 hours"
When you open up SS3 and open a file, you cannot scroll until you zoom in, then the scroll bar appears.

[2015-08-05 19:22] rklopez opened #21 "Clicking out of an utterance brings you to U1"
If I am working on U73 and I finish the utterance, I click out of the utterance and to the main file. I should be looking at U73 and the utterances that surround it, but instead it brings you back to U1 and you have to scroll all the way back to the utterance you were working on to get to the next one.

[2015-08-05 19:49] rklopez opened #22 "U1 disappears"
After using SS3 for an extended period of time, U1 does not appear when you open it.

![screen shot 2015-08-05 at 3 48 16 pm](https://cloud.githubusercontent.com/assets/13489569/9096181/9e275714-3b89-11e5-868d-74136046b463.png)
![screen shot 2015-08-05 at 3 48 42 pm](https://cloud.githubusercontent.com/assets/13489569/9096182/9e27a0e8-3b89-11e5-84c1-c2313b9f1b9f.png)

[2015-08-05 19:58] rklopez opened #23 "Skip from 00:00:00;00 - 00:00:00;12"
When using SS3, there is a skip from 00:00:00;00 - 00:00:00;12 in the beginning of every file.

[2015-08-05 20:17] kwasiopoku commented on #21
This is not always consistent.  In some cases you get taken back to the last utterance but in most cases you are returned to UI

[2015-08-05 20:38] kwasiopoku commented on #10
Ultimate display is to have one handshape since this is only a one frame object.

[2015-08-05 20:44] kwasiopoku commented on #8
We will walk through this use case with Carol and her team on the expected behavior versus actual behavior.  Once the behavior is documented, we will be able to schedule this bug for a sprint

[2015-08-05 20:55] kwasiopoku commented on #2
Should be able to select any portion of the video for playback.  Could include multiple utterances or portions of multiple utterances.

[2015-08-06 13:04] gregorydimitriadis commented on #15
This is a problem for all "associated elements" and handshapes, in general. Behavior should be similar for all, such that adding or deleting any of them in one gloss is reflected in the other glosses as well.

[2015-08-06 19:06] kwasiopoku opened #24 "SS3 looses participant and annotators when saving and reopening a collection."
When you save a collection with participants and annotators the selected data is lost when the collection is reopened

[2015-08-06 23:21] rklopez opened #25 "Cannot touch the ends of events to the start of onsets/events"
This is similar to the old bug where offsets could not touch the beginnings of onsets and events. In the new SS3, offsets can be edited to touch the beginnings of events/onsets.

Now if I try adding a new event and editing it to touch the beginning of an onset or another event, a warnig message appears.

![screen shot 2015-08-06 at 7 18 10 pm](https://cloud.githubusercontent.com/assets/13489569/91

[2015-08-08 16:44] rklopez commented on #25
I have found that offsets are unable to touch events and onsets in the new version of SS3, but only sometimes. I'm not sure why it works sometimes and not others.

[2015-08-11 15:14] gregorydimitriadis opened #26 "Incorrectly able to go-to start/end of Non-Manual event/entity even if none is selected"
Referring below to the buttons marked "|-" and "-|" before "Play Event" and "Play Entity" as  "GOTO start/end buttons"

Steps to reproduce:
-Click on a created non-manual event/entity
-Click away from it, so nothing is red
-Try to hit the GOTO buttons
-Green slider will still move to start/end of previously selected (and now currently UN-selected) event/entity, which is incorrect

This behavior is

[2015-08-17 17:19] rklopez opened #27 "Cory 111 U1 videos are misaligned."
1. Open new SS3 UAT
2. Open file Cory_2013-6-27_sc0111
3. Click Play Utterance
4. Front Full Body view is misaligned from the other videos, but only in U1. In U2 and beyond the videos are all aligned.

Blaze had been working on this file before the new .jar file was installed and said he did not see this happen.

![screen shot 2015-08-17 at 1 11 04 pm](https://cloud.githubusercontent.com/assets/13

[2015-08-18 14:31] #27 closed, assigned to nobody

[2015-08-18 14:33] #19 closed, assigned to gregorydimitriadis

[2015-08-18 15:34] rklopez opened #28 "Overlapping events in nonmanual field"
In new UAT, events in the same field can overlap. This should not happen.

![screen shot 2015-08-18 at 11 33 27 am](https://cloud.githubusercontent.com/assets/13489569/9334494/1a4a3646-459d-11e5-9a8d-0bfedbd341c4.png)

[2015-08-18 15:54] gregorydimitriadis commented on #28
What sequence of steps was taken to produce this?

[2015-08-18 15:57] rklopez commented on #28
I opened the utterance, then went to add the new event and it started as overlapped. Normally, it won't allow you to do this. A warning message will appear if you try to add an event over another one.

[2015-08-20 17:46] kwasiopoku opened #29 "Overview Window - ability to add multiple Segment Tier's"
Users should be able to select and add new Segment Tiers.
Added Segments should be saved with the associated collection
Load saved Segment Tiers when a collection is opened
Users should be able to edit Segment Tiers (i.e.. change the name of the Segment Tier)
Users should have the ability to select and delete Segment Tiers

[2015-08-20 18:39] blazetravis commented on #3
How do I test this bug?

[2015-08-20 18:42] blazetravis commented on #4
How do I test this bug? If it involves simply double-clicking on an existing gloss, when I do so, SignStream highlights the text label of the gloss and includes a space at the end.

[2015-08-20 18:45] kwasiopoku commented on #3
Add a new manual gloss
Set the start and end frame positions
Double click on the gloss name
verify that the name does not have a space after it.
(Ignore TODO: verify this is the case in the XML representation of the data )

[2015-08-20 18:48] blazetravis commented on #16
This is half fixed. New values are now saved. But edited values are not saved upon re-launch.

I added myself as a new annotator and deliberately misspelled my name. I added Cory as a new participant. I saved and relaunched. This was correctly saved and displayed. When I went back to the Macro Unit and selected the edit annotator option, I was able to respell my name. I saved and relaunched. This

[2015-08-20 18:52] blazetravis commented on #1
This is fixed.

[2015-08-20 18:54] blazetravis commented on #3
This is fixed with newly added glosses.

[2015-08-20 18:58] blazetravis commented on #24
This is fixed. However, once a participant/annotator is selected, they cannot be changed or removed.

[2015-08-20 19:00] kwasiopoku commented on #24
@blazetravis do you mean the selection on the Temporal Partition 1 Menu at the bottom of the Gloss Window?

[2015-08-20 19:04] gregorydimitriadis commented on #4
As you noted in the other bug, for new glosses the whitespace will be absent. However, for pre-existing gloss names with the space there already, those will continue to be there.

[2015-08-20 19:04] blazetravis commented on #24
@kwasiopoku No. I mean in the macro unit. I went back to edit the macro unit to see if I could change the annotator/participant after SignStream saved the information I input before the collection was restarted. It saved the information I input just fine, but I couldn't EDIT or REMOVE either annotator or participant.

[2015-08-20 19:05] blazetravis commented on #4
Great. Then this bug is fixed.

[2015-08-20 19:11] kwasiopoku commented on #24
@blazetravis I see what you mean.  Thanks for raising this issue.

[2015-08-20 19:16] kwasiopoku commented on #4
@blazetravis I will close this ticket on your behalf at this time.  Later on, we will figure out why you cannot close the tickets.

[2015-08-20 19:16] #4 closed, assigned to gregorydimitriadis

[2015-08-20 19:17] kwasiopoku commented on #3
I am closing this ticket on behalf of @blazetravis

[2015-08-20 19:17] #3 closed, assigned to gregorydimitriadis

[2015-08-20 19:18] kwasiopoku commented on #1
Closing this ticket on behalf of @blazetravis

[2015-08-20 19:18] #1 closed, assigned to gregorydimitriadis

[2015-08-20 19:22] kwasiopoku commented on #24
This ticket has unresolved components that were identified in UAT.  The remaining issues will be addressed in Sprint 2

[2015-08-20 19:23] kwasiopoku commented on #16
This ticket has unresolved components that were identified in UAT. The remaining issues will be addressed in Sprint 2.  This is the same as item #24

[2015-08-21 14:54] rklopez commented on #18
I found this bug is not fixed. If I delete the onset and re add it, it will be one frame. However, if I make it longer and then try to return it to one frame, a warning message appears. I know that when I closed this it seemed the issue was fixed, I'm not sure why the bug has returned.

![screen shot 2015-08-21 at 10 50 56 am](https://cloud.githubusercontent.com/assets/13489569/9411250/e94f7aa8-47

[2015-08-21 14:57] gregorydimitriadis commented on #18
@rklopez What are the frame numbers for the event in this picture?

[2015-08-21 15:00] rklopez commented on #18
00:12:29;28

On Fri, Aug 21, 2015 at 10:57 AM, Greg Dimitriadis <notifications@github.com

[2015-08-21 15:02] gregorydimitriadis commented on #18
@rklopez Sorry, I meant the frame numbers in the toolbar at the top, next to the -/+ and "Set" buttons.

[2015-08-21 15:12] rklopez commented on #18
Sorry! 22500020 and 22501021

On Fri, Aug 21, 2015 at 11:02 AM, Greg Dimitriadis <notifications@github.com

[2015-08-21 15:19] gregorydimitriadis commented on #18
@rklopez Thanks for that. This issue is fixed as you originally noted, but it is only for newly added events/bars in the nonmanual section. For pre-existing events (meaning they existed before the new version of SS UAT) the issue may still arise. There is, however,  a solution in this case for this event and also if it occurs in the future again:
Try to set the start or end of the event itself (de

[2015-08-21 15:26] rklopez commented on #18
Well, if I'm adding the onset from scratch, it automatically sets to one frame, so there's no need for the set button use. It's only when I try to edit it back to one frame the the problem arises. So, I'll just delete and re add the onset if I need it to be one frame for pre-existing events.

[2015-08-21 15:58] rklopez commented on #18
Bug will be present on pre-existing events.

[2015-08-21 15:58] #18 closed, assigned to kwasiopoku

[2015-08-26 19:04] kwasiopoku opened #30 "Add next and previous buttons on the gloss window."
This will allow annotators to navigate to next or previous utterances.

[2015-08-26 19:09] kwasiopoku commented on #17
Carol indicated on our spent planning that this is not a high priority and should consider moving to a different sprint.

[2015-08-28 17:00] kwasiopoku commented on #15
Hi @blazetravis could you kindly send me the database for this error message via email?

Thanks much.

[2015-08-29 00:40] blazetravis commented on #15
Hey!

Sorry I wasn't in the office at that time today, and I won't be again until
Monday unfortunately. However, you could email Carol or Rebecca and I'm
sure they could get it to you sooner.

Thanks,
Blaze

On Fri, Aug 28, 2015 at 1:00 PM, kwasiopoku notifications@github.com
wrote:

[2015-08-29 01:21] cneidle commented on #15
Blaze,

What file is this?

Am I missing something?  I don’t see information about what file this is…

thanks,
 Carol

[2015-08-30 18:16] blazetravis commented on #15
Hello,

I believe this issue was happening regardless of the the file being used. But when I submitted this, I was working with the _CORRECTION_ Cory 112 file.

Blaze

[2015-09-02 16:43] kwasiopoku commented on #15
@blazetravis With the latest version of SignStream3, we are able to re-produce some of the behavior that you reported but unfortunately not exactly as reported.  Are you in the office at all today or tomorrow?  I will like to schedule a 15 minute call with you to walk through this use case.

Thanks.

~Augustine

[2015-09-03 01:12] blazetravis commented on #15
Hello,

No, unfortunately I will not be in office tomorrow. I could potentially
come in on Friday around 1pm?

Blaze
On Sep 2, 2015 12:44 PM, "kwasiopoku" notifications@github.com wrote:

[2015-09-03 01:15] cneidle commented on #15
Thanks, Blaze,

Let’s see if Rebecca will be able to figure out what you
have been experiencing and demo it for Gregory and
Augustine…

If not, and if they would be available on Friday at 1, that
might be very helpful.

If there’s anything that you could usefully communicate to
Rebecca to increase the chances that she would be able
to reproduce the problem, that would be great!

THANKS,
 Carol

[2015-09-08 19:11] gregorydimitriadis opened #31 "Additional Segment Tier functionality"
Segments must also have the capability to do the following things:
- Must be able to click-into an individual segment (and display the glosses for just that segment) in the same manner as we can currently click-into an utterance from the Temporal Partition line (which would display the glosses for every segment under that utterance)
- Once we have already clicked-into the utterance from the Tempor

[2015-09-09 17:36] rklopez commented on #30
This works! (for some reason I don't see a close issue button.)

[2015-09-09 17:53] rklopez opened #32 "Cory 111 Videos are Skipping"
I just installed the new .jar. When I open the UAT app I go into an utterance (I have tried multiple ones). While trying to do nonmanuals I noticed that the video is skipping when I move forward. When I move backwards, it does not skip. This makes it basically impossible to do nonmanuals. I tried opening a different file (Cory 112) and that one seemed to work fine without skipping. I also unlinked

[2015-09-09 18:25] rklopez opened #33 "New Segment Tier does not zoom in and out the same as original"
![screen shot 2015-09-09 at 2 23 37 pm](https://cloud.githubusercontent.com/assets/13489569/9770501/7d23bf5e-56fe-11e5-9816-6bf7231859fc.png)

As seen in this screenshot, the top segment is more zoomed in than the bottom. Moving the zoom button does not align them.

[2015-09-09 18:25] rklopez opened #34 "Hide Pane not working"
The "Hide Pane" button does not work.

[2015-09-09 18:28] rklopez opened #35 "Cannot open separate Fields in New Segment Tier"
Try to add nonmanuals to the second tier.
Open Fields button
Window shows fields selected in Segment 1
![screen shot 2015-09-09 at 2 26 00 pm](https://cloud.githubusercontent.com/assets/13489569/9770590/e9c4d4f4-56fe-11e5-982b-c5756a656558.png)
Press Cancel and nonmanuals from Segment 1 appear in Segment 2
![screen shot 2015-09-09 at 2 26 07 pm](https://cloud.githubusercontent.com/assets/13489569/

[2015-09-09 18:59] gregorydimitriadis commented on #34
What is the expected behavior of clicking "Hide Pane" supposed to be?

By chance, is it what is described in the second bullet in #31 ?

[2015-09-09 19:09] gregorydimitriadis commented on #33
Is this indicated in the screenshot by the location of where the yellow background ends (and the more "brown" background begins) in Segment Tier 2 vs. in Segment 1 ?

[2015-09-09 19:11] cneidle commented on #33
Yes - the entire utterance should be displayed within the same region.  Obviously it is also crucial that the temporal alignment indicator be in sync.  I didn't check that specifically when I was working briefly with Rebecca before, but I suspect that could be an issue here if one gets to the end of the sentence
sooner (horizontally speaking) in one sentence than the other...   THANKS.

[2015-09-09 19:19] #30 closed, assigned to kwasiopoku

[2015-09-09 19:21] cneidle commented on #31
Right - A more realistic use case is that you have two segment tiers.  It should be possible to hide one or the other (but not both, since at least one must be visible!).  So, suppose there are two segment tiers defined, you should be able to open both by clicking (in the appropriate way) on the Utterance level unit.
And then you could hide one by clicking on the "hide segment" button.

You should

[2015-09-10 18:32] kwasiopoku commented on #32
@rklopez is this similar to the bug #23 ?  I think this is something that has been around for a while and will be prioritized as part of a future sprint.

[2015-09-10 18:37] cneidle commented on #23
We have typically seen this only at the very beginning of video files.  And in particular, this problem does not occur with the same file, utterance, and videos when using versions of SignStream prior to this latest one being tested.  Rebecca:  Please correct me if I am wrong about this.  So it seems that something may have changed to create/worsen this problem.  fwiw.

[2015-09-10 19:05] kwasiopoku commented on #29
This ticket is complete.  However there are additional enhancement and bug fixes that will be addressed as part of #31, #33, #35 and #34

[2015-09-10 19:05] #29 closed, assigned to gregorydimitriadis

[2015-09-10 19:08] cneidle commented on #23
One speculation:  Rebecca mentioned that things were very slow, possibly suggesting a memory problem that could be interfering with the video playback...   Just a thought.  (Feel free to ignore, of course!)

[2015-09-10 19:11] rklopez commented on #32
No this is not. That was just the very beginning of the utterance, this new
bug is during the utterance, things will skip. Which makes nonmanuals
almost impossible.

Rebecca

On Thursday, September 10, 2015, kwasiopoku notifications@github.com
wrote:

[2015-09-10 19:15] gregorydimitriadis commented on #15
Adding the expected behavior/rules of locking glosses that Augustine laid out separately via email:

Initial and Final Holds
Adding final holds on a locked glosses should result in addition to both gloss 1and gloss 2.  Right and left hand shapes should align with the end of the final hold
Deleting final holds on a locked glosses should delete from both gloss 1 and gloss 2.  Right and left hand sha

[2015-09-10 19:29] kwasiopoku commented on #12
Closing this ticket in favor of #29

[2015-09-10 19:30] #12 closed, assigned to nobody

[2015-09-10 21:25] blazetravis commented on #15
Exactly. Thanks!

On Thu, Sep 10, 2015 at 3:15 PM, Greg Dimitriadis notifications@github.com
wrote:

[2015-09-11 17:30] gregorydimitriadis commented on #15
Just curious - when was the last time all the above behavior of associated elements worked as expected?

[2015-09-11 17:41] blazetravis commented on #15
The June version that I'm still working with was (mostly) fine for main
glossess
On Sep 11, 2015 1:31 PM, "Greg Dimitriadis" notifications@github.com
wrote:

[2015-09-14 19:34] gregorydimitriadis commented on #15
Blaze,
Please clarify what should occur in each of these situations:

Situation A) (described for final holds, but also apply same situation to initial holds)
1) Add a final hold to a locked gloss; see the handshapes align to the end of the final hold
2) Add an offset to the locked gloss; see the handshapes keep aligned to the end of the final hold
3) Delete the final hold from the locked gloss; s

[2015-09-15 12:50] blazetravis commented on #15
Situation A)
1) Add a final hold to a locked gloss; see the handshapes align to the end
of the final hold _RIGHT_
2) Add an offset to the locked gloss; see the handshapes keep aligned to
the end of the final hold _WE DO NOT ADD OFFSETS TO MAIN GLOSSES_
3) Delete the final hold from the locked gloss; see the handshapes realign
to the end of the main event _RIGHT_
4) What occurs with the offset? _WE

[2015-09-15 19:19] gregorydimitriadis commented on #32
Which file specifically was skipping like this? And when it's being used, is it just a single video file linked or more than one?

[2015-09-18 13:20] gregorydimitriadis opened #36 "Renaming segment tier can delete the segment tier label"
Click on a segment tier in the tree structure of labels toward the left side of the SignStream window. Then attempt to rename it by clicking "Segment Tier" from the menu bar and then "Rename Segment Tier." Do not complete the operation though, and instead hit cancel. The label will be incorrectly deleted as a result of this - which is a bug. Correct result should be for nothing to occur.

[2015-09-18 13:22] gregorydimitriadis opened #37 "Delete Segment Tier functionality should display a warning"
There should be a verbal warning displayed in a dialog box during an attempt to delete a segment tier. Currently the result of clicking the menu bar option "Segment Tier" and then "Delete Segment Tier" will be to delete the label and row with no warning.

[2015-09-25 20:47] gregorydimitriadis commented on #32
This bug will be moved to a later sprint due to the fact that the changes required to fix it will require many changes related to video processing in general. Augustine and I are currently looking into various potential ways to best to handle video going forward, and we will use this ticket as a placeholder for all of those ideas and issues which may arise.

[2015-10-04 19:28] cneidle opened #38 "Renaming segment tier also reorders it"
I opened an existing file (although was unable to re-associate a video file with it; that is a different issue).

There was one previously establish segment tier, labeled "Segment 1".  I created a new segment tier, which appeared (incorrectly, as we have previously discussed, above it).
<img width="271" alt="screen shot 2015-10-04 at 3 20 53 pm" src="https://cloud.githubusercontent.com/assets/1362

[2015-10-04 23:12] cneidle opened #39 "display of information about hidden panes take up as little space as possible"
Hi,  This is probably self-evident and just something that you haven't yet had a chance to implement, but the reason for hiding panes is to maximize the vertical display space for the one(s) that is/are visible.  So, the amount of space needed to indicate that a pane is hidden should be minimized.  Thanks.

Ideally, if it could be moved entirely into the left area, that would be even better, but a

[2015-10-05 14:24] gregorydimitriadis commented on #39
As a temporary workaround until this bug is fixed completely, resizing the SignStream window vertically will allow a single non-hidden pane to expand to a greater size (assuming there is space on the screen to do so).

The goal is to allow the panes to act as an accordion and each take up as much space as the others leave behind when hidden, and in addition to have each pane visible/clickable on t

[2015-10-06 13:45] gregorydimitriadis opened #40 "Clean up temporary files created when saving"
In the use of SignStream, the application creates a "tmp_<database_name>.ss3" directory at the same level as the application itself, and never cleans it up, even after saving and closing completely.

[2015-10-06 14:15] gregorydimitriadis opened #41 "Re-associate video with existing collection results in unintentional saving"
Take these steps to reproduce the issue:
1) Create a fresh collection, and link a video from a known location
2) Make a few annotations/utterances
3) Save the collection and close SignStream
4) Move the video from its original location to anywhere else
5) Re-open SignStream, and load up the saved collection
6) You will see the video will not load (because it can no longer be found) but the annotat

[2015-10-07 20:13] blazetravis commented on #24
Currently, the annotator and participant drop-downs are non-selectable. This bug is impossible to test right now.

[2015-10-07 20:15] blazetravis commented on #16
Cannot click on annotators or participants currently.

[2015-10-07 20:16] blazetravis commented on #9
This looks like a problem that is visible only on the programmers' side.

[2015-10-07 20:18] blazetravis commented on #37
This is fixed. SignStream now displays a warning message.

[2015-10-07 20:22] gregorydimitriadis commented on #24
Is this even after adding annotators and participants through the "Macro Unit Information" screen?

[2015-10-07 20:48] blazetravis commented on #37
Actually, this is not fixed. I tried this by opening up the Cory 107 file, clicking macro unit, clicking segment tier 1, clicking delete, and no message or warning popped up.

[2015-10-07 20:51] blazetravis commented on #36
This is still not fixed. The renaming, then canceling process still incorrectly deletes the tier.

[2015-10-07 21:19] blazetravis commented on #37
Fixed.

[2015-10-07 21:19] blazetravis commented on #36
Fixed.

[2015-10-07 21:20] #36 closed, assigned to gregorydimitriadis

[2015-10-07 21:20] #37 closed, assigned to gregorydimitriadis

[2015-10-07 21:23] blazetravis commented on #35
This bug is fixed.

[2015-10-07 21:25] blazetravis commented on #34
This bug is also fixed. It is interesting that both segment tiers can be hidden at the same time if clicked, though.

[2015-10-07 21:47] blazetravis commented on #15
Wow this one is the most impressive bug fix yet. I was relentless in trying to get it to malfunction.. but it looks to be fixed!

Great work guys. I can now use the UAT as a viable version of SignStream for main gloss work, instead of the old June version.

This bug is, at last, fixed.

[2015-10-07 21:53] blazetravis commented on #39
This is sort of fixed.

At one window size (see first image) the space is as Carol initially described.

![screen shot 2015-10-07 at 5 51 45 pm](https://cloud.githubusercontent.com/assets/13489587/10352272/29739238-6d1c-11e5-98f6-942bd925ba26.png)

But as I adjust the window to slightly larger dimensions (second image), the panes pop into better alignment.

![screen shot 2015-10-07 at 5 52 56 pm](

[2015-10-07 22:18] cneidle commented on #15
YAY !!!

And thanks so much, Blaze, for staying late today
to test the program !

best,
 Carol

[2015-10-07 23:16] #35 closed, assigned to nobody

[2015-10-07 23:16] #34 closed, assigned to gregorydimitriadis

[2015-10-07 23:18] gregorydimitriadis commented on #39
This will be completed in the next roll-out for Sprint 4.

[2015-10-07 23:19] gregorydimitriadis commented on #15
Thanks! Closing this out.

[2015-10-07 23:19] #15 closed, assigned to gregorydimitriadis

[2015-10-08 00:27] kwasiopoku commented on #15
Thanks Blaze!

~Augustine

On Wed, Oct 7, 2015 at 5:47 PM, blazetravis notifications@github.com
wrote:

[2015-10-08 20:03] gregorydimitriadis commented on #11
This is completed, due to the fact that we can now show/hide individual segments and we can also resize the percentage of the screen devoted to the nonmanual section vs. the manual section. So we can make sure gloss1 and gloss2 are always viewable.

[2015-10-08 20:09] gregorydimitriadis commented on #31
Just a note for myself on progress with these issues:
The only one not specifically coded so far is the ability to click into a specific segment from the Overview Window and then display only that segment in the Utterance Window.

[2015-10-09 19:33] Arrigosaur opened #42 "test_ignore"
ignore

[2015-10-09 19:42] gregorydimitriadis commented on #42
test_ignore

[2015-10-09 19:42] #42 closed, assigned to nobody

[2015-10-12 20:18] gregorydimitriadis opened #43 "Whitescreen erroneously appears while zooming and side-scrolling"
Steps to reproduce:
1) Open up any collection
2) Click into an utterance which does not start on frame 0 (so there is some of the video to the "left" of it)
3) Zoom in using the top-left zoom bar (directly above the nonmanual section names) and make the utterance extend beyond the point where the window ends
4) Side-scroll using either the video slider or the horizontal slider in the main SignStre

[2015-10-16 15:24] gregorydimitriadis opened #44 "Make use of primary participants"
Start to make use of the idea of a primary participant for each utterance. (part of UI redesign)

[2015-10-16 15:25] gregorydimitriadis opened #45 "UI Redesign: Left-side pane displaying segments"
The left side pane will be redesigned to detail utterances and segments from the entire collection, and should be a quick way to navigate between various utterances.
More details to follow in comments below.

[2015-10-16 15:28] gregorydimitriadis opened #46 "Diff on segment tiers"
Need additional functionality to be able to run a "diff' (comparison) between two different segments.

[2015-10-16 15:35] gregorydimitriadis opened #47 "UI Redesign: Annotator versus Particpants"
Annotators should not work the same way as participants in terms of SignStream functionality.

They do not need to be associated with every segment individually, in the way that a participant does. It should also be possible to see something akin to a "Last Annotator" or a list of recent annotators to a given file (i.e. the notion of annotator can be very fluid over time, whereas for a given datab

[2015-10-21 14:34] gregorydimitriadis commented on #25
This issue has the same cause and workaround as noted in bug #18
The fix which went in place for event start/end times will work if you reset the frames of an existing event.

[2015-10-21 14:48] gregorydimitriadis commented on #28
This issue has the same cause and workaround as noted in bug #18
The fix which went in place for event start/end times will work if you reset the frames of an existing event.

[2015-10-24 21:38] Arrigosaur opened #48 "Zooming in past desired amount"
Default zoom (far) is set when I open an utterance, when adjusted to desired amount I have to be careful not to go past a certain amount (to the right) to be stuck in (near) zoom which is unadjustable even at it's furthest (to the left) setting.

[2015-10-27 16:31] blazetravis commented on #43
This bug is fixed.

[2015-10-27 16:32] blazetravis commented on #40
How would you like me to best test this on my end?

[2015-10-27 16:40] blazetravis commented on #39
The properties of the panes are now as we desired them. So bug fixed. However, when adding an additional segment tier to test this, the "segment tier 2" is displayed ABOVE the primary segment 1. This was not as before, and I figured this would be important to note.

![screen shot 2015-10-27 at 12 39 30 pm](https://cloud.githubusercontent.com/assets/13489587/10765178/e965dec6-7ca7-11e5-9a55-071fc8d

[2015-10-27 16:44] blazetravis commented on #33
The segments are now displayed in line, and the temporal alignment indicator adjusts both in sync. This bug is fixed.

[2015-10-27 16:50] blazetravis commented on #32
Wow this one is a very big deal. This makes our lives so much easier. This bug is fixed!

[2015-10-27 16:53] blazetravis commented on #28
This bug is fixed.

[2015-10-27 16:56] blazetravis commented on #25
This bug is fixed.

[2015-10-27 16:59] blazetravis commented on #23
This bug is fixed.

[2015-10-27 17:04] blazetravis commented on #22
This bug is fixed.

[2015-10-27 17:09] #43 closed, assigned to gregorydimitriadis

[2015-10-27 17:11] gregorydimitriadis commented on #40
If you're able to open up SignStream, create a new database, make one or two edits and save/close it - without a "tmp" file showing up next to the application - then we can say this is tested.

[2015-10-27 17:14] gregorydimitriadis commented on #39
Thanks Blaze. Carol has noted the ordering of new segments in bug #38, so we'll address that specific issue in there. As for this one, I'll close it out.

[2015-10-27 17:14] #39 closed, assigned to gregorydimitriadis

[2015-10-27 17:15] #33 closed, assigned to gregorydimitriadis

[2015-10-27 17:15] #32 closed, assigned to gregorydimitriadis

[2015-10-27 17:16] blazetravis commented on #13
This bug is NOT fixed.

When changing from Fingerspelled to Lexical Sign in the Morph-Phon Info window, it still changes to two-handed (and copies all of the handshapes from the first hand to the newly added second hand).

![screen shot 2015-10-27 at 1 15 35 pm](https://cloud.githubusercontent.com/assets/13489587/10766213/db3a0f98-7cac-11e5-984e-ddea7dd0766a.png)

![screen shot 2015-10-27 at 1 08

[2015-10-27 17:16] #28 closed, assigned to gregorydimitriadis

[2015-10-27 17:16] #25 closed, assigned to gregorydimitriadis

[2015-10-27 17:17] #23 closed, assigned to gregorydimitriadis

[2015-10-27 17:17] #22 closed, assigned to gregorydimitriadis

[2015-10-27 17:17] blazetravis commented on #40
This bug is fixed.

[2015-10-27 17:18] #40 closed, assigned to gregorydimitriadis

[2015-10-27 17:25] blazetravis commented on #11
This enhancement is now in place.

[2015-10-27 17:28] #11 closed, assigned to gregorydimitriadis

[2015-10-27 17:47] blazetravis commented on #24
So currently I am allowed to edit in the Macro unit. Adding new participants and annotators works just fine.

However. In the participant section, I am never allowed to delete the first participant I add (subsequent participants added can be deleted easily). The delete button does not work for the first participant.

![screen shot 2015-10-27 at 1 42 03 pm](https://cloud.githubusercontent.com/asset

[2015-10-27 17:49] blazetravis commented on #16
This bug has been fixed.

[2015-10-27 18:05] #16 closed, assigned to gregorydimitriadis

[2015-10-27 18:10] gregorydimitriadis commented on #24
The ones which are greyed-out are like this because they are currently selected from a dropdown inside any of the utterances.

In the case where you just added the first participant, I believe it automatically selects this one, and so it greys it out.

And the dropdowns will not be updated unless you go to the presentation view and then shift-click back into the utterance so that it reloads with t

[2015-10-27 18:13] blazetravis commented on #24
Then this issue is fixed.

[2015-10-27 18:19] #24 closed, assigned to gregorydimitriadis

[2015-10-27 18:21] #9 closed, assigned to kwasiopoku

[2015-10-28 16:52] kwasiopoku commented on #13
@blazetravis, we will take care of this as part of Sprint 5.  This seems to be an edge case that was not addressed as part of this fix.

[2015-10-30 18:23] gregorydimitriadis commented on #8
Steps to reproduce:
1) Open gloss window on any gloss
2) Select handshapes, and "Enter" out of window
3) Click back into gloss window
4) Re-select handshapes to something new
5) Again, try to re-select handshapes
6) Here, the images will disappear

[2015-10-30 18:34] gregorydimitriadis commented on #7
Can no longer reproduce the "cannot enter out of gloss window" behavior.

However, we will reserve this ticket for enforcing _when_ the enter button should be greyed out. For example, if gloss name is deleted and becomes empty - should grey out enter button.

[2015-10-30 18:56] gregorydimitriadis commented on #26
Also applies to events on the Presentation layer (temporal partition line)

[2015-10-30 19:07] gregorydimitriadis opened #49 "Unable to add new manual gloss event if zoomed in"
Steps to reproduce:
1) Click-into some utterance. When it loads it should be zoomed out enough so that the utterance ends before the window does (indicated by some brown background space to the right of the yellow utterance space)
2) Attempt to add a new gloss at the right-most part of the utterance, just to verify that it is possible here.
3) Zoom in so the utterance extends off-screen
4) Attempt

[2015-11-03 20:45] blazetravis commented on #17
In working with non-manuals more lately, and in helping Chris learn how to use SignStream as well, I would like to suggest that this bug be moved to an upcoming sprint. It is very frustrating to have to keep clicking between windows. We have found that having to do so is a much less efficient and effective way of using SignStream. Thanks!

[2015-11-03 21:00] blazetravis commented on #22
Hm. For some reason when Chris and I were playing around with SignStream today, this bug popped back up.

Steps to reproduce are a little foggy because I was not expecting it at all:
Go to utterance 2 in a Rachel file.
Click on fields.
Add a random field.
Populate it with a non-manual.
Label the non-manual.
Edit existing main glosses.
Click out of utterance.
Go to U3.
Drag cursor back and forth.
P

[2015-11-04 20:29] gregorydimitriadis commented on #17
@blazetravis - Duly noted. As the current sprint is already planned, it might be tight to include this ticket as well, but I will spend some time later this week trying to get an estimate of how long it may take to complete this. If it seems doable, I'll move it into this current sprint - and if not then it will definitely be prioritized for the next one.

[2015-11-06 14:55] gregorydimitriadis opened #50 "Gloss Window - more notes on default selections"
- If fingerspelled or loan sign or number sign:
  - By default:   1-handed
  - No selection for same start and end handshapes (grey out the selection box)
  - If changed to 2-handed, also check the marked number of hands box.
    - (and uncheck that box if the user switches back from 2-handed to 1-handed).
  - If changed to 2-handed, the default is same handshapes on both hands.
- If lexical:
  -

[2015-11-06 22:23] gregorydimitriadis commented on #5
Closing this bug in favor of #50

[2015-11-06 22:23] #5 closed, assigned to kwasiopoku

[2015-11-06 22:26] gregorydimitriadis commented on #13
Closing this bug in favor of #50 (with correct expected behavior and use cases)

[2015-11-06 22:26] #13 closed, assigned to kwasiopoku

[2015-11-09 16:27] gregorydimitriadis commented on #17
@blazetravis - Can I ask you to please test if the ability to hit the arrow keys to move the video returns in the main SignStream window if you: hide and then show the bottommost segment (or the only if there's only one segment).
Thanks, Greg

[2015-11-09 18:31] blazetravis commented on #17
It does indeed return the ability to use the arrow keys if I hide and then show the pane. How strange.

[2015-11-09 19:15] gregorydimitriadis commented on #17
Thanks for that. Since there is this workaround, I will put this issue on the radar for the next sprint.

[2015-11-09 19:39] kwasiopoku opened #51 "Unlocking glosses and deleting gloss 2"
When a user unlocks gloss 1 and gloss 2, they should be able to delete just the gloss 2 without impacting gloss one and its handshapes

[2015-11-09 19:41] cneidle commented on #51
But doesn’t that result in a problem, with sign classified as 2-handed
that only has information for 1 hand?

It seems to me that the right way to delete gloss 2  would be to change
the sign to 1-handed.

no?

Thanks,
 Carol

[2015-11-09 19:49] kwasiopoku opened #52 "Add ability to switch any gloss to a 1 frame gloss"
On the main utterance window, non 1 frame glosses should be able to be reduced to a one frame gloss.

This can be done if the gloss has the same start and end handshape.  If not, we need to add a warning that will alert to user to first set the gloss to have the same start and end handshape.  Once the handshapes are the same, the user can then reduce the gloss to a one frame gloss.

[2015-11-09 20:13] kwasiopoku commented on #51
After discussing this with Carol, we agreed that this is not an issue.  Users should not be able to unlock glosses and delete gloss 2.  Deleting a gloss 2 should result in the deletion of the entire gloss.  Unlocking is only for the purpose of independently changing the properties of gloss 1 and gloss 2

[2015-11-09 20:13] #51 closed, assigned to nobody

[2015-11-16 19:45] gregorydimitriadis commented on #10
Including reference to bug #52 here as it is very related.

[2015-11-17 18:01] blazetravis commented on #52
This enhancement is not complete. Currently main glosses CAN be reduced to one frame, however, no warning pops up preventing a gloss with 2 handshapes to be reduced to one frame.

[2015-11-17 18:33] blazetravis commented on #50
Some observations (all enhancements above now working, unless otherwise noted below):

### If fingerspelled or loan sign or number sign:
- No selection for same start and end handshapes (grey out the selection box)

I'm not so sure this is the right idea. Fingerspelled signs are always going to change handshape, so the greyed-out default should probably **not be** "same START/END hs." Further, som

[2015-11-17 18:38] blazetravis commented on #49
This bug is _not_ fixed. I am still able to add multiple glosses to the same spot. (tested using 1 frame glosses)

![screen shot 2015-11-17 at 1 37 28 pm](https://cloud.githubusercontent.com/assets/13489587/11220943/678efdee-8d30-11e5-84dd-6a572f729956.png)

[2015-11-17 18:42] blazetravis commented on #10
Partially fixed. I AM disallowed from selecting more than one handshape, but it is not enforcing "Same START/END hs" ie the option box is not grayed-out.

![screen shot 2015-11-17 at 1 41 35 pm](https://cloud.githubusercontent.com/assets/13489587/11221030/f3e30178-8d30-11e5-8c8f-f90b89693f41.png)

[2015-11-17 18:48] gregorydimitriadis commented on #10
This looks like it is not greyed out because Lexical is selected?

[2015-11-17 18:48] blazetravis commented on #8
This bug is fixed.

However, I noticed a new warning message. I selected only one handshape and tried to enter out of the handshape window. The message read that I should "select more than one handshape because this gloss is more than one frame long" but this might be over-rational. In the Morph-Phon window, the "Same START/END hs" was selected, so shouldn't the program know to only expect ONE han

[2015-11-17 18:51] blazetravis commented on #7
Enhancement completed.

[2015-11-17 18:52] cneidle commented on #50
Hi,

Let me comment on this.

It is irrelevant whether or not the start and end handshapes are the same,
so this choice should be removed, in favor of no text showing there.

Yes, that is true.  But something needs to appear; the user can change it.
So I think it is fine to have 1-handed appear until/unless the user changes
it to 2-handed, which is easy.  (That is the sense in which this is the de

[2015-11-17 18:53] gregorydimitriadis commented on #49
Hmm that is indeed a bug, but not the one reported here. This bug was that the box to enter text was simply not appearing if one zoomed in too far.
So that part being fine, I'll make a new issue separately out of this overlapping text bug.

[2015-11-17 18:55] blazetravis opened #53 "New Handshape Display Issue"
Steps to reproduce:
1. Click in to any utterance.
2. Shift + Click on any already existing (as in previously saved) gloss that is two-handed, with different handshapes, but same start/end hs on each hand.
3. Clear existing selected handshapes.
4. Select ONE new handshape for each hand and enter.
5. Enter out of Morph-Phon Window
6. See improper/misaligned display of new handshapes.

![screen shot

[2015-11-17 18:56] blazetravis commented on #6
This bug is fixed.

[2015-11-17 18:57] #7 closed, assigned to gregorydimitriadis

[2015-11-17 18:57] cneidle commented on #8
Hi Blaze,

thanks,
 Carol

[2015-11-17 18:58] #6 closed, assigned to gregorydimitriadis

[2015-11-17 19:00] blazetravis commented on #10
Should this matter? In your description you wrote:

[2015-11-17 19:06] gregorydimitriadis commented on #8
Thanks for clarifying that. Should there be any restriction on when one handshape by itself is not allowed?

[2015-11-17 19:06] blazetravis commented on #49
Alright, well I'm not quite sure how to proceed. Should this ticket simply be modified or renamed?

[2015-11-17 19:07] gregorydimitriadis commented on #49
I'll close this one and make a new one. Thanks Blaze.

[2015-11-17 19:07] #49 closed, assigned to gregorydimitriadis

[2015-11-17 19:09] gregorydimitriadis opened #54 "Adding text on top of text in gloss window"
It is possible to add multiple glosses to the same spot. (tested using 1 frame glosses)

![](https://cloud.githubusercontent.com/assets/13489587/11220943/678efdee-8d30-11e5-84dd-6a572f729956.png)

[2015-11-17 19:09] cneidle commented on #8
Hi Greg,

As I understand, the data representation always has a start
and end handshape.

It is just that these are enforced to be the same — and only
one image is displayed — when the object is a 1-frame object.

So, if a single-frame object with one visible handshape is changed
to 2 frames, two images of the same handshape — with the setting
same start and end handshape — should be displayed
(un

[2015-11-17 19:28] gregorydimitriadis commented on #8
The current data representation does not necessarily keep track of the starting and ending handshapes, but instead just keeps track of the list of handshapes and enforces exactly one for one-frame glosses.

I can definitely switch immediately to same start and end if the user moves to a 2-frame gloss.

As for the setting 'same start/end handshape' - what should occur if that changes to 'diff start

[2015-11-17 19:39] gregorydimitriadis commented on #50
I can make these edits relatively quickly, so I'll be doing that shortly.

One question, what is the Rlxd handshape?

[2015-11-17 19:39] cneidle commented on #8
Hi Greg,

Can we check with Augustine about this?

It was my understanding that there ought to be a start and end handshape
in the data representation for every gloss…

For one-frame glosses, the start and end handshape should be enforced to be
the same and only displayed once.

This is important to be able to search for a particular handshape as the
start or end handshape.

Perhaps I misunderstoo

[2015-11-17 19:41] cneidle commented on #50
Handshape 093 here:  http://www.bu.edu/asllrp/cslgr/pages/ncslgr-handshapes.html http://www.bu.edu/asllrp/cslgr/pages/ncslgr-handshapes.html

As I recall, there was another unmarked handshape missing there.

Blaze, do you recall which one is missing?   (I think it was one in the B or 5 family… )
Can you remind me which ones are included there?

Thanks!
  Carol

[2015-11-17 19:57] blazetravis commented on #8
Mmm. Well here is the confusion for me: when a fingerspelled word starts and ends with the same handshape. Certainly over the course of the figerspelled gloss, the handshapes were changing, but the start and end are the same.

Aside from this exception, the program should intuitively be expecting _more than one_ handshape inputted if "diff START/END hs" is the selected option.

Again, aside from e

[2015-11-17 20:04] blazetravis commented on #50
Currently Included:
- 1, B, O, 5, B-L, S, A, **The image of 5-C, but the incorrect label of only "C"**, U/H

I think it was the 5-C that was missing. But since the image for that handshape is being displayed, perhaps what needs to be done is alter the label to the correct "5-C" and _add_ the real "C" hand shape with the correct label.

[2015-11-17 20:09] cneidle commented on #8
Hi,

For fingerspelled signs, we pay no attention to the relation between
the start and end handshape.  There is no linguistic significance
to whether or not the word happens to start and end with the same letter.

There can be any number of handshapes (greater than or equal to 1).

Whenever there is a single handshape — regardless of the category of the
sign —  that handshape serves both as the s

[2015-11-17 20:20] cneidle commented on #50
Hi Blaze,

Thanks!

Yes - if the wrong image is showing up for 5-C, then that is a bug
and should be fixed!

And yes, it would be good to include both C and 5-C in the set of
unmarked handshapes.

THANKS AGAIN,
Carol

[2015-11-17 20:22] blazetravis commented on #8
This would be a useful feature.

[2015-11-17 20:39] gregorydimitriadis commented on #8
On the topic of the data of glosses themselves, it is correct that there truly are implemented start and end handshapes, and there are ways to get directly to them (in the case of a hypothetical search on the data structure), but they are not being used in this context in this Morphological-Phonological Info window. The images of the handshapes associated with the gloss entity are the ones which g

[2015-11-17 20:42] gregorydimitriadis commented on #10
Linking this one to issue #8 for the discussion on start/end behavior.

[2015-11-18 20:20] gregorydimitriadis commented on #52
I've added a warning box for this, and I'll push the code out soon. Leaving this issue open for now.

[2015-11-18 20:22] gregorydimitriadis commented on #50
I've made the edits commented on above, and will be pushing the code out soon. Leaving this issue open  for now.

[2015-11-23 18:39] blazetravis commented on #50
This Bug and Enhancement Combo is fixed and completed. Looks great, Greg.

[2015-11-23 18:41] blazetravis commented on #52
Looks good. This enhancement is complete.

[2015-11-23 19:06] #50 closed, assigned to kwasiopoku

[2015-11-23 19:06] #52 closed, assigned to gregorydimitriadis

[2015-11-24 18:48] gregorydimitriadis opened #55 "Gloss Window combobox N/A option"
Currently it is possible for a user to manually select "N/A" as an option for all 3 comboboxes dealing with "start/end handshape" behavior (except in the cases it is greyed out automatically).

[2015-11-24 19:29] cneidle commented on #55
Hi Greg,

I’m not sure if you were seeking input or reporting that as a bug.

(If the former, I don’t think that’s the desired behavior.
Except where it has been eliminated for a specific reason,
the user should not have an option to choose “N/A”.)

thanks!
  Carol

[2015-11-24 19:35] gregorydimitriadis commented on #55
Indeed - reporting as a bug : )

[2015-12-01 19:08] blazetravis commented on #10
When retesting this issue today, I encountered another bug.
1. I created a new gloss.
2. I set the new gloss.
3. I left it at one frame to test.
4. I opened up Morph-phon info
5. I tried to change START/END hs and was successfully given a warning message.
6. I went to select handshapes and tried to add 2 handshapes and was successfully given another warning.
7. I deleted the 2 hand shapes and rese

[2015-12-01 19:18] blazetravis commented on #8
Unfortunately this is still not entirely complete.

If I create a new gloss that is more than one frame long with same start/end handshapes but only input one handshape, the actual display of the gloss is acting like a one-frame gloss.

![screen shot 2015-12-01 at 2 18 15 pm](https://cloud.githubusercontent.com/assets/13489587/11511312/637ad474-9836-11e5-864d-2ed990b3007d.png)

[2015-12-01 19:21] gregorydimitriadis commented on #8
That particular display issue we can treat as falling under #53

[2015-12-01 19:25] blazetravis commented on #8
Then this is complete for now.

[2015-12-01 19:27] gregorydimitriadis commented on #10
That is indeed strange, and definitely a new bug.
Blaze, could you please create a new bug with those same details (assuming this current bug, relating to one-frame gloss start/end handshape behavior, is complete and can be closed).

[2015-12-01 19:27] gregorydimitriadis commented on #8
Thanks Blaze - closing this out.

[2015-12-01 19:27] #8 closed, assigned to gregorydimitriadis

[2015-12-01 19:58] blazetravis opened #56 "Automatic Image Populating and Trouble with Exiting Morph Window"
When retesting issue #10, I encountered another bug.
1. I created a new gloss.
2. I set the new gloss.
3. I left it at one frame to test.
4. I opened up Morph-phon info
5. I tried to change START/END hs and was successfully given a warning message.
6. I went to select handshapes and tried to add 2 handshapes and was successfully given another warning.
7. I deleted the 2 hand shapes and reselected

[2015-12-01 19:59] blazetravis commented on #10
This issue is fixed otherwise

[2015-12-01 20:00] #10 closed, assigned to gregorydimitriadis

[2015-12-23 16:35] gregorydimitriadis opened #57 "Force Annotator selection on startup"
This enhancement is the extension of the idea from bug #47
- If there are no Annotators (e.g. in the example of a fresh collection), force the user to create one before proceeding
- Each time SignStream starts up, it should prompt the user to select who they are, from the list of Annotators associated with the MacroUnit
  - Have a new button to get to the “add annotator” screen, perhaps with a dif

[2015-12-23 16:40] gregorydimitriadis opened #58 "Ability to create multiple Temporal Partitions"
- We could make this a new set of menu bar options at the top of screen
  - New TP, Rename TP, Delete TP, etc
- Make sure that “new segment tier” and “default segment tier” functionality work in the context of multiple TP’s
- May require a tweak of data structures used by TP, ST, gloss item objects
- Make sure that shift-clicking into an utterance does not load segments from other TP’s
- When a ne

[2015-12-23 16:43] gregorydimitriadis opened #59 "Require participant selection when "New Segment Tier" is select"
- It should query the user for which Participant should be associated with this segment tier
- A dropdown of available participants should be displayed for this purpose (similar to what is now being done to select an annotator on application startup)
- The name the user picks (from the list) will be appended to the beginning of the normal segment tier name – e.g. “Jeff:Segment Tier 3”
- Also need

[2015-12-23 16:44] gregorydimitriadis opened #60 "Add a new option under the menu bar “Segment Tier” > “Set Default Segment Tier”"
- You must have a segment tier label selected for this to work
- This will update the segment tier object and set the parameter for default to true
- This will also update every other segment object (the ones which were unselected under the same TP) and set their object parameters for default to false
- Need some way to display which ST is default after it is set
  - Bold? (best option) Asterisk?

[2015-12-23 16:45] gregorydimitriadis opened #61 "Fields selection changes"
- We will now have a plus sign and a minus sign to perform the functionality of adding and removing field rows. Click on a field row first to remove it
- Also will have a Refresh button, which will refresh the field labels which are visible and specific to the utterances currently being displayed on screen

[2015-12-23 16:48] gregorydimitriadis opened #62 "Ability to shift-click into one segment in isolation"
This enhancement will be the completion of tasks from bug #31
- One segment meaning: a “segment bar” (which is any of the bars under the “utterance bar” in the Temporal Partition layer line)
- Doing so will display the usual UtteranceView window, but just the one segment
  - Temporarily shift-click into an utterance bar and shift-click into a segment bar may take the user to different windows, whi

[2015-12-23 16:49] gregorydimitriadis opened #63 "Move current left-side panel in utterance view to the top row of the panel"
- Currently in the left-side panel is the collection name, and macro unit name
- Currently in the top row of the panel is the zoom slider and the measure bar
- We will be moving the collection name and macro unit name into the top row, on the same line as the zoom slider and measure bar. It will take up one line, just to act as a mechanism to return to the overview window
- In the overview window,

[2015-12-23 16:51] gregorydimitriadis opened #64 "Create a new left-side bottom row panel"
- The bottom row of the panel will now contain the scroll bar on the right and a new panel for new/remove/up/down on the left
- Between the top and the bottom rows will be a variable number of rows of segments
- The bottom row will control the segment rows. ‘New’ will be a button to add a new segment row. ‘Remove’ will remove the selected segment row from view. ‘Up’ and ‘Down’ will move the select

[2015-12-23 16:54] gregorydimitriadis opened #65 "Left-side panels for selection of TP;ST;U"
Abbreviations: TP = Temporal Partition, ST = Segment Tier, U = utterance

This enhancement is the extension of bug #45

Referring to all changes below as occurring within the utterance view.
- What we are referring to as the new “left side panel” and the old “utterance pane” will need to be joined into a single entity, or at least act in concert when the screen scrolls, etc
- Each row is a segment

[2015-12-23 16:56] gregorydimitriadis opened #66 "Segment Control Panel changes"
- Next/Prev utterance buttons will be removed entirely, because they would be redundant - you can just click between utterances on the left
- All labels (e.g. “Temporal Partition 1   Segment Tier 1   U2” should be moved to the left-side selector panel, in combo-boxes and a list
- Annotator selector will go somewhere else
  - Likely the top navigation panel
- Participant will no longer be selectabl

[2015-12-23 16:58] gregorydimitriadis opened #67 "Vertical scroll bar in Utterance window"
Related to scrolling through the panels detailed in bug #65
- Scroll through all the panes and left-side selector panels
- There is a “macro” scroll bar on the extreme right side of the window

[2015-12-23 16:59] gregorydimitriadis opened #68 "Scroll continuously horizontally in the Utterance window"
- Once the user is viewing utterances, need the ability to scroll left or right continuously as if moving through the entire video timeline between all utterances in the collection.
- In between utterance spaces will be the background shade of brown, which currently indicates the end of an utterance
- Maintain zooming behavior as it currently is
- Clicking to a new utterance “re-frames” the view b

[2015-12-23 17:03] gregorydimitriadis opened #69 "Audit history of gloss events"
- Need to add a new track in the XML files which will represent edits made to gloss events – creation, edits, time moves, handshape changes, etc
- Each time user makes a change from the gloss window (or more broadly in the utterance window, if we include time changes) that counts as an edit by the current annotator selected at the moment.
- Implement a Ctrl-click option on a gloss event to “show h

[2015-12-23 17:04] gregorydimitriadis opened #70 "MORE FUNCTIONALITIES THAT WOULD BE USEFUL: Ability to load multiple (but not all) segments under an utterance"
- This can be illustrated with an example:
  - We have TP1, with ST1, ST2, ST3, ST4 – one segment U1 for each
  - We want to load into the UtteranceView window the segments for ST1 and ST3, but NOT ST2 and ST4
  - Ctrl-click on ST1;U1 and Ctrl-click on ST3;U1 – both are highlighted red
  - Ctrl-click on the TP1 utterance bar for U1 – an option for “Load Selected Segments” (or some similar wording)

[2015-12-23 17:14] #47 closed, assigned to nobody

[2015-12-23 17:15] #45 closed, assigned to nobody

[2015-12-23 17:17] #31 closed, assigned to gregorydimitriadis

[2016-01-19 17:01] gregorydimitriadis commented on #48
Linking Justin's video of this bug occurring here for clarity (thanks again Justin):
https://youtu.be/c7XJHSIatSg

[2016-01-21 17:06] blazetravis opened #71 "Part Issue #53, Part Issue #15"
I am now encountering a new bug which may be rooted in both a previously closed issue, as well as an existing not-close issue. ( #15 and #53 , respectively)

Steps to reproduce:
1. Enter into some already saved utterance of existing file (I used Cory 107, U76)
   ![screen shot 2016-01-21 at 11 58 27 am](https://cloud.githubusercontent.com/assets/13489587/12487729/715a3f62-c036-11e5-9f38-085c57da01

[2016-01-26 16:05] blazetravis commented on #71
Unfortunately this is a pretty serious issue as it limits the usability of the current UAT for Main Gloss checking for me. I would be happy to set up a Skype meeting to demonstrate this bug's reproducibility.

Thanks.

[2016-01-26 18:13] blazetravis commented on #57
This enhancement is now in place.

[2016-01-26 18:22] blazetravis commented on #57
Although I will add that there is a persisting inconvenience when switching between annotators.

Once start up sequence has been completed and annotator has been selected, I tried to switch annotators in an utterance.

Here is the utterance before anything and after log in:
![screen shot 2016-01-26 at 1 14 57 pm](https://cloud.githubusercontent.com/assets/13489587/12590028/e2df9c6c-c42e-11e5-84ec-

[2016-01-26 18:28] blazetravis commented on #48
Fixed!

[2016-01-26 18:30] blazetravis commented on #54
NOT fixed. Can still add one frame glosses to the same frame.

[2016-01-26 18:34] blazetravis commented on #38
This bug is fixed!

[2016-01-26 18:39] #38 closed, assigned to nobody

[2016-01-26 19:37] gregorydimitriadis commented on #57
The zooming behavior is mostly unrelated to the annotator changes, but a slight tweak will allow me to fix it. I'll consider this bug fixed, and the zooming fix will be included (at no charge) in the next rollout.
Closing this out.

[2016-01-26 19:37] #57 closed, assigned to nobody

[2016-01-26 20:33] gregorydimitriadis commented on #71
@blazetravis - I'm able to see the issue on my end too. That being the issue following step 6, so I will begin looking at that. But what is the display issue which occurs after step 2?

[2016-01-27 14:57] gregorydimitriadis commented on #71
@blazetravis - Also, should the gloss as the beginning of your pictures be able to exist at all? How was the final hold added for one hand but not the other when the two hands are locked?

[2016-01-28 15:36] blazetravis commented on #71
@gdimitriadis - The display issue is that the main gloss bodies are not uniform. They appear to be correctly extended for the gloss 1 and gloss 2, as well as the left hand, but the right hand has not been adjusted.

And yes, it should. Whenever you re-open SignStream, all glosses are by default locked. Someone had previously created that gloss by unlocking it. Later, when I reopened this utterance

[2016-01-28 15:51] gregorydimitriadis commented on #71
@blazetravis - Thanks, I believe I see now. The uniformity is indicated by the diamond-looking symbols. My guess is that after re-opening SignStream, the logic gets jumbled somehow. My question is: _should_ the application re-lock all glosses upon re-opening in the first place?

[2016-01-28 16:15] blazetravis commented on #71
@gdimitriadis - I would say yes, both because that's how I've always used it and it makes intuitive sense to me. It makes editing a lot easier and mistakes less likely.

[2016-01-28 16:18] blazetravis commented on #58
This seems to be running very smoothly!

[2016-01-29 14:27] #58 closed, assigned to kwasiopoku

[2016-01-29 20:01] gregorydimitriadis commented on #71
Fixed the final hold issues related to this ticket, but leaving the handshape image unresolved. That will be handled as part of bug #53

[2016-02-02 16:11] blazetravis commented on #54
This bug is fixed!

[2016-02-02 16:16] blazetravis commented on #71
Excellent. While the handshape display issue persists, the final hold bugs are gone. Thanks for your extra work on this latest patch!

[2016-02-02 17:28] #54 closed, assigned to nobody

[2016-02-02 17:28] #71 closed, assigned to nobody

[2016-02-09 15:54] hammondcl opened #72 "Specific zoom and scroll bar issue"
1) Open specifically Jonathan 90 (have not seen this issue in any other file), enter annotator information:
![screen shot 2016-02-09 at 10 46 23 am](https://cloud.githubusercontent.com/assets/15836242/12921369/fff86eb8-cf1a-11e5-855c-649bb61c415e.png)

2) Attempt to zoom in with zoom bar (smallest amount of zoom in possible):
![screen shot 2016-02-09 at 10 47 47 am](https://cloud.githubusercontent

[2016-02-10 14:54] gregorydimitriadis commented on #41
Cannot currently reproduce the issues noted after Step 7 above. I am able to get the video to load, and the annotations are not displaying wrong at all.

As far as the saving goes, I believe this to be normal behavior. Each time the Macro Unit window is exited by entering, an immediate save occurs of the annotator library, participant library, and video library. In the process of updating the vide

[2016-02-10 15:06] gregorydimitriadis commented on #41
After taking another quick look, I noticed that upon re-selection of the video in the new location, the checkbox for "Display" of the video is not immediately checked. If you enter out of the macro unit window like so, then you will see the annotations all scrunched up on the left. If you manually check it, at any point after re-selecting the video, then everything will work as expected.

So my fe

[2016-02-11 18:16] blazetravis commented on #56
I have a critical update on the last part of this bug (I can make a new bug issue if needed).

Today as I was checking the handshapes for main gloss data, I found the fingerspelled word LOTTERY in Cory 107 U85. The handshapes were all wrong so I opened the morph window and cleared them. Then I selected more appropriate handshapes. I went to enter out of the window to apply the changes, but it woul

[2016-02-15 15:55] gregorydimitriadis commented on #56
Thanks Blaze. I'm currently looking into this one and making it my top priority going into the next sprint.

[2016-02-18 15:46] blazetravis commented on #60
Enhancement seems to be working smoothly.

[2016-02-18 15:50] blazetravis commented on #59
This enhancement is working.

But perhaps we don't want it to say "Don't see **your** name?" because we are selecting participants, not ourselves.

![screen shot 2016-02-18 at 10 48 54 am](https://cloud.githubusercontent.com/assets/13489587/13148956/6240444c-d62d-11e5-9ea0-8354901f8ee1.png)

Thanks!

[2016-02-18 15:58] gregorydimitriadis commented on #59
That's a good catch, thanks. I'll edit that to something different in the next release.

[2016-02-18 16:10] blazetravis commented on #41
This seems to be working as expected now.

[2016-02-18 16:18] blazetravis commented on #56
Excellent! This bug is fixed! Thanks so much Greg

[2016-02-18 16:59] #56 closed, assigned to nobody

[2016-02-18 16:59] #41 closed, assigned to nobody

[2016-02-18 21:10] #59 closed, assigned to nobody

[2016-02-18 21:10] #60 closed, assigned to nobody

[2016-03-01 15:32] hammondcl opened #73 "Low Priority Frame Jump Issue"
We noticed this frame jumping issue in Rachel 43, U36. It seems to be isolated as we haven't found it elsewhere and it is low priority because it does not affect data, but we wanted to maintain a record of it in case something similar should come up somewhere else.

1) Open Rachel 43, U36

2) When framing through with arrow keys on keyboard, SignStream screen, or video screens, when you get to tim

[2016-03-01 18:06] hammondcl opened #74 "Display issues when using Next Utterance and Previous Utterance buttons"
We noticed a display issue specifically for the file Rachel 66. This is a low priority bug as well because there are work-arounds, but it is worth noting.

1) Open Rachel 66, U51. For some reason, SignStream only seems to bug out around this specific utterance in this specific file.
![screen shot 2016-03-01 at 10 35 12 am](https://cloud.githubusercontent.com/assets/15836242/13432093/23c41d12-df9a-

[2016-03-15 16:47] blazetravis commented on #62
This is complete.

[2016-03-15 16:48] blazetravis commented on #61
This is working very well.

[2016-03-15 16:49] blazetravis commented on #55
Fixed!

[2016-03-15 17:13] #55 closed, assigned to nobody

[2016-03-15 17:13] #62 closed, assigned to nobody

[2016-03-15 17:13] #61 closed, assigned to nobody

[2016-03-18 21:00] hammondcl opened #75 "Missing Nonmanual Information with newest update"
Labels on some nonmanuals are no longer showing up when an utterance is opened

1) Open Rachel 43

2) Open U4 (chosen because it is missing many labels)

3) Get this:
![screen shot 2016-03-18 at 4 55 57 pm](https://cloud.githubusercontent.com/assets/15836242/13891966/c1b628f6-ed2a-11e5-8c72-81d6117afb3c.png)

4) Double click line to relabel, only one option appears (the same label that is already

[2016-03-21 13:34] gregorydimitriadis commented on #75
Thanks Chelsea. Does this bug occur for any label other than 'body lean'? Or similarly, is it just this utterance which has the issue, or multiple?

[2016-03-22 13:31] hammondcl commented on #75
Looking only at Rachel 43, all utterances that have coding for eyebrows, hm:jut, body lean, and shoulders are missing the labels for these bars. So far, it seems like only Rachel 43 and only those fields are affected.

In "eyebrows", the only data that seems to stay is if it is labeled "raised-furrowed", which is found in utterances 6 and 7
![screen shot 2016-03-22 at 9 22 42 am](https://cloud.git

[2016-03-22 13:32] hammondcl commented on #75
I accidentally clicked "close", sorry!

[2016-03-22 14:03] hammondcl commented on #75
At Carol's suggestion, I am emailing you the file of Rachel 43 so you can see it for yourself.

[2016-03-22 14:14] hammondcl commented on #75
I was trying to see if there was a work-around and tried hiding the field, then went to show it again and realized that the option to add "eyebrows" as a field is no longer there, neither is body lean, shoulders, or hm: jut. These fields still exist in other files.

![screen shot 2016-03-22 at 10 09 36 am](https://cloud.githubusercontent.com/assets/15836242/13954268/734cf7dc-f016-11e5-9570-72cdc50

[2016-03-23 16:01] hammondcl commented on #75
In another file, Rachel 50, the "topic/focus" field also maintains the lines but not the labels. I am not sure if this is due to a global change made or if it is related. I think it is related because once more, when you open the "Fields" menu, there is no longer an option to add a field for "topic/focus"

1) Open Rachel 50 (looks normal), then U1and get this (missing label over "topic/focus" line

[2016-03-23 19:50] gregorydimitriadis commented on #75
Thanks very much Chelsea; this is all very helpful. This seems like a larger and more disruptive issue than I anticipated at first, and I'll be looking deeper into this shortly.

[2016-03-24 14:36] blazetravis opened #76 "Problem With Non-Dominant One Handed Signs"
Today I encountered another bug regarding the Morph-Phon window and gloss information. Sometimes, a signer will sign something specifically with their non-dominant hand only. In this case, I create a gloss only in the left hand in the "gloss 2 row." When doing so, I encountered this bug.

Reproduce by:
1. Create a new gloss in the gloss 2 row.
![screen shot 2016-03-24 at 10 30 26 am](https://cloud

[2016-03-24 20:30] gregorydimitriadis commented on #75
After spending some time on this bug, I have discovered the cause. And luckily it was relatively simple, so I'll be able to group this into the rollout of Sprint 10 early next week.

[2016-03-25 15:02] gregorydimitriadis commented on #76
I'm able to reproduce this as well, but only sporadically. It seems the mis-populating of the MorphPhon screen only occurs for me when I move the end frame of the non-dom gloss to the start frame of another gloss. Is that the case you're seeing as well, or is it always (no matter which frame you move to) ?

[2016-03-25 15:07] blazetravis commented on #76
Always on my end.

I found a case where you can reproduce it 100% of the time. Create a two
handed gloss that is a few frames long. Then unlock the hand alignment.
Create a final hold for the dominant hand that is several frames long. Then
create another one handed floss for the non dominant hand underneath the
final hold of the previous gloss. This procedure works for me every time.
On Mar 25, 20

[2016-03-25 15:41] gregorydimitriadis commented on #72
Chelsea,

I believe I've seen this sort of bug before - it usually has to do with the format of the video being used.

Can I ask you to please check the names of the video files used for this collection, along with the directories they're in? I saw in the big collection of movie samples that there are varying version of these videos: "2012-11-27_JM1_0090..."  The first thing I would try is to try

[2016-03-25 17:53] gregorydimitriadis commented on #74
Due to the fact that within the next 1 or 2 sprint cycles the next/prev buttons will be obsolete, I am moving this bug to the Low Priority Pool.

Going forward, we will be able to sidescroll through the entire video in the utterance window, making the ability to go to the next/prev utterances unnecessary.

[2016-03-25 18:12] gregorydimitriadis opened #77 "Search Functionality Phase 1"
Search items to accomplish under this ticket:

-Menubar option for beginning a new search
-Plain search panel opening
-Displaying panel structure, including results box with one dummy result
-Demonstrate switching the domain from withint the search panel
-Demonstrate saving the state of the user's current view when a search result is clicked
-Demonstrate toggling between saved state and search sta

[2016-03-25 18:12] gregorydimitriadis opened #78 "Import Functionality"
TBD

[2016-03-25 18:12] gregorydimitriadis opened #79 "Undo Functionality"
Undo functionality

[2016-03-25 18:13] gregorydimitriadis opened #80 "Signstream Installation Documentation"
TBD

[2016-03-25 19:17] hammondcl commented on #75
Sounds great, thank you!

[2016-03-25 19:22] hammondcl commented on #74
Terrific, thank you for updating me!

[2016-03-29 14:08] hammondcl commented on #72
Me and Blaze just tried this fix with using different video files and it is resolved!

[2016-03-29 14:11] gregorydimitriadis commented on #72
Excellent! Glad to hear it. I'll mark this as complete and close it.

[2016-03-29 14:11] #72 closed, assigned to gregorydimitriadis

[2016-03-29 16:53] blazetravis commented on #75
This looks to be all fixed. It looks like some of the grammatical topic information is simply lost, however. But now it looks like we can fix it and have the information stick. Thanks!

[2016-03-29 16:59] blazetravis commented on #64
The new panel looks great! I'm not sure how to test the new, remove, up, and dn buttons though. Any suggestions?

[2016-03-29 17:01] blazetravis commented on #63
This enhancement looks great. Thanks!

[2016-03-29 17:02] #75 closed, assigned to gregorydimitriadis

[2016-03-29 17:05] gregorydimitriadis commented on #64
At the moment, the New/Remove buttons don't do anything (they'll be fleshed out in the next release).

But the up/down buttons do work - to test those, click on the left side panel for a row (the box with the TP and ST names, etc) to highlight it, then click up/down to move the row around.

[2016-03-29 17:06] #63 closed, assigned to gregorydimitriadis

[2016-03-29 17:22] blazetravis commented on #64
Perfect. This is working well.

[2016-03-29 17:25] blazetravis commented on #53
This bug is fixed!

[2016-03-30 13:57] #53 closed, assigned to nobody

[2016-03-30 14:00] gregorydimitriadis commented on #64
Moving this to Sprint 11, during which I will complete the functionality for the New and Remove buttons along with the other GUI changes occurring then.

[2016-04-19 14:24] hammondcl commented on #17
Update: This bug was able to be worked around with the hide pane/ show pane fix and with the last sprint, seemed to stop happening because you can now use the + and - buttons to add and remove fields. Recently, we have discovered that if you click and drag nonmanual fields to rearrange them, this bug returns. If you click on the video window, the green line will once more move with the arrow keys,

[2016-04-19 15:58] blazetravis commented on #76
This bug is fixed!

[2016-04-19 16:04] blazetravis commented on #66
Everything looks terrific here.

[2016-04-19 16:06] blazetravis commented on #64
All buttons are now working well!

[2016-04-19 16:09] blazetravis commented on #65
Everything is working well here, except as mentioned the new utterance panel.

[2016-04-19 16:11] #76 closed, assigned to gregorydimitriadis

[2016-04-19 16:12] #66 closed, assigned to nobody

[2016-04-19 16:12] #64 closed, assigned to gregorydimitriadis

[2016-05-13 13:57] blazetravis commented on #68
This feature is working wonderfully.

[2016-05-13 14:01] blazetravis commented on #67
This enhancement is working well.

[2016-05-17 18:32] #65 closed, assigned to nobody

[2016-05-17 18:32] #68 closed, assigned to nobody

[2016-05-17 18:44] gregorydimitriadis commented on #74
Chelsea,

With the newest version, most likely all issues with next/previous buttons have either been resolved or become moot. Just give it a test and let me know if I can close this one.

Thanks!
Greg

[2016-05-17 18:53] cneidle opened #81 "Window for Edit Macro Unit - lookup and display of video filenames"
Is the lookup function supposed to be working?  If not, should that button be removed?
Also it would be great to increase the size of the window.  It's impossible to see the filenames of the movies that one needs to find (!).

These display problems are obviously inherited from Iryna, but it would be really good if we could fix them.   Thanks.

![screen shot 2016-05-17 at 2 49 03 pm](https://cloud

[2016-05-17 20:15] gregorydimitriadis commented on #81
Does the horizontal scrollbar on the panel with the filenames work?

As for the Lookup, it should be working. I've noticed it works as intended if set the directory to search as one higher than the directory you expect to find the file.

[2016-05-19 19:53] gregorydimitriadis opened #82 "Drag divider in Utterance window between outline panel and segment panel"
The divider between the left-side outline panel and the fields panel should be clickable and draggable to resize both.

[2016-05-19 19:55] gregorydimitriadis opened #83 "Utterance window - refresh nonmanual fields button"
For each segment panel, there is a refresh button (next to the plus and minus signs) which should hide all nonmanual fields which are not currently in view, leaving only those which are in view.

[2016-06-08 14:40] gregorydimitriadis opened #84 "Arrow keys (L/R) become disabled after clicking utterance from left-side list"
The application does not recognize the left/right arrow keys after clicking an utterance from the list.

[2016-06-08 14:42] gregorydimitriadis opened #85 "'Play Utterance' button in UtteranceView"
The button for 'play utterance' used to play the current utterance from start to finish (in the old system where only one utterance was displayed at once). Now with multiple utterances possibly visible on screen, the 'play utterance' button will not simply play what is viewable on-screen.

Update:
Instead of playing the parts viewable on-screen, 'play utterance' button will instead play the select

[2016-06-08 15:52] blazetravis commented on #77
This is a very impressive feature. However, I found that if you attempt to search for something before you enter into the utterance view, SignStream freaks out a little. It will either display a totally blank, grey screen:
![screen shot 2016-06-08 at 11 51 39 am](https://cloud.githubusercontent.com/assets/13489587/15900974/6546f0de-2d6f-11e6-9878-f3c155e915d8.png)

Or, it will display a very zoome

[2016-06-08 17:51] gregorydimitriadis commented on #77
Thanks Blaze. Going forward I should be able to resolve these display issues along with expanding the search functionality itself.

[2016-06-09 16:37] blazetravis commented on #77
Hello again. Today Carol, Chelsea and I got together to further test this feature. We encountered some more issues when switching between search domains and different levels.

Steps to reproduce:
1. Open UAT
2. Click New Search
3. Change Search Domain and select a file.
4. Get abnormal macro view of the file selected (does not show utterances)
   ![screen shot 2016-06-09 at 12 28 59 pm](https://cl

[2016-06-09 17:15] gregorydimitriadis commented on #77
Blaze,

I can also reproduce this behavior. I've noticed a workaround to head off the problem: At step 4, when the odd view comes up, expand the triangle on the left side displaying the name of the collection and double click the "macro_unit" text. This will fully open the collection/videos/etc.

For step 11, perhaps the search returns nothing that time because nothing in the new collection matche

[2016-06-15 17:52] geograil opened #86 "Handshape can't be added because "event chain overlap""
File: Cory 108 Utterance 47

We started with the complete file and deleted the main glosses. I was working on adding them back in and when I went to put in the handshapes for LEARN, it gave me a pop up box that says "Warning: The events chain cannot overlap with another events chain. You must adjust the boundaries of the adjacent events chain and then try again." However, there were no other gloss

[2016-06-15 18:18] gregorydimitriadis commented on #86
Hi Graham - did this same error not occur for the creation of the other two main glosses there? (#IF and IX-3p:i) I assume those were created after all of the main glosses were initially deleted.

[2016-06-15 18:31] geograil commented on #86
Correct; I was testing further since I've posted this and it appears the error only happens with two-handed signs. The two showing up are both one handed so I assume that is why they added in okay

[2016-06-15 18:50] gregorydimitriadis commented on #86
Thanks. Does the error still occur if, after first deleting all of the main glosses from the utterance, you return to the DatabaseView and then click back into that same utterance and attempt to add any two-handed sign then?

This wouldn't be a complete fix to the error but possibly a temporary workaround until I can better diagnose and solve it.

[2016-06-15 19:22] geograil commented on #86
We are having trouble reproducing the error after restarting Sign Stream a few times, but if we run into it again, we will try the workaround. Thanks!

[2016-06-21 13:56] geograil opened #87 "File is blank when opening"
File: Jonathan 96

I was trying to open the file to reference something and when I tried to open it, the whole thing is blank. You can tell that the program did try to open it, but nothing shows up.

My steps:

I opened SignStream, clicked Collection -> Open, went into the CURRENT folder and clicked the file like usual.

![screen shot 2016-06-21 at 9 50 06 am](https://cloud.githubusercontent.com/a

[2016-06-21 14:00] hammondcl commented on #87
Graham-
I believe we've had issues with this file before. Go to the Excel spreadsheet on the desktop entitled "Files to work on" (top left of desktop) and scroll down until you see Jonathan 96 and check the Notes column.

[2016-06-21 14:09] geograil commented on #87
Ah, I do indeed see a note about it not having a macro unit attached. Carol and I just looked through it and found that out as well. I'll double check all the notes before trying to look at anything else for references and such.

[2016-06-21 14:13] gregorydimitriadis commented on #87
Thanks Chelsea.

Graham, mind if I close this ticket out?

[2016-06-21 14:15] geograil commented on #87
Greg, that's fine. Sorry for the confusion.

[2016-06-21 14:17] cneidle commented on #87
Hi Greg,

Thanks - this does not seem, then, to be a general problem,
but rather a problem with this specific file — which hopefully can
at some point be investigated and repaired…

So perhaps leave this as an issue, but in relation to this specific
file ?   I believe that there was quite a lot of data that had been
coded but that is now, for some unknown reason, unaccessible
in this file...

than

[2016-06-21 14:19] gregorydimitriadis commented on #87
Carol,
Sure I'll leave this open as a marker for that file to be investigated at some point.

[2016-06-21 14:52] geograil opened #88 "Trying to open a new file while in utterance view does not open new file and makes it impossible to work with current file"
When you're looking in an utterance and you go to open a new file, it doesn't open the new file and it makes it impossible to continue working with the original file as well. It closes the videos you were working in (as you would expect), but then it just makes the utterance view of the current file have issues with the zoom and isolating specific utterances.

Starting spot in an utterance:

![scr

[2016-06-27 19:12] carlyzx9 opened #89 "Trying to open a file and it is blank when opened"
I've been working on the Rachel 66 file for a week or two and it has opened normally every other time I've opened it, but today I went to go open it and it was blank. I checked the Files to Work on Excel sheet and it didn't have any particular notes that would give me any clues as to why it wouldn't open.

Steps:
I opened Sign Stream.
![screen shot 2016-06-27 at 2 30 17 pm](https://cloud.githubuse

[2016-07-01 13:55] geograil commented on #89
A small detail about this is also that it doesn't appear that the file is actually opening at all; the title of what is open has not changed from "Collection_......". Usually the title does change once it has opened something.

I'm not sure if that makes a significant difference, but it's just something I noticed in the screenshots.

I just tried to open it and it did the same thing. I believe the

[2016-07-01 17:34] gregorydimitriadis commented on #77
In the upcoming release, new search features included:
-New GUI-driven query builder, with support for individual search rules, temporal groups and nontemporal groups
-Expanded search engine to account for all new cases from the query builder
-Return to original state/domain, even from another domain
-Saving upon domain switching

Also included:
-Fix for blank utterance view if search begins in da

[2016-07-01 17:42] gregorydimitriadis opened #90 "Translation Field entities are offset by 2 frames on either side"
This bug concerns the data stored in the xml files for the translation fields being incorrectly offset

Technical details:
FreeTextField class has stored all of its entity objects with offsets of -2_packetDuration for the start and +2_packetDuration for the end. This has resulted in all databases being saved with incorrect start/end times.
This has implications for Field.getEntitiesBetween() which

[2016-07-01 17:47] gregorydimitriadis opened #91 "Need a script to replace all value names in 'topic/focus' fields"
In SS3 at the moment we have values in this field for top1/top2/top3. We want to do two things:

1) First disallow in the SS3 field selector everything except 'topic'

2) Then write a shell script which will run through a list of databases (in their xml/zipped form) and do and in-place String replacement of all extraneous topic values to just 'topic' - we will run this script over a collection of

[2016-07-05 13:26] gregorydimitriadis opened #92 "Menubar option for "New Blank Collection" does not work"
Clicking this from the menubar results in a blank panel window, but with the inability to edit anything. The issue appears to be that the main right-side editing panel and the left-side navigation panel go blank without creating a new collection in its place, so the user can't then edit anything.

[2016-07-05 16:23] geograil opened #93 "Cory 107 - no videos opening and can't work with utterances"
I was trying to open Cory 107 and it had a host of issues. We were working with the file last on June 7th and it was totally fine. This time, it won't open the videos, won't let you open to a specific utterance, and then once in utterance view, you can't even move the time bar to work within the utterances. It also shows Utterance 1 as blank, but the master gloss list shows that it did have conten

[2016-07-05 16:37] geograil commented on #93
Nevermind to most of this - the videos had to be located. However, Utterance 1 is still blank and we know there was coded data on it prior.

![screen shot 2016-07-05 at 12 35 40 pm](https://cloud.githubusercontent.com/assets/19953651/16592138/3d12eb2e-42ad-11e6-920c-8aef8a13b83f.png)

[2016-07-05 18:45] gregorydimitriadis commented on #89
Not sure if this collection is still causing issues, but if so: does this collection, when opened, have videos attached? If not a single video is associated with the collection, then that could be the explanation for this display.

[2016-07-05 18:48] gregorydimitriadis commented on #93
@geograil Is there still no data in Utterance1 after closing and re-opening Signstream?

[2016-07-05 18:49] carlyzx9 commented on #89
There are no videos opening along with the collection.

[2016-07-05 18:53] cneidle commented on #89
You may need to relocate the videos.

If you don’t know how to do that, please phone me at x6218 and
I’ll come down and show you.

thanks,
 Carol

[2016-07-05 19:04] carlyzx9 commented on #89
Carol here.  This is NOT a problem of her simply needing to relocate the video file.
Greg - this is the same situation as what we looked at together when I was at Rutgers.  What opens is a window with the title "Collection... " in the title bar rather than the name of the file that should have opened.  Nothing else is visible and there is no way to access any Macro Unit, to edit.

This is seeming

[2016-07-05 19:10] carlyzx9 commented on #89
Just sent the file via email.

[2016-07-05 19:11] gregorydimitriadis commented on #89
Thanks Carol. I'll be checking out all these saving/opening issues collectively shortly.

[2016-07-06 14:02] gregorydimitriadis commented on #74
@cneidle Would I be able to close this bug since the current implementation of the next/prev buttons appear to be working fine?

[2016-07-06 14:12] cneidle commented on #74
Hi Greg,

Do as you think best :-)

Chelsea won’t be working much until the end of July.
If she notices any further problems with this, she can
let you know.

thanks!

  cheers,
    Carol

[2016-07-06 14:16] gregorydimitriadis commented on #74
Thanks Carol. Closing this one out for now.

[2016-07-06 14:16] #74 closed, assigned to gregorydimitriadis

[2016-07-07 12:56] #48 closed, assigned to nobody

[2016-07-08 15:18] gregorydimitriadis opened #94 "Sign Bank"
Goals for this sprint:

1) Create the sign bank panel interface
2) Populate the sign bank interface from previously existing gloss on UtteranceView window
3) Preview dummy results, and clicking/toggling through those results
4) Displaying results in the variant panel of the sign bank
5) Insert functionality from those dummy results

[2016-07-08 15:21] gregorydimitriadis opened #95 "Saved Searches"
TBD

[2016-07-08 15:22] gregorydimitriadis opened #96 "Search Stages"
TBD

[2016-07-12 21:40] carlyzx9 opened #97 "Nonmanual double click menu missing"
Originally, you could double click on an existing nonmanual event and it would open a drop-down menu of all label options for that event. This menu no longer appears, meaning we have to delete the event and recreate it, which leaves concerns about accuracy of exact start and endpoints. Now, however, nothing happens when double clicking an event.

When you create a new event, the menu pops up as it

[2016-07-13 17:24] gregorydimitriadis opened #98 "Help Menu"
Add a help menu option to the menubar of the application. Display a quick summation of definitions and standard terms used by Signstream.

[2016-07-19 21:00] hammondcl opened #99 "Unnecessary nonmanual fields showing"
I noticed this bug last week and have just gotten a chance to play with it and figure out what is going on. It is present in all files that I have checked, so I believe it is a global issue.

What's happening: When you open an utterance (any utterance, any file), there are many blank nonmanual fields that appear. If I hide these, they go away, but then that field is missing from all other utteranc

[2016-07-19 22:16] cneidle commented on #99
Hi Chelsea,

Do you know about the “refresh” button — which shows for the utterance in question
all fields for which there is data.

It’s the blue button on top of the field list — to the right of the green + and the red -.

Will that solve this issue for you?

The default should be to open an utterance as if that button had been activated, though,
I would have thought…   Greg?

Thanks,
 Carol

[2016-07-20 13:18] gregorydimitriadis commented on #99
Yes, I believe the refresh button should be used in this scenario.

As for when a new utterance is clicked, currently it doesn't reload the nonmanual fields at that point. Would we want this to occur? This wouldn't necessarily also apply to scrolling through the utterances manually.

[2016-07-21 21:06] hammondcl commented on #99
The refresh button does adjust the displayed fields to only those active in the utterance, as it is supposed to do, but then when moving to another utterance, either by scrolling or by clicking the Next/ Previous Utterance button, only those same fields remain visible.

[2016-07-21 23:58] cneidle commented on #99
Just hit the refresh button again :-)

Thanks,
    Carol

Sent from my iPhone

[2016-07-26 13:29] gregorydimitriadis commented on #97
Turns out this bug is only occurring as a result of some half-done work for bug #85 so I'm going to link this here. When that bug is fixed soon, then I will automatically close this one as well.

[2016-07-26 17:19] cneidle opened #100 "Not able to start new file"
Hi - Using the latest version of SignStream (as downloaded from Dropbox just now, with no patches installed), I try to link in a new video file (one we have actually used before, so there shouldn't be a problem); I enter annotator and participant names.  The movie does not play.  I am unable to set up utterances at the highest level, because the movie does not advance.  When I drag and release the

[2016-07-26 17:27] gregorydimitriadis commented on #100
Is this only occurring for this file and/or video? Is the same issue noticeable with other collections?

[2016-07-26 17:38] cneidle commented on #100
Hi,

It happens when I try to start a new collection, regardless of what video file
I attempt to link in…

I am able to open some collections that have been created previously, with their annotations,
without a problem (e.g., Rachel 53).

But when I just tried to open Cory 107, I can’t relocate the video file because
I am not allowed to edit the Macro Unit (“please select a Macro Unit to rename”).

[2016-07-26 17:41] gregorydimitriadis commented on #100
That warning about the macro unit displays when nothing is selected on the left side panel. Try to click the text "macro_unit_1" under the expandable "Collection 7 26 2016 ..." on the left, and then re-try to edit the macro unit.

[2016-07-26 17:46] cneidle commented on #100
Hi,

Ok, yes, that works.

So the problem is just with creating new files (although this problem with
not being able to edit the macro unit from the menu command is obviously
a bug that needs to be addressed at some point).

thanks,
 Carol

[2016-07-26 17:51] gregorydimitriadis commented on #100
Thanks. When you or one of the students get a chance, can you/they please run the debugger script during this error? I don't experience the same thing on my local machine so I'm not sure exactly what is happening.

[2016-07-26 18:57] geograil commented on #97
The menu not showing up has been fixed in the patch; it does show up when you double click an existing non-manual event.

As you've indicated would be the case due to the remaining work on bug 85, the menu remaining visible when switching windows is indeed still happening:

![screen shot 2016-07-26 at 2 56 34 pm](https://cloud.githubusercontent.com/assets/19953651/17151313/34989030-5341-11e6-97a7-

[2016-07-26 19:10] geograil opened #101 "Search Function: the value dropdown menu for participant stays visible"
I was testing the new SS patch sent out today and the designated issues were resolved. This may be due to the issue in bug 85 that causes the non-manual menu to remain displayed, but I noticed that when you move the main search box open while the dropdown under participant is still open, that dropdown box stays where it is and does not move with the box (how the non-manual options remain displayed

[2016-07-26 19:13] gregorydimitriadis commented on #101
Graham - are there any participants loaded into this collection? More specifically - are any participants listed in the Edit Macro Unit screen? Only names from that list will show up in the search panel participant combobox.

[2016-07-26 19:21] geograil commented on #101
Ah, okay. I didn't know about that part. There weren't any on the list in the Edit Macro Unit. I temporarily added Rachel's name and tested the search box and it worked properly. Sorry for the confusion!

The little dropdown menu does still stay visible though, so that part of this is still relevant. Do you want me to edit this issue report to only include the part about the menu being visible?

[2016-07-26 19:23] gregorydimitriadis commented on #101
No problem! Please do!

[2016-07-26 20:00] gregorydimitriadis commented on #100
Debugged this via email with Carol - issue turned out to be the file permissions on the signstream_uat archive jar files. Closing this out.

[2016-07-26 20:00] #100 closed, assigned to nobody

[2016-07-27 20:55] gregorydimitriadis commented on #89
@cneidle @carlyzx9 I have a feeling the issues with these files may have had to do with the video processing library (xuggler) since I was not able to reproduce any of these issues, but I did notice some of the same behavior when the videos were not present/locatable from my local collections

Could I ask you to try opening these collections with the very latest signstream_uat package, and see if

[2016-07-27 20:59] gregorydimitriadis commented on #93
@geograil Could you please email me the collection file for this issue?

[2016-08-16 13:47] gregorydimitriadis opened #102 "Sign Bank Phase 2"
Issues to Accomplish:

1) Creation of sign bank data (xml) file
2) Parsing/writing of live sign bank xml files
3) Maintain list of multiple sign bank files in "/signbank" directory. List will be manageable from the CreateUpdateMacroUnit screen
4) Listeners on Sign Bank window, along with the handshape chooser palette
5) Lookup functionality, given parameters to search within sign bank
6) Replace g

[2016-09-12 16:31] hammondcl opened #103 "Sprint 16 Deployment Issues"
I deployed the new version of SignStream today and ran into two different but possibly related significant issues:

1) When using the new version right out of the download folder, it works perfectly at first. It has full functionality and I can do everything I have tested (i.e. make a new nonmanual event, change an existing event label, etc.) but then it will suddenly freeze and the cursor will tu

[2016-09-12 17:59] gregorydimitriadis commented on #103
I believe aliases will indeed not work, since many of the functionalities in Signstream depend on folders being in certain locations (such as /newXMLfiles and /handshapes) and an alias would locate those incorrectly on the file system.

As for the freezing up, can you please run the debugger and go until there is a freeze and you're forced to manually quit? I can check the output file to see if th

[2016-09-13 16:59] gregorydimitriadis commented on #103
@hammondcl Also, is there any particular scenario where it's more likely to freeze? You mentioned when you're about to close the program - is there any pattern of which windows are open/showing when this happens or is that also random?

[2016-09-14 14:52] hammondcl commented on #103
Where can I find the debugger file? Also there does not seem to be a pattern of when it is more likely to freeze during regular use, but it is quite reliable when quitting the program.

[2016-09-28 14:45] hammondcl commented on #89
Hello,

I've been playing around with this file this morning and have noticed some interesting things:

1) If you open the file normally (Collection --> Open --> Current --> Rachel 66), the normal SignStream window opens and shows that there are utterances present, but there are no videos attached.

![screen shot 2016-09-28 at 10 33 23 am](https://cloud.githubusercontent.com/assets/15836242/189178

[2016-09-28 14:46] hammondcl commented on #99
This issue can be closed as it was more a case of my misunderstanding than anything else!

[2016-09-28 14:47] gregorydimitriadis commented on #99
Thanks! Closing..

[2016-09-28 14:47] #99 closed, assigned to nobody

[2016-09-28 17:24] hammondcl commented on #88
Now instead of opening unusable utterances, you are prompted to save the changes you have made to the existing file. I did not make changes, so I clicked "Don't Save" and nothing happened. The videos closed as soon as I clicked "Collection" --> "Open...". I tried again and then selected "Save" and then everything froze and the spinning rainbow wheel appeared. I let it go for a few minutes to see w

[2016-09-28 17:26] gregorydimitriadis commented on #89
During a skype call today with Chelsea and Graham, we saw that opening the existing collection (which initially loads no videos) and re-selecting the videos from their proper directories from within the 'Edit Macro Unit' solves this problem. Closing this issue out now.

[2016-09-28 17:26] #89 closed, assigned to gregorydimitriadis

[2016-09-28 17:27] hammondcl opened #104 "One-frame glosses dropping handshapes - est. 20 hours"
This bug seems to happen unreliably and unpredictably, but occasionally, if a main gloss is only one frame long, the handshape information will get dropped. This thread will serve as a location for us to compile examples as they occur.

[2016-09-28 17:42] hammondcl commented on #104
Rachel 43, U9 IX-1p

![screen shot 2016-09-28 at 1 32 03 pm](https://cloud.githubusercontent.com/assets/15836242/18924971/16ccfc78-8580-11e6-84ab-2185483519a3.png)

---

Rachel 43, U11 POSS-1p

![screen shot 2016-09-28 at 1 28 04 pm](https://cloud.githubusercontent.com/assets/15836242/18924777/7590d49c-857f-11e6-9e4a-8c800fd7a468.png)

---

Rachel 43, U16 IX-3p:i

![screen shot 2016-09-28 at 1 29

[2016-09-28 17:52] gregorydimitriadis commented on #104
Verified this occurring on my end, as well - marking as bug.

The odd thing is that only 2/4 of the above examples were displaying as incorrect on the collection on my machine. Still not sure what the pattern is/what differentiates them, etc.

[2016-09-29 13:59] #102 closed, assigned to gregorydimitriadis

[2016-09-29 14:03] gregorydimitriadis commented on #97
@geograil Hi Graham, can you please check whether this bug is still occurring with the latest version release?
https://www.dropbox.com/s/jyxue2l5ck0t9ek/signstream_uat.zip?dl=0

[2016-09-29 14:03] #94 closed, assigned to gregorydimitriadis

[2016-09-29 14:04] gregorydimitriadis commented on #17
@hammondcl Hi Chelsea, can you please verify whether this bug is still occurring in the latest version? Thanks!

[2016-09-29 14:16] #83 closed, assigned to gregorydimitriadis

[2016-10-03 15:14] hammondcl commented on #97
Yes, this is still happening in the latest version.

[2016-10-05 17:24] hammondcl commented on #104
Rachel 45, U8 IX-3p:i

![screen shot 2016-10-05 at 1 12 51 pm](https://cloud.githubusercontent.com/assets/15836242/19123864/90258bfc-8afe-11e6-8a09-0f00438d8d42.png)

---

Rachel 45, U9- Five drops: IX-3p:j, IX-loc:i

![screen shot 2016-10-05 at 1 13 48 pm](https://cloud.githubusercontent.com/assets/15836242/19123905/becde30a-8afe-11e6-8a3b-14f2977995bd.png)

IX-1p, IX-3p:i, IX-1p

![screen shot 2

[2016-10-05 17:25] hammondcl commented on #104
Rachel 44, Rachel 50, and Rachel 51: No dropped single-frame gloss handshapes

[2016-10-07 21:04] geograil commented on #104
10/7 Additions:

Rachel 51, U25 IX-3p:j    (--we double check each file/utterance before marking the number of drops and reporting them. On 10/5, all of Rachel 51 was intact; therefore, this was dropped within the past few days.)
![screen shot 2016-10-07 at 11 18 52 am](https://cloud.githubusercontent.com/assets/19953651/19196118/3ee76906-8c82-11e6-979e-0a1c21a74621.png)

[2016-10-07 22:24] geograil commented on #104
10/7 Situation Update (apologies for length - there have been significant developments):

I came in and continued checking the files for dropped handshapes in one-frame glosses (subsequently abbreviated "1F drops" and "drops"). We left a reminder for me to recheck a gloss in Rachel 51, U21, so that's where I started. While the handshape for the gloss in question was intact, I did find a 1F drop in

[2016-10-10 13:52] gregorydimitriadis commented on #104
Graham - I think for now listing the various occurrences of the issue here in this github ticket should suffice. Thanks!

[2016-10-12 16:59] geograil commented on #104
**10/12/16**

Rachel 52, U11 IX-3p:i
![screen shot 2016-10-12 at 12 08 30 pm](https://cloud.githubusercontent.com/assets/19953651/19318138/67018a92-9075-11e6-93ae-9dac64067154.png)

---

Rachel 52, U13 IX-3p:i and IX-3p:i
![screen shot 2016-10-12 at 12 09 37 pm](https://cloud.githubusercontent.com/assets/19953651/19318185/a784780e-9075-11e6-938f-7b498bc4e51f.png)

---

Rachel 52, U19 IX-2p and IX-

[2016-10-12 17:24] geograil commented on #104
**10/12/16**

NOTE: 16 out of 32 1-frame glosses in this file dropped handshape information. Rachel 53, which has 37 1-frame glosses, had no drops.

Rachel 55, U1 IX-loc:i
![screen shot 2016-10-12 at 1 00 09 pm](https://cloud.githubusercontent.com/assets/19953651/19319665/e44d88ce-907b-11e6-9c0b-9927d3643b3a.png)

---

Rachel 55, U3 IX-3p:i
![screen shot 2016-10-12 at 1 02 13 pm](https://cloud.git

[2016-10-12 18:11] geograil commented on #104
10/12/16

Rachel 57, U4 IX-1p
![screen shot 2016-10-12 at 2 05 10 pm](https://cloud.githubusercontent.com/assets/19953651/19321913/ebe74b02-9084-11e6-976d-8292bf95f063.png)

---

Rachel 57, U9 IX-3p:i and IX-3p:i
![screen shot 2016-10-12 at 2 05 44 pm](https://cloud.githubusercontent.com/assets/19953651/19321933/0326e110-9085-11e6-8ecd-93b9ffb5a3fa.png)

---

Rachel 57, U17 IX-1p and IX-1p
![scree

[2016-10-14 18:03] geograil opened #105 "Rachel 61 U20 - Odd lack of time bar for handshapes"
This is just something I noticed as odd. I wanted to make sure it wasn't some sort of issue.

In Rachel 61 U20, the #NO and NOT handshapes have neither the time bar with them nor the blue time frame markers at the end of their assigned time points. Handshapes usually do have these, even in the one frame glosses like the one between these two oddballs. I tried deleting and re-adding them in, but it

[2016-10-14 18:26] gregorydimitriadis commented on #105
Hi @geograil - I think you may be referring to just the blue markers demarcating the start/end of the glosses? Those do not indicate the timeframes, only that the gloss is "locked" to its handshapes. Locked means that if you +/- the frame, the handshape line will move as well. Unlocked means that they are independent, and moving +/- on the main gloss line only moves that line and ignores the hands

[2016-10-14 19:02] geograil commented on #105
Bad news...

I went in to check them and it ended up dropping one of the NOT handshapes after I adjusted that setting back and forth. These are the steps I took:
- Control double clicked the #NO gloss to see that the Gloss-Phon information was locked; I did the same for NOT and it was also locked. (This screenshot shows the NOT after it dropped one of the handshapes. I didn't have a screenshot bef

[2016-10-14 19:09] gregorydimitriadis commented on #105
I would first try quitting without saving, and seeing if the same problem can be duplicated the next time you open SS3.

It's strange the #NO gloss without the blue markers thinks it is locked - perhaps this is actually a new bug.

[2016-10-14 19:31] geograil commented on #105
Well, it gets a little more weird. What's also strange is that when I made the original post, the handshapes didn't even have the black line above them to mark the time. It was kind of like they were just sitting there and not even being associated with NOT. Then when I checked the locked/unlocked status to see if you were right, I just noticed that the black lines were there, just without the blu

[2016-10-14 19:40] geograil commented on #104
10/14/16

Rachel 62, U14 IX-loc:i
![rachel62u14](https://cloud.githubusercontent.com/assets/19953651/19400509/89a1ae6e-9224-11e6-8232-761900fff51e.png)

---

Rachel 56, 58, 59, 61, and 65 all had no 1F drops

To be checked: Rachel 63 and 66, Cory 107 (if working) - 115, Jonathan 90-95 and 97-98.

Rachel 60 + 64, Cory 100-106, and Jonathan 96 are marked as files we should not work with; please let

[2016-10-18 18:21] gregorydimitriadis commented on #105
@geograil What are the names of the video files in this collection - Rachel 61? I tried opening it but I didn't have videos of the proper type (I believe) so I couldn't look through the utterances.

Do they have "for-ss3" in the names? If so, I may need those video files in order to open the collection and test this one.

[2016-10-20 13:59] geograil commented on #104
10/19/16

Rachel 63 and Rachel 66 have no IF drops.
All Rachel files have been checked at this point except for 60 and 64 since they are marked as ones we shouldn't open/work with.

I'll be moving on to Cory or Jonathan files on Friday 10/21

[2016-11-02 15:29] hammondcl opened #106 "Nonmanual eyebrow menu"
I noticed today that in Rachel 43, U3, one of the labels on an eyebrow event was dropped. I checked the rest of the file and no others had dropped. When I tried to re-add the label (which is "raised-furrowed"), there were two labels in the double click menu that were labeled "raised-furrowed". I think this may be related to why it dropped and am not sure which of the two identical labels I should

[2016-11-02 15:47] gregorydimitriadis commented on #106
Hi Chelsea. This looks to be related to issue #75, which was resolved a few months back. However, I did check on my end as well and I see the missing label, which I would assume is from the same cause. But the new thing here is the duplicate label in the dropdown, which I can also duplicate. So I'll mark this as a bug for now.

[2016-11-02 15:48] cneidle commented on #106
I think this goes back to a time when we didn’t have a value for that;
so there was a “new value” created within that file.  Subsequently
that value was added to the general repertoire.

Not sure of the best way to resolve this…

Carol

[2016-11-02 16:08] gregorydimitriadis commented on #106
Ah, it appears you're right. If you go to edit the 'eye brows' field, then you see two value options for "raised-furrowed." (not the case for some other collections I checked)

I would say one of the values can simply be deleted from the official collection file. The worst-case effect would be that any instances of that duplicate label in the file will be deleted - but they could all be subsequent

[2016-11-02 16:29] hammondcl commented on #104
Last week (10/26), Graham and I were looking at nonmanuals in Rachel 43 when we noticed that many additional 1-frame glosses throughout the entire file had dropped handshapes. Originally the file had 4 1-f drops and upon checking it again, had 14 drops. We checked again today and SignStream had repopulated the new ten drops (seemingly with the correct handshapes), but the original four remain drop

[2016-11-02 17:03] hammondcl opened #107 "Nonmanual topic label dop"
Across files, events in the "topic/focus" field have dropped labels. The event bar still exists, but there is no longer a label. Screenshots in this report are from Rachel 43, but I have found the same issue in every file I have checked.

(two labels missing)
![screen shot 2016-11-02 at 12 33 16 pm](https://cloud.githubusercontent.com/assets/15836242/19937680/9aceb9ce-a0f8-11e6-8e5d-78961af1831a.p

[2016-11-02 18:02] hammondcl opened #108 "Rachel 66- Event chain overlaps"
Some of the utterances in Rachel 66 are overlapping, which makes it very difficult to work on those utterances. It means that you cannot see where one utterance begins or ends while in the utterance view and that some coding may overlap between two utterances. In other files, the program will not allow you to create utterances that overlap, so it appear that this function is working in other place

[2016-11-03 18:06] gregorydimitriadis opened #109 "Refresh nonmanual fields when clicking between utterances"
There is an existing button which can be manually pushed on the utterance window to hide all unused and show all used nonmanual fields for the current view/utterances.

We want to do this programmatically and automatically each time a new utterance is clicked from the left-side panel or the next/prev buttons.

[2016-11-03 18:09] gregorydimitriadis opened #110 "Keyboard Shortcut Consistency and Standardization"
See the attached Word document for an outline of changes to be made.
[SignStreamActionList_Updated.docx](https://github.com/DCS-LCSR/SignStream3/files/693746/SignStreamActionList_Updated.docx)

[2016-11-03 18:18] gregorydimitriadis opened #111 "SignBank XML File Updates"
Updates to be made:

- Include flags in Signstream annotation file XML schema to track characteristics relevant from the SignBank - including: verified flag, differing from definition flag, and resource file source
- On startup, cross-check the local files with the global files to determine any updates which need to be made in the annotation collection file as to which signs are verified
- Merge d

[2016-11-09 17:24] hammondcl commented on #20
This appears to be functioning normally now.

[2016-11-09 17:25] hammondcl commented on #21
This no longer appears to be a problem.

[2016-11-09 17:27] hammondcl commented on #26
This is still occurring.

[2016-11-09 17:50] gregorydimitriadis commented on #20
The scrollbar is there once a file is opened, but it is not the proper length (it's not the length of the entire video file, so it cuts off too early). So the auto-lengthening on startup without needing to zoom in is still to be fixed

[2016-11-09 17:52] #21 closed, assigned to nobody

[2016-11-16 17:02] hammondcl opened #112 "Macro Unit Enhancement Request"
Currently, when creating a new file, the window looks like this:
![screen shot 2016-11-16 at 11 54 04 am](https://cloud.githubusercontent.com/assets/15836242/20356737/71b23f9c-abf3-11e6-94d4-8c7fa1f0bd35.png)

You must click on the collection line on the left to select it in order to add a macro unit, but this seems unintuitive because the yellow SignStream window where you have to select the coll

[2016-11-29 21:19] #111 closed, assigned to gregorydimitriadis

[2016-12-08 16:31] gregorydimitriadis commented on #86
Hi @geograil @hammondcl

Has this issue ever reoccurred since the initial report? I believe the root cause to have been related to bugs #104 and #105, so since I've just fixed those I have reason to think this would be fixed as well. I also do not have the Cory 108 file to test, if someone can please email me that.

[2016-12-09 16:28] geograil commented on #86
I don't recall specific instances, but I feel like it may have. However, I'm not positive about that, so I guess we can assume it fixed for now and we will let you know if it happens again?

I'll try to email that file to you right now

[2016-12-12 16:10] gregorydimitriadis commented on #86
Thanks Graham - I was able to reproduce the same error in the file you gave me. It turns out it was a different issue, but I have now also fixed this separate issue - the fix will be included in the next package release (expected within the next few days)

[2016-12-13 18:44] gregorydimitriadis commented on #90
Since this was not student-reported: a good test to see if the fix was good is to simply create/edit/delete translation field text from various utterances to see if everything works as intended.

[2016-12-14 14:53] gregorydimitriadis commented on #108
This is now fixed. But in the files in which this bug has occurred, the times are saved incorrectly, so they must be fixed manually. After that, it should not reoccur.

[2017-01-03 19:57] gregorydimitriadis commented on #106
So to resolve this bug, when the next package is released, the *second* "raised-furrowed" value should be deleted from the eye brows field in this specific collection (Rachel 43; to my knowledge the same issue is not occurring in any other collection). This will only work when the new package is released because there was a secondary issue in deleting values, which will be resolved at the time of

[2017-01-04 15:12] gregorydimitriadis commented on #107
What this appears to be is the result of a deleted label for the 'topic/focus' field. Judging by the coding schema (/newXMLfiles/defCodingScheme.xml) for all the fields in Signstream, these are the valid global labels for 'topic/focus':

FIELD ID="20" NAME="topic/focus" LABEL="topic/focus" COLOR="b3e00" TYPE="NMN" GROUP="GRAMMATICAL">
VALUE ID="2" NAME="focus/top1" LABEL="foc/top1" />
VALUE ID="3"

[2017-01-10 14:45] gregorydimitriadis commented on #81
On new release of this fix: Macro Unit window will be resizable, to allow the user to expand as needed to display long filenames.

[2017-01-25 15:35] gregorydimitriadis commented on #97
Along with issue #101, after the changes made for Sprint 20, I am unable to reproduce this issue, so I will mark this as complete. If the issue re-appears, post a comment here noting this and I'll take another look into it.

[2017-01-25 15:36] gregorydimitriadis commented on #101
Along with issue #97, after the changes made for Sprint 20, I am unable to reproduce this issue, so I will mark this as complete. If the issue re-appears, post a comment here noting this and I'll take another look into it.

[2017-01-25 16:19] hammondcl commented on #101
Hi Greg, this issue is fixed on our end as well!

[2017-01-25 16:21] hammondcl commented on #97
This appears to remain an issue.

![screen shot 2017-01-25 at 11 20 47 am](https://cloud.githubusercontent.com/assets/15836242/22298975/65e98b50-e2f0-11e6-8721-4a86271b6572.png)

[2017-01-25 17:29] #101 closed, assigned to nobody

[2017-01-25 18:16] geograil commented on #104
Am I all set to start adding the dropped handshapes back into the files?

[2017-01-25 18:21] gregorydimitriadis commented on #104
@geograil Yes, once you've got the latest version (released today) you're good to go.

[2017-01-27 19:24] #77 closed, assigned to gregorydimitriadis

[2017-01-27 20:03] geograil opened #113 "Inserting entry labels from Sign Bank removed final hold"
File: Rachel 65, Utterance 5

I added a final hold to the non-dominant hand of STUDY, and when I went to check the handshapes, I had to add in the primary and variant entry labels to be able to save the gloss. Once I did that and hit Enter, it removed the final hold I had placed there.

Steps:

1. Unlocked left-right hand alignments and added final hold to Gloss 2 field.

![screen shot 2017-01-27

[2017-01-27 20:33] geograil opened #114 "Can't edit glosses with + markers without adding to Sign Bank; won't let me add them to the Sign Bank"
File: Rachel 65, U7

I was trying to check/edit the gloss information for BUY+++, but once I open the Morph-Phon Info Box, it won't let me close out of it unless I click the red close button. However, if I've edited something, that won't save it. It won't allow me to put anything with a + marker into the gloss unless one already exists with that exact number of + markers in the Sign Bank. Then whe

[2017-01-27 20:45] geograil opened #115 "Weird right handshape misalignment Rachel 65, U7 "FINISH""
File: Rachel 65, U7

The right handshape isn't aligned with the gloss. I tried to unlock the gloss-phon alignment and set just that handshape start time to be the same and then would re-lock it, but it wouldn't move it that way either and gave me an error message. I also tried to do what it said and unlocked the hand alignments, but it wouldn't let me change it that way either. It gave me the same

[2017-01-27 20:58] gregorydimitriadis commented on #113
Reproduced this bug on my end as well - scheduled for next sprint.

Note: This also applies even without the step of entering into the Sign Bank. Meaning, just copy manually the text from 'Entry/Variant' to 'Primary Entry' and press enter out of the Morph-Phon window - same result.

[2017-01-27 21:11] gregorydimitriadis commented on #114
@cneidle Carol - since this may have implications/relations to what we discussed earlier today in our meeting regarding searching the sign bank with queries containing trailing "+' signs - what do you propose should be the solution to this situation? The base issue is that the gloss "BUY+++" was in place before these Sign Bank rules were implemented, otherwise Signstream would not have allowed it

[2017-01-27 21:31] geograil commented on #114
Hi Greg,

I'm unsure how this works on the coding side, but as for use and accurate analysis, we need to be able to add "+" signs freely to glosses. The repetition is highly significant in conveying the correct meaning/intensity of an action in ASL, so if I can't mark it, it won't be accurate in terms of the linguistic analysis.

That said, the repetition of a sign is _often_  a variant of the und

[2017-01-30 16:23] hammondcl commented on #115
@geograil The title of this bug says "Rachel 45", but the text says "Rachel 65". I think it's Rachel 65, so that's what I sent to Greg, but please confirm.

Also, when I went to check this bug out, there was no event bar over the right handshape entry. Not sure what that might be a result of, but I wanted to mention it in case it is relevant.
![screen shot 2017-01-30 at 11 21 29 am](https://cloud.

[2017-01-30 16:31] geograil commented on #115
It is 65. Thanks!

Sent from my Apple Watch

On Jan 30, 2017, at 11:23, hammondcl <notifications@github.com> wrote:

[2017-01-31 16:04] gregorydimitriadis commented on #113
For this bug, the issue is on the surface that the final hold (and other associated elements also) get removed when exiting the MorphPhon window of an unlocked gloss. I have fixed that issue for unlocked glosses in this scenario. But more broadly, I also will make some changes to avoid the scenario going forward.

I have noticed that the locking/unlocking logic does not work exactly as expected. I

[2017-01-31 16:28] geograil commented on #113
Sounds great Greg! I'll definitely let you know if I run into issues with
it once that Sprint is released. Thank you for all the work you do, really!

Boston University, 2018
College of Arts and Sciences | Anthropology - Biological Track with Honors,
B.A.
School of Education | Deaf Studies, B.S.
Minor | Biology

Student Government | Director of Social Affairs

On Tue, Jan 31, 2017 at 11:04 AM, Gre

[2017-01-31 21:26] gregorydimitriadis commented on #104
Note on bugs #104, #105, #108:

There were some issues in the data saved in the annotation files themselves, so to the best of my ability I have corrected any dropped or missing information, but some of it is lost. For example, for most of the handshape drops, the data is missing and can't be retrieved based solely on the annotation file, so those glosses must be re-created. Once they are re-creat

[2017-01-31 21:27] gregorydimitriadis commented on #105
Note on bugs #104, #105, #108:

There were some issues in the data saved in the annotation files themselves, so to the best of my ability I have corrected any dropped or missing information, but some of it is lost. For example, for most of the handshape drops, the data is missing and can't be retrieved based solely on the annotation file, so those glosses must be re-created. Once they are re-creat

[2017-01-31 21:27] gregorydimitriadis commented on #108
Note on bugs #104, #105, #108:

There were some issues in the data saved in the annotation files themselves, so to the best of my ability I have corrected any dropped or missing information, but some of it is lost. For example, for most of the handshape drops, the data is missing and can't be retrieved based solely on the annotation file, so those glosses must be re-created. Once they are re-creat

[2017-01-31 21:46] gregorydimitriadis commented on #115
I've discovered that this particular gloss suffered from the same problem as was experienced in bugs #104, #105, #108:

(copying the note from those bugs here as well)

"There were some issues in the data saved in the annotation files themselves, so to the best of my ability I have corrected any dropped or missing information, but some of it is lost. For example, for most of the handshape drops, t

[2017-02-01 15:18] gregorydimitriadis commented on #87
@geograil I cannot reproduce the issue with this file on my end, neither in my development environment nor while testing using a zipped Signstream package.

I open up the collection, and immediately see the utterances. The box to select annotator appears, and I add my name. Then I'm in the main Signstream database view window, but with the videos not yet attached. I go to edit macro unit and selec

[2017-02-01 16:14] hammondcl commented on #87
I'm investigating this now and it seems that whatever issue once existed has been resolved. Opening the file (Collection --> Open --> CURRENT --> Jonathan 96) opens it correctly, with all utterances present and accessible and all videos in the macro unit appearing correctly.

[2017-02-01 18:02] hammondcl opened #116 "Sprint 20 - Nonmanual double click menu missing"
In new sprint 20 deployment, nonmanual double click menu is missing. It is accessible when creating a new event, but it is not possible to alter the label of an existing nonmanual event.

[2017-02-01 18:08] gregorydimitriadis commented on #116
@hammondcl Hi Chelsea - this issue is related to #110 - the new keyboard shortcuts included in this sprint. The new mechanism to open the nonmanual label menu is to click-and-hold.

[2017-02-01 18:09] cneidle commented on #116
Hi,

The keyboard shortcut has changed!  Please read the notes
carefully explaining the new keyboard shortcuts.

Thanks,
 Carol

[2017-02-01 18:12] hammondcl commented on #116
Unfortunately, we did not receive notes with this deployment, so we are kind of flying blind.

As for the new commands, I think click+hold is less intuitive than double click. In my mind, that's opening a menu and typically double-click opens something.

[2017-02-02 14:49] gregorydimitriadis commented on #87
Thanks @hammondcl - I'll mark this as 'complete' for now then.

[2017-02-02 21:27] gregorydimitriadis commented on #93
I've looked into this collection, opened it up and looked at the data inside (outside of the Signstream app) and unfortunately I can see no events (nonmanual or manual) associated with utterance U1. This means that opening this collection at any point in the future will result in a blank U1, and all data that was coded previously has unfortunately been permanently lost and needs to be manually re-

[2017-02-03 19:32] geograil commented on #114
Is there something I should/can do with these glosses in the time until Sprint 21 is released? I'm unsure if there is any way I can properly edit and save changes to them or if I should just continue making a list of the ones I need to fix once this change comes through

[2017-02-08 16:29] hammondcl opened #117 "Selecting "Save" in dialogue box does not save work"
This appears to be an issue across files, not confined to one file.

After making changes to an utterance and clicking the red "x" to close the program, a dialogue box asking if you want to save appears. Clicking "Save" closes the program. Upon reopening program, changes are not saved. Using the command + s keyboard command does save work. Also, using the "Quit" option from the menu bar does not p

[2017-02-08 18:26] hammondcl commented on #88
Today, we tried to open Rachel 45 from Rachel 43 and this is the screen that occurred. The macro view in the left panel says "Rachel 45", but the title at the top of the screen reads "Rachel 43"
![screen shot 2017-02-08 at 1 06 23 pm](https://cloud.githubusercontent.com/assets/15836242/22751251/bc4d6590-ee01-11e6-997b-6ddedb21ce93.png)

Then we closed the program and tried to reopen, but double cl

[2017-02-08 18:34] gregorydimitriadis commented on #88
Have either of these files had any other issues recently, like saving them?

[2017-02-08 18:56] hammondcl commented on #88
Not to our knowledge.

[2017-02-08 18:57] gregorydimitriadis commented on #88
And both have all of their videos attached when opened one-by-one?

[2017-02-08 18:59] geograil commented on #88
They do

[2017-02-08 19:26] gregorydimitriadis commented on #88
Thanks. Can you send me all those collection files via email? (thanks in advance)

[2017-02-08 19:59] gregorydimitriadis commented on #88
I can't seem to reproduce this one, moving around between all combinations of the files. Can it be reproduced on your end, or did it just occur this one time?

[2017-02-08 20:09] geograil commented on #88
It occurs randomly it seems

[2017-02-09 14:22] gregorydimitriadis commented on #117
Clicking the red 'x' was indeed a bug - saving improperly, which has now been fixed.

The option to save on quitting from the application menu (or from force quit: cmd-Q) was never actually implemented - that will be added at a later date.

[2017-02-13 16:27] hammondcl opened #118 "Event Overlaps"
Some nonmanual events are overlapping in this newest deployment. I have noticed it in Rachel 43, Rachel 45, and Rachel 51 so far. I think it is probably best to manually fix these to ensure accuracy, but let me know if that's not the case. It also exists in a variety of nm fields, so it's not an issue with just one field. I cannot seem to make events overlap myself, but I know they did not previou

[2017-02-13 17:28] hammondcl commented on #118
Update:

- None found in Rachel 43 (I think there may only have been one and I fixed it, thinking it was just an oddball).

- The ones I've found so far are Rachel 45 (U: 2, 4, 5, 6, 7, 11, 13), Rachel 50 (U: 12, 19, 22), Rachel 51 (U: 13), Rachel 52 (U: 9, 11, 19, 20), Rachel 53 (U: 11), Rachel 55 (U: 15, 17).

- Something a little strange is that they are almost exclusively related to the eye (i

[2017-02-13 17:33] hammondcl opened #119 "Offsets extend past end of utterance"
The program is not supposed to allow you to extend events or offsets past the end of the utterance, but these in Rachel 53, U1 are outside of the boundaries. I have not encountered this in any other file so far and it appears to be only this utterance of this file.
![screen shot 2017-02-13 at 12 29 16 pm](https://cloud.githubusercontent.com/assets/15836242/22894818/5cad5434-f1e8-11e6-8615-2cdcee54

[2017-02-14 14:55] gregorydimitriadis commented on #118
Chelsea - yes, feel free to manually edit the ones you come across. I'll simultaneously take a look at the code to look at what's causing it.

[2017-02-15 16:05] hammondcl commented on #116
This is fixed with Sprint 21!

[2017-02-15 16:09] hammondcl commented on #117
The application now saves correctly when clicking the red 'x', but obviously there is still no prompt to save when quitting out of the program.

[2017-02-15 16:11] hammondcl commented on #115
This appears to be resolved, but I'd like Graham to weigh in before we call it closed

[2017-02-15 16:12] hammondcl commented on #97
This is resolved by Sprint 21

[2017-02-15 16:25] hammondcl commented on #93
There still appears to be some issue with this file. The file seems to open fine and there are no more zoom issues. I was able to open an utterance, then clicked "Database View" to go back to the main screen and now am unable to open any utterance. Double clicking an utterance bar highlights it in red in the first row, then the highlight jumps down to the second row and nothing happens. The uttera

[2017-02-15 16:28] hammondcl commented on #87
All appears to be fine with this file now

[2017-02-15 16:31] hammondcl commented on #93
This actually appears to be a more universal issue as I just opened Rachel 43 and tried to check the frame jump issue in U36, but could not open any utterances. I was checking other changes from this sprint in Rachel 43 earlier, however, and everything opened fine. I have quit and reopened SignStream and it is still an issue. Then I quit and reopened SignStream again and could open whatever first

[2017-02-15 16:38] hammondcl commented on #73
The frame jump issue is resolved, but now U36 is only visible from the most zoomed out position, where the labels are not visible:

![screen shot 2017-02-15 at 11 36 26 am](https://cloud.githubusercontent.com/assets/15836242/22984335/0eca19f0-f373-11e6-8d0d-1e94cf3b012b.png)

Zooming in either cuts off U36 partially:

![screen shot 2017-02-15 at 11 34 24 am](https://cloud.githubusercontent.com/ass

[2017-02-15 16:49] hammondcl opened #120 "New sprints do not save local annotators"
After deploying a new sprint, all newer local annotators are not listed and must be manually re-added. The annotators that remain are: Indya, Isabel, Rebecca, Betsy, and Reema, as well as the global annotators, Carol, Jess, and Ben. Any annotators added to the previous sprint do not carry over into a new sprint. I'm not sure if this is changeable and it does not really cause much of an issue for u

[2017-02-15 16:50] hammondcl commented on #109
This is working with Sprint 20

[2017-02-15 17:30] hammondcl commented on #115
I concur. - Graham

[2017-02-15 17:38] hammondcl commented on #113
This bug is still occurring. I opened the same gloss as before and added in the labels, hit enter, and the final hold was removed.

That said, it does not happen with glosses that have a final hold on both hands, such as TEST (same utterance - Rachel 65, U5). It only seems to happen with things that have a final hold on only one hand. - Graham

[2017-02-15 18:25] geograil opened #121 ""Play Utterance" Button not playing selected utterance"
File: Rachel 65

I edited a gloss in utterance 10 and subsequently saved the file. I then clicked into the next utterance, and clicked the play utterance button. It did not play utterance 11, but in fact played utterance 10.

I thought the green line may have been still in utterance 10, so I dragged it into the coding of utterance 11. I proceeded to click the button again and it still only played

[2017-02-15 18:29] #116 closed, assigned to gregorydimitriadis

[2017-02-15 18:33] #115 closed, assigned to gregorydimitriadis

[2017-02-15 18:33] #97 closed, assigned to gregorydimitriadis

[2017-02-15 18:34] #87 closed, assigned to gregorydimitriadis

[2017-02-15 18:40] gregorydimitriadis commented on #73
@hammondcl Hi Chelsea - would you mind making a separate bug for the zooming issue? I'll mark this one as closed for the looping frame at the end of the video. Thanks!

[2017-02-15 18:45] gregorydimitriadis commented on #120
@hammondcl @cneidle Hi Chelsea - for now the annotators and participants are both tracked via .xml files, found under /newXMLFiles/ in each package I release. The copies that get sent out in the package are base and contain only the names you mention there. The best and most immediate solution here might be to copy the old localAnnotators.xml file from the old package and paste it into (and over)

[2017-02-15 18:45] #109 closed, assigned to gregorydimitriadis

[2017-02-15 18:50] geograil commented on #114
This appears to be resolved

[2017-02-15 19:18] gregorydimitriadis commented on #113
I just looked back and realized this may be due to another, separate issue actually. It seems every gloss is loading as locked, regardless of how it was saved. I just looked at the original collection this issue came from and saw the gloss looking like this, despite it supposed to have been unlocked:

![screen shot 2017-02-15 at 14 16 03](https://cloud.githubusercontent.com/assets/847197/22991200/

[2017-02-15 19:27] geograil commented on #113
It is like that in this utterance. It isn't the case for all glosses though; I have some others with final holds that have unlocked properly.

[2017-02-15 19:43] gregorydimitriadis commented on #113
Are there any two-handed glosses which are unlocked in terms of right-left hands? E.g. in this same collection and utterance (Rachel 65, U5) the gloss TEST (in the original file data as I received it) should be like that - but it is displaying as being locked (which is incorrect).

[2017-02-15 19:45] #114 closed, assigned to gregorydimitriadis

[2017-02-15 19:48] #73 closed, assigned to gregorydimitriadis

[2017-02-15 19:49] gregorydimitriadis opened #122 "Ask to save when application is closed"
Offshoot of issue #117

When menubar option Signstream > Quit is performed, or cmd-Q, the application should query the user whether they want to save their progress on the current collection or not before fully closing.

[2017-02-15 19:49] gregorydimitriadis commented on #117
Created a new issue #122 to track the application quit option to save, and closing this one.

[2017-02-15 19:49] #117 closed, assigned to gregorydimitriadis

[2017-02-15 20:03] geograil commented on #113
When I was coding them, they did appear unlocked. However, after I saved, quit, and re-opened the file, they are all looking like the picture above throughout the file, regardless of whether they have a final hold on one hand or not.

[2017-02-17 17:47] aimeeaylward commented on #113
This bug is still happening. We tried again and they were still coming up locked.

[2017-02-17 17:48] aimeeaylward commented on #93
This issue seems to be resolved. When we tried it again the second utterance opened without an issue.

[2017-02-17 17:52] geograil commented on #113
The final holds are also still dropping, same as before

[2017-02-17 18:12] #93 closed, assigned to gregorydimitriadis

[2017-02-17 18:13] gregorydimitriadis commented on #113
@aimeeaylward @geograil -- this is still occurring after using the patched version I emailed around on Wednesday (2/15) ?

[2017-02-17 18:38] geograil commented on #113
Yes, we are using the patched version

[2017-02-21 16:47] hammondcl opened #123 ""Event Chain Overlap" warning even when events not overlapping"
This intermittent bug has existed since before I started working here, but I am not sure that it's ever been reported for nonmanuals.

When extending an event or on/offset, sometimes a warning box comes up telling you "The events chain cannot overlap with another events chain..." As you can see in the screenshot, the onset that I was adjusting would not have overlapped the "hp:tilt side right" eve

[2017-02-22 16:17] hammondcl commented on #17
Hi Greg, this was mostly not an issue other than very occasionally, but has occurred quite a lot recently. It seems to be most prevalent in the Cory files. I'm not sure how or if that is related, but I've noticed it only a few times during each of my shifts here. I've been focusing mainly on Rachel files, but I'm working in Cory today and every time I click on the yellow SignStream window, I have

[2017-02-22 17:02] gregorydimitriadis commented on #17
Will put this back on the queue for inspection.

[2017-02-27 16:09] hammondcl commented on #110
All changes are in place and fully functional

[2017-02-27 16:30] hammondcl commented on #108
This appears to be fixed, but because these are kind of freak occurrences, it's difficult to be 100% sure on my end

[2017-02-27 16:36] hammondcl commented on #107
I think this can be closed. I'm manually inputting labels for the blank ones so that I can be sure they're accurate.

[2017-02-27 16:39] hammondcl commented on #106
In Rachel 43, there are still two "raised-furrowed" labels available. All other files appear to only have one "raised-furrowed" option.
![screen shot 2017-02-27 at 11 39 18 am](https://cloud.githubusercontent.com/assets/15836242/23370056/7212302a-fce1-11e6-9215-58905cd5f26d.png)

[2017-02-27 16:41] hammondcl commented on #105
This appears to be resolved. There have not been any new drops reported.

[2017-02-27 16:41] hammondcl commented on #104
There have not been any new drops, so I think this can be closed

[2017-02-27 16:42] hammondcl commented on #103
There have been almost no freeze/ crash issues in the latest deployment, so this seems to be closable

[2017-02-27 16:45] hammondcl commented on #92
This is working properly now

[2017-02-27 16:46] #110 closed, assigned to gregorydimitriadis

[2017-02-27 16:47] #107 closed, assigned to gregorydimitriadis

[2017-02-27 16:47] hammondcl commented on #90
I believe this is working correctly. I just tested it as you suggested and nothing strange happened.

[2017-02-27 16:47] #105 closed, assigned to gregorydimitriadis

[2017-02-27 16:47] #103 closed, assigned to gregorydimitriadis

[2017-02-27 16:47] hammondcl commented on #88
This seems to be fixed

[2017-02-27 16:47] #92 closed, assigned to gregorydimitriadis

[2017-02-27 16:48] #90 closed, assigned to gregorydimitriadis

[2017-02-27 16:53] hammondcl commented on #85
This is working correctly

[2017-02-27 16:54] hammondcl commented on #84
This part is functional, however as I reported the other day, the left/right arrow keys are not recognized with some frequency when clicking on the yellow SignStream window (unselects video window). It is particularly noticeable in Cory files.

[2017-02-27 16:55] hammondcl commented on #81
Macro Unit window is now resizeable

[2017-02-27 16:56] hammondcl commented on #26
This is no longer occurring

[2017-02-27 16:57] hammondcl commented on #20
This still occurs inconsistently

[2017-02-27 16:58] #26 closed, assigned to gregorydimitriadis

[2017-02-27 17:01] #85 closed, assigned to gregorydimitriadis

[2017-02-27 17:04] gregorydimitriadis commented on #84
In reference to #17 - now in the queue of issues again.

[2017-02-27 17:04] #84 closed, assigned to gregorydimitriadis

[2017-02-27 17:05] #81 closed, assigned to gregorydimitriadis

[2017-02-27 17:41] hammondcl commented on #17
This issue occurred on Friday, but the workaround of selecting the video window did not re-enable the arrow keys. The issue occurred primarily when using the "Next/ Previous Utterance" buttons and was noticed in Rachel 51. We cannot reproduce it today, but on Friday, the arrow keys were not useable.

[2017-03-01 16:05] aimeeaylward opened #124 ""add new value" option in non-manual double click menu does not appear"
When I was working with the Rachel 56 file, I tried to add a new value name in the mouth field and the dialogue box did not appear. I double clicked on the event and clicked "add new value" and the box flickered but never fully appeared. I checked and it did not open behind any windows. I also tried this in other fields and the same issue occurred.

[2017-03-01 18:33] hammondcl commented on #86
This has not happened recently

[2017-03-01 19:21] #86 closed, assigned to gregorydimitriadis

[2017-03-01 19:22] #88 closed, assigned to gregorydimitriadis

[2017-03-02 15:45] gregorydimitriadis opened #125 "User-created nonmanual fields missing GROUP label"
Any user modifications to nonmanual fields are found at the top of the collection xml file. Those saved there should all retain their original "parent" reference - i.e. the GROUP attribute on that field.

Example where it has been saved incorrectly - with no GROUP attr filled:

<FIELD COLOR="-16777216" GROUP="" ID="14" LABEL="mouth" NAME="mouth" TYPE="NMN">
<VALUE ID="7414113584" IID="" LABEL="lef

[2017-03-02 15:49] gregorydimitriadis commented on #106
@hammondcl The second raised-furrowed value can be deleted manually, which should solve this issue for this particular collection.

[2017-03-27 15:58] hammondcl commented on #124
At this time, this bug is significantly interfering with our work as it is preventing us from completing several files. Is there a timeline for when we might be able to have this resolved? As of now, there is a push for us to have completed files and this bug is preventing us from completing four.

[2017-03-27 17:31] gregorydimitriadis commented on #124
Hi there - I'll add this issue to my priority list, for which I hope to release fixes for within about a week or so.

As for the very short term - can a workaround for this be to go in to edit the field itself, then add the new value from that screen? Then the new value should show up when a specific event is double-clicked.

[2017-04-05 19:10] gregorydimitriadis commented on #118
@hammondcl Have all of the items you mentioned above been fixed already in the canonical files (the ones in dropbox) or are there any left available to view?

[2017-04-05 19:20] gregorydimitriadis commented on #119
@hammondcl Is this collection file edited in the dropbox folder? I just opened it and looked at U1, and I don't see the fields for 'body lean' and 'hp: jut' - the ones where there was an out-of-bounds event.

[2017-04-05 19:23] gregorydimitriadis commented on #119
@hammondcl Also the xml file inside the collection says that there are no events for either one of those fields defined for U1

[2017-04-05 20:16] gregorydimitriadis commented on #123
@hammondcl Your thinking in the last paragraph is correct. Events now are saved using timeframes according to how long the video frames are. This was not always the case, so for events saved years ago they may not be matching the current standard. When you try to go back/forward on certain frames, it checks against the current video frame standard, and so there is the possibility of a mismatch bet

[2017-04-05 20:20] gregorydimitriadis commented on #106
@hammondcl Hi Chelsea - lemme know when this is resolved and can be closed.

[2017-04-05 21:07] gregorydimitriadis commented on #121
@geograil  Can you attempt to reproduce this? I believe I know what has occurred but am not certain. When the 'play utterance' button is clicked, it does a few checks: First, it checks if you have any event/entity selected, and if so then plays the utterance it's a part of. Second, it checks if the green slider is within the bounds of some utterance, and if so then it plays that utterance. Otherwi

[2017-04-07 14:58] gregorydimitriadis commented on #113
@aimeeaylward @geograil  I can no longer reproduce this issue - neither the final hold dropping nor the auto-locking. Is it still occurring on your end in this collection or any other?

[2017-04-07 17:37] geograil commented on #121
Hi Greg,

I did go into the file I'm working in and try it. I think what you said is correct, but it is odd that it checks it this way. I was always with the impression that when I click the "Next Utterance" button or actually select the utterance in the left sidebar, it would de-select things in the previous utterance. It seems odd that after I do that, and even when I then drag the green slider

[2017-04-07 17:41] gregorydimitriadis commented on #121
It's true - clicking next/prev will not de-select any entities. This is a possibly, but not the currently implemented flow. We could add that as a separate issue to look at as an enhancement?

[2017-04-07 17:44] geograil commented on #121
Definitely! I think it would be more intuitive user wise. At least for me, when you click the next utterance button and then hit play utterance, you assume it would go with the utterance you are currently looking at. Now I know why it's doing what it's doing though, so that should help in the mean time

[2017-04-07 17:47] gregorydimitriadis opened #126 "Clicking next/prev utterance buttons should de-select everything"
As initially referenced in #121...

"I did go into the file I'm working in and try it. I think what you said is correct, but it is odd that it checks it this way. I was always with the impression that when I click the "Next Utterance" button or actually select the utterance in the left sidebar, it would de-select things in the previous utterance. It seems odd that after I do that, and even when I

[2017-04-07 18:44] geograil commented on #113
I tested a gloss in Rachel 52, and it did not happen. However, when I rechecked it with this exact gloss in Rachel 65, U 65 for STUDY, I reproduced the final hold drop.

[2017-04-07 18:50] gregorydimitriadis commented on #113
Is this occurring with this file in Dropbox, or a separate one? Rachel_2012-02-14_sc65-DAI.ss3

This one says that gloss STUDY is locked, and so appropriately should match left and right hands.

[2017-04-07 18:54] geograil commented on #113
Yes, it is occurring in the dropbox file. The gloss looks like this when I open the file:

![screen shot 2017-04-07 at 2 52 45 pm](https://cloud.githubusercontent.com/assets/19953651/24815088/f3b24a96-1ba1-11e7-8e48-0b6703313af1.png)

After I open the Morph-Phon Info box and add the labels for primary/variant, it appears as such:

![screen shot 2017-04-07 at 2 53 40 pm](https://cloud.githubusercon

[2017-04-07 19:01] gregorydimitriadis commented on #113
So in the database for this collection I'm seeing that this gloss is currently saved as Locked=True, which gets indicated on the GUI with the blue markers. Thus editing hand1 should reflect hand2, which seems to occur. Granted, it should not be locked because only one hand has a final hold whereas the other does not. So I think this gloss (and any others like it which are similar) are just in a ba

[2017-04-10 15:28] hammondcl commented on #118
There are still some unedited ones in Cory 107: utterances 4 (eyebrows), 19 (eyebrows), 36 (hm: jut, eye gaze, eye aperture-- all offsets overlapping events)

[2017-04-10 15:32] hammondcl commented on #119
I have no idea what happened to those.. They should still be coded. I reset the endpoints of those offsets to align with the end of the utterance a few weeks ago, but didn't delete them. How would you like me to proceed?

[2017-04-10 15:34] hammondcl commented on #124
In the interim, yes that works

[2017-04-10 15:35] hammondcl commented on #123
Okay, if that's the best fix, then we can close this!

[2017-04-10 15:38] hammondcl commented on #106
I'm not sure what to do about this because it is only in Rachel 43 and that file has been closed out for upload to the DAI, so we are not supposed to edit it anymore. @cneidle what do you suggest?

[2017-04-10 15:53] #123 closed, assigned to nobody

[2017-04-10 16:02] hammondcl commented on #124
Actually, should I be doing that or is it going to create the same issues as in Rachel 43 with the raised-furrowed eyebrow event where there are two labels?

If that's the case, then I think the label "left tense" should be added as a global label because it comes up quite a bit for Rachel. (The reason we found this bug and it continues to give us problems is because we need the label "left tense"

[2017-04-10 16:04] gregorydimitriadis commented on #118
@hammondcl I see the issue here. It is related in the same way to #123 with legacy timeframe calculations versus the new way. I imagine that for all such collections, when it tries to render the screen with a legacy timeframe, it displays as overlapping with a side-by-side one. As with that one, the best solution going forward with these mixed collections will be to use the "Set" button mechanisms

[2017-04-10 16:07] gregorydimitriadis commented on #124
@hammondcl The list of visible fields/values now currently in use should be complete, so anything which is a current value for a nonmanual field should be assumed to be correct, and any additions (user-added) on top will be fully custom and okay. I don't believe we will encounter another situation where a custom field value is added which has the same name as an already existing value, and there a

[2017-04-10 16:14] hammondcl commented on #124
So I should just manually add it to each file?

[2017-04-10 16:15] gregorydimitriadis commented on #119
@hammondcl I just tested on a local version of this collection, tried adding back in those events and bringing them to the end of the utterance, saving, closing, and reopening the collection - seems to work. So I am genuinely not sure what occurred with those events initially. My best guess, since these seems related to timeframes out of bounds etc, would be that this is also related to #123 and #

[2017-04-10 16:17] gregorydimitriadis commented on #124
Yes, since each collection keeps track of its own local field values individually.

[2017-04-12 15:29] hammondcl commented on #124
The new label window still does not appear in the new version

[2017-04-12 15:38] hammondcl opened #127 "Adding annotators not working"
In the new release of SignStream, the program is not allowing me to add annotators. I open a file and am prompted to input an annotator as usual, but there are none available from the drop-down:

![screen shot 2017-04-12 at 11 33 04 am](https://cloud.githubusercontent.com/assets/15836242/24966185/42ea890e-1f74-11e7-8b3c-aedb7676882d.png)

I then clicked "Add Annotator" and selected my name from th

[2017-04-12 15:39] hammondcl commented on #127
(This was apparently not in the new version, so it can probably be disregarded)

[2017-04-12 15:40] gregorydimitriadis commented on #127
Worth testing at least once more though, as it's one I had not seen previously.

[2017-04-12 15:44] hammondcl commented on #127
It's yet to happen now with the new version, but I'll keep my eye on it!

[2017-04-12 15:46] hammondcl commented on #124
This is resolved in the new version!

[2017-04-12 15:48] hammondcl commented on #121
This is still doing it the old way and playing the utterance that you last selected something in, not the one that you're currently looking at

[2017-04-25 14:32] cneidle opened #128 "Clicking on items in the lower part of the gloss window causes them to turn white (and effectively disappear)"
![screen shot 2017-04-25 at 10 29 13 am](https://cloud.githubusercontent.com/assets/13629122/25390726/5d283bbc-29a2-11e7-9ea2-b51c659b30fb.png)
![screen shot 2017-04-25 at 10 29 05 am](https://cloud.githubusercontent.com/assets/13629122/25390727/5d2afe1a-29a2-11e7-8c5c-a3d4e2c92f74.png)
![screen shot 2017-04-25 at 10 28 36 am](https://cloud.githubusercontent.com/assets/13629122/25390729/5f97412c-2

[2017-04-28 15:22] aimeeaylward commented on #84
A similar issue is occurring on occasion; I have noticed this after deleting an event. When using the arrow keys to scroll, the vertical green bar does not move while instead the whole window shifts to the left or right. For example, from this screenshot
![screen shot 2017-04-28 at 11 12 35 am](https://cloud.githubusercontent.com/assets/25349160/25535248/64137f04-2c04-11e7-8142-8ea5f67effd3.png)
t

[2017-05-30 15:33] #124 closed, assigned to gregorydimitriadis

[2017-05-30 15:34] #121 closed, assigned to gregorydimitriadis

[2017-05-30 15:44] gregorydimitriadis opened #129 "Creating text events squishes multiple events together"
The use case:
Create some text on the gloss1 line, two words with a space between. Set the time for the first word, and make its end time past the second. It'll act strange, reverse the strings possibly, and make the second un-clickable.

Squishing the residual text together (as long as they all remain clickable) is a workable solution if possible - or some other way to deal with it.

[2017-05-30 15:46] gregorydimitriadis opened #130 "Text events disappear when new segment tier created - est. 5 hours"
Use case:
Either on clicking new segment tier, or after it, the text events in a ST disappear.

[2017-05-30 15:48] gregorydimitriadis opened #131 "New gloss creation doesn't get displayed immediately"
Use case:
Make a text event. Then set its time. The window does not automatically refresh to show that the text has now become a gloss event - there should be a line on the gloss wrapper to indicate to the user that it was created. The screen only refreshes when the user moves the mouse over it - but it should be automatic.

[2017-05-30 15:49] gregorydimitriadis opened #132 "New collections - movies don't get saved"
On an initial creation of a new collection, there are issues with the movies saving to file.

[2017-05-30 15:50] gregorydimitriadis opened #133 "Macro unit window asks to save changes even if no changes made"
Macro unit asks to save when the window is closed - but this occurs even if nothing changed. This should only ask when something has changed.

[2017-05-30 15:51] gregorydimitriadis opened #134 "Closing the "new segment tier" dialog doesn't work"
Click the red 'x' to get out of the "new segment tier" dialog from the utterance view - does not work.

[2017-05-30 15:53] gregorydimitriadis opened #135 "Edit the text in the menubar"
Text should say "(Re)name Participant" and "(Re)name Segment Tier"

[2017-05-30 16:48] gregorydimitriadis commented on #126
Whichever utterance was clicked (or moved to with the next/prev buttons) should be the operative utterance which is acted on when "play utterance" button is clicked.

[2017-05-30 16:52] gregorydimitriadis opened #136 "Toggle size of UtteranceView panel between big/small"
We want to be able to click a button and expand the size of the panel on the left in the UtteranceView holding the list of the utterances in the collection.

[2017-06-07 14:50] aimeeaylward opened #137 "Extending Onsets in New Version of SignStream"
I am working in Cory 113 file and came across a bug when adding or extending onsets on events. This first came up when I added a body lean field, drew an event, and added an onset. All of this worked fine, but when I moved the green bar and clicked the set button to change the beginning of the onset, it didn't change. I then tried a few different things: using the - button, extending an already ex

[2017-06-07 14:55] aimeeaylward commented on #135
This has been changed in the latest version.

[2017-06-07 14:56] aimeeaylward commented on #134
This is still occurring in the latest version.

[2017-06-07 14:58] aimeeaylward commented on #134
The "new segment tier" dialog box would not close, and because I couldn't exit out of the box I was unable to do anything else. I tried to quit the program but it wouldn't quit.

[2017-06-07 15:03] gregorydimitriadis commented on #135
Thanks Aimee. I will close this shortly.

[2017-06-07 15:07] gregorydimitriadis commented on #134
Hi @aimeeaylward - just to confirm which dialog is being referred to: are you referring to the dialog which comes up when inside the utterance view, and the "New" button is clicked from the bottom left corner of the screen? Or the dialog which is accessed from the top menubar of the application and going to (Macro Unit -> Segment Tier -> New Segment Tier) ?

[2017-06-07 15:45] gregorydimitriadis commented on #137
Reproduced this bug. This actually also occurs for any event in the nonmanual section: onsets, regular events, and offsets. If you try to edit the start time of any of those types of events by any method (+/- or using the set button) you will encounter this error.

[2017-06-07 16:07] aimeeaylward commented on #134
I was referring to the dialog from the top menu when this occurred. I just attempted this from the "New" button in the bottom left corner and the box exited using the red X with no problem.

[2017-06-07 16:15] aimeeaylward commented on #127
Another thing happening with the Annotator Selection window is a slight issue with where the window opens. When you click "New", the "Create or Edit Annotator" window opens up behind the window already open, the "Annotator Selection" window; this is showed in the screenshot below.
![screen shot 2017-06-07 at 12 11 53 pm](https://user-images.githubusercontent.com/25349160/26889026-bf9ab7d0-4b7a-11e

[2017-06-07 16:26] gregorydimitriadis commented on #134
I believe this issue report was only for the bottom left corner dialog for "new segment tier." The ones from the menubar are a little more difficult to allow to be closed as they have dependent operations which follow them and might be disturbed. I'll ask if @cneidle wants that change as well, which may just involve some more detailed changes.

[2017-06-07 16:29] aimeeaylward commented on #126
In this latest version, clicking "Prev Utterance/Next Utterance" and then "Play Utterance," does play the utterance that you are now looking at, but it doesn't deselect the events from the previous one. For example, i tested this in Cory 113; I had selected the "oo" mouth event in utterance 45, then clicked "Next Utterance" to go to U46. When I clicked "Play Utterance," it did play utterance 46 wh

[2017-06-07 16:36] cneidle commented on #129
seems fixed :-)  thanks.

[2017-06-07 16:37] cneidle commented on #128
seems fixed.

[2017-06-07 16:47] cneidle commented on #135
Low priority:  Since the pane that has the information about temporal partitions and segment tiers is not resizable (which would be the ideal), it would be great to make it at least a little bit wider, since it is very difficult to see the names.

This is not at all critical, however; low priority relative to other issues.

![screen shot 2017-06-07 at 12 44 13 pm](https://user-images.githubusercon

[2017-06-07 16:50] cneidle commented on #131
seems fixed.

[2017-06-07 16:57] aimeeaylward commented on #126
To add to my previous comment, clicking "Play Utterance" twice in a row doesn't work. The first time using the "Play utterance" button works, but if you click the button after it finishes playing through the utterance once, it doesn't play through again until after you have moved the vertical green bar.

[2017-06-07 17:11] cneidle commented on #126
1. The issue of what happens when you scroll beyond the selected utterance, but, with the utterance still selected, you click on "play utterance", which we discussed previously, has not yet been resolved.  The behavior should be that "play utterance" plays the selected utterance.  Right now nothing happens. (You would have to select another utterance, then reselect the first one, in order to play

[2017-06-07 17:15] cneidle commented on #132
Would it be possible (easy?) to have the movie windows open initially in front, rather than behind, the non-video window?   It is easy to think that the video windows haven't opened when they are there, but invisible,  upon opening the collection.  Thanks if that can be changed.

[2017-06-07 17:18] cneidle opened #138 "quitting SignStream - user not asked to save changes"
If one closes a collection without saving changes, there is, appropriately, a dialog box that appears asking if changes should be saved.  However, if one instead chooses to quit the program, this doesn't happen, although it should..  The collection is presumably just closed without changes being saved.

[2017-06-07 17:22] cneidle commented on #138
sorry - i see this was already reported as #122.  I hadn't found it before submitting this.

[2017-06-07 17:23] #129 closed, assigned to gregorydimitriadis

[2017-06-07 17:23] #128 closed, assigned to gregorydimitriadis

[2017-06-07 17:26] gregorydimitriadis opened #139 "Resize database view of segment tiers/temporal partitions"
Low priority:  Since the pane that has the information about temporal partitions and segment tiers is not resizable (which would be the ideal), it would be great to make it at least a little bit wider, since it is very difficult to see the names.

This is not at all critical, however; low priority relative to other issues.

![screen shot 2017-06-07 at 12 44 13 pm](https://user-images.githubusercon

[2017-06-07 17:26] gregorydimitriadis commented on #135
@cneidle closing this issue out and spinning off this resizing to another issue - #139

[2017-06-07 17:27] #135 closed, assigned to gregorydimitriadis

[2017-06-07 17:27] gregorydimitriadis commented on #139
See also #136 if possible to combine issues or do in the same fashion.

[2017-06-07 17:27] #131 closed, assigned to gregorydimitriadis

[2017-06-07 17:28] cneidle commented on #132
If you open a new collection, select video files, annotator, and participant, save, and exit the program (before doing any other editing), the program will be saved, but when it is reopened, there are no videos, and there is no macro-unit (although the selections in the macro unit had been previously confirmed).  When the collection opens, this is what I see:
![screen shot 2017-06-07 at 1 26 27 pm

[2017-06-07 17:40] gregorydimitriadis commented on #132
1. I can make the videos appear in front by default. That should be easily done.

2. I still cannot reproduce the issue with saving/reopening - I may need to see the steps being done in order to understand this one better.

[2017-06-07 17:55] gregorydimitriadis commented on #126
Currently the logic of the play utterance button is this:

If there is a selected event, play the utterance which encapsulates that event.
Else: If the green slider is within the bounds of an utterance, then play that utterance.
Else: Do nothing

It could be that after playing through the utterance, the slider is just outside the bounds of the utterance in your collection (just based coincidentall

[2017-06-07 18:07] cneidle commented on #126
My understanding was that the “selected utterance” is the one
that is highlighted at the left.  It is normal for highlighting to provide
a visible cue as to what is selected, and therefore to be acted
upon by a button, e.g.

So, if the slider is out of range of the utterance (which it shouldn’t
be, by virtue of the “play utterance” button having been invoked),
but that utterance remains selected (

[2017-06-08 00:59] aimeeaylward opened #140 "Saving with new handshapes"
On Rachel 55, Utterance 15, MARGARINE and NOT need new handshapes, but it seems I am unable to save and subsequently implement the new handshapes. The steps I would normally take to do are as follows:

1) Open the Morph-Phon Info box
2) Click CLEAR just below the Select Handhsapes button
3) Click Select handhshapes
4) Insert appropriate handshapes in the Palette
5) Click Enter in the Palette box
6

[2017-06-12 16:10] aimeeaylward commented on #137
Since this bug is hindering the process of editing files, it is causing problems for a big part of the work I've been doing and slowing things down, so when possible would be most important to fix.

[2017-06-12 16:48] gregorydimitriadis commented on #137
@aimeeaylward Emailed a new build to address this issue.

[2017-06-12 16:56] aimeeaylward commented on #137
Hello,

It appears this fix worked! Thank you for your help.

Aimee Aylward

On Mon, Jun 12, 2017 at 12:48 PM, Greg Dimitriadis <notifications@github.com

[2017-06-12 20:01] cneidle opened #141 "Participant Selection process - not working properly"
When I attempt to add a new Participant, and I enter information about the participant, I cannot "cancel" or close the window without deleting all of the information I may have entered.  If I do cancel (i.e., I have changed nothing), I get a warning to save information or it will be discarded (inappropriate).  If I choose Discard and return to the Macro Unit Information window and choose Cancel, I

[2017-06-13 19:34] cneidle opened #142 "Problem when gloss labels include ""
We do have some gloss elements that include quotation marks, such as the gloss:  "WHAT"  or classifiers or gestures (  BCL"running" or  ICL:S"holding carrier" or   5"leave it at that" or "um").

However, after typing a gloss label that includes ", upon hitting Return, the entire text disappears; see example below.

before and after hitting Return
![screen shot 2017-06-13 at 3 29 09 pm](https://use

[2017-06-13 19:59] cneidle opened #143 "unlocking and then relocking left-right hand alignments results in messing up the handshapes on one of the hands"
If I unlock the left-right handshapes, and then relock them, the handshape display is adversely affected.  Depending on whether I invoke this command from the dominant hand (as shown in picture 2 below), or the non-dominant hand (as shown in picture 3 below), the handshapes are affected on for the opposite hand.

![screen shot 2017-06-13 at 3 58 31 pm](https://user-images.githubusercontent.com/136

[2017-06-13 20:30] cneidle commented on #143
This same bug affects the unlocking and relocating of the left or right  gloss/phon alignments as well.

[2017-06-13 21:11] cneidle opened #144 "inconsistent alignment with holds"
Hi,

I have not unlocked anything.  I created a gloss, added an initial and final hold, then inserted the handshape information.  The alignment of the handshapes with respect to the holds is not consistent on the left and right hand.

![screen shot 2017-06-13 at 5 07 33 pm](https://user-images.githubusercontent.com/13629122/27104666-fcd4f90a-505a-11e7-909a-3f0b62128d31.png)

Note that if I adjust

[2017-06-14 16:06] cneidle opened #145 "Enhancement request re: Default Initial Participant Selection"
Enhancement request:

Currently, there must be at least one participant specified for every Macro Unit.  Since all of the files we have been annotating contain a unique participant per file (we have some dialogs but haven't gotten to coding them yet), typically each Macro Unit has one participant specified.  If there is a single participant specified, it would greatly simplify things if that parti

[2017-06-14 18:22] cneidle opened #146 "Question: about local vs. global annotators and participants for the initial release"
For the version to be publicly released (i.e., to be used outside of our group), I am assuming that it will not be populated with any global annotators or participants.  So I assume that all participants and annotators will be local, and thus this distinction does not need to be addressed explicitly in the documentation.  Please let me know if this assumption is incorrect.  Thanks.

[2017-06-14 19:13] cneidle opened #147 "Enhancement: Display Time Period - Delete these terms since functionality has not been implemented - est. 1 hour"
"Display Time Period" is shown at the top of the Database View window, just above the Temporal Partition and Segment Tier labels.

The original intent was that a user could Option-Click and drag to mark some portion of the video, and then with that line selected, choose "Play Video" to play just that portion of the video.  Since that has not been implemented (although it would be nice to have), it

[2017-06-14 19:14] cneidle commented on #147
Note also that since ":" is prohibited from the name of a Segment Tier, currently it is impossible, by renaming the initial Segment Tier, to make its name consistent with that of other Segment Tiers that are added subsequently.  My suggestion from earlier today about setting a default Participant would eliminate this issue, in any case.

[2017-06-14 20:03] gregorydimitriadis commented on #146
@cneidle

As of now in all releases of the Signstream application, there are people in the global annotators file, so those are currently viewable by anyone who downloads the app. If we want to not show those, then we could remove those people from the file manually before the public release. If this were to occur, then there is no way for a regular user of the Signstream application to add a glob

[2017-06-14 20:14] cneidle opened #148 "Small typos - in error message"
When the user chooses "Prev Utterance" from U1 (i.e., when there is no previous utterance), there are two spelling errors:

![screen shot 2017-06-14 at 3 54 51 pm](https://user-images.githubusercontent.com/13629122/27151905-0dd8a1f6-511a-11e7-95c1-fe43e4e5d393.png)

"Resouce"  should be "Resource"
and
"utternance"  should be "utterance"

[2017-06-15 15:28] #137 closed, assigned to gregorydimitriadis

[2017-06-15 15:29] #134 closed, assigned to gregorydimitriadis

[2017-06-15 21:17] cneidle opened #149 "SignBank: Problem with compounds"
We have a problem with the inconsistent representation of compounds between the SignBank and the SignStream application.  Although a compound is a single word (like 'blackbird' in English), the way that these are annotated in SignStream is that the separate parts are first coded, and then the menu item is invoked from the contextual menu, so that one gloss will be linked to an adjacent gloss, so t

[2017-06-16 20:44] cneidle opened #150 "display issue -- with handshape Palettes"
Expanding the triangles for handshape options works perfectly.

"Expand all" shows the expected handshapes, but the visual
representation of the triangles fails to indicate that the expansion
has occurred.  The same problem occurs with "Collapse all."

Manually expanding one:

![screen shot 2017-06-16 at 4 40 46 pm](https://user-images.githubusercontent.com/13629122/27244015-aef3a68c-52b2-11e7-8cc

[2017-06-19 21:20] gregorydimitriadis commented on #141
Carol,

As far as the remove button being grayed out...  the logic in place for this currently checks whether the participant selected was just created, and if so then it grays out the remove button. I'm not sure of the motivation for this, but perhaps there was a reason for it? If not, then that check can be removed and the remove button should always be click-able. Would that be more appropriate

[2017-06-20 13:43] cneidle opened #151 "Alignment of English translation field is off for U1 / color [w/ 237 - est. 4 hour]"
It looks like the alignment of the English translation is off for the first utterance (at least in file 55).  Will check other files later.  It is aligned with the start of the entire video file, rather than the start of the video for U1.

<img width="484" alt="screen shot 2017-06-20 at 9 37 29 am" src="https://user-images.githubusercontent.com/13629122/27336054-6f4cf5fa-559c-11e7-9cd1-31102144615

[2017-06-20 14:37] cneidle commented on #151
I have been working with that same file (conducted a search and then closed the search window), and now that translation field in U1 has completely disappeared...

<img width="678" alt="screen shot 2017-06-20 at 10 35 40 am" src="https://user-images.githubusercontent.com/13629122/27338903-5a5321e4-55a4-11e7-89fa-736c60145832.png">

[2017-06-22 01:08] cneidle opened #152 "Minor: Closing the window of a collection should not cause the program to Quit"
Hi - Not critical, obviously, but the expectation when one closes a file is that the application remains open so that another file could, in principle, be opened.  Closing the window of a collection results in the program quitting entirely.  For what it's worth.

[2017-06-22 04:09] cneidle opened #153 "Color selection very flaky - mostly doesn't work - est. 5 hours"
I have succeeded very occasionally in getting the field color to change, but mostly it doesn't change.  E.g., I set the "eye aperture" color to blue.  Nothing happens.  I then also set the Face color to red.  The the label "eye aperture" appears in red and NOW the "eye aperture" lines do appear in the color I had set previously...   There seems to be a big random factor in what is happening, howev

[2017-06-22 04:23] cneidle opened #154 "Creation of new field: "Value Prefix" doesn't work. Other field properties also not working. - est. 5 hours"
Not a big deal, but if it doesn't work, it should probably be removed.

The original program had the option of prefixing something to all field values.  For example, the "role shift" field would pre-pend to the value "rs:"  So it the user entered "John" as the value, it would appear as "rs:John"

The user can just type all of that, but if the functionality doesn't work, we should just get rid of i

[2017-06-26 16:10] aimeeaylward opened #155 "Event at beginning of utterance won't delete - est. 4 hours"
I am working in the file Cory 113 and came across an event in utterance 16 that is unable to be deleted. It a raised eye brow event and when double clicked, it won't be selected in order to extend or shorten it, and when using option+click the event bar does not become selected.
![screen shot 2017-06-26 at 12 04 51 pm](https://user-images.githubusercontent.com/25349160/27548797-05550180-5a68-11e7-

[2017-06-26 20:16] cneidle opened #156 "Search problems"
Return to Original State does not seem to work.

After a search result has been opened, the "play utterance" option seems very flaky.  I have gotten it to work, but often it doesn't seem to work.  Not sure what makes it work vs. not.

Also - users will have to be warned not to close the window with the search results, because that immediately quits the whole program.  (not an expected behavior; al

[2017-06-26 20:54] cneidle commented on #156
One correction:  This time I did get a dialog box asking me to save changes before closing the utterance window showing a specific search result.   Perhaps there had not been any unsaved changes previously.  Sorry.  But that's just a minor point in the issues reported above...  thanks.

[2017-06-27 15:27] cneidle opened #157 "Enhancement request - for display of search results"
Perhaps this can be resolved along with the other enhancement requests to be able to enlarge regions of other windows.  In any case, for the display search results, it would be nice to be able to enlarge the display area for results without having to enlarge the window as a whole, i.e., to be able to drag the border line between the query area and the results area to adjust their relative sizes.

[2017-06-27 15:58] cneidle commented on #157
There should also be a CLEAR button in the Search window, e.g.

![screen shot 2017-06-27 at 11 58 11 am](https://user-images.githubusercontent.com/13629122/27597311-fda212ac-5b2f-11e7-97a0-60cc16ede467.png)

[2017-06-30 16:47] gregorydimitriadis commented on #140
Hi @aimeeaylward

I am unable to reproduce this issue - if possible and if time allows, can you please send a screenshot(s) of this issue occurring?

[2017-06-30 17:15] cneidle commented on #140
I just tried this and didn't have a problem.  A dialog box came up warning me that I  had to first add the sign to the Sign Bank (although the sign already existed in the Sign Bank).

FWIW sometimes these dialog boxes that require a response from the user show up in very odd places where the user does not see them (including sometimes behind other windows).  I don't know if that was the problem fo

[2017-06-30 17:17] cneidle commented on #140
PS to Aimee - If you do go back to this file, please be sure to save it with a different name (e.g., "test" to the desktop), since we have already handed over this completed file to Augustine and it should not be saved with further modifications at this time.  Thanks.

[2017-06-30 17:17] gregorydimitriadis commented on #140
Handshape variations will not cause the sign bank to complain.

[2017-06-30 17:21] cneidle commented on #140
So, if the sign NOT had previously been entered in the Gloss window, and then I open the Morph-Phon window and change the handshapes, e.g., and then hit Enter, am I supposed to get an error message until I go the Sign Bank, search for NOT, and copy it back into Morph-Phon?  At what stage does the check happen to see whether the gloss is in the Sign Bank?

[2017-06-30 17:23] gregorydimitriadis commented on #140
It is determined solely by the string values for primary entry and variant. If those string labels are found in the sign bank, it will allow the user to proceed, regardless of the handshapes, other info, etc.

[2017-06-30 18:04] cneidle commented on #140
It seems to me that the match should be made solely on the basis of the entry/variant character string.  The primary entry is uniquely determined by the entry/variant, so checking on that is redundant at best.  And in cases where annotations have been done prior to the current Sign Bank functionalities having been implemented, the entry/variant is available in the Morph-Phon window, whereas the pr

[2017-06-30 19:14] cneidle opened #158 "Controlling the view of multiple Temporal Partitions/Segment Tiers"
It seems to me the Remove, Up, and Down buttons are not working.  Perhaps I just don't know how to select the one that is to be removed or moved ?  Or perhaps this has not yet been implemented ??

![screen shot 2017-06-30 at 3 12 39 pm](https://user-images.githubusercontent.com/13629122/27750670-cd012e8e-5da6-11e7-9f05-8bf3efda9bcc.png)

[2017-06-30 20:20] gregorydimitriadis commented on #158
@cneidle To select the segment tier, you can click where it the string of "Annotator: x" is - this is the only click-able place.

[2017-06-30 20:23] cneidle commented on #158
Ok!  Got it.  This will be even more logical once "Annotator" is replaced by "Participant"  :-)

Thanks very much.

[2017-07-03 14:44] gregorydimitriadis commented on #158
HI @cneidle  - can I close this one?

[2017-07-03 14:47] cneidle commented on #158
Yes :-)   Thank you very much.

[2017-07-03 14:47] #158 closed, assigned to nobody

[2017-07-08 04:59] cneidle opened #159 "Something has happened with the display of buttons beneath the Utterance index"
Thanks again for changing Annotator to Participant.  But the button display has gotten messed up.

Would be better as it was before:

<img width="205" alt="screen shot 2017-07-08 at 12 53 50 am" src="https://user-images.githubusercontent.com/13629122/27982726-54380d2e-6378-11e7-83aa-2e855e58bfe7.png">

This is how things show up now:

<img width="166" alt="screen shot 2017-07-08 at 12 53 26 am" sr

[2017-07-12 22:50] cneidle commented on #93
Hi,  This was reported closed, but in fact this file is still problematic.

Current issue:  The green slider is still not appearing at all in the non-manual area in U1 of file 107.

Also to be investigated: Chelsea and Amanda will be entering information in U1, which is still blank, and will report if there is a further problem with having information retained in the manual and non-manual fields i

[2017-07-24 15:18] hammondcl opened #160 "Reattaching macro unit caused file to become unworkable (Cory 108)"
Carol sent some screenshots of Cory 108 and I wanted to see if I also noticed the issue she was discussing. I opened the file, tried to open the utterance, but it would not. I noticed that the macro unit was incorrectly attached, so I removed the one video that was attached and reattached all four videos correctly. Clicking "Confirm Selections" to display the videos caused this to occur:

![screen

[2017-08-05 02:11] cneidle commented on #132
I am not able to reproduce the problem with selecting videos, saving, and then not having them be present upon reopening the collection, with the current (rc2) version.  However, there is an error message if the user attempts to try to save the collection before confirming the selections in the macro unit information window.  This error message is not hugely informative, either.
<img width="386" a

[2017-08-08 15:29] gregorydimitriadis commented on #132
I've edited the README for now.

The issue with the message still remains.

[2017-08-08 15:31] gregorydimitriadis commented on #132
README will now say:

"1) Attempting to save the collection while still on the Macro Unit window will result in an error. "

[2017-08-16 11:44] cneidle commented on #159
I believe this should be closed.

[2017-08-16 11:54] cneidle commented on #149
I believe this will be mostly resolved with the next version of the Sign Bank that Augustine will provide, which will include only the parts of compounds, e.g., PART1*, *PART2.  However, these will be listed with the containing compound:

    PART1*  (PART1+PART2)

and it would be good to add view options for the video of the individual sign and the containing compound.

The * should be ignored (l

[2017-08-16 12:08] cneidle commented on #80
done, I think

[2017-08-16 13:25] #159 closed, assigned to nobody

[2017-08-16 13:26] #80 closed, assigned to gregorydimitriadis

[2017-08-16 14:43] cneidle opened #161 "Weird overlap of glosses in Cory 107 - U 61 - est. 12 hours"
![screen shot 2017-08-16 at 10 36 23 am](https://user-images.githubusercontent.com/13629122/29368902-077c69ec-826f-11e7-9761-0f3915816eb2.png)

I clicked on that one overlapping item, and chose 'delete' and a whole bunch of stuff got deleted!

![screen shot 2017-08-16 at 10 40 25 am](https://user-images.githubusercontent.com/13629122/29369012-59de5b64-826f-11e7-96a8-25a89ac0ddbe.png)

I'll email t

[2017-08-16 15:53] cneidle opened #162 "Participant information not displayed in Utterance Window"
Hi,

This file originally had no participant defined.  I added a participant -- and this was displayed in the Tier label

![screen shot 2017-08-16 at 11 49 56 am](https://user-images.githubusercontent.com/13629122/29372523-6607a670-8279-11e7-9001-1e254944ed2d.png)

but not in the Utterance Window

![screen shot 2017-08-16 at 11 49 46 am](https://user-images.githubusercontent.com/13629122/29372536-

[2017-08-16 15:58] cneidle commented on #162
SORRY - MY MISTAKE - PLEASE IGNORE THE ABOVE.

I had added the Participant to the Macro Unit, but had not taken the further necessary step (showing how confusing this is) of adding it to the Segment Tier, which I had already relabeled, making me think that the participant had already been set there.   Anyway, SORRY.

[2017-08-21 14:21] #108 closed, assigned to gregorydimitriadis

[2017-08-21 14:23] #106 closed, assigned to gregorydimitriadis

[2017-08-21 14:24] #113 closed, assigned to gregorydimitriadis

[2017-08-21 14:27] #118 closed, assigned to gregorydimitriadis

[2017-08-21 14:28] #119 closed, assigned to gregorydimitriadis

[2017-08-21 14:36] gregorydimitriadis commented on #120
Note: This may be part of a broader fix in terms of how upgrading Signstream to a new version will work in the future. If it is done "in-app" the upgrade of the software can occur "around" the xml files, so the user wouldn't have to worry about copy/pasting from the old to the new pkg. (as per recent meeting with Carol, 2017-08-16)

Making this into an enhancement.

[2017-08-21 14:38] gregorydimitriadis commented on #138
Closing this issue in favor of #122

[2017-08-21 14:38] #138 closed, assigned to gregorydimitriadis

[2017-08-21 14:43] gregorydimitriadis commented on #142
@cneidle I believe this has been fixed. Can you confirm?

[2017-08-21 14:45] #146 closed, assigned to gregorydimitriadis

[2017-08-21 14:47] gregorydimitriadis commented on #148
This has been fixed.

[2017-08-21 14:47] #148 closed, assigned to nobody

[2017-08-21 14:47] gregorydimitriadis commented on #150
@cneidle I believe this has been fixed. Can you confirm?

[2017-08-21 15:13] gregorydimitriadis commented on #143
@cneidle I believe this has been fixed. Can you confirm?

[2017-08-21 15:13] gregorydimitriadis commented on #144
@cneidle I believe this has been fixed. Can you confirm?

[2017-08-21 15:20] gregorydimitriadis commented on #141
@cneidle For this one, it should be mostly fixed. The save/discard dialog should not appear if no changes were made. The remove button being grayed out remains intentionally for newly created participants, since they are the only ones which haven't been saved to the xml file yet.

[2017-08-21 15:33] gregorydimitriadis commented on #162
@cneidle  I think this one basically the resolution will be to ensure that all segment tiers which exist must be correlated with a participant, either by choice or by assumption. This may need to be accomplished by forcing the user to select a participant in the macro unit window (similar to how now at least one annotator must be selected as well).

[2017-08-21 15:42] gregorydimitriadis commented on #136
Related to #82

[2017-08-21 15:48] gregorydimitriadis commented on #133
This is issue 7 of the README from the release package, from the latest release - 3.0.8

[2017-08-21 15:50] gregorydimitriadis opened #163 "Attempting to save the collection while still on the Macro Unit window will result in an error."
This is README.txt issue_1 - based on SignStream package version 3.0.8

[2017-08-21 15:52] gregorydimitriadis commented on #127
Windows appearing in odd orders is from the README.txt issue_2 from SignStream release pkg 3.0.8

[2017-08-21 16:00] gregorydimitriadis opened #164 "When the window is zoomed out to a certain perspective, the green slider may not advance all the way to the end of the video"
This is README.txt issue_4 as of SignStream release pkg 3.0.8

[2017-08-21 16:09] gregorydimitriadis commented on #153
This is also issue_5 from the README.txt as of SignStream release pkg 3.0.8

[2017-08-21 16:11] gregorydimitriadis commented on #154
This is also issue_6 from the README.txt as of SignStream release pkg 3.0.8

[2017-08-21 16:13] gregorydimitriadis commented on #156
This is also issue_8 from the README.txt as of SignStream release pkg 3.0.8

[2017-08-21 16:16] gregorydimitriadis opened #165 "The display for the proper time scale at the top of the Database View and Utterance windows is not currently correct"
This is also issue_10 from the README.txt as of SignStream release pkg 3.0.8

[2017-08-21 16:18] gregorydimitriadis commented on #163
duplicate of already existing #132

closing this one.

[2017-08-21 16:18] #163 closed, assigned to gregorydimitriadis

[2017-08-21 16:20] gregorydimitriadis commented on #104
Reopening for further investigation.

[2017-08-21 16:26] gregorydimitriadis opened #166 "Identifying any requirements for video files working with SignStream"
Limited by our video playback component?  Can we refer the user to some set of video formats that can be read by Xuggler or whatever?? I anticipate that we will be getting questions about this very soon from users: “What video formats can SignStream work with?” and it would be good to have an answer to that.

[2017-08-21 16:48] gregorydimitriadis commented on #139
Undecided as to whether it's best to toggle or implement a drag-and-drop divider.

[2017-08-21 16:50] gregorydimitriadis commented on #136
Closing as duplicate in favor of #139

[2017-08-21 16:50] #136 closed, assigned to gregorydimitriadis

[2017-08-21 16:51] gregorydimitriadis commented on #82
Closing as duplicate in favor of #139

[2017-08-21 16:51] #82 closed, assigned to gregorydimitriadis

[2017-08-21 16:52] gregorydimitriadis commented on #139
This bug will now encompass both the Utterance View as well as the Database View, in terms of layout of the panels and windows in terms of space.

[2017-08-21 17:01] gregorydimitriadis commented on #160
@hammondcl, @cneidle I believe this was due to the zoom changing after videos are re-attached to the collection. If this is possible to reproduce - could you try it again and then change the zoom to something more visible? I believe this should work.

[2017-08-21 17:03] gregorydimitriadis commented on #161
Possibly related:

#123

#118

#86

[2017-08-21 17:05] gregorydimitriadis opened #167 "Graying out features that are not implemented"
Features including from the menubar, inside the app (panels, buttons, etc) - anything which does not currently work or is to be implented should be grayed out.

[2017-08-21 17:23] gregorydimitriadis commented on #152
This is also issue_9 from the README.txt as of SignStream release pkg 3.0.8

[2017-08-21 17:31] gregorydimitriadis opened #168 "Sign Bank Search window additions"
- Some small improvements on current display + link to DAI 2 for more detailed information and larger sets of examples and videos
- Identifying other videos for viewing
- Dealing with compounds
- Proper display of future entries from continuous signing data

TBD - more specific information as to what to change

Also relates to #149

[2017-08-21 17:34] gregorydimitriadis commented on #156
Also relevant to #152 - window closing is an aspect of search as well.

[2017-08-21 17:40] gregorydimitriadis commented on #162
@cneidle  Also between this issue and #145 - which should we keep?

[2017-08-21 17:41] gregorydimitriadis commented on #147
@cneidle If we are to implement #2, should we delete this issue?

Also as for the participant note - see #162 and #145

[2017-08-21 17:50] gregorydimitriadis opened #169 "Better way to deal with upgrading (without overwriting local files) - est. 20 hours"
Per Carol: Better way to deal with upgrading (without overwriting local files).  Other programs deal with this by storing preference-like information in a location that does not get overwritten by an upgrade, e.g., in the system Library. Could SignStream do that?

--

Upgrade could occur "in-app" and occur "around" the local files, so as not to touch them while upgrading everything else around it.

[2017-08-21 17:55] gregorydimitriadis opened #170 "Open video windows in front of database view window"
On opening a collection, the videos should always appear in front of main screen database view window, so as to alert the user that the videos were attached and loaded properly.

[2017-08-21 18:04] gregorydimitriadis opened #171 "Video Lookup Function - est. 10 (?) hours"
From the Macro Unit window - often the lookup function does not behave as expected.

See #81 for more possible information.

[2017-08-21 19:08] gregorydimitriadis opened #172 "Replace symbols used in README file"
© and ® in the README, can be the actual symbols instead of plain text.

[2017-08-21 19:48] gregorydimitriadis commented on #112
Related to #132

[2017-08-21 19:49] #125 closed, assigned to gregorydimitriadis

[2017-08-21 19:50] gregorydimitriadis commented on #140
Related to #168

[2017-08-21 21:46] cneidle commented on #162
I suggest deleting this issue, in favor of #145 -- to answer the question you sent.

I agree with requiring at least one participant to be selected in the Macro Unit Information window, and assigning that participant (if there is only one) by default to the first segment tier that is created.  Thanks.

[2017-08-21 21:49] cneidle commented on #160
I agree that this is likely due to the zoom.  I don’t think this is a continuing problem.
thanks,
 Carol

[2017-08-21 21:50] cneidle commented on #139
I would be MUCH better to have a draggable divider.

thanks,
 Carol

[2017-08-21 21:51] cneidle commented on #142
yes - thanks

[2017-08-22 00:00] cneidle opened #173 "Play utterance goes beyond the end of the utterance"
I'm looking at File 111, U3

Go to end of utterance gives a correct result.

Play utterance ends beyond the last frame of the utterance, however.

<img width="1143" alt="screen shot 2017-08-21 at 7 57 52 pm" src="https://user-images.githubusercontent.com/13629122/29542918-46943372-86ab-11e7-81c8-d43155f87488.png">
<img width="1119" alt="screen shot 2017-08-21 at 7 57 38 pm" src="https://user-image

[2017-08-22 02:49] cneidle opened #174 "The |- (go to start of) Event button is not working properly"
If there is an event with an onset, when the event is selected, that should go to the start frame of the event, not of the onset.  It doesn't.

<img width="538" alt="screen shot 2017-08-21 at 10 32 16 pm" src="https://user-images.githubusercontent.com/13629122/29546189-cbbfbfac-86c0-11e7-87c8-6a07f352d7b4.png">

The 'go to end of event' button works ok with respect to the offset.  That is, if the

[2017-08-22 13:14] gregorydimitriadis commented on #162
Closing as duplicate

[2017-08-22 13:14] #162 closed, assigned to gregorydimitriadis

[2017-08-22 13:15] gregorydimitriadis commented on #160
@cneidle - Worth closing, or just prioritizing for later?

[2017-08-22 13:18] #142 closed, assigned to gregorydimitriadis

[2017-08-22 13:19] gregorydimitriadis commented on #173
@cneidle How many frames beyond the end of the utterance does 'play utterance' go?

[2017-08-22 13:48] cneidle commented on #173
One frame beyond.

But in many cases, that means seeing black instead of seeing the person
from the utterance.

thanks,
 Carol

[2017-08-22 14:14] cneidle opened #175 "unable to reset start time of utterance in Database View window"
Even when all items have been removed from the initial portion of the utterance (including the translation), it is impossible to make the start time later.

![screen shot 2017-08-22 at 10 10 59 am](https://user-images.githubusercontent.com/13629122/29569779-8390bc10-8722-11e7-8cd6-ebc99b51a8da.png)

![screen shot 2017-08-22 at 10 11 19 am](https://user-images.githubusercontent.com/13629122/2956978

[2017-08-22 14:21] cneidle commented on #104
another example - file 110 U 34
![screen shot 2017-08-22 at 10 20 14 am](https://user-images.githubusercontent.com/13629122/29570169-a741b078-8723-11e7-85a5-d0607a7c0605.png)