[2020-09-28 19:47] gregorydimitriadis commented on #363
@cneidle after reading this carefully again, I think the issue is with the sign bank. I don't see any entries in the sign bank itself for SIGN_TYPE of "NUMBER" -- there are many entries in the file like so:

`        <SIGN_TYPE></SIGN_TYPE>`

which makes the sign type show up as 'n/a' in the window.

[2020-09-29 14:02] gregorydimitriadis commented on #360
@cneidle any update on this - is it signstream or sign bank related?

[2020-09-29 14:36] cneidle commented on #363
I confirmed with Augustine that, for some reason, the sign types were not included in the Sign Bank.  He will fix this before hte next Sign Bank is released.  Thanks!

[2020-09-29 14:41] cneidle commented on #360
I believe that this is a problem in the Sign Bank entry.  This is on Augustine's "to do" list, to fix prior to the next release of the Sign Bank.  I don't believe that this problem stems from SignStream, but if Augustine discovers anything that needs your attention, he will let you know :-).  Thanks very much.

[2020-09-29 14:44] cneidle commented on #359
I am also not able to reproduce this currently.  So let's close this for now and return to it if this problem recurs.  Hopefully we will not have files in the future that are missing a participant, in any case.  Thanks.

[2020-09-29 14:50] #363 closed, assigned to gregorydimitriadis

[2020-09-29 15:51] gregorydimitriadis opened #371 "Convergence Grant (Master Issue)"
Just opening this as a catch-all for any issues which may arise and need discussion here.

[2020-10-01 01:23] cneidle commented on #369
Zoom is WORSE, not better, with RIT files

I opened this one up, and can't even fit the first utterance in the window.  No way to reduce the zoom.

<img width="1356" alt="Screen Shot 2020-09-30 at 9 20 33 PM" src="https://user-images.githubusercontent.com/13629122/94755600-1130f980-0363-11eb-94bd-efda3be4403a.png">

[2020-10-01 13:08] gregorydimitriadis commented on #369
@cneidle which file/video is this?

[2020-10-01 14:03] cneidle commented on #369
The information is displayed in the title bar:  PF15_V02.

That would be

	PF15_V02.ss3
	P15_V02.mp4

Thanks,
 Carol

[2020-10-08 17:36] cneidle opened #372 "Buttons for |- and -| utterance reference the PREVIOUS rather than the SELECTED utterance"
This so far affects only one file:  P20_V01_new

But it is very odd.  Play utterance does play the selected utterance.  But the buttons to to the start and end of the previous utterance.  Can send the file by email; the movie file is the one created by Jack yesterday.

[2020-10-11 18:01] cneidle opened #373 "losing data"
I lost about 15 minutes of work, because when I reopened the file, it was not my most recent saved version.  This has happened to me once or twice before.  The only thing I can think of that might have cause this is that I had done a search.  So in addition to saving my work every 30 seconds, which I have done religiously, when I changed the search domain, it asked if I wanted to save, and I click

[2020-10-11 18:39] cneidle commented on #373
I have a bad feeling wondering how much of my past work may have been lost without my noticing...

[2020-10-12 21:07] gregorydimitriadis commented on #373
Hi @cneidle - I see what you mean about the search, definitely could be a concern, and will look into it.

[2020-10-12 22:14] cneidle commented on #154
This is still broken.  It needs to be fixed.  Thanks.  The window appears for adding a new value, but it disappears instantly.  Thanks.

[2020-10-14 00:26] cneidle commented on #373
Why is it searching through a tmp file when searching through the currently opened collection?

<img width="314" alt="Screen Shot 2020-10-13 at 8 24 30 PM" src="https://user-images.githubusercontent.com/13629122/95929548-44777d80-0d92-11eb-97e0-c4821a333e94.png">

[2020-10-15 18:47] gregorydimitriadis commented on #373
@cneidle Can you send that collection file? thanks in advance

[2020-10-15 20:31] cneidle commented on #373
Attachments available until Nov 14, 2020
Click to Download
 <https://www.icloud.com/attachment/?u=https%3A%2F%2Fcvws.icloud-content.com%2FB%2FAYWpcCaBcyV0oK3pY_NjOPdXR8NzAdZm9tV55bkpBZF3-iHufjEO8MRE%2F%24%7Bf%7D%3Fo%3DAgo7Zw1QZCxz5vsqW2VdzrAYUtJZv_u71SvhS0vXJ9MD%26v%3D1%26x%3D3%26a%3DCAogde9k52qL5P2p9WqssI8RErIP5adNYWT4jjlbBpDd0ZkScxD5p9bv0i4Y-bfRw9wuIgEAKggByAD_Z0f4hFIEV0fDc1oEDvDERGokN2PHgeicyuU

[2020-10-16 19:55] gregorydimitriadis opened #374 "Can't open utterances"
Certain collections having issues when attempting to enter the utterance view.

[2020-10-16 19:57] gregorydimitriadis commented on #374
Issue: handshape entities disappeared from the collection xml file.

Resolution: a recovery process on entering utterance view, which creates dummy ("?" value) handshapes for these entities, renames the gloss name to include "(recovered)" in the name, and shows the user a warning which explains this, so they can search through and fix them.

[2020-10-22 20:02] gregorydimitriadis commented on #373
@cneidle having difficulty reproducing this - are there a series of steps which you can currently do which can cause this to occur again?

[2020-10-22 20:05] cneidle commented on #373
One thing I noticed about the search domain showing up as a tmp file is that this happened more than once (but not always) when, e.g., I did a search, it produced multiple results, I went to view the first result, made a change, saved the file, went back to the search window results, looked at the second result, etc.   In other words, continuing with the results in the search window after I had do

[2020-10-29 00:08] tessdekker commented on #339
Working on Jonathan file #91 utterances 10 and 38, when entering the hand shape data into the morph info window, and when trying to select "Enter," the event lines show up for both the right and left hands, but the hand shapes. The lexical information shows up with no issues, just not the hand shapes.
<img width="237" alt="Screen Shot 2020-10-26 at 7 49 40 PM" src="https://user-images.githubuserco

[2020-10-29 11:41] #360 closed, assigned to gregorydimitriadis

[2020-10-29 14:38] cneidle commented on #339
Hi Tess and Indya,

I’m a bit confused, because I looked at the two utterances, and the handshapes are there:

Can you explain further?

Are you still having this problem?

Thanks,
 Carol

[2020-11-01 05:59] bugspotter33 commented on #328
This is still an issue. Working on file Ben Control of Sound 2.6 U17

[2020-11-01 16:52] cneidle commented on #268
This is still a problem, and EXTREMELY annoying.  If you have already entered handshapes (whether on 1 or 2 hands), and you change the sign type, this should NOT automatically change the number of hands for the sign, nor should it enter additional handshapes or wipe out handshapes that have already been entered...

[2020-11-01 18:39] cneidle commented on #268
Just to be explicit about what happens but should not happen:

1) If I change the sign below from Number to Lexical, it makes it 2-handed, same handshapes, and adds handshapes to the non-dominant hand.  (If this had been a 2-handed sign with different handshapes on the 2 hands, it would have over-written that to make the handshapes on the 2 hands the same, because the default for lexical signs is

[2020-11-02 13:49] gregorydimitriadis commented on #268
@cneidle I think when we did this before we opted for the 'quick fix' to address the immediate issue (hands going from 1 to 2 and handshapes being deleted), and didn't account for the broader (no changes to handshapes or number of hands) issue - this will still take a lot of time to refactor the way the original code worked to accomplish properly - just FYI, but we can look into it.

[2020-11-02 14:38] cneidle commented on #268
Hi Greg,

I would have, perhaps naively, thought that this would not be difficult.

When there is a change to the type of sign, the program needs to see whether
handshapes have already been selected.  If yes, then change nothing other
than the category of the sign.  If no, then also implement the category default
settings.

Is that really very difficult to implement?

Thanks very much,
 Carol

[2020-11-03 16:57] cneidle commented on #268
FWIW - I would say this priority is higher than "low" (modiying what I suggested above)...   This is a potential source of data loss.

[2020-11-05 16:19] gregorydimitriadis commented on #373
@cneidle question while still looking into this: do you recall if this occurred for "full" glosses? By full I mean - typed the word on the gloss line, set the start/end times, and selected handshapes. Or was it "less than full" - i.e. just typed the word and/or set the start/end times.

[2020-11-05 16:21] cneidle commented on #373
NOt sure what you are asking about here.  These were searches.  Everything was annotated.  Does this question refer to a different bug report ??

[2020-11-05 16:30] gregorydimitriadis commented on #373
Referring to this:

Were the changes (which went subsequently missing) to only existing glosses, or for new glosses as well?

[2020-11-05 16:31] cneidle commented on #373
I don’t believe I created any new glosses…

[2020-11-15 02:45] bugspotter33 commented on #335
Videos/picture displays aren't being shown from the signbank. Working on Ben 2.6 file.

![Screen Shot 2020-11-14 at 6 41 46 PM](https://user-images.githubusercontent.com/38887034/99161677-6887f080-26a9-11eb-9bc8-ffbbf6f91c91.png)

[2020-11-15 05:18] cneidle commented on #335
Hi Indya

When this happens can you please check to see if you can access the DAI in your browser ?  And indicate that you have been able to do that in your bug report?  Sometimes the Rutgers server is temporarily inaccessible, and using this feature in signstream requires internet access to the DAI.  Thanks !!

Sent from my iPhone; please excuse typos.

[2020-11-15 05:44] cneidle commented on #335
Hi Augustine,

I have confirmed that accessing the Sign Bank from within SignStream
is not working, despite the fact that the DAI is perfectly accessible via
internet.

The thumbnails and videos are not showing up.

Has something changed that would interfere with this access, as it
has been working fine?

Thanks,
 Carol

[2020-11-17 13:25] gregorydimitriadis commented on #347
Closing in favor of #356 which is broader.

[2020-11-17 13:25] #347 closed, assigned to gregorydimitriadis

[2020-11-21 21:31] cneidle commented on #355
There is still a very frequently occurring problem with the RIT files - with respect to opening a file, where one is forced to choose an annotator, and all previous annotators are rejected, forcing me to create a new annotator every time I open the file.

<img width="705" alt="Screen Shot 2020-11-21 at 4 27 32 PM" src="https://user-images.githubusercontent.com/13629122/99887980-ddfa4080-2c16-11eb-

[2020-11-21 21:40] cneidle commented on #355
Correction:  This seems to be not just per file.  As I open new files, I am having to create still more new annotators in order to be able to open them...
<img width="564" alt="Screen Shot 2020-11-21 at 4 38 38 PM" src="https://user-images.githubusercontent.com/13629122/99888119-28c88800-2c18-11eb-864d-87feb9b9517f.png">

[2020-11-25 06:28] bugspotter33 opened #375 "Warning message"
Not sure if this is a bug. I am working on Ben file 2.6 and I received the following message when opening SS:

![Screen Shot 2020-11-23 at 5 59 51 PM](https://user-images.githubusercontent.com/38887034/100190975-2da16c00-2ea4-11eb-9d58-521ecb65575e.png)

![Screen Shot 2020-11-24 at 10 24 26 PM](https://user-images.githubusercontent.com/38887034/100190981-3003c600-2ea4-11eb-99b3-24d8ce873e07.png)

[2020-11-25 13:54] gregorydimitriadis commented on #375
@bugspotter33 Indeed, this was introduced for issue https://github.com/DCS-LCSR/SignStream3/issues/374

[2020-11-25 15:40] gregorydimitriadis commented on #355
@cneidle taking a look at this, but finding it difficult to reproduce this - a few questions:
* I assume you're running the latest SignStream version(?)
* I've been trying it with collections: PF13_V09_ANNOTATED and  PF17_V09_ANNOTATED - do you know if the error occurs for these?
* It seems the only way this error would occur is if: the collection file to be opened and your local annotators xml fi

[2020-11-25 15:48] cneidle commented on #355
Running your latest version of SignStream (but this is not new to this version).
These are the files I was editing the other day, and this problem occurred at least about 85% of the time, probably more.  It was the very occasional file that did not give me this problem.

<img width="514" alt="Screen Shot 2020-11-25 at 10 43 29 AM" src="https://user-images.githubusercontent.com/13629122/100249980-2

[2020-11-25 21:14] gregorydimitriadis commented on #355
As discussed via email, this is not reproducible. Leaving the issue open in case it recurs.

[2020-11-29 21:33] cneidle opened #376 "No warning to save work if you accidentally choose "New blank collection" from the menu"
I was trying to open  a search window and accidentally released the mouse button for New Blank Collection.
This causes all unsaved work to be lost with no warning...  This should have the same warning message as if a new file were to be opened.  thanks.

[2020-11-30 13:45] gregorydimitriadis commented on #376
@cneidle priority?

[2020-11-30 13:50] cneidle commented on #376
Does not need to be done before the next release, unless it is a quick fix…

Thanks!
  Carol

[2020-12-04 00:07] cneidle opened #377 "Problem with changing sign type"
I was testing a new Sign Bank from Augustine.  He has added sign type information in many cases where it was lacking.  So I wanted to test adding a loan sign.  So I first changed it to a Classifier.  Then tried entering the information from the Sign Bank, which included Sign Type = loan.  So in principle, it should have changed it (back) to loan sign.  It appeared to do the Morph-Phon window, but

[2020-12-16 16:01] cneidle opened #378 "Weird colors in version 3.3.5"
This is what the utterance window has looked like up to now (this from 3.3.4), i.e., the lines for glosses are black:

<img width="499" alt="Screen Shot 2020-12-16 at 10 58 50 AM" src="https://user-images.githubusercontent.com/13629122/102373080-d4ea5e00-3f8d-11eb-91d1-669dd17513da.png">

In the new version, the lines are mostly blue.  I have no objection to having the lines appear in blue, except

[2020-12-16 16:12] cneidle opened #379 "Jumping to specific utterance not working in new RIT files"
I got two new RIT files today, and double-clicking on a specific utterance from the database view does not work; it always opens up to the first utterance.  Likewise, clicking on a specific utterance from the menu at the left of the utterance window has no effect.  I tried opening these files with the previous version SignStream as well (3.3.4) and there is the same problem.  So perhaps there is s

[2020-12-16 16:16] gregorydimitriadis commented on #378
@cneidle Hmm..I see what you're saying. I didn't notice that, and I think I know the cause. Will address this.

[2020-12-16 17:11] cneidle commented on #379
FWIW, manipulating the Zoom seems to resolve this problem...

[2020-12-16 17:34] cneidle opened #380 "Sort order of Sign Bank from within SignStream?"
Are you respecting the order in which things occur in the Sign Bank?  Does not seem so...

<img width="174" alt="Screen Shot 2020-12-16 at 12 33 47 PM" src="https://user-images.githubusercontent.com/13629122/102384762-10d7f000-3f9b-11eb-9fa2-a35cda23d3cb.png">

<img width="282" alt="Screen Shot 2020-12-16 at 12 33 30 PM" src="https://user-images.githubusercontent.com/13629122/102384765-11708680-3f

[2020-12-16 17:36] cneidle commented on #378
Perhaps a related problem?  Selecting HIT in this case failed to de-select (or at least to de-highlight) EIGHT:

<img width="320" alt="Screen Shot 2020-12-16 at 12 35 27 PM" src="https://user-images.githubusercontent.com/13629122/102384996-51376e00-3f9b-11eb-99b5-4df3ea740921.png">

[2020-12-16 17:39] cneidle commented on #378
More on above:  Clicking elsewhere de-selects but does not de-highlight EIGHT.  But note that with nothing selected, the Play Event button is grayed out, but the Play Entity button is not, although clicking on the Play Entity button has no effect.

<img width="1015" alt="Screen Shot 2020-12-16 at 12 37 50 PM" src="https://user-images.githubusercontent.com/13629122/102385282-a83d4300-3f9b-11eb-96a8

[2020-12-17 15:47] cneidle commented on #378
Note about priorities:  these issues with selection (and display) must be resolved prior to the next public release.  Thanks !!

[2020-12-18 17:10] cneidle commented on #355
FYI - I am having this problem again, systematically, with the RIT files (using v. 3.3.5).   SIGH.

[2020-12-18 18:42] cneidle commented on #355
Example from today:

1) There is no way to select anything from the top drop-down menu - whereas available annotators, both global and local ought to be available there:

<img width="892" alt="Screen Shot 2020-12-18 at 1 39 23 PM" src="https://user-images.githubusercontent.com/13629122/102649093-99d75e80-4136-11eb-9efd-d1f9e8720361.png">

I choose one, and get the error message below.

<img width=

[2020-12-18 20:26] cneidle opened #381 "search window - minor enhancement"
I've mentioned this before.  It would be great if a Carriage Return would have the effect of Perform Search.
I.e., if the Perform Search button were highlighted in the usual way, to indicate that it is the default action if the user hits a Carriage Return.

[2020-12-22 21:37] cneidle commented on #379
Carey reported this same issue to me yesterday   Fortunately, I was able to tell him how to work around it.

[2020-12-25 17:04] cneidle opened #382 "Jack - clicking on search results should open utterance window, not go to database view"
f<img width="1035" alt="Screen Shot 2020-12-25 at 12 01 18 PM" src="https://user-images.githubusercontent.com/13629122/103139353-48385200-46a9-11eb-87f9-0c661ed277ec.png">

Should open the relevant utterance, but instead goes to database view and does not display the actual utterance unless the Zoom is set appropriately:

<img width="1031" alt="Screen Shot 2020-12-25 at 12 01 28 PM" src="https://u

[2020-12-30 18:51] cneidle opened #383 "JACK - problem entering text data in the gloss field"
I tried entering some text.
Then I wanted to add a gloss before the first aligned gloss.
But option-clicking in that region would only show the text later on in the sentence that had not yet been aligned.

<img width="1006" alt="Screen Shot 2020-12-30 at 1 48 10 PM" src="https://user-images.githubusercontent.com/13629122/103374634-13ac0800-4aa6-11eb-8c11-74a8bef36dc8.png">

<img width="1013" alt="

[2020-12-30 18:54] cneidle opened #384 "JACK - ZOOM range insufficient"
can't zoom enough to see handshapes

<img width="1492" alt="Screen Shot 2020-12-30 at 1 53 34 PM" src="https://user-images.githubusercontent.com/13629122/103374827-887f4200-4aa6-11eb-98a9-731fd183f4fd.png">

[2020-12-30 19:05] cneidle opened #385 "JACK - field display"
I select fields to display.  i do some annotations, go to db view, and then return to the utterance, but fields that had not yet been annotated have disappeared.

<img width="1134" alt="Screen Shot 2020-12-30 at 2 02 20 PM" src="https://user-images.githubusercontent.com/13629122/103375314-eeb89480-4aa7-11eb-8f2f-49346f9b379f.png">

<img width="1220" alt="Screen Shot 2020-12-30 at 2 02 28 PM" src="

[2020-12-30 19:49] cneidle opened #386 "Font not correct in Mac OS 10.12"
As previously reported via email, we need a more readable font.  Thanks!

<img width="1508" alt="Screen Shot 2020-12-30 at 2 46 08 PM" src="https://user-images.githubusercontent.com/13629122/103377599-d0ee2e00-4aad-11eb-9dc5-108ff25c6705.png">

[2020-12-30 19:51] cneidle opened #387 "JACK - incorrect error message"
I clicked on < Next Utterance > and got the wrong error message

<img width="432" alt="Screen Shot 2020-12-30 at 2 50 11 PM" src="https://user-images.githubusercontent.com/13629122/103377805-67225400-4aae-11eb-91c1-38e30dd37ed9.png">

[2020-12-30 20:12] cneidle opened #388 "JACK - buttons do not work in SIgn Bank search window"
"Insert all data" works.
But not:
<img width="580" alt="Screen Shot 2020-12-30 at 3 11 13 PM" src="https://user-images.githubusercontent.com/13629122/103378723-490a2300-4ab1-11eb-935e-afb18d2c94ce.png">

[2020-12-30 21:02] cneidle opened #389 "JACK - "about" box needs to be updated. (low priority, obviously)"
<img width="285" alt="Screen Shot 2020-12-30 at 4 01 36 PM" src="https://user-images.githubusercontent.com/13629122/103380965-61ca0700-4ab8-11eb-993a-fc483b8076a8.png">

[2020-12-31 17:05] cneidle opened #390 "Problem accessing occurrences from Sign Bank search window from all most recent versions of SignStream"
Just recording this as a bug report, although I have also just communicated about this by email:
problem with “View occurrences” from Sign Bank search window.

Systematically getting this error message:

**Not Found
The requested URL /dai/s/occurrence was not found on this server.**

Thanks!

[2021-01-14 18:36] foltik commented on #386
@cneidle, which version of MacOS did you observe this issue on?

[2021-01-14 18:38] cneidle commented on #386
10.12.6 and earlier.

it looks fine on big sur

thanks

[2021-01-19 01:59] cneidle commented on #378
FWIW, it looks like the extra red color comes right after the now-red plus signs in compounds.  Perhaps the change in color for the + is not properly terminated... (That doesn't explain the blue appearing all over, of course.)

[2021-01-22 16:42] cneidle opened #391 "SEARCH ISSUES: Restoration of some ability to perform a given search over multiple files"
perhaps related to #269.

If you are editing a file and you have the search window open when you save that file and open another, the search window remains open with the previous file as search domain.  So if you try to do a search from the new file, it will automatically re-open the previous file.  The search domain should update if the search window remains open and a new file is opened.

[2021-01-22 16:44] cneidle commented on #381
it would also be really nice to have Command-F as a shortcut to open the Search window

[2021-01-23 19:54] cneidle opened #392 "JACK - problems within first minutes of using the latest version"
I created a new file and created 5 utterances.  I then annotated the first gloss.  When I then tried to create a second gloss, by using Option-Click in order to start typing, the cursor started spinning and I had to restart.  I tried again.  I created 4 utterances, and the arrow keys work as long as something is selected in the database view window, but if a video window is selected, the arrow key

[2021-01-23 20:00] cneidle commented on #392
upon further investigation, option click does work if you click in a very precise place.  It seems that you have to click very low within the field for it to work.  You should be able to click anywhere between the top and bottom lines that delimit that tier.

ALso sometimes after typing in text for a gloss, it all disappears.

In this version, the user is required to type RETURN for the gloss text

[2021-01-23 20:11] cneidle commented on #384
THIS IS NOW the maximum zoom allowed.  I cannot see start and end handshapes for this 2-frame gloss

<img width="84" alt="Screen Shot 2021-01-23 at 3 10 30 PM" src="https://user-images.githubusercontent.com/13629122/105612927-45ef1380-5d8d-11eb-9ace-f3828a323209.png">

[2021-01-23 20:20] cneidle commented on #392
I typed in 3 glosses.  Everything looked normal.  I clicked on another utterance that was blank and came back to the one with my 3 glosses.  This is what i saw.  The zoom of course should not have changed.  but i don't even have any option to zoom in...  The zoom bar seems not to be showing in this screenshot, but it is at its maximum zoom.

<img width="1094" alt="Screen Shot 2021-01-23 at 3 17 41

[2021-01-23 20:26] cneidle commented on #392
i saved my file. closed and reopened SignStream.  tried to reopen my file.  cannot. the menu item apparently works but the file does not open

<img width="891" alt="Screen Shot 2021-01-23 at 3 24 45 PM" src="https://user-images.githubusercontent.com/13629122/105613196-412b5f00-5d8f-11eb-8cdf-98dec5fabe53.png">

<img width="662" alt="Screen Shot 2021-01-23 at 3 24 59 PM" src="https://user-images.gi

[2021-01-23 20:28] cneidle commented on #392
I will email the above file which i could not open, since i cannot attach it here

[2021-01-24 00:33] cneidle commented on #392
I started a new collection:  test2-43.  I saved it.  I also saved it as test3-43.  Then I went to open test2-43, and the file did not open, although the existing video windows closed.  I then opened test3-43 and the file and videos did open.

When the video windows had closed, I went to the menu to try to edit the Macro Unit and reselect the videos.  But I got the spinning cursor and can do nothin

[2021-01-24 00:33] cneidle commented on #392
Jack - are you testing this program as you go ?????

[2021-01-24 00:39] cneidle commented on #392
For non-manuals - the "add value" option does not work.

<img width="329" alt="Screen Shot 2021-01-23 at 7 38 59 PM" src="https://user-images.githubusercontent.com/13629122/105618203-b3fa0180-5db2-11eb-85c7-97c0dd7f04a3.png">

[2021-01-24 00:42] cneidle commented on #392
The sign type should be aligned with the core portion of the gloss, not with the onset or offset.

<img width="538" alt="Screen Shot 2021-01-23 at 7 42 27 PM" src="https://user-images.githubusercontent.com/13629122/105618247-2539b480-5db3-11eb-962b-3b04a1f0f26f.png">

I see this is a problem with the current/prior version of SignStream, so not something introduced by Jack's implementation...
In pr

[2021-01-24 00:57] cneidle commented on #392
FWIW - I take back the observation that it is easier to select the handshapes in this version. It still requires clicking in some very precise point within the rectangle of the handshape image.  Would be good to fix this...

[2021-01-24 01:00] cneidle commented on #392
In a new file, I annotated two glosses within U1.  I then went back to the database view, and added a third utterance.
It obviously has nothing in it at this point.  I now look at the new utterance I had created, and it contains the second gloss from my first utterance !  This appears in the utterance portion of the display (but not in the left index):

<img width="728" alt="Screen Shot 2021-01-23

[2021-01-24 14:53] cneidle opened #393 "Overlap should not be allowed for glosses"
I found two examples of something like this:

<img width="255" alt="Screen Shot 2021-01-24 at 9 45 17 AM" src="https://user-images.githubusercontent.com/13629122/105633979-b0559180-5e29-11eb-9007-25484b2d3a6d.png">

What appears to have happened is that there was one gloss on the dominant hand that was 1-handed.
And there was another gloss on the non-dominant hand that was, in fact, 1-handed, but

[2021-01-27 18:39] cneidle opened #394 "JACK: Current frame should always be within the field of view in the Utterance window"
I expect this will be taken care of when you fix the zoom issue.  But I created a gloss, extended its endpoint using the buttons, and the current frame ceased to be within the viewable area of the gloss window.  Just FYI.  Thanks.

[2021-01-27 18:41] cneidle commented on #394
And just a final comment on the Zoom:  If I am looking at an utterance, and I switch to another utterance and come back to the first, the zoom should be exactly as it was before.  (A logical extension of keeping the Zoom constant when moving from one utterance to the next, unless the user manually changes it.). Thanks.

[2021-02-02 15:13] cneidle opened #395 "JACK-v.2-2-21. Cannot select new gloss"
First 20 seconds using the program with MacOS 10.12.6:

I opened a file and created a new gloss.  Clicking elsewhere left the text intact - so that's good.  But I was then unable to select the new gloss to set its start and end points.  And in fact, everything has totally frozen.  I can do nothing but Force Quit.

<img width="783" alt="Screen Shot 2021-02-02 at 10 10 00 AM" src="https://user-image

[2021-02-02 15:22] cneidle opened #396 "Jack - 2/2/21 - problem with movie navigation - H.264"
I see this movie is H.264.  Perhaps this is the problem. Will try again with non-H.264 movie.  But I set up a gloss then used the arrow keys to advance, first by one frame, then by another.  This is what I saw, just FYI.

<img width="629" alt="Screen Shot 2021-02-02 at 10 18 22 AM" src="https://user-images.githubusercontent.com/13629122/106621306-6ca50b00-6540-11eb-9cf9-d2129e1d2e1b.png">

<img wi

[2021-02-02 15:32] cneidle opened #397 "Jack - 2-2-21 problem with implementation of Zoom"
There seems to be a random factor in which direction the Zoom expands in, and what remains visible after a Zoom.
This is what should NOT happen:

I have just coded this gloss, and then I increase the zoom:

<img width="424" alt="Screen Shot 2021-02-02 at 10 30 01 AM" src="https://user-images.githubusercontent.com/13629122/106622610-c3f7ab00-6541-11eb-9063-b52aa5bbdb41.png">

<img width="382" alt="

[2021-02-02 15:33] cneidle commented on #395
Note that the above with with an H.264 movie.  I will continue testing with movies of other formats.

[2021-02-02 17:15] cneidle opened #398 "Jack - 2-2-21. Reopened file froze almost instantly."
Had made a new file with MPEG-4 movie.  Saved.

Reopened (now from Mac OS 11.2).  Froze almost instantly (when I attempted to use the arrow key).
Can do nothing but Force Quit.

<img width="817" alt="Screen Shot 2021-02-02 at 12 13 15 PM" src="https://user-images.githubusercontent.com/13629122/106636573-0de78d80-6550-11eb-8861-13b53382fa11.png">

[2021-02-02 17:19] cneidle opened #399 "Jack - 2-2-21. Clicking on gloss item to select"
it is extremely difficult to select a gloss item by clicking on it.  It should be sufficient to click on the gloss item or the line.  Only seems to work by clicking on the line.

[2021-02-02 17:35] cneidle opened #400 "Jack - 2-2-21. previously reported issue display of tab text in morph-phone window"
<img width="348" alt="Screen Shot 2021-02-02 at 12 35 16 PM" src="https://user-images.githubusercontent.com/13629122/106639593-1f7e6480-6553-11eb-9288-2eb8fd6dc5b9.png">

[2021-02-02 17:42] cneidle opened #401 "Jack 2-2-21 Non-manual fields"
Should be able to click (and drag) anywhere within the field to add a new item.

Add new item worked for one field, but not for another (although even there, I could add a new value by selecting an existing value first and then double-clicking on it and choosing 'add new value').

<img width="971" alt="Screen Shot 2021-02-02 at 12 39 17 PM" src="https://user-images.githubusercontent.com/13629122/1

[2021-02-02 18:52] cneidle commented on #401
I created an item in a non-manual field, and selected it.  I then used the + and - buttons for the endpoint of that item and weird things happened.

SEE COMMENTS 5 & 6 in #398.

When I went to try it again, the program had frozen.  I had to Force Quit.

<img width="542" alt="Screen Shot 2021-02-02 at 1 45 53 PM" src="https://user-images.githubusercontent.com/13629122/106647589-24e0ac80-655d-11eb-9

[2021-02-02 18:53] cneidle commented on #398
Here is a case where I had selected the non-manual item, went to the end of it, and then pressed the forward arrow key.
Program froze - must Force Quit.

<img width="1188" alt="Screen Shot 2021-02-02 at 1 52 41 PM" src="https://user-images.githubusercontent.com/13629122/106648297-16df5b80-655e-11eb-9cd1-a3394fd87fd5.png">

[2021-02-02 19:01] cneidle commented on #398
Reopened.  Program froze again - not sure why

[2021-02-02 19:03] cneidle commented on #398
Reopened file.  Played non-manual event.  moved back several frames with arrow key.  Used + button to try to adjust endpoint. Program froze.   Must Force Quit.

<img width="1006" alt="Screen Shot 2021-02-02 at 2 02 50 PM" src="https://user-images.githubusercontent.com/13629122/106649296-5a869500-655f-11eb-8e2f-960046bf8eb3.png">

[2021-02-02 19:05] cneidle commented on #398
Repeated exactly the steps above.  After clicking on the + button to adjust the endpoint of the non-manual item, this is what I saw.

<img width="1357" alt="Screen Shot 2021-02-02 at 2 05 16 PM" src="https://user-images.githubusercontent.com/13629122/106649516-b2bd9700-655f-11eb-953c-721fad5f0c97.png">

[2021-02-02 19:07] cneidle commented on #398
PS. The above is precisely the "weird thing" I referred to in the second item of #401.

[2021-02-03 17:26] gregorydimitriadis commented on #390
@cneidle I believe this was resolved separately, right?

[2021-02-03 17:48] cneidle commented on #390
Yes - thanks

[2021-02-03 18:04] #390 closed, assigned to gregorydimitriadis

[2021-02-04 14:44] cneidle opened #402 "JACK-2-4-21 Macro Unit window disappeared, program crashed [all below with Mac OS 10.11.6]"
I launched the new version.  I was going to open an existing file, but change my mind and cancelled, deciding to link in videos to the blank file that had opened.  But that was impossible, because there was no longer a macro unit to which I could attach the videos.  I initially tried to edit the macro unit (by selecting that option from the menu) and got an error message that there was no macro un

[2021-02-04 15:21] cneidle commented on #402
I relaunched the program and repeated the steps above.  I again got the error message:

<img width="261" alt="Screen Shot 2021-02-04 at 10 17 51 AM" src="https://user-images.githubusercontent.com/13629122/106913874-765e7800-66d2-11eb-9fa1-4791472c3fea.png">

The program did not crash, however.  SO I tried New Blank Collection from the menu, and nothing changed.  No macro unit window appeared.  Cho

[2021-02-04 15:23] cneidle commented on #402
Actually, I tried to open an existing file and got this error msg

<img width="488" alt="Screen Shot 2021-02-04 at 10 22 16 AM" src="https://user-images.githubusercontent.com/13629122/106914360-f1279300-66d2-11eb-8769-24256478c7fb.png">

[2021-02-04 15:29] cneidle commented on #402
I relaunched SignStream and was able to open that file.  I went to an utterance and played it.  See image 1.
When the utterance was done playing, I saw image 2 below.  This is not what should be displayed.  I should still be seeing the whole utterance, with the alignment indicator at the end (i.e., at the right edge).

<img width="1111" alt="Screen Shot 2021-02-04 at 10 26 25 AM" src="https://user

[2021-02-04 15:53] cneidle commented on #402
I chose to Quit SignStream and I should have been offered a dialog box asking about saving the file.  A dialog box came up but it was blank, and the program crashed.

<img width="392" alt="Screen Shot 2021-02-04 at 10 50 08 AM" src="https://user-images.githubusercontent.com/13629122/106918272-0999ac80-66d7-11eb-8c63-a2c11f07120c.png">

[SignStreamOut.txt](https://github.com/DCS-LCSR/SignStream3/fi

[2021-02-04 16:37] foltik commented on #402
@cneidle,

Is the macro unit bug and subsequent crash reproducible for you on other versions of SS3, or only the one I sent?

[2021-02-04 16:41] cneidle commented on #402
The Quitting Signstream bug described in my most recent comment just recurred
[SignStreamOut.txt](https://github.com/DCS-LCSR/SignStream3/files/5927190/SignStreamOut.txt)

[2021-02-04 16:43] cneidle commented on #402
I have never had other versions crash in this situation.

But yes, the issue of the macro unit window disappearing and
the inability to open a new blank file at that point does occur
in 3.3.5.

But again, there is no crashing.

SignStream 3.3.5 is extremely stable, just FYI.

[2021-02-04 17:18] foltik commented on #402
I've looked into the details of the crash further, and it seems it is coming from the java runtime itself. It very well may be related to the exact OS version you're running, or subtle details in the steps taken leading up to the crash.

It would be extremely helpful in reproducing and debugging this crash if you could confirm a few things for me:
- Whether the crash only happens on MacOS 10.11
-

[2021-02-04 18:40] cneidle opened #403 "JACK-2-4-21 - now testing with Mac OS 11.2"
I went to open the same previous SignStream file that I was testing.  I opened a fresh copy of it with the latest version of SignStream from Jack on Big Sur, and I cannot view the data because the Zoom prevents it.the o

Just to be clear, I went back to open the version of this file that had been saved only in the old version of SignStream (although re-associating videos seems to get saved even th

[2021-02-04 18:43] cneidle commented on #403
I then opened a new blank file and linked in those same videos.  But the Zoom carried over, making this unworkable.

<img width="1057" alt="Screen Shot 2021-02-04 at 1 43 27 PM" src="https://user-images.githubusercontent.com/13629122/106940031-04485c00-66ef-11eb-9436-d79594f2991c.png">

[2021-02-04 18:50] cneidle commented on #403
I then reopened the program entirely and set up a new blank file and it worked normally.

I tried to repeat the steps reported earlier - opening the program, starting to open a file an and cancelling, trying to edit the macro unit, then trying to open a new blank file, and trying to edit the macro unit.  Exactly the same thing happened as before, except that the system did not crash.  (It only cra

[2021-02-04 18:56] cneidle commented on #403
I did try quitting SignStream, which was consistently causing the program to crash on the older OS, and the dialog box for saving files appeared properly without causing any problem.

[2021-02-04 19:04] cneidle commented on #403
I attempted to open another old SignStream file (which had never been open with a version of SS other than 3.3.5).  I got this error message:

<img width="1153" alt="Screen Shot 2021-02-04 at 2 01 59 PM" src="https://user-images.githubusercontent.com/13629122/106941959-93567380-66f1-11eb-8d24-d72f01fe2711.png">

Once I closed that window did a "save as" to save a separate copy of this file, I was

[2021-02-04 19:05] cneidle commented on #403
Play utterance has the same effect as before in terms of what is visible.

<img width="1342" alt="Screen Shot 2021-02-04 at 2 05 13 PM" src="https://user-images.githubusercontent.com/13629122/106942316-0a8c0780-66f2-11eb-826e-c164b3358488.png">

<img width="1350" alt="Screen Shot 2021-02-04 at 2 05 22 PM" src="https://user-images.githubusercontent.com/13629122/106942328-0e1f8e80-66f2-11eb-80b9-483

[2021-02-04 20:23] foltik commented on #403
Could you send me the original (never opened with the new build) version of the collection you initially observed the zoom issue with?

[2021-02-04 21:23] cneidle commented on #403
See below.

As I said, the process of reselecting the videos caused the modification date
to be updated, but that is all I did before saving it in a different location…

THanks,
 Carol

[2021-02-04 21:33] cneidle commented on #403
Follow-up to previous message:

Thanks to the magic of Dropbox, I’m attaching the file that was last modified Jan. 17,
and what happened to that file after I opened it (without saving!) at 10:30 am this morning.

Again, relinking videos causes the file to be saved, although it should not (a longstanding problem).

The file I sent a little while ago is the file after I opened it (again without savi

[2021-02-04 21:36] foltik commented on #403
I'm not seeing the files you're mentioning, did you email them?

[2021-02-05 15:05] foltik commented on #403
If you can reproduce them again, could you attach SignStreamOut.txt for the case where the zoom is broken when you open the old collection, and when you see the error about "Structure does not contain integer field..."?

[2021-02-10 19:45] cneidle opened #404 "SS 3.3.5 - weirdness with sign type alignments"
Something very odd is going on here:  U19

<img width="215" alt="Screen Shot 2021-02-10 at 2 44 44 PM" src="https://user-images.githubusercontent.com/13629122/107563010-8aace400-6bae-11eb-86ae-4c074bfe4262.png">

<img width="1081" alt="Screen Shot 2021-02-10 at 2 40 26 PM" src="https://user-images.githubusercontent.com/13629122/107562884-5df8cc80-6bae-11eb-91b1-14b81cd91407.png">

I have also noti

[2021-02-13 20:54] cneidle commented on #404
another example - no non-dom sign type showing.  that should be visble by default

<img width="437" alt="Screen Shot 2021-02-13 at 3 52 10 PM" src="https://user-images.githubusercontent.com/13629122/107861443-b086f280-6e13-11eb-8054-59dc44e232d7.png">

[2021-02-14 13:53] cneidle opened #405 "SS 3.3.5 - related to previously reported issue of multiple tiers not behaving the same wrt potential overlap"
I reset the endpoint of the sign highlighted in red, and the non-dominant hand gloss of the following sign jumped to look like this:

<img width="1122" alt="Screen Shot 2021-02-14 at 8 50 25 AM" src="https://user-images.githubusercontent.com/13629122/107878638-1ae67400-6ea2-11eb-90be-cf901c805d9a.png">

[2021-02-15 20:03] cneidle opened #406 "SS 3.3.5: adding field values in the Field Specifications Editor"
Adding new vales for role shift causes an extra blank value to be created (in error).
<img width="425" alt="Screen Shot 2021-02-15 at 2 56 57 PM" src="https://user-images.githubusercontent.com/13629122/107988842-de4c7280-6f9e-11eb-8ef4-5bf6f679a547.png">
<img width="425" alt="Screen Shot 2021-02-15 at 2 56 57 PM" src="https://user-images.githubusercontent.com/13629122/107988894-f4f2c980-6f9e-11eb-

[2021-02-17 14:12] foltik commented on #402
Hi Carol,

Could you check if this crash created a file in the SignStream3 folder with a name in the form of `hs_err_pidXXXX.log`?

[2021-02-17 15:08] cneidle commented on #402
No, I don’t see anything like hs_err_pidXXXX.log on any of my computers.

C>

[2021-02-17 15:43] cneidle commented on #404
This is a very persistent problem.  The non-dominant sign type is typically hidden, even when you use the button to show all non-empty fields.  This was not a problem in 3.3.3.  Seems to have been introduced between 3.3.3 and 3.3.4, FWIW.

[2021-02-22 15:07] gregorydimitriadis commented on #404
Also including in this issue: sign type labelling is often incorrect - particularly for sign type 'gesture'

[2021-02-22 15:09] cneidle commented on #404
Right - the issue is that you select a type, esp. gesture, in the Morph-Phon window,
and enter, and it does not get entered.   Thanks!

[2021-02-26 19:41] cneidle opened #407 "Testing 3.3.6 - in Big Sur"
I opened a file, and immediately got this error message.  I was, however, able to open the video file by choosing Edit Macro Unit from the menu.  I might also mention that "Resouce" is misspelled.

<img width="643" alt="Screen Shot 2021-02-26 at 2 38 17 PM" src="https://user-images.githubusercontent.com/13629122/109347023-80dae000-7840-11eb-879d-b4720e8deb33.png">

[2021-02-26 19:45] cneidle opened #408 "33.6 - List of known issues - for Carol to bring to the attention of students, so that they do not re-report them"
1. Appearance of font generally

2. Appearance of font label for the Morph-phon selected tab
<img width="605" alt="Screen Shot 2021-02-26 at 2 44 48 PM" src="https://user-images.githubusercontent.com/13629122/109347449-327a1100-7841-11eb-804f-8d6c6670b382.png">

Note that this problem occurs with Big Sur, but not with 10.12.6:

<img width="489" alt="Screen Shot 2021-02-26 at 4 19 26 PM" src="https

[2021-02-26 19:58] cneidle commented on #407
Problems that appear to be fixed:  color issues; problems with imposing constraints on overlap;  to include non-dominant hand of 2-handed signs; problem with failure of non-dom hand sign type to appear when defined.

The zoom seems to be working better.  And when the current frame is the last frame in the utterance, what remains in view is now appropriate.

Selection of sign types seems to work be

[2021-02-26 20:23] cneidle commented on #407
There are problems with entry of non-manual information.  See my email message.

[2021-02-26 21:15] cneidle opened #409 "Testing 3.3.6 - in 10.12.6"
Problem recurs in this OS with a different file (File 60 - U 12).  To reproduce:  Create non-manual event.  Change the value by double-clicking to a new value.  Then try to create another event in the same field.  Labeling it is impossible.

<img width="895" alt="Screen Shot 2021-02-26 at 4 10 23 PM" src="https://user-images.githubusercontent.com/13629122/109355579-6b1fe780-784d-11eb-9a45-e678a6ee

[2021-03-08 00:38] bugspotter33 opened #410 "Bugs in new version of SS (testing files)"
Created a copy of Jonathan 91 file to test in new upcoming SS version.  (see screen shots)
Working in utterance #1
I created a (2h)gloss when trying to unlock left-right hand alignments and add an onset, the onset line and the loan sign lines match up but not the handshapes

When unlocking the right gloss-phon alignments and adding an initial hold, the handshapes do not line up to the initial hold

[2021-03-11 01:57] bugspotter33 commented on #410
Continued testing new SS working on a test file of Rachel 36. When trying to watch a video of a sign the video never popped up. The sign is READ_2  and there are occurrences but there isn't a video showing just a black screen

![Screen Shot 2021-03-10 at 5 45 55 PM](https://user-images.githubusercontent.com/38887034/110723953-c6e15d80-81c9-11eb-9cde-a6fa0163c7f6.png)

![Screen Shot 2021-03-10 at 5

[2021-03-11 02:01] cneidle commented on #410
This is likely to be a problem with the Sign Bank.

Augustine updated data recently, but I don’t believe he generated a new sign bank.  We will need to be careful about this.

Augustine, could you please generate a current sign bank?

Thanks !!
  Carol

Sent from my iPhone; please excuse typos.

[2021-03-19 15:19] cneidle opened #411 "Program froze - Jack's test version 3.3.6"
Was annotating a sign.  I used command-Q to quit SignStream while the Morph-Phon window was still open. Everything froze.  Needed to force quit the program.
<img width="704" alt="Screen Shot 2021-03-19 at 11 15 38 AM" src="https://user-images.githubusercontent.com/13629122/111802855-d7b66100-88a4-11eb-98f7-fa60f9c58553.png">
[SignStreamOut.txt](https://github.com/DCS-LCSR/SignStream3/files/6172285

[2021-03-19 15:35] cneidle commented on #411
I redownloaded the latest version of 3.3.6 from Jack to be sure I'm using the right one.  I deleted all previous versions from my desktop, as it was all confusing me.  I opened the program, attached 3 of our standard video files, and got the following error msg, although the video files did open:

<img width="788" alt="Screen Shot 2021-03-19 at 11 33 13 AM" src="https://user-images.githubuserconte

[2021-03-19 15:38] cneidle commented on #411
The problem described in the first comment above did not recur when I tried, but perhaps there is some difference in the steps I took in the two cases...  So not absolutely certain that this is not a problem.

Actually, my best guess is that the dialog box about whether or not the user wants to save the file before quitting ended up being hidden behind another window.  So it seemed like I could do

[2021-03-21 12:37] cneidle opened #412 "3.3.6 - Handshape images' appearance"
Carey pointed out that the handshapes look reddish in 3.3.6.  I believe he is correct.  This is the display from 3.3.6.

<img width="763" alt="Screen Shot 2021-03-21 at 8 35 45 AM" src="https://user-images.githubusercontent.com/13629122/111905149-a9f62700-8a20-11eb-90ff-131c7c9b6bdc.png">

[2021-03-21 12:39] cneidle commented on #412
This is the display from 3.3.5 -- which looks better overall, in terms of use of space and (size and) coloring of icons...

<img width="443" alt="Screen Shot 2021-03-21 at 8 37 33 AM" src="https://user-images.githubusercontent.com/13629122/111905211-dd38b600-8a20-11eb-9e8e-620a95a57d9b.png">

[2021-04-04 04:57] bugspotter33 commented on #410
Not sure if this is a bug or signbank issue. Working on testing out new SS with a test file of Rachel 36 U9 gloss is WEATHER and when i looked up the gloss in the signbank and played the sign video, a different gloss GO played instead of WEATHER.
![Screen Shot 2021-04-03 at 9 50 12 PM](https://user-images.githubusercontent.com/38887034/113499038-72c75180-94c7-11eb-95fc-cce1c1fafe8d.png)

[SignStre

[2021-04-14 19:55] cneidle opened #413 "Research 4.0 - selection of files"
When selecting files - in this case, a movie file for the Macro Unit window -  the selectable types of files should not be greyed out.

<img width="579" alt="Screen Shot 2021-04-14 at 3 53 15 PM" src="https://user-images.githubusercontent.com/13629122/114770770-cd6b7380-9d39-11eb-84ed-0c511200a3ba.png">

[2021-04-14 20:09] cneidle opened #414 "4.0 I typed in some text to the words field"
and then wanted to align each individual word. This is how it showed up, and I was then unable to select any of the text in order to align the individual words.  That should be possible...

<img width="552" alt="Screen Shot 2021-04-14 at 4 07 18 PM" src="https://user-images.githubusercontent.com/13629122/114772404-c04f8400-9d3b-11eb-9deb-24ea806b8d83.png">

[2021-04-14 20:17] cneidle opened #415 "v. 4 - graphs start later than beginning of video"
Is the graph information correct ??  Why does the information not start at the beginning of the video?

<img width="1405" alt="Screen Shot 2021-04-14 at 4 16 38 PM" src="https://user-images.githubusercontent.com/13629122/114773333-eb86a300-9d3c-11eb-88c4-933576260d48.png">

[2021-04-19 13:34] cneidle opened #416 "Repository for future features and enhancements for v.4"
I'm starting a list of things that we may wish to revisit in the future.  Listing them as they occur to me, so as not to forget.

1) In addition to Next {event, entity} it would be great to have a Previous {event, entity} button.
    It would also be useful to be able to jump forward and backward from one core event to the next.

2) Presumably the file type will change from .ss3 to .ss4, if we ren

[2021-04-25 15:30] cneidle opened #417 "Searching with 3.3.6 (official test version)"
I was using the 3.3.6 version (which we had given to students for testing) to make a correction.  I changed the gloss from AFFORD to BILL/OWE, saved, and reopened the file.  The search results still find this sentence when searching for AFFORD.

<img width="1121" alt="Screen Shot 2021-04-25 at 11 28 27 AM" src="https://user-images.githubusercontent.com/13629122/115999406-91e26c00-a5b9-11eb-95eb-83

[2021-04-26 11:06] cneidle commented on #417
[Jonathan_2012-11-27_sc97.ss3.zip](https://github.com/DCS-LCSR/SignStream3/files/6376577/Jonathan_2012-11-27_sc97.ss3.zip)

[2021-05-03 16:26] cneidle opened #418 "May 3, 2021 test version on OS 11.2.3 - bug with window resizing"
Testing May 3 test version on OS 11.2.3

(1) With respect to the version number – the next public release should still be in the 3.3 series; the research version, which will not be compatible with SignStream 3 files, should be 3.4.0.

(2) Bug in the behavior of video windows:  I linked in 3 synchronized movies, and click on the "small" button in the bottom right corner of 1.  That should have the

[2021-05-03 16:48] cneidle opened #419 "start and end frame for newly created gloss not immediately selectable"
Immediately after creating a gloss, this is what I see; I can't select the start and end frames immediately - those buttons are disabled until there is another click...

<img width="844" alt="Screen Shot 2021-05-03 at 12 41 33 PM" src="https://user-images.githubusercontent.com/13629122/116905496-0f872700-ac0d-11eb-83bb-c100c7e34606.png">

[2021-05-03 16:57] cneidle opened #420 "Display time period"
The Display time period is still visible in the database view.

Ideally we should make it work in both database and utterance views.

But until it DOES actually work, it should be hidden.

This has been visible since the very beginning of SignStream 3 development, but it has never been implemented. It would be very useful, but should not be visible if it does not work.

thanks.

[2021-05-03 17:01] cneidle opened #421 "Modes displayed"
I assume that this won't be an issue in the next release, because the gesture features will be hidden/removed, but right now- - and for future development of SS 4 -- If I select Sign language view only, and I annotate some glosses, go up to database view and then return to utterance view, the Gesture mode is displayed and my work in the Sign Language mode is not visible.

Ideally, once anything ha

[2021-05-03 17:01] cneidle commented on #421
And what is this middle region?

<img width="844" alt="Screen Shot 2021-05-03 at 12 41 33 PM" src="https://user-images.githubusercontent.com/13629122/116907555-bc62a380-ac0f-11eb-90f4-a7ef83a5335e.png">

[2021-05-04 00:31] cneidle opened #422 "Testing second version of the day - 5/3/21: Setting start/end of gloss not working properly"
I type in the gloss, and then attempt to set the start.  Does not happen.
<img width="558" alt="Screen Shot 2021-05-03 at 8 27 55 PM" src="https://user-images.githubusercontent.com/13629122/116948822-81339500-ac4e-11eb-8b8b-68a6eaa20c0c.png">

note: this was with OS 10.12.6

[2021-05-04 17:25] cneidle opened #423 "Missing items from contextual menu for glosses"
Testing on 10.12.6 --

This from SS3:

<img width="368" alt="Screen Shot 2021-05-04 at 1 22 35 PM" src="https://user-images.githubusercontent.com/13629122/117044061-f8fbd100-acdb-11eb-989f-93df9ede816d.png">

This from the latest release - note missing Compound options; this menu should be as above:

<img width="388" alt="Screen Shot 2021-05-04 at 1 21 44 PM" src="https://user-images.githubusercon

[2021-05-04 17:33] cneidle opened #424 "Field specifications - for role shift"
Role shift should have a prefix = "rs:"

So if the value is "other" it will appear as "rs:other" in the utterance window.

I am working with yesterday's brand new version (i.e., I have not edited anything) and this is what I see:

<img width="143" alt="Screen Shot 2021-05-04 at 1 29 55 PM" src="https://user-images.githubusercontent.com/13629122/117045058-14b3a700-acdd-11eb-93ff-76f944ac447e.png">

[2021-05-04 17:40] cneidle opened #425 "Search is not displaying results properly"
Testing in 10.12.6

<img width="995" alt="Screen Shot 2021-05-04 at 1 38 57 PM" src="https://user-images.githubusercontent.com/13629122/117045996-277aab80-acde-11eb-93e7-4c4c9d650160.png">

This item is present only in U1

[2021-05-04 17:43] cneidle commented on #425
Clear Search does not clear the search

<img width="994" alt="Screen Shot 2021-05-04 at 1 42 41 PM" src="https://user-images.githubusercontent.com/13629122/117046398-a53eb700-acde-11eb-8321-6791aae12684.png">

[2021-05-04 17:46] cneidle opened #426 "Fields set to display globally do not display"
10.12.6

<img width="1077" alt="Screen Shot 2021-05-04 at 1 44 45 PM" src="https://user-images.githubusercontent.com/13629122/117046750-0bc3d500-acdf-11eb-8682-3f9008b583c9.png">

[2021-05-04 17:48] cneidle commented on #426
Actually not having much luck displaying non-manual fields at all:

<img width="1377" alt="Screen Shot 2021-05-04 at 1 47 37 PM" src="https://user-images.githubusercontent.com/13629122/117046998-5b0a0580-acdf-11eb-87ae-615b527e72d2.png">

[2021-05-04 17:49] cneidle commented on #426
[SignStreamOut.txt](https://github.com/DCS-LCSR/SignStream3/files/6423019/SignStreamOut.txt)

[2021-05-04 17:53] cneidle commented on #426
The fields do show up when I save the file, close, and reopen.

[2021-05-04 17:55] cneidle commented on #426
Search is not working for non-manuals either...  Raised eyebrows is present only in U3, but...

<img width="887" alt="Screen Shot 2021-05-04 at 1 54 37 PM" src="https://user-images.githubusercontent.com/13629122/117047852-55f98600-ace0-11eb-917f-8d9b1874d461.png">

[2021-05-04 18:16] cneidle opened #427 "Database view"
10.12.6

The navigation bar for the Database window is like this in SS 3.3.5

<img width="1308" alt="Screen Shot 2021-05-04 at 2 12 50 PM" src="https://user-images.githubusercontent.com/13629122/117050152-08324d00-ace3-11eb-80fb-e24944ebe17e.png">

but like this in the newest version:

<img width="1397" alt="Screen Shot 2021-05-04 at 2 13 32 PM" src="https://user-images.githubusercontent.com/13629

[2021-05-04 18:23] cneidle opened #428 "Renumber utterances ??"
What happened to this feature, implemented in 3.2.8 ?

3.2.8
* https://github.com/DCS-LCSR/SignStream3/issues/335
  * Fixed same issue as https://github.com/DCS-LCSR/SignStream3/issues/325 which was partially resolved last release
* https://github.com/DCS-LCSR/SignStream3/issues/282
  * New feature: allow utterances to be renumbered sequentially - Edit Macro Unit > Temporal Partition > Renumber Ut

[2021-05-04 18:41] cneidle opened #429 "Mac menus unavailable when other windows are active"
This seems to have been lost since 3.2.7:

 * https://github.com/DCS-LCSR/SignStream3/issues/315
  * Fix bug which prevented keyboard shortcuts (notably save/save-as) from working when any video window is active

IMPLEMENTED IN 3.2.7 :
* https://github.com/DCS-LCSR/SignStream3/issues/330
  * Allow signs to be entered from the sign bank onto a non-dominant hand in the morph-phon window
* https://gi

[2021-05-04 18:50] cneidle opened #430 "Problem with display of sign type"
First, sign type should be displayed by default.

It was not showing.

<img width="753" alt="Screen Shot 2021-05-04 at 2 48 27 PM" src="https://user-images.githubusercontent.com/13629122/117054315-f7380a80-ace7-11eb-834b-f1cd4a2ddd63.png">

I went to the field spec editor and checked those fields for display, and the fields showed up, but without the values.

<img width="878" alt="Screen Shot 2021

[2021-05-04 21:17] cneidle opened #431 "Ability to enter handshapes by typing letters is gone!"
10.12.6

This from 3.3.5 - a very useful feature to allow for typing in handshapes by their corresponding letters.

<img width="1053" alt="Screen Shot 2021-05-04 at 5 15 24 PM" src="https://user-images.githubusercontent.com/13629122/117071003-82bb9680-acfc-11eb-8e77-9b20c6c9ba35.png">

Gone from the latest version:

<img width="1057" alt="Screen Shot 2021-05-04 at 5 14 17 PM" src="https://user-ima

[2021-05-04 21:23] cneidle commented on #431
Also, as previously reported #412, the size and spacing of the handshape palette information was much better in 3.3.5, as well as size and coloring of handshape images more generally.

3.3.5

<img width="459" alt="Screen Shot 2021-05-04 at 5 22 07 PM" src="https://user-images.githubusercontent.com/13629122/117071612-50f6ff80-acfd-11eb-92f0-7e7ca91721df.png">

latest version

<img width="780" alt="

[2021-05-04 21:27] cneidle opened #432 "Entering gloss text requires carriage return or it is lost"
This was reported some time ago and I thought it had gotten fixed.

But if I type text into the Gloss field and click elsewhere (without typing a return), the data is lost.

<img width="541" alt="Screen Shot 2021-05-04 at 5 25 05 PM" src="https://user-images.githubusercontent.com/13629122/117072117-fd38e600-acfd-11eb-8507-ec63ed87a7aa.png">

<img width="655" alt="Screen Shot 2021-05-04 at 5 25 09

[2021-05-04 21:30] cneidle opened #433 "Text missing at left of utterance window"
Compare 3.3.5:

<img width="163" alt="Screen Shot 2021-05-04 at 5 29 00 PM" src="https://user-images.githubusercontent.com/13629122/117072367-51dc6100-acfe-11eb-9f40-87f15d3f7926.png">

to current version:

<img width="170" alt="Screen Shot 2021-05-04 at 5 28 36 PM" src="https://user-images.githubusercontent.com/13629122/117072387-5a349c00-acfe-11eb-9378-f3addb852283.png">

Text is cut off althoug

[2021-05-05 12:47] cneidle commented on #432
still a problem for where you have ti option click in order to be able to enter text.  Can take lots and lots of attempts before it works.

both of these problems previously reported in #392.

[2021-05-05 15:02] foltik commented on #426
Unable to reproduce the issues with displaying fields in SignStream4_4.0.0_convergence_2021_04_30_1705_4dc238f4, will need to be demonstrated to fix.

[2021-05-05 15:03] foltik commented on #422
Unable to reproduce in SignStream4_4.0.0_convergence_2021_04_30_1705_4dc238f4, will need to be demonstrated to fix.

[2021-05-06 17:46] douglas-motto-at-rutgers commented on #17
Keys work as of

SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

[2021-05-06 17:46] #17 closed, assigned to gregorydimitriadis

[2021-05-06 17:53] douglas-motto-at-rutgers commented on #20
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17.

Scroll handle in Utterance view not correct size until scroll starts.

Scroll handle in Utterance view not correct size at end of video.

[2021-05-06 18:04] douglas-motto-at-rutgers commented on #78
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Can now import certain graph data and texgrid formated data.

[2021-05-06 18:16] douglas-motto-at-rutgers commented on #104
As of ignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

I believe the issues with displaying handshapes has been resolved for one frame glosses.

[2021-05-06 18:17] #104 closed, assigned to gregorydimitriadis

[2021-05-06 20:23] douglas-motto-at-rutgers commented on #112
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

fixed.

[2021-05-06 20:23] #112 closed, assigned to gregorydimitriadis

[2021-05-06 20:24] douglas-motto-at-rutgers commented on #132
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Still need to put video and audio windows in front.

[2021-05-06 20:27] douglas-motto-at-rutgers commented on #120
as of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

fixed.

[2021-05-06 20:27] #120 closed, assigned to gregorydimitriadis

[2021-05-06 20:30] douglas-motto-at-rutgers commented on #122
as of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

fixed

[2021-05-06 20:30] #122 closed, assigned to gregorydimitriadis

[2021-05-06 20:33] #428 closed, assigned to nobody

[2021-05-06 20:46] douglas-motto-at-rutgers commented on #130
as of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

cann't reproduce...assume fixed.

[2021-05-06 20:46] #130 closed, assigned to gregorydimitriadis

[2021-05-07 00:29] douglas-motto-at-rutgers commented on #150
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Appears fixed.

[2021-05-07 00:29] #150 closed, assigned to gregorydimitriadis

[2021-05-07 00:48] douglas-motto-at-rutgers commented on #152
as of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

fixed...an active collection may be closed and new or existings ones opened.

[2021-05-07 00:48] #152 closed, assigned to gregorydimitriadis

[2021-05-07 00:59] douglas-motto-at-rutgers commented on #153
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

appears fixed.

[2021-05-07 00:59] #153 closed, assigned to gregorydimitriadis

[2021-05-07 02:03] douglas-motto-at-rutgers commented on #143
as of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

fixed.

[2021-05-07 02:03] #143 closed, assigned to gregorydimitriadis

[2021-05-07 02:06] douglas-motto-at-rutgers commented on #144
as of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

fixed.

[2021-05-07 02:06] #144 closed, assigned to gregorydimitriadis

[2021-05-07 02:44] douglas-motto-at-rutgers commented on #154
alignment changes should now work.

[2021-05-07 03:12] douglas-motto-at-rutgers commented on #155
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

We no longer have utterance boundary requirements...so this doesn't appear to exist to be a problem now.

Fixed.

[2021-05-07 03:12] #155 closed, assigned to gregorydimitriadis

[2021-05-07 03:20] douglas-motto-at-rutgers commented on #156
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Closing fixed.
Finding fixed.
Playing Utterance fixed.

Need to remove back to original option.

[2021-05-07 03:26] douglas-motto-at-rutgers commented on #160
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Fixed...reattaching videos seem to work and display properly.

[2021-05-07 03:26] #160 closed, assigned to gregorydimitriadis

[2021-05-07 03:32] douglas-motto-at-rutgers commented on #161
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Believed fixed....preventing overlap.

[2021-05-07 03:32] #161 closed, assigned to gregorydimitriadis

[2021-05-07 03:35] douglas-motto-at-rutgers commented on #164
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

zoom and green bar movement have been fixed.

[2021-05-07 03:35] #164 closed, assigned to gregorydimitriadis

[2021-05-07 03:40] douglas-motto-at-rutgers commented on #171
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

the Lookup but has been removed.

[2021-05-07 03:40] #171 closed, assigned to gregorydimitriadis

[2021-05-07 03:46] douglas-motto-at-rutgers commented on #183
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

These buttons are being redesigned.  Closing these old requirements.

[2021-05-07 03:46] #183 closed, assigned to gregorydimitriadis

[2021-05-07 05:43] douglas-motto-at-rutgers commented on #187
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

fixed.

[2021-05-07 05:43] #187 closed, assigned to gregorydimitriadis

[2021-05-07 05:50] douglas-motto-at-rutgers commented on #190
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

fixed.

[2021-05-07 05:50] #190 closed, assigned to gregorydimitriadis

[2021-05-07 05:59] douglas-motto-at-rutgers commented on #191
Signbank still says...<START_END_RIGHT_HS>SAME</START_END_RIGHT_HS>

But it works as of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

so SignStream must have changed...issue fixed.

[2021-05-07 05:59] #191 closed, assigned to gregorydimitriadis

[2021-05-07 06:05] douglas-motto-at-rutgers commented on #193
as of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

done...adds .ss3 to filenames without extension given.

[2021-05-07 06:05] #193 closed, assigned to gregorydimitriadis

[2021-05-07 06:16] douglas-motto-at-rutgers commented on #195
as of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

fixed.

[2021-05-07 06:16] #195 closed, assigned to gregorydimitriadis

[2021-05-07 06:18] douglas-motto-at-rutgers commented on #197
as of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

fixed.

[2021-05-07 06:18] #197 closed, assigned to gregorydimitriadis

[2021-05-07 06:20] douglas-motto-at-rutgers commented on #198
as of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

fixed.

[2021-05-07 06:20] #198 closed, assigned to gregorydimitriadis

[2021-05-07 06:27] douglas-motto-at-rutgers commented on #199
as of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

does not exist....fixed.

[2021-05-07 06:27] #199 closed, assigned to gregorydimitriadis

[2021-05-07 06:40] douglas-motto-at-rutgers commented on #202
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

fixed.

[2021-05-07 06:40] #202 closed, assigned to gregorydimitriadis

[2021-05-07 06:42] douglas-motto-at-rutgers commented on #203
as of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

fixed.

[2021-05-07 06:42] #203 closed, assigned to gregorydimitriadis

[2021-05-07 06:43] douglas-motto-at-rutgers commented on #205
as of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

this has been redesigned.

[2021-05-07 06:43] #205 closed, assigned to gregorydimitriadis

[2021-05-07 06:45] douglas-motto-at-rutgers commented on #206
as of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

expand/collapse all button added.

done.

[2021-05-07 06:45] #206 closed, assigned to gregorydimitriadis

[2021-05-07 06:50] douglas-motto-at-rutgers commented on #209
as of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

changed.

[2021-05-07 06:50] #209 closed, assigned to gregorydimitriadis

[2021-05-07 14:22] douglas-motto-at-rutgers commented on #210
as of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

appears to no longer exist.
closing

[2021-05-07 14:22] #210 closed, assigned to gregorydimitriadis

[2021-05-07 14:27] douglas-motto-at-rutgers commented on #214
as of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

still exists.

[2021-05-07 14:31] douglas-motto-at-rutgers commented on #215
I believe this is the graph data.  That's been implemented and exists at least at
SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

closing.

[2021-05-07 14:31] #215 closed, assigned to gregorydimitriadis

[2021-05-07 14:42] douglas-motto-at-rutgers commented on #216
This may be corrected as of
SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

But need to reverify requirements and implementation.

So leaving open for now.

[2021-05-07 14:44] douglas-motto-at-rutgers commented on #217
as of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17
working.

[2021-05-07 14:44] #217 closed, assigned to gregorydimitriadis

[2021-05-07 14:52] douglas-motto-at-rutgers commented on #218
as of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17
appears to be a non-issue.

some of the hiding/showing has been redesigned too.

closing.

[2021-05-07 14:52] #218 closed, assigned to gregorydimitriadis

[2021-05-07 14:59] douglas-motto-at-rutgers commented on #220
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

can not reproduce.  Assumed fixed.

Closing.

[2021-05-07 14:59] #220 closed, assigned to gregorydimitriadis

[2021-05-07 15:09] douglas-motto-at-rutgers commented on #221
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

can not reproduce. Assumed fixed.

Closing.

[2021-05-07 15:09] #221 closed, assigned to gregorydimitriadis

[2021-05-07 15:18] douglas-motto-at-rutgers commented on #222
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

can delete non-manual fields.  Assuming this is no longer an issue.

Closing.

[2021-05-07 15:18] #222 closed, assigned to gregorydimitriadis

[2021-05-07 15:20] douglas-motto-at-rutgers commented on #223
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

sign overlaps were rechecked and corrected.  Issue likely no longer exists.

Closing.

[2021-05-07 15:20] #223 closed, assigned to gregorydimitriadis

[2021-05-07 15:24] douglas-motto-at-rutgers commented on #224
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17
works for SCHOOL.

Assuming root cause was fixed.

Closing.

[2021-05-07 15:24] #224 closed, assigned to gregorydimitriadis

[2021-05-07 15:37] douglas-motto-at-rutgers commented on #226
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Handshape display and alignments were worked on and believe corrected.

Should no longer be an issue.

Closing.

[2021-05-07 15:37] #226 closed, assigned to gregorydimitriadis

[2021-05-07 15:44] douglas-motto-at-rutgers commented on #227
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Still exists in many places.  Leaving this open to address later.

[2021-05-07 15:46] douglas-motto-at-rutgers commented on #228
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

The overlapping of signs were worked on.  Believe this is no longer an issue.

Closiing.

[2021-05-07 15:46] #228 closed, assigned to gregorydimitriadis

[2021-05-07 16:04] douglas-motto-at-rutgers commented on #232
This may be corrected as of
SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

But need to reverify requirements and implementation.

So leaving open for now.

[2021-05-07 16:05] douglas-motto-at-rutgers commented on #233
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Both issues of play and search are believe corrected.

Closing.

[2021-05-07 16:05] #233 closed, assigned to gregorydimitriadis

[2021-05-07 16:07] douglas-motto-at-rutgers commented on #234
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

corrected.

Closing.

[2021-05-07 16:07] #234 closed, assigned to gregorydimitriadis

[2021-05-07 16:09] douglas-motto-at-rutgers commented on #236
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Corrected.  Closing.

[2021-05-07 16:09] #236 closed, assigned to gregorydimitriadis

[2021-05-07 16:13] douglas-motto-at-rutgers commented on #238
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Phases for non-manuals were worked on.  Believe no longer an issue.

Closing.

[2021-05-07 16:13] #238 closed, assigned to gregorydimitriadis

[2021-05-07 16:16] douglas-motto-at-rutgers commented on #240
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Timescales will no longer be used.  But for backward compatibility, converted properly.

Closing.

[2021-05-07 16:16] #240 closed, assigned to gregorydimitriadis

[2021-05-07 16:18] douglas-motto-at-rutgers commented on #241
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Search working with translations.

Closing.

[2021-05-07 16:18] #241 closed, assigned to gregorydimitriadis

[2021-05-07 16:20] douglas-motto-at-rutgers commented on #243
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Playing utterances was reworked.  Should no longer be an issue.

Closing.

[2021-05-07 16:20] #243 closed, assigned to gregorydimitriadis

[2021-05-07 16:21] douglas-motto-at-rutgers commented on #244
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17
working on 10.14 and above.
Closing.

[2021-05-07 16:21] #244 closed, assigned to gregorydimitriadis

[2021-05-07 16:24] douglas-motto-at-rutgers commented on #245
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

The video player code was replaced.  Should no longer be an issue.

Closing.

[2021-05-07 16:24] #245 closed, assigned to gregorydimitriadis

[2021-05-07 16:26] douglas-motto-at-rutgers commented on #246
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17 some tooltips have been added.

Leaving this open for more tooltips and opening multiple collections request.

[2021-05-07 16:29] douglas-motto-at-rutgers commented on #247
Working on saving field ordering across sessions.
Removing the default ordering.

Keeping open.

[2021-05-07 16:33] douglas-motto-at-rutgers commented on #248
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Done. Closing.

[2021-05-07 16:33] #248 closed, assigned to gregorydimitriadis

[2021-05-07 16:35] douglas-motto-at-rutgers commented on #249
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Lookup has been removed.

Closing.

[2021-05-07 16:35] #249 closed, assigned to gregorydimitriadis

[2021-05-07 16:39] douglas-motto-at-rutgers commented on #251
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

working.

Closing.

[2021-05-07 16:39] #251 closed, assigned to gregorydimitriadis

[2021-05-07 16:41] douglas-motto-at-rutgers commented on #252
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

The video player as completely replaced.  Assuming this is no longer an issue.

Closing.

[2021-05-07 16:41] #252 closed, assigned to gregorydimitriadis

[2021-05-07 16:42] douglas-motto-at-rutgers commented on #254
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Translations are viewable.

Closing.

[2021-05-07 16:42] #254 closed, assigned to gregorydimitriadis

[2021-05-07 17:00] douglas-motto-at-rutgers commented on #256
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Lots of changes converting right/left to dom/ndom.  displaying and using where appropriate.

Should re-evalutate the new version and create a new issue if further changes are still desired.

Closing this issue.

[2021-05-07 17:00] #256 closed, assigned to gregorydimitriadis

[2021-05-07 17:08] douglas-motto-at-rutgers commented on #257
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Does not appear to exist.

Assuming this is fixed.

Closing.

[2021-05-07 17:08] #257 closed, assigned to nobody

[2021-05-07 17:16] douglas-motto-at-rutgers commented on #258
Still existing as of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Needs requirements.

Leaving open.

[2021-05-07 17:38] douglas-motto-at-rutgers commented on #259
Still exists...will correct in next release.

[2021-05-07 17:39] douglas-motto-at-rutgers commented on #261
Implemented as of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

May want more changes.  If so, open new ticket.
Closing.

[2021-05-07 17:39] #261 closed, assigned to gregorydimitriadis

[2021-05-07 17:40] cneidle commented on #258
I suggested how it might work...

[2021-05-07 17:41] cneidle commented on #258
You should be able to view other things, but the gloss corresponding to a Morph-Phon window that is open should remain selected until that window is closed.

[2021-05-07 17:42] douglas-motto-at-rutgers commented on #262
Carol, this has been implement, but best if you review it, provide feedback, and state whether it is done.

[2021-05-07 17:47] cneidle commented on #262
I don’t know what you mean when you say this:

We would like to expand the possible collection search options, to include:

sign types
location data
handshapes (the most involved and will demand some UI changes likely)

 was implemented.

Doesn’t look that way to me…. Am I missing something?

[2021-05-07 17:48] douglas-motto-at-rutgers commented on #263
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

done.

Closing.

[2021-05-07 17:48] #263 closed, assigned to gregorydimitriadis

[2021-05-07 17:50] douglas-motto-at-rutgers commented on #264
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Implemented some features.  Likely others are needed.

Closing this issue.  Open new for additional features.

[2021-05-07 17:50] #264 closed, assigned to gregorydimitriadis

[2021-05-07 17:53] douglas-motto-at-rutgers commented on #265
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

seems to work.

Closing.

[2021-05-07 17:53] #265 closed, assigned to gregorydimitriadis

[2021-05-07 17:55] douglas-motto-at-rutgers commented on #266
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Handshapes exist.

Closing.

[2021-05-07 17:55] #266 closed, assigned to gregorydimitriadis

[2021-05-07 17:58] douglas-motto-at-rutgers commented on #267
Need to check the latest version.  Was fixed..then broke...then fixed again.

Need to verify.

[2021-05-07 17:59] douglas-motto-at-rutgers commented on #268
Part of larger discussion.

Keeping open.

[2021-05-07 18:25] douglas-motto-at-rutgers commented on #269
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

changed so search does not cross collections, search window can only open in utterance view and search window can not remain open when returning to database view.  open/new collection closes search window.

Closing.

[2021-05-07 18:28] cneidle commented on #269
It should remain possible to change the search domain, which would have the effect of
opening another file in which the search provided results.

Hopefully that functionality has not been removed.

[2021-05-07 18:29] douglas-motto-at-rutgers commented on #270
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

tmp files to not appear to generate when searching.

Closing.

[2021-05-07 18:29] #270 closed, assigned to gregorydimitriadis

[2021-05-07 18:31] douglas-motto-at-rutgers commented on #271
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17
ANY corrected and auto change to specific done.

Closing

[2021-05-07 18:31] #271 closed, assigned to gregorydimitriadis

[2021-05-07 18:32] douglas-motto-at-rutgers commented on #272
as of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

corrected.

Closing.

[2021-05-07 18:32] #272 closed, assigned to gregorydimitriadis

[2021-05-07 18:36] douglas-motto-at-rutgers commented on #273
Working on saving field ordering across sessions.

Keeping open.

[2021-05-07 18:39] douglas-motto-at-rutgers commented on #275
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

seems like this could not be reproduced.

closing.

[2021-05-07 18:39] #275 closed, assigned to nobody

[2021-05-07 18:41] douglas-motto-at-rutgers commented on #276
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Assuming fixed...could not reproduce.

Closing.

[2021-05-07 18:41] #276 closed, assigned to gregorydimitriadis

[2021-05-07 18:43] douglas-motto-at-rutgers commented on #277
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

hasn't happened in a long time.

Closing.

[2021-05-07 18:43] #277 closed, assigned to gregorydimitriadis

[2021-05-07 18:49] douglas-motto-at-rutgers commented on #279
Some added.

Needs review.

[2021-05-07 19:04] douglas-motto-at-rutgers commented on #282
as of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

done.

closing.

[2021-05-07 19:04] #282 closed, assigned to gregorydimitriadis

[2021-05-07 19:08] douglas-motto-at-rutgers commented on #285
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Believed fixed.

Closing.

[2021-05-07 19:08] #285 closed, assigned to gregorydimitriadis

[2021-05-07 19:10] douglas-motto-at-rutgers commented on #287
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Believe fixed.

Closing.

[2021-05-07 19:10] #287 closed, assigned to gregorydimitriadis

[2021-05-07 19:11] douglas-motto-at-rutgers commented on #288
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Fixed...now goes to the beginning or end of the entire video/audio range.

[2021-05-07 19:11] #288 closed, assigned to gregorydimitriadis

[2021-05-07 19:12] douglas-motto-at-rutgers commented on #289
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Buttons are grayed out.

Closing.

[2021-05-07 19:12] #289 closed, assigned to gregorydimitriadis

[2021-05-07 19:14] douglas-motto-at-rutgers commented on #290
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

An Entity is the same as an Event in the database view...of which the utterances are.

Leaving existing for now.

Closing.

[2021-05-07 19:14] #290 closed, assigned to gregorydimitriadis

[2021-05-07 19:15] douglas-motto-at-rutgers commented on #291
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

The video/audio code was completely rewritten and the sliders now all work.

Closing.

[2021-05-07 19:15] #291 closed, assigned to gregorydimitriadis

[2021-05-07 19:18] douglas-motto-at-rutgers commented on #292
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Video and Audio player was replaced.  Now it's safe to close all player windows.

Closing.

[2021-05-07 19:18] #292 closed, assigned to gregorydimitriadis

[2021-05-07 19:25] douglas-motto-at-rutgers commented on #293
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Fixed.

Closing.

[2021-05-07 19:25] #293 closed, assigned to gregorydimitriadis

[2021-05-07 19:27] douglas-motto-at-rutgers commented on #294
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Implemented.

Closing.

[2021-05-07 19:27] #294 closed, assigned to gregorydimitriadis

[2021-05-07 19:32] douglas-motto-at-rutgers commented on #295
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Utterance must be selected to play event/entity.

Buttons now work.

Closing.

[2021-05-07 19:32] #295 closed, assigned to gregorydimitriadis

[2021-05-07 19:35] douglas-motto-at-rutgers commented on #296
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

now stops the second utterance from extending before the end of the first utterance.
fixed.

Closing.

[2021-05-07 19:35] #296 closed, assigned to gregorydimitriadis

[2021-05-07 19:36] douglas-motto-at-rutgers commented on #297
Some of these issue may still exist.

Keeping open for later review.

[2021-05-07 19:40] douglas-motto-at-rutgers commented on #298
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Menu has been greatly improved.

Closing for now.  If more improvement wanted, open new issue.

[2021-05-07 19:40] #298 closed, assigned to gregorydimitriadis

[2021-05-07 19:43] douglas-motto-at-rutgers commented on #299
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

This has been fixed.

Closing.

[2021-05-07 19:49] douglas-motto-at-rutgers commented on #300
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

CMD-W works in db view, utterance view, and players.

Closing

[2021-05-07 19:49] #300 closed, assigned to gregorydimitriadis

[2021-05-07 19:53] douglas-motto-at-rutgers commented on #301
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

If two videos of the same location are added in the macro editor...only one is actually added to the database...and only one is added to the xml.

Closing.

[2021-05-07 19:53] #301 closed, assigned to gregorydimitriadis

[2021-05-07 19:54] douglas-motto-at-rutgers commented on #303
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Done

Closing.

[2021-05-07 19:56] douglas-motto-at-rutgers commented on #304
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

This does not or no longer exists.

Continuous Loop button.

Leaving open as a new feature request.

[2021-05-07 20:06] douglas-motto-at-rutgers commented on #307
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

done.

Closing.

[2021-05-07 20:06] #307 closed, assigned to gregorydimitriadis

[2021-05-07 20:15] douglas-motto-at-rutgers commented on #308
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Implemented.

Closing.

[2021-05-07 20:15] #308 closed, assigned to gregorydimitriadis

[2021-05-07 20:17] douglas-motto-at-rutgers commented on #309
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

wording hanged.

Closing.

[2021-05-07 20:17] #309 closed, assigned to gregorydimitriadis

[2021-05-07 21:37] douglas-motto-at-rutgers commented on #311
Likely was fixed, but code changes reintroduced.

As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17
still exists.

Keeping open.

[2021-05-07 21:39] douglas-motto-at-rutgers commented on #312
Closing.  So many things have changed since then.  Impossible to know now.

[2021-05-07 21:39] #312 closed, assigned to gregorydimitriadis

[2021-05-09 01:42] douglas-motto-at-rutgers commented on #313
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Appears fixed.

Closing.

[2021-05-09 01:42] #313 closed, assigned to gregorydimitriadis

[2021-05-09 01:56] douglas-motto-at-rutgers commented on #314
Still exist as of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17.

Leaving open.

[2021-05-09 02:03] douglas-motto-at-rutgers commented on #316
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

If more than one primary is in the result...the results are initially collapsed.
if only one primary is in the result...the results are initially expanded.

Closing.

[2021-05-09 02:03] #316 closed, assigned to gregorydimitriadis

[2021-05-09 02:11] douglas-motto-at-rutgers commented on #317
Still existing as of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17.

[2021-05-09 02:19] douglas-motto-at-rutgers commented on #318
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Issue still exists.  There is not handling if the internet is down, or the file unavailable on the server.

Keeping open.

[2021-05-09 02:46] douglas-motto-at-rutgers commented on #319
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

search entries from signbank with * can not be insert all data into morphphon window.

Closing.

[2021-05-09 02:46] #319 closed, assigned to gregorydimitriadis

[2021-05-09 02:52] douglas-motto-at-rutgers commented on #322
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Video player code has been changed.  Sure this issue does not exist (although new issues might).

In any case, closing this issue.  Reopen if experiencing in new player code.

[2021-05-09 02:52] #322 closed, assigned to gregorydimitriadis

[2021-05-09 03:29] douglas-motto-at-rutgers commented on #323
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

It appears that creating a named sign, does not automatically make future signs named.

Closing.

[2021-05-09 03:29] #323 closed, assigned to gregorydimitriadis

[2021-05-09 03:31] douglas-motto-at-rutgers commented on #324
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe1

Video code was replaced.

Closing.  Open new issue if still experiencing.

[2021-05-09 03:31] #324 closed, assigned to gregorydimitriadis

[2021-05-09 03:38] douglas-motto-at-rutgers commented on #325
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Diff start/end for 1&2 handedness appear to be inserted.

Closing.

[2021-05-09 03:38] #325 closed, assigned to gregorydimitriadis

[2021-05-09 03:44] douglas-motto-at-rutgers commented on #326
Apparently there was some issue with the xml file.

Closing.

[2021-05-09 03:44] #326 closed, assigned to gregorydimitriadis

[2021-05-09 03:49] douglas-motto-at-rutgers commented on #328
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

The field selector has been reworked.  This issue is believed to have been resolved.

Closing.  If experiencing issue again, open new issue.

[2021-05-09 03:49] #328 closed, assigned to gregorydimitriadis

[2021-05-09 03:54] douglas-motto-at-rutgers commented on #329
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

believe fixed.

Closing.

[2021-05-09 04:01] douglas-motto-at-rutgers commented on #330
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

1h signbank data inserted into non dom handshapes of 1h nondom

Closing.

[2021-05-09 04:01] #330 closed, assigned to gregorydimitriadis

[2021-05-09 04:22] douglas-motto-at-rutgers commented on #332
More than a year old. Closing.

[2021-05-09 04:22] #332 closed, assigned to nobody

[2021-05-09 04:32] douglas-motto-at-rutgers commented on #333
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Toolbar was improved.  Current moves green bar, but video image may not change.  End "time" of video actually has no image.  Only start of every frame has an image and frames last X time.  So the end of the last frame actually has no image.

Will see about making image "blank" we no image can be displayed.  Keeping open.

[2021-05-09 04:37] douglas-motto-at-rutgers commented on #335
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

both issues seem to have been corrected.

Closing.

[2021-05-09 04:37] #335 closed, assigned to gregorydimitriadis

[2021-05-09 04:39] douglas-motto-at-rutgers commented on #336
Closing this as should be a DAI issue.

[2021-05-09 04:39] #336 closed, assigned to gregorydimitriadis

[2021-05-09 04:40] douglas-motto-at-rutgers commented on #337
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Video player code was redone.

Closing.  If issue still exist.  Open new issue.

[2021-05-09 04:40] #337 closed, assigned to gregorydimitriadis

[2021-05-09 04:55] douglas-motto-at-rutgers commented on #338
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Locate has been removed.  The video selection and validation process has been drastically changed.

Closing.  If any problem still exist.  Open in new issue.

[2021-05-09 04:55] #338 closed, assigned to gregorydimitriadis

[2021-05-09 05:12] douglas-motto-at-rutgers commented on #339
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Closing this issue.  The handshapes now show up.

[2021-05-09 05:12] #339 closed, assigned to gregorydimitriadis

[2021-05-09 05:24] douglas-motto-at-rutgers commented on #340
As of  SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Only half fixed...will close the palette window when open a new...but when re-opening a morph-phone...it still exists.

Keeping open.

[2021-05-09 05:34] douglas-motto-at-rutgers commented on #341
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

The display problem does not appear to exist.

Closing.

[2021-05-09 05:34] #341 closed, assigned to gregorydimitriadis

[2021-05-09 05:37] douglas-motto-at-rutgers commented on #343
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

command Q appears to work.

Closing.  If seen again.  Open new issue.

[2021-05-09 05:37] #343 closed, assigned to nobody

[2021-05-09 05:45] douglas-motto-at-rutgers commented on #344
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

This issue has not been completely resolved.

Keeping open.

[2021-05-09 05:53] douglas-motto-at-rutgers commented on #344
Correction...This issue appears completely resolved.

[2021-05-09 05:53] #344 closed, assigned to gregorydimitriadis

[2021-05-09 06:04] douglas-motto-at-rutgers commented on #345
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Fixed.  Closing.

[2021-05-09 06:04] #345 closed, assigned to gregorydimitriadis

[2021-05-09 06:06] douglas-motto-at-rutgers commented on #349
Assuming fixed.

Closing.

[2021-05-09 06:06] #349 closed, assigned to gregorydimitriadis

[2021-05-09 06:06] douglas-motto-at-rutgers commented on #349
if not...open new issue.

[2021-05-09 06:11] douglas-motto-at-rutgers commented on #350
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Alternating handshape data appear to insert from signbank correctly.

Closing.

[2021-05-09 06:11] #350 closed, assigned to gregorydimitriadis

[2021-05-09 06:13] douglas-motto-at-rutgers commented on #351
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Closing the players work via the red button.

Closing.

[2021-05-09 06:13] #351 closed, assigned to nobody

[2021-05-09 06:19] douglas-motto-at-rutgers commented on #353
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

This has likely been fixed.

Closing.

[2021-05-09 06:19] #353 closed, assigned to nobody

[2021-05-09 06:31] douglas-motto-at-rutgers commented on #356
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Utterance boundaries restrictions have been removed.  So non-issue now.

Closing.

[2021-05-09 06:31] #356 closed, assigned to gregorydimitriadis

[2021-05-09 06:48] douglas-motto-at-rutgers commented on #357
Based on the discussion, assuming fixed.

Closing.

[2021-05-09 06:48] #357 closed, assigned to gregorydimitriadis

[2021-05-09 06:53] douglas-motto-at-rutgers commented on #361
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Video player was changed.  Assuming fixed.

Closing.   If still existing.  Reopen in new issue.

[2021-05-09 06:53] #361 closed, assigned to gregorydimitriadis

[2021-05-09 06:59] douglas-motto-at-rutgers commented on #362
Need Greg to confirm that this was done properly.

[2021-05-09 07:29] douglas-motto-at-rutgers commented on #364
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

This specific issue corrected...but similar ones may exist.

Open new issue if still existing.

Closed.

[2021-05-09 07:29] #364 closed, assigned to gregorydimitriadis

[2021-05-09 07:38] douglas-motto-at-rutgers commented on #365
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Still exists.  Keeping open.

[2021-05-09 07:45] douglas-motto-at-rutgers commented on #366
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Appears fixed.

Closing.

[2021-05-09 07:45] #366 closed, assigned to gregorydimitriadis

[2021-05-09 07:51] douglas-motto-at-rutgers commented on #367
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Appears fixed.

Closing.

[2021-05-09 07:51] #367 closed, assigned to gregorydimitriadis

[2021-05-09 08:03] douglas-motto-at-rutgers commented on #368
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Still broken.  Check if it is comparing name with labels (or vice versa)...etc.

Keeping open.

[2021-05-09 08:05] douglas-motto-at-rutgers commented on #369
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Zoom code has been redone.

Closing.  If problems still exists, open new issue.

[2021-05-09 08:05] #369 closed, assigned to gregorydimitriadis

[2021-05-09 08:10] douglas-motto-at-rutgers commented on #370
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Still existing.  Keeping open.

[2021-05-09 08:14] douglas-motto-at-rutgers commented on #371
Closing....too many open tickets already.

[2021-05-09 08:14] #371 closed, assigned to gregorydimitriadis

[2021-05-09 08:46] douglas-motto-at-rutgers commented on #376
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

The question is asked if it's believed dirty.  There may be situations that the dirty flag isn't set though.

Closing this issue as a matter of check dirt for "new" click.

[2021-05-09 08:46] #376 closed, assigned to gregorydimitriadis

[2021-05-09 09:00] douglas-motto-at-rutgers commented on #377
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Works for dom, or non-dom, or two handed....so long as handedness does not change.

Changing 2handed from non-dom line to 1handed breaks.  (when switching types, this may be automatically change making it appear as a type problem.

Closing.  handed problem in another issue.

[2021-05-09 09:00] #377 closed, assigned to gregorydimitriadis

[2021-05-09 09:06] douglas-motto-at-rutgers commented on #378
As SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Not completely fixed.

Just after going from 1->2 handed...before unfocusing...the hand lines are still blue.

Keeping open.

[2021-05-09 09:08] douglas-motto-at-rutgers commented on #379
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

works for new collection files...unclear about older rit files.

Closing.   Open new if still existing.

[2021-05-09 09:08] #379 closed, assigned to nobody

[2021-05-09 09:16] douglas-motto-at-rutgers commented on #380
XML elements, such as the SignBank uses, are unordered.

Ordering can be defined by an element's property...the value of an attribute or the text contents.

For example a specify new attribute called "ORDER"...or based off an existing attribute like the "VARIANT_ID"...or based off an existing element text contents, like "LABEL".

[2021-05-09 09:26] douglas-motto-at-rutgers commented on #383
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Creates new Gloss.

Closing.

[2021-05-09 09:26] #383 closed, assigned to nobody

[2021-05-09 09:29] douglas-motto-at-rutgers commented on #384
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Increased, but perhaps not enough.

Keeping open.

[2021-05-09 09:35] douglas-motto-at-rutgers commented on #385
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Default shows enabled fields and fields with annotations.

Closing.

[2021-05-09 09:35] #385 closed, assigned to nobody

[2021-05-09 09:36] douglas-motto-at-rutgers commented on #386
Closing.

[2021-05-09 09:37] douglas-motto-at-rutgers commented on #387
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Corrected.

Closing.

[2021-05-09 09:37] #387 closed, assigned to nobody

[2021-05-09 09:41] douglas-motto-at-rutgers commented on #388
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17
buttons work.

Closing.

[2021-05-09 09:41] #388 closed, assigned to nobody

[2021-05-09 09:42] douglas-motto-at-rutgers commented on #389
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17
About box updated.

Closing.

[2021-05-09 09:42] #389 closed, assigned to nobody

[2021-05-09 09:47] douglas-motto-at-rutgers commented on #391
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Changes made such that...

Search can only be opened in the Utterance view.  New and Open of a collection will close the search.  Going to the db view will be prevented if the search window is still open.

Closing.

[2021-05-09 09:52] douglas-motto-at-rutgers commented on #392
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17
click anywhere in field works.

[2021-05-09 10:09] douglas-motto-at-rutgers commented on #392
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17
Creating a gloss...clicking away from text box submits the text and creates the gloss name.

[2021-05-09 10:09] douglas-motto-at-rutgers commented on #392
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17
Alignment when setting (or attempting a setting) of boundaries corrected.

[2021-05-09 10:10] douglas-motto-at-rutgers commented on #392
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17
Zoom is redesigned...should either do default behavior or remember zoom level.

[2021-05-09 10:11] douglas-motto-at-rutgers commented on #392
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17
File save/open has be corrected.

[2021-05-09 10:13] douglas-motto-at-rutgers commented on #392
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17
Resetting of videos/audio/graph of an existing collection corrected.
Opening and using macro editor improved.

[2021-05-09 10:14] douglas-motto-at-rutgers commented on #392
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17
Add value to non-manuals from utterance view works.

[2021-05-09 10:15] douglas-motto-at-rutgers commented on #392
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17
Gloss alignment of associated fields corrected.

[2021-05-09 10:17] douglas-motto-at-rutgers commented on #392
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17
arrow keys corrected.

[2021-05-09 10:19] douglas-motto-at-rutgers commented on #392
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17
selecting and showing of utterances corrected...partial zoom scroll issues.

[2021-05-09 10:20] #392 closed, assigned to gregorydimitriadis

[2021-05-09 10:24] douglas-motto-at-rutgers commented on #393
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Overlapping and alignment gloss issued should be all corrected.

Closing.

Closing

[2021-05-09 10:24] #393 closed, assigned to nobody

[2021-05-09 13:23] cneidle commented on #391
Just want to be sure that "Change Search Domain" still works...  thanks very much.

<img width="1029" alt="Screen Shot 2021-05-09 at 9 22 29 AM" src="https://user-images.githubusercontent.com/13629122/117573847-282d8c00-b0a8-11eb-88e0-cbb9679385d1.png">

[2021-05-09 13:24] cneidle commented on #386
Has this been fixed for 10.12.6 and earlier?

[2021-05-09 13:37] douglas-motto-at-rutgers commented on #394
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Almost completely fixed.  The click and drag in the database view when creating an utterance does not scroll the screen.

Keeping open

[2021-05-09 13:40] douglas-motto-at-rutgers commented on #395
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Fixed.

Closing.

[2021-05-09 13:40] #395 closed, assigned to nobody

[2021-05-09 13:47] douglas-motto-at-rutgers commented on #398
As SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

The player locking up scenarios have been greatly reduced.

Closing.  Open new issue if seen again.

[2021-05-09 13:47] #398 closed, assigned to nobody

[2021-05-09 14:04] douglas-motto-at-rutgers commented on #399
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17
The focusing behavior for glosses has not changed from that of 3.3.1
Be careful as click and drag will NOT focus a gloss....must click without moving.

Closing.

[2021-05-09 14:09] cneidle commented on #399
I don't know what you're referring to by "click and drag".  We don't do that with glosses.
The problem was (and perhaps still is) similar to what has been occurring with trying to enter the
gloss in the first place:  there has been an inappropriate sensitivity to height.  You should be able to
Option click at any height within the gloss field, and you should be able to click on a gloss at any
heig

[2021-05-09 14:20] douglas-motto-at-rutgers commented on #399
Click and drag does not create any events....option, click and drag does create or edit for all events but glosses.

Click and drag moves the greenbar without focusing or defocusing any events.

Closing.  After testing...open new issue if found not to still work.

[2021-05-09 14:20] #399 closed, assigned to nobody

[2021-05-09 14:26] douglas-motto-at-rutgers commented on #400
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

I'm told....This will not get fixed until an upgrade of the UI framework SS uses for tabs...or a custom hacked replacement for tabs is crested.  Both which will take a long time.

The weird highlighting occurs when the morph-phon window is not in focus....re-click it and the "blue" highlight reappears.

Closing.

[2021-05-09 14:26] #400 closed, assigned to nobody

[2021-05-09 14:30] douglas-motto-at-rutgers commented on #401
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

The alignment changing of boundaries should be corrected.

The adding new item, could not recreate.  Tested with a few fields and doesn't seem to currently exist.

In future, list the field it worked and not worked.

Closing. Open new issue if discovered again.

[2021-05-09 14:30] #401 closed, assigned to nobody

[2021-05-09 14:41] cneidle commented on #399
OK, will test on the next version.

FYI - these have been problems still with ALL recent versions I have tested:

The problem was (and perhaps still is) similar to what has been occurring with trying to enter the
gloss in the first place: there has been an inappropriate sensitivity to height. You should be able to
Option click at any height within the gloss field, and you should be able to click o

[2021-05-09 14:59] douglas-motto-at-rutgers commented on #403
If most of these issues are zoom related...Many zoom/scroll improvements have been made.

After releasing both the 4 and 3 versions we'll need someone with 11.2 to check any issues here.

Keeping open for now.

[2021-05-09 15:03] douglas-motto-at-rutgers commented on #404
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

I believe the display of types has been fixed.

Closing.

[2021-05-09 15:03] #404 closed, assigned to nobody

[2021-05-09 15:33] douglas-motto-at-rutgers commented on #405
Assuming there was the 2h "part:indef" and the 2h "WHAT....with everything aligned under there main gloss boundaries...

Then moved the end of "part:indef" to the the same start time as "WHAT"...

... and then the alignment for "WHAT" becomes messed up.

[2021-05-09 15:35] douglas-motto-at-rutgers commented on #405
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Retested and no longer occurs.

Closing.

[2021-05-09 15:35] #405 closed, assigned to nobody

[2021-05-09 15:46] douglas-motto-at-rutgers commented on #406
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Can add as many fields in the editor window...but when clicking "Done"...it will not save if any are empty.

Closing.

[2021-05-09 15:46] #406 closed, assigned to nobody

[2021-05-09 15:54] douglas-motto-at-rutgers commented on #410
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Two handed alignment issues are believe corrected for unlocked hands and handshapes.

[2021-05-09 15:55] douglas-motto-at-rutgers commented on #410
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

can make 1framed non-manual fields.

[2021-05-09 15:57] douglas-motto-at-rutgers commented on #410
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

READ_2 loaded in signbank search.

[2021-05-09 15:57] douglas-motto-at-rutgers commented on #410
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17
(W)WEATHER loaded in signbank search.

[2021-05-09 15:57] douglas-motto-at-rutgers commented on #410
Closing.

[2021-05-09 15:57] #410 closed, assigned to nobody

[2021-05-09 16:02] douglas-motto-at-rutgers commented on #413
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Should be working.

Closing.

[2021-05-09 16:05] douglas-motto-at-rutgers commented on #414
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

All non-manual fields, include free, allow spaces within the label.
Predefined and Generic fields are based on this as well.

Gestures similar...with out asking for a label.

Discussion is needed.

[2021-05-09 16:06] douglas-motto-at-rutgers commented on #415
This isn't a bug....there is no video of his face before the graph data appears.

Closing.

[2021-05-09 16:06] #415 closed, assigned to nobody

[2021-05-09 17:12] cneidle opened #434 "Buttons to resize video windows have labels reversed in the 2nd May 3rd version"
11.3.1

The button in the lower right corner of the video window to make the video small says "lg" and the one to make the video large says "sm".

<img width="848" alt="Screen Shot 2021-05-09 at 1 09 10 PM" src="https://user-images.githubusercontent.com/13629122/117580859-f9bfa900-b0c7-11eb-92a3-316ff6512d15.png">

<img width="415" alt="Screen Shot 2021-05-09 at 1 09 16 PM" src="https://user-image

[2021-05-09 19:36] douglas-motto-at-rutgers commented on #419
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

The behavior now appears similar to 3.3.1.   A second click isn't necessary to enable the set buttons.

Closing.

[2021-05-09 19:36] #419 closed, assigned to nobody

[2021-05-09 20:09] douglas-motto-at-rutgers commented on #421
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

The panel views are remembered within the "same" session (between db and utteranceviews)...but are not currently saved and reloaded.

Keeping open.

[2021-05-09 20:17] douglas-motto-at-rutgers commented on #422
Also unable to reproduce in SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17.

Closing for now.  Reopen if seen existing after trying newer version.

[2021-05-09 20:17] #422 closed, assigned to nobody

[2021-05-09 20:29] douglas-motto-at-rutgers commented on #425
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Removed the "ALL" results...only entities with main event completely within utterances are returned.  event with main part within utterance, but phase outside, will still be found.

Clear Search reset both search query and search result.

Closing.

[2021-05-09 20:29] #425 closed, assigned to nobody

[2021-05-09 20:30] douglas-motto-at-rutgers commented on #426
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Global field display appears to be working.

[2021-05-09 20:32] douglas-motto-at-rutgers commented on #426
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

per utterance/segment and segment appear also to be working.

[2021-05-09 20:54] douglas-motto-at-rutgers commented on #426
As of As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

per utterance/segment, per segment and global settings appear to save and load.

[2021-05-09 20:55] douglas-motto-at-rutgers commented on #426
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

"ALL" result in search has been removed.

[2021-05-09 20:55] douglas-motto-at-rutgers commented on #426
Closing.

[2021-05-09 20:55] #426 closed, assigned to nobody

[2021-05-09 21:31] douglas-motto-at-rutgers commented on #427
As of SignStream4_4.0.0_convergence_2021_05_06_1324_def1fe17

Removed the "Green Bar"/"Set To"....although if making future improvements to the Display Time Period, or to multiple current times, may want to consider putting it back in.

As for Entity in db view....would like to keep it there as to not have (to code) different toolbars from db to utterance views....Could gray out as a compromise...

[2021-05-09 21:31] #427 closed, assigned to nobody

[2021-05-10 13:52] douglas-motto-at-rutgers commented on #267
As of SignStream4_4.0.0_convergence_2021_05_07_1730_e1dd7d21

Fixed.

Closing.

[2021-05-10 13:52] #267 closed, assigned to gregorydimitriadis

[2021-05-10 13:59] douglas-motto-at-rutgers commented on #286
As of SignStream4_4.0.0_convergence_2021_05_07_1730_e1dd7d21

Does not appear to still exist.

Closing.

[2021-05-10 13:59] #286 closed, assigned to gregorydimitriadis

[2021-05-10 14:02] douglas-motto-at-rutgers commented on #315
As of SignStream4_4.0.0_convergence_2021_05_07_1730_e1dd7d21

shortcuts work in video and audio players.

Closing.

[2021-05-10 14:02] #315 closed, assigned to gregorydimitriadis

[2021-05-10 14:07] douglas-motto-at-rutgers commented on #382
As of SignStream4_4.0.0_convergence_2021_05_07_1730_e1dd7d21

Click on search result goes to result in utterance.

Closing.

[2021-05-10 14:07] #382 closed, assigned to nobody

[2021-05-10 14:10] douglas-motto-at-rutgers commented on #397
As of SignStream4_4.0.0_convergence_2021_05_07_1730_e1dd7d21

No longer appears to happen.

Closing.

[2021-05-10 14:10] #397 closed, assigned to nobody

[2021-05-10 14:12] douglas-motto-at-rutgers commented on #423
As of SignStream4_4.0.0_convergence_2021_05_07_1730_e1dd7d21

Compound is back for glosses.

Closing.

[2021-05-10 14:12] #423 closed, assigned to nobody

[2021-05-10 14:14] douglas-motto-at-rutgers commented on #424
As of SignStream4_4.0.0_convergence_2021_05_07_1730_e1dd7d21

Done.

Closing.

[2021-05-10 14:14] #424 closed, assigned to nobody

[2021-05-10 14:20] douglas-motto-at-rutgers commented on #429
As of SignStream4_4.0.0_convergence_2021_05_07_1730_e1dd7d21

"Save" done.

[2021-05-10 14:21] douglas-motto-at-rutgers commented on #429
"Save As" did not exist in 3.3.1

Keeping open as new feature.

[2021-05-10 14:23] douglas-motto-at-rutgers commented on #432
As of SignStream4_4.0.0_convergence_2021_05_07_1730_e1dd7d21

Fixed.

Closing.

[2021-05-10 14:23] #432 closed, assigned to nobody

[2021-05-10 14:24] douglas-motto-at-rutgers commented on #433
As of SignStream4_4.0.0_convergence_2021_05_07_1730_e1dd7d21

the "..." removed.

Closing.

[2021-05-10 14:24] #433 closed, assigned to nobody

[2021-05-10 14:29] douglas-motto-at-rutgers commented on #430
As of SignStream4_4.0.0_convergence_2021_05_07_1730_e1dd7d21

Sign type displays.

Closing.

[2021-05-10 14:29] #430 closed, assigned to nobody

[2021-05-11 17:44] douglas-motto-at-rutgers commented on #412
From what I'm told, the images used did not change.  This appears to be a similar situation to the font problems.

We'll leave this issue open, but for the moment do not have a solution.

[2021-05-11 17:46] douglas-motto-at-rutgers commented on #372
As of SignStream4_4.0.0_convergence_2021_05_07_1730_e1dd7d21

I'm told this should no longer be a problem.

Closing

[2021-05-11 17:46] #372 closed, assigned to gregorydimitriadis

[2021-05-11 17:47] douglas-motto-at-rutgers commented on #402
As of SignStream4_4.0.0_convergence_2021_05_07_1730_e1dd7d21

I'm told this should no longer be a problem.

Closing

[2021-05-11 17:47] #402 closed, assigned to nobody

[2021-05-11 17:51] douglas-motto-at-rutgers commented on #247
As of SignStream4_4.0.0_convergence_2021_05_10_1855_c60918b0

Field ordering is now saved within the collection file.

If the default static order needs updating, create a new issue.

Doug

[2021-05-11 17:51] #247 closed, assigned to gregorydimitriadis

[2021-05-11 17:51] douglas-motto-at-rutgers commented on #273
As of SignStream4_4.0.0_convergence_2021_05_10_1855_c60918b0

Field ordering is now saved within the collection file.

If the default static order needs updating, create a new issue.

Doug

[2021-05-11 17:51] #273 closed, assigned to gregorydimitriadis

[2021-05-11 18:18] douglas-motto-at-rutgers commented on #411
As of SignStream4_4.0.0_convergence_2021_05_10_1855_c60918b0

I've been told that the freezing hasn't been experienced.  Assuming corrected.

I've been told the "Structure does not contain integer" has been fixed.

Closing

[2021-05-11 18:18] #411 closed, assigned to nobody

[2021-05-12 15:54] douglas-motto-at-rutgers commented on #279
Closing.  Open new issue for additional tooltips.

[2021-05-12 15:54] #279 closed, assigned to gregorydimitriadis

[2021-05-12 16:00] douglas-motto-at-rutgers commented on #208
As of SignStream4_4.0.0_convergence_2021_05_10_1855_c60918b0

Believed Fixed.  Reopen new issue if still found.

[2021-05-12 16:00] #208 closed, assigned to gregorydimitriadis

[2021-05-12 16:37] douglas-motto-at-rutgers commented on #306
As of SignStream4_4.0.0_convergence_2021_05_10_1855_c60918b0

Believe such alignment issues have been resolved.

Closing.  Open new ticket if still exiting.

[2021-05-12 16:37] #306 closed, assigned to gregorydimitriadis

[2021-05-12 17:04] douglas-motto-at-rutgers commented on #184
As of SignStream4_4.0.0_convergence_2021_05_10_1855_c60918b0

The change in value appear to persist with or with the search window open.

Closing.

[2021-05-12 17:04] #184 closed, assigned to gregorydimitriadis

[2021-05-12 17:14] douglas-motto-at-rutgers commented on #151
As of SignStream4_4.0.0_convergence_2021_05_12_1056_cbb91a73

Translations lines have been improved.
Translations tied to Utterance starts.  Will move with change in Utterance start.  Will be removed if Utterance is removed.

Closing.

[2021-05-12 17:14] #151 closed, assigned to gregorydimitriadis

[2021-05-12 17:21] douglas-motto-at-rutgers commented on #154
As of SignStream4_4.0.0_convergence_2021_05_12_1056_cbb91a73

free-text/menu should be working.

Disabled changing menu to text for existing non-manual fields and vice versa.

Closing.

[2021-05-12 17:21] #154 closed, assigned to gregorydimitriadis

[2021-05-12 17:25] douglas-motto-at-rutgers commented on #156
As of SignStream4_4.0.0_convergence_2021_05_12_1056_cbb91a73

Removed "back to original"

Closing.

[2021-05-12 17:25] #156 closed, assigned to gregorydimitriadis

[2021-05-12 17:28] douglas-motto-at-rutgers commented on #259
As of SignStream4_4.0.0_convergence_2021_05_12_1056_cbb91a73

Fixed.

[2021-05-12 17:28] #259 closed, assigned to gregorydimitriadis

[2021-05-12 17:32] douglas-motto-at-rutgers commented on #310
As of SignStream4_4.0.0_convergence_2021_05_12_1056_cbb91a73

zoom and scroll are not remembers between collection opens (or new)

opening/closing a video can be done without restarting signstream

Closing.

[2021-05-12 17:32] #310 closed, assigned to gregorydimitriadis

[2021-05-12 17:35] douglas-motto-at-rutgers commented on #311
As of SignStream4_4.0.0_convergence_2021_05_12_1056_cbb91a73

Scroll removed while creating utterance.  Need to add back in proper scroll.

Keeping open.

[2021-05-12 17:36] douglas-motto-at-rutgers commented on #314
When selecting the segment tier or temporal partition it happens.

[2021-05-12 17:41] douglas-motto-at-rutgers commented on #333
As of SignStream4_4.0.0_convergence_2021_05_12_1056_cbb91a73

Image is blank at the end of the video.

Closing.

[2021-05-12 17:41] #333 closed, assigned to nobody

[2021-05-12 17:47] douglas-motto-at-rutgers commented on #421
As of SignStream4_4.0.0_convergence_2021_05_12_1056_cbb91a73

The panel views are remembered between saved and reloaded collections.

Closing.

[2021-05-12 17:47] #421 closed, assigned to nobody

[2021-05-12 18:07] douglas-motto-at-rutgers commented on #431
As of SignStream4_4.0.0_convergence_2021_05_12_1358_4383c01a

The spacing is due to the ability now to resize the window.

The letters by keyboard press was there but at the bottom of a scroll.  Changed that to always appear without needing to scroll.

Closing.

[2021-05-12 18:07] #431 closed, assigned to nobody

[2021-05-12 18:50] douglas-motto-at-rutgers commented on #185
As of SignStream4_4.0.0_convergence_2021_05_12_1409_1055ffd9

Was informed that that this has been fixed.

Closing.

[2021-05-12 18:50] #185 closed, assigned to gregorydimitriadis

[2021-05-13 13:30] cneidle commented on #434
This bug still exists in release candidate 4.1.  It is also still the case that clicking on the button to resize the video windows only resizes the current window rather than all the windows (as it should do).

[2021-05-13 13:38] cneidle opened #435 "Discrepancy in display when setting/viewing end frame of an utterance"
11.3.1

I set the end frame of the utterance to a frame that is before the black region (1st screen shot below).
But when I play the utterance, it plays through to a black frame (2nd screen shot below).
The frame information displayed is the same in both cases.

Same within the utterance - going to the end also shows a black frame.

<img width="533" alt="Screen Shot 2021-05-13 at 9 35 49 AM" src="

[2021-05-13 13:45] cneidle opened #436 "Setting start or end of selected gloss does not work"
testing on OS 11.3.1

I created the gloss.  Then clicked on it so that it is selected (and highlighted in red).  Clicking on the set start (or end) button has no effect.

The whole program has frozen now.   No other operations work immediately.  Although after some time this works again, although what I had typed into that utterance disappeared entirely.

<img width="401" alt="Screen Shot 2021-05-

[2021-05-13 13:49] cneidle opened #437 "Unable to open the file that I just saved."
OS 11.3.1

<img width="823" alt="Screen Shot 2021-05-13 at 9 47 58 AM" src="https://user-images.githubusercontent.com/13629122/118134929-71dfe480-b3d0-11eb-81f1-583efacd4373.png">

[2021-05-13 13:53] cneidle opened #438 "Once "open collection" is aborted, no way to select videos without restarting the program"
OS 11.3.1

This is not a new issue, but it persists in this newest version.

I was going open a collection but clicked on "cancel" - now there is no way to edit the macro unit to add videos to the collection file that initially opened.

<img width="459" alt="Screen Shot 2021-05-13 at 9 50 10 AM" src="https://user-images.githubusercontent.com/13629122/118135413-fcc0df00-b3d0-11eb-99c7-8094a2a3633c.

[2021-05-13 13:54] cneidle commented on #438
[SignStreamOut.txt](https://github.com/DCS-LCSR/SignStream3/files/6472830/SignStreamOut.txt)

[2021-05-13 14:00] cneidle opened #439 "Problem with installation of Global Sign Bank file"
OS 11.3.1

When I installed the new version, I ran the "get sign bank" command.

When I tried to search the sign bank, however, nothing showed up.

I looked at the folder with the sign bank files, and it seems the the sign bank was installed with a different filename and therefore is not being found for "search sign bank".

<img width="1274" alt="Screen Shot 2021-05-13 at 9 58 37 AM" src="https://

[2021-05-13 14:02] cneidle commented on #437
This problem persists.

<img width="828" alt="Screen Shot 2021-05-13 at 10 01 35 AM" src="https://user-images.githubusercontent.com/13629122/118136580-44943600-b3d2-11eb-8dfe-676cca0ee382.png">

[2021-05-13 14:05] cneidle opened #440 "New Blank Collection does not work"
Choosing that option from the menu

<img width="208" alt="Screen Shot 2021-05-13 at 10 03 25 AM" src="https://user-images.githubusercontent.com/13629122/118136863-9210a300-b3d2-11eb-9b18-a16c0f783904.png">

does not display a macro unit window, and it is impossible to edit the macro unit from the menu.

<img width="322" alt="Screen Shot 2021-05-13 at 10 03 12 AM" src="https://user-images.githubuse

[2021-05-13 14:10] cneidle opened #441 "stepping unit when only a video file is linked in should be = one frame"
OS 11.3.1

I imagine this will be resolved when the new version 3 is created, but if there is only a video file linked in and no audio file, then the step interval should be one frame for all operations (e.g, use of + or - buttons, arrow key, etc.)

[2021-05-13 14:13] cneidle commented on #439
I did delete the original and manually rename the second of the Global Sign Bank files to test Sign Bank functionality, and it seems to be working.

[2021-05-13 14:16] cneidle opened #442 "Problem with Morph-Phon window losing its association with the gloss that was selected when it was opened."
Unable to enter this from the MorphPhon window:

<img width="599" alt="Screen Shot 2021-05-13 at 10 14 43 AM" src="https://user-images.githubusercontent.com/13629122/118138390-4101ae80-b3d4-11eb-9370-c84dccc9be1f.png">

FWIW, I tried (2) again and did not have a problem.  I also noticed after I reported (2) that the current frame seemed to be in a different utterance.  I had not done anything that

[2021-05-13 14:23] cneidle commented on #442
The speculation at the bottom of the previous comment has some confirmation.  I opened the MorphPhon window and changed the position of the current frame, and am unable to enter the information.  That should not be the case.
The association between the gloss that was clicked on when the MorphPhon window was open and the information in the. MorphPhon window itself should be maintained, regardless o

[2021-05-13 14:33] cneidle opened #443 "Linking elements from more than one utterance in a compound: LOW PRIORITY"
OS 11.3.1

This is now allowed, and it works -- except that there is no visible display that this has happened.  The + sign only appears in between the utterances, so if you are displaying the utterances, there is no visual indication that a compound exists.

<img width="1236" alt="Screen Shot 2021-05-13 at 10 30 13 AM" src="https://user-images.githubusercontent.com/13629122/118140462-5f68a980-b3d

[2021-05-13 15:41] gregorydimitriadis commented on #434
Will be fixed in the next release.

[2021-05-13 17:09] foltik commented on #438
Fixed in `SignStream4_4.1.0_pre_2021_05_13_1245_71f3a686`

[2021-05-13 17:09] #438 closed, assigned to nobody

[2021-05-13 17:09] foltik commented on #440
Fixed in `SignStream4_4.1.0_pre_2021_05_13_1245_71f3a686`

[2021-05-13 17:09] #440 closed, assigned to nobody

[2021-05-13 17:09] foltik commented on #441
This is the behavior as of:
`SignStream4_4.1.0_pre_2021_05_13_1245_71f3a686`
`SignStream3_3.7.0_pre_2021_05_13_1248_d68597c6`

[2021-05-13 17:09] #441 closed, assigned to nobody

[2021-05-13 17:09] foltik commented on #435
Fixed in `SignStream4_4.1.0_pre_2021_05_13_1245_71f3a686`

[2021-05-13 17:09] foltik commented on #436
Tested selecting and setting start/end of glosses to be working as of `SignStream4_4.1.0_pre_2021_05_13_1245_71f3a686`

[2021-05-13 17:09] #436 closed, assigned to nobody

[2021-05-13 17:10] foltik commented on #434
Fixed in `SignStream4_4.1.0_pre_2021_05_13_1245_71f3a686`

[2021-05-13 17:10] #434 closed, assigned to nobody

[2021-05-13 17:11] foltik commented on #437
Confirmed saving and loading works in `SignStream4_4.1.0_pre_2021_05_13_1245_71f3a686`.

Note that 4.1.0 cannot yet open .ss3 files, and 3.7.0 cannot open .ssc files.

[2021-05-13 17:11] #437 closed, assigned to nobody

[2021-05-14 13:50] cneidle commented on #413
Movie files that should be -- and, in fact are -- selectable are grayed out.

<img width="500" alt="Screen Shot 2021-05-14 at 9 50 17 AM" src="https://user-images.githubusercontent.com/13629122/118280083-dc108c00-b499-11eb-9fa8-d62c6f774944.png">

<img width="641" alt="Screen Shot 2021-05-14 at 9 47 58 AM" src="https://user-images.githubusercontent.com/13629122/118279969-bd11fa00-b499-11eb-9a30-10

[2021-05-14 13:53] cneidle commented on #434
Confirmed fixed.

[2021-05-14 14:02] cneidle commented on #435
Not fixed in 3.7

Go to end shows black whereas play entity does not.

<img width="639" alt="Screen Shot 2021-05-14 at 10 00 37 AM" src="https://user-images.githubusercontent.com/13629122/118281532-4d047380-b49b-11eb-82ec-3f13c1e422bc.png">

[2021-05-14 14:09] cneidle commented on #442
With respect to the last issue, scrolling back into range also does not make it possible to enter the information.

<img width="605" alt="Screen Shot 2021-05-14 at 10 08 52 AM" src="https://user-images.githubusercontent.com/13629122/118282646-8093cd80-b49c-11eb-9706-7782efe1463c.png">

[2021-05-14 14:13] cneidle commented on #437
Confirmed fixed.

[2021-05-14 14:16] foltik commented on #435
@cneidle A black frame is only displayed at the end of the video since the stream has ended and there are no more frames to display. This was happening erroneously at the end of utterances, which is what I fixed.

[2021-05-14 14:18] cneidle commented on #435
What I just reported is at the end of utterance.

[2021-05-14 14:21] foltik commented on #435
I think the black screen in your latest screenshot is just part of the video, I still see the yellow timestamp text.

[2021-05-14 14:25] cneidle opened #444 "Field selections do not stick"
1. I entered the following and clicked on DONE.

<img width="1079" alt="Screen Shot 2021-05-14 at 10 15 02 AM" src="https://user-images.githubusercontent.com/13629122/118284115-1419ce00-b49e-11eb-8794-f0b7ad3817ab.png">

It appears in the current utterance, and the subsequent utterance.

<img width="1007" alt="Screen Shot 2021-05-14 at 10 16 08 AM" src="https://user-images.githubusercontent.com/13

[2021-05-14 14:26] cneidle commented on #435
It is part of the video, but not part of the utterance as I had set the end frame to be the previous one.  Play entity displays a non-blank screen at the end, as I had set it.

[2021-05-14 14:36] cneidle commented on #435
Here is another set of screenshots showing this happening (although it happens sometimes but not always):

Entity - Set end. Play end.  Look like this:

<img width="613" alt="Screen Shot 2021-05-14 at 10 34 27 AM" src="https://user-images.githubusercontent.com/13629122/118286181-30b70580-b4a0-11eb-8ed4-e9bd19461991.png">

Go to end.  Looks like this:

<img width="588" alt="Screen Shot 2021-05-14 a

[2021-05-14 14:41] foltik commented on #435
Could you send a screenshot of the video and main window when setting the end time of the utterance? There I see the black frame on the video says 27;07 (27*30 + 7 = 817 frames) which matches with the end time of the utterance showing in SignStream.

Maybe the video is displaying the incorrect frame when you set the end time of the utterance, since it looks like the actual end time ends up actuall

[2021-05-14 14:43] foltik commented on #435
Comparing the yellow frame numbers in the video vs. the event start/end in SignStream should help determining exactly where any discrepancy is happening.

[2021-05-14 15:08] cneidle commented on #435
Displayed from 'go to end of entity'

<img width="832" alt="Screen Shot 2021-05-14 at 11 05 32 AM" src="https://user-images.githubusercontent.com/13629122/118290403-678f1a80-b4a4-11eb-963b-c41ac85a8e29.png">

Displayed as last frame from 'play entity'

<img width="829" alt="Screen Shot 2021-05-14 at 11 05 49 AM" src="https://user-images.githubusercontent.com/13629122/118290406-6827b100-b4a4-11eb-8

[2021-05-14 15:51] cneidle opened #445 "Field Selector - Manual options not provided"
The new version 3.7 only offers this:

<img width="1132" alt="Screen Shot 2021-05-14 at 11 48 19 AM" src="https://user-images.githubusercontent.com/13629122/118295938-6f51bd80-b4aa-11eb-9f90-8ec37f2a5213.png">

whereas previously, there was:
  dom location
  nondom location
  dom sign type
  ndom sign type

The default in any case should be to display the last two if and only if they are non-empty

[2021-05-14 15:57] cneidle opened #446 "Field selector - buttons on the right"
In version 3, there should be no option to Set Field to Utterance Index.

However, the New Nonmanual Field button should be functional (which it is not).

<img width="287" alt="Screen Shot 2021-05-14 at 11 52 14 AM" src="https://user-images.githubusercontent.com/13629122/118296465-01f25c80-b4ab-11eb-82a2-9cb6562152af.png">

[2021-05-14 16:08] cneidle commented on #435
Within an utterance, going to the end vs. playing an event or entity results in a discrepancy of one or two frames (seems a bit random).

Go to end - goes to 13 or 14

<img width="705" alt="Screen Shot 2021-05-14 at 12 04 33 PM" src="https://user-images.githubusercontent.com/13629122/118297745-914c3f80-b4ac-11eb-910a-242ca14c2b9a.png">

<img width="605" alt="Screen Shot 2021-05-14 at 11 57 00 AM"

[2021-05-14 16:12] cneidle opened #447 "Previous utterance incorrectly highlighted as visible in utterance index"
I am displaying U8.  If I click to go to U7, nothing happens.  The utterance display does not change.
It should jump to the beginning of that utterance.

<img width="1258" alt="Screen Shot 2021-05-14 at 12 07 48 PM" src="https://user-images.githubusercontent.com/13629122/118298191-26e7cf00-b4ad-11eb-9729-51a8a08855a5.png">

Also, I don't know why when I go to a particular utterance, e.g., U5, ther

[2021-05-14 17:01] douglas-motto-at-rutgers commented on #443
Not clear from your description what visual indication that existed before is missing.

[2021-05-14 17:03] cneidle commented on #443
The visual indication is a + sign visible within the utterance. See second sentence above.

[2021-05-14 17:18] douglas-motto-at-rutgers commented on #445
Carol,

As of SignStream3_3.7.0_pre_2021_05_13_1435_24758fd0

I do see these fields as being selectable and their defaults appear to be off.

<img width="1170" alt="Screen Shot 2021-05-14 at 1 06 05 PM" src="https://user-images.githubusercontent.com/13223830/118306058-d8d7c900-b4b6-11eb-8a1a-bebd72625cb3.png">

Can you provide more information about how you did not see them...did you do something

[2021-05-14 17:30] douglas-motto-at-rutgers commented on #447
Can you post the collection file?

[2021-05-14 17:33] douglas-motto-at-rutgers commented on #444
Carol, the signstream version 3 XML does not have the necessary items to save this information.

I'll speak with Jack about options.

[2021-05-14 17:34] douglas-motto-at-rutgers commented on #442
Carol, Unclear if this is multiple issues.  If so, please create separate issues if so.

With regard to being unable to change the gloss, after opening the morphphon...did you click on an utterance in the utterance index (on the left)...and then it not work?

[2021-05-14 17:38] cneidle opened #448 "Problem with Gesture Sign Type Entry"
<img width="843" alt="Screen Shot 2021-05-14 at 1 37 26 PM" src="https://user-images.githubusercontent.com/13629122/118308114-95328e80-b4b9-11eb-8ac8-33057683b52c.png">

[2021-05-14 17:48] cneidle opened #449 "Zoom - Lock/Unlock: no difference"
With Lock selected in U1, I click on U2 and then again on U1, and the Zoom is different from what it had been in U1.
The behavior is identical if Unlocked is selected for the Zoom.

Same behavior if instead of clicking on U2, I went to Database View and Athen back to U1.

<img width="942" alt="Screen Shot 2021-05-14 at 1 44 13 PM" src="https://user-images.githubusercontent.com/13629122/118308934-9

[2021-05-14 17:54] cneidle commented on #445
I was looking at the file I just sent you: Cory 106 - and this still shows up the same way:

[2021-05-14 18:03] douglas-motto-at-rutgers commented on #445
We see something odd with the collection file.  Thinking about the proper direction to go for a solution.

[2021-05-14 18:15] cneidle commented on #448
FWIW, NO PROBLEM entering Gesture sign type without any handshapes selected.  This only fails when handshapes have been selected in the MorphPhon window.

[2021-05-14 18:23] douglas-motto-at-rutgers commented on #443
Still not clear.

Can you draw a picture of what is missing?

[2021-05-14 18:26] cneidle commented on #443
The plus sign is not visible within the utterance boundaries.

A picture would include a plus sign after the final sign but still within the utterance.

[2021-05-14 18:32] douglas-motto-at-rutgers commented on #442
I believe Jack has direction to go...it's related to issue 258.  He'll require that events can not be selected or unselected while the morph is open and that should correct this.

[2021-05-14 18:33] douglas-motto-at-rutgers commented on #447
Believe to be an XML problem.

Need to think about how best to deal with all these XML problems.

[2021-05-14 18:33] douglas-motto-at-rutgers commented on #446
Will do.

[2021-05-14 18:33] douglas-motto-at-rutgers commented on #445
Believe to be an XML problem.

Need to think about how best to deal with all these XML problems.

[2021-05-14 18:34] douglas-motto-at-rutgers commented on #444
Will see if it's something that can be incorporated into ver 3 xml without breaking anything else.

I the 3.3.1 code the select in the field editor was completely temporary....so at least...this selection stays within the session.

[2021-05-14 18:36] douglas-motto-at-rutgers commented on #443
In your screen shot I see in U1...

NEW + fs-New

with the +

[2021-05-14 18:37] douglas-motto-at-rutgers commented on #439
Will look into possible things that could cause a download of " 2" in the filename.

[2021-05-14 18:38] douglas-motto-at-rutgers commented on #435
The problem is understood.  The solution is not.  We believe is related to known problem with the video player code, but to fix could take several days to properly correct.

[2021-05-14 18:39] cneidle commented on #443
The issue is connecting items across utterance boundaries, where the +
ends up in the in-between zone, which is not visible while you are
viewing by utterances.

As I said, this is a low-priority item, but it would be good to have the +
sign visible within the utterance in such cases.

[2021-05-14 19:02] foltik commented on #443
Does the screenshot you posted show the in between problem you are talking about? Or are you referring to if you had hypothetically linked some other event in a different utterance?

[2021-05-14 19:10] foltik commented on #444
What we could do is have version 3.7 **modify** the old collection files to include the extra data describing which fields are displayed.

You would be able to save and load the displayed fields properly with 3.7, but old versions of SignStream would ignore this extra data and fall back to the original method of displaying non-empty fields.

[2021-05-14 19:15] foltik commented on #446
The New Nonmanual Field button requires you to select a nonmanual group such as Face before becoming enabled. Was this the problem?

[2021-05-14 20:57] cneidle commented on #446
Yes.  That was the problem.

Why is that necessary?  There’s a dropdown menu to select the region once
you get to the window for creation of a new non-manual item.

If it is necessary, it would be good to so indicate, e.g.

[New non-manual field]

Select Head, Face, Body, or Grammatical first

Thanks,
 Carol

[2021-05-14 21:08] cneidle commented on #443
What you could not see is that the final sign in the above utterance could actually be linked to a sign in the following utterance (in that case, NEEW) without any visible indication of same in either utterance.

This is the issue, where the + only appears in the space between utterances, but there is no indication in either utterance that the sign in question is linked to a compound in a differen

[2021-05-14 21:19] foltik commented on #418
Fixed as of SignStream4_4.1.0_pre_2021_05_14_1715_39304367

[2021-05-14 21:19] #418 closed, assigned to nobody

[2021-05-14 21:20] foltik commented on #449
Fixed as of `SignStream4_4.1.0_pre_2021_05_14_1715_39304367` and `SignStream3_3.7.0_pre_2021_05_14_1713_f4fd6844`

[2021-05-14 21:21] foltik commented on #446
I just added the dropdown for the group a few versions ago, so yes as of now it's no longer necessary. As of `SignStream4_4.1.0_pre_2021_05_14_1715_39304367`, buttons are no longer disabled. Dropdown in new field dialog uses selected group if valid, defaulting to Head for nonmanual fields and Generic for default fields.

As of `SignStream3_3.7.0_pre_2021_05_14_1713_f4fd6844`, utterance index butto

[2021-05-14 21:21] #446 closed, assigned to nobody

[2021-05-14 21:21] foltik commented on #444
Implemented the above method as of `SignStream3_3.7.0_pre_2021_05_14_1713_f4fd6844`.

If you do not want to modify old collections as described, be sure to make a copy of them before editing and saving with 3.7. Again, please make copies of __all__ collections before using them with any experimental release.

[2021-05-14 21:24] foltik commented on #447
Fixed another issue with utterance index selection that may be related. Needs re-testing with `SignStream3_3.7.0_pre_2021_05_14_1713_f4fd6844`.

[2021-05-14 21:24] foltik commented on #442
As `SignStream4_4.1.0_pre_2021_05_14_1715_39304367` and `SignStream3_3.7.0_pre_2021_05_14_1713_f4fd6844`, the currently selected gloss or gesture cannot be deselected while the morph-phon or gesture info windows are open.

[2021-05-14 22:08] cneidle opened #450 "Problem in dealing with phases (like final hold)"
Compare how the sign ACCEPT  should appear (in 3.3.5), with a final hold (phase):

<img width="275" alt="Screen Shot 2021-05-14 at 6 01 55 PM" src="https://user-images.githubusercontent.com/13629122/118336126-13edf280-b4df-11eb-9610-1da1b052608a.png">

with how it does appear in the latest version of 3.7 (from 5 pm tonight) - the rightmost item shown here:

<img width="866" alt="Screen Shot 2021-0

[2021-05-14 22:11] cneidle opened #451 "Arrow keys do not work for navigation in left index"
The arrow keys do not work to move to the next or previous utterance in the left-hand index.

<img width="457" alt="Screen Shot 2021-05-14 at 6 10 20 PM" src="https://user-images.githubusercontent.com/13629122/118336426-aa221880-b4df-11eb-9a93-929b67a6969a.png">

[2021-05-14 22:13] cneidle commented on #450
Another example (there are lots of them!) from 43, U21

<img width="382" alt="Screen Shot 2021-05-14 at 6 12 17 PM" src="https://user-images.githubusercontent.com/13629122/118336615-09802880-b4e0-11eb-9cc1-4f3cca815774.png">

[2021-05-14 22:14] cneidle commented on #450
Same problem with phases for nonmanual events, e.g. offsets...

<img width="617" alt="Screen Shot 2021-05-14 at 6 14 05 PM" src="https://user-images.githubusercontent.com/13629122/118336719-3a605d80-b4e0-11eb-8240-e719772e2938.png">

[2021-05-15 01:10] cneidle commented on #449
Still does not work in 3.7

I look at U2 - Zoom is locked

<img width="1389" alt="Screen Shot 2021-05-14 at 9 07 42 PM" src="https://user-images.githubusercontent.com/13629122/118343742-a77fed00-b4f8-11eb-9877-3afb4823b7c6.png">

I don't touch the zoom bar.  Go to database view.

<img width="655" alt="Screen Shot 2021-05-14 at 9 07 50 PM" src="https://user-images.githubusercontent.com/13629122/118

[2021-05-15 01:36] cneidle opened #452 "Suggestions: labeling for field display"
1.

<img width="485" alt="Screen Shot 2021-05-14 at 9 15 19 PM" src="https://user-images.githubusercontent.com/13629122/118343901-9388bb00-b4f9-11eb-9f73-72d1624cd530.png">

This takes up a lot of horizontal space.

No need to repeat "Display by default" 3 times.

Better:

   Display by Default:   Utterance Tier  Global

or, better still, on two lines:

    ____Display_by_Default____
     Utteranc

[2021-05-15 01:47] cneidle opened #453 "Issue for the future: display of multiple segment tiers"
Display options should be able to be retained if you go from utterance view to database view and back again.

<img width="1095" alt="Screen Shot 2021-05-14 at 9 42 57 PM" src="https://user-images.githubusercontent.com/13629122/118344717-c9c83980-b4fd-11eb-84cd-c811dfafa8c7.png">

<img width="1043" alt="Screen Shot 2021-05-14 at 9 43 05 PM" src="https://user-images.githubusercontent.com/13629122/11

[2021-05-15 01:49] cneidle commented on #451
Arrow keys seem to work when new files are created, but not with the above (at least) previously annotated file.

[2021-05-15 01:54] cneidle commented on #446
confirmed fixed.

[2021-05-15 01:58] cneidle commented on #444
Selections still do not stick.

Created new file.  Made field selection.

<img width="966" alt="Screen Shot 2021-05-14 at 9 56 38 PM" src="https://user-images.githubusercontent.com/13629122/118344965-6b03bf80-b4ff-11eb-84f2-0ae20de38aef.png">

Saved.

Reopened.

Field selections are gone.

<img width="993" alt="Screen Shot 2021-05-14 at 9 57 23 PM" src="https://user-images.githubusercontent.com/13

[2021-05-15 01:59] cneidle commented on #442
confirmed fixed.

[2021-05-15 01:59] cneidle commented on #441
confirmed fixed.

[2021-05-15 02:00] cneidle commented on #440
confirmed fixed.

[2021-05-15 02:02] cneidle commented on #438
confirmed fixed.

[2021-05-15 02:06] cneidle commented on #439
Appears to be fixed.  At least this problem has not recurred.

[2021-05-15 02:07] cneidle commented on #429
Keyboard shortcut for Save now works.  But general menus remain unavailable when the video window is selected.

[2021-05-16 16:21] cneidle commented on #303
This is no longer working properly.  What should appear as the default for saving the file is the current file name; what shows up is the name of the containing folder.

<img width="467" alt="Screen Shot 2021-05-16 at 12 18 09 PM" src="https://user-images.githubusercontent.com/13629122/118404483-18322100-b641-11eb-9ca4-33785718808c.png">

Note that this HAD been working in recent versions (at leas

[2021-05-16 17:26] cneidle opened #454 "Problem with Zoom and Screen focus"
Please see the video I just sent by email - displaying the problem.  I also included the video I was working with.
Something is definitely not working properly with the RIT video P01_V01.

The utterance view shows the utterance as microscopic in length when going to the utterance view from the database view.

And the magnification of the DB view gets screwed up when switching to utterance view and

[2021-05-16 20:06] cneidle opened #455 "Readme for 3.7"
1. The Readme needs to be updated throughout to refer to SignStream® 3(.7.0) rather than SIgnStream® 4.

2. Are the video CODECs listed up to date?  This should be removed:

3. Can you please update the KNOWN ISSUES and FEATURES TO BE IMPLEMENTED?   Many of the "known issues" are no longer issues, to my knowledge, and these should no longer be listed as "to be implemented":

4. RELEASE NOTES (whic

[2021-05-17 13:23] douglas-motto-at-rutgers commented on #453
If you click on any utterance from the database view, you only get that segment opened.  If "unlocked" it will zoom and scroll to that utterance.  If "locked" it will scroll to that utterance, but leave the zoom at the last setting.

If you click on "Go to utterance view", you get exactly all previous segments opened in the utterance view.  The zoom and scroll returns to were it was the last opene

[2021-05-17 13:23] #453 closed, assigned to nobody

[2021-05-17 13:37] douglas-motto-at-rutgers commented on #429
Mac Menus being unavailable when the video window is selected has always existed.

Keeping open as new feature.

[2021-05-17 13:45] douglas-motto-at-rutgers commented on #443
OK...I now see the issue.  Thanks.

Need to think of solution that can be applied to all situations.

[2021-05-17 14:00] douglas-motto-at-rutgers commented on #444
Confirm...not fixed as of SignStream3_3.7.0_pre_2021_05_14_1713_f4fd6844.

[2021-05-17 14:01] cneidle commented on #443
One possibility would be to add an additional visual highlight - e.g., displaying all glosses that are linked as part of a compound in red (in addition to having the red + sign in between the parts).

[2021-05-17 14:17] douglas-motto-at-rutgers commented on #451
As of SignStream3_3.7.0_pre_2021_05_14_1713_f4fd6844

doesn't appear to exist.  Up/Down utterance switching works for a new collections.

Is this the Cory XML?  Could be related to XML issues in that file.

Otherwise, does it work and then after doing some things it breaks?

Leaving open for the moment.

[2021-05-17 14:37] cneidle commented on #451
No - arrow keys for moving up and down in the left index of utterances also do not work for me in newly created collections.

<img width="962" alt="Screen Shot 2021-05-17 at 10 36 38 AM" src="https://user-images.githubusercontent.com/13629122/118507054-e03be400-b6fb-11eb-94e0-ebb6c6d1d07c.png">

[2021-05-17 14:55] cneidle commented on #451
It is very flaky.  It works less than 50% of the time. Sometimes clicking on the selected utterance before using the arrow key gets it to work for a while (that should not be necessary, in any case), and sometimes it does not.

One case in which the arrow keys do *not* seem to work is first clicking on a specific utterance, e.g., U3, and then immediately trying to use the arrow key to go to the ne

[2021-05-19 13:29] foltik commented on #449
@cneidle The current behavior is that when clicking on an utterance directly from the database view, all saved state (like open segment tiers, zoom) is discarded to show that single utterance, regardless of lock. The zoom lock only affects clicking between utterances via the index.

I think the idea was that you would use "Back to Database View" if you wanted to go back to what you were working on

[2021-05-19 13:34] cneidle commented on #449
Yes.

But the Zoom does not appear to be working properly,
in other respects, as reported in a couple of recent reports
on Github.

In particular, I hope you looked at the screen recording I sent.

Thank you.

[2021-05-19 13:46] douglas-motto-at-rutgers commented on #450
Are these examples just occurring when opening old collections/evens...or with new collections/events as well?

[2021-05-19 13:57] cneidle commented on #450
This is what happens when collections created with previous versions of the program are opened.
But we need to be able to open and continue editing these older files, and there are huge numbers of items with phases in those files.

[2021-05-19 14:51] gregorydimitriadis commented on #447
Cannot reproduce in the version Jack noted.

[2021-05-19 14:57] douglas-motto-at-rutgers commented on #449
As of SignStream3_3.7.0_pre_2021_05_19_1003_86750a7c
fixed

[2021-05-19 14:57] #449 closed, assigned to nobody

[2021-05-19 15:02] cneidle commented on #447
This issue is partially resolved.  It is now possible to advance to another utterance.
However, the display problem remains.  If I click on U9, it should advance to the beginning of that utterance and should not be displaying the previous utterance.  However, it seems to be doing that, as evidenced by the highlighting:

<img width="794" alt="Screen Shot 2021-05-19 at 11 00 11 AM" src="https://user

[2021-05-19 16:02] gregorydimitriadis commented on #417
This should not be possible to reproduce in the newest version(s) - the search window will be closed in between saving/opening collections.

[2021-05-19 16:09] cneidle commented on #417
Then this increases the importance of implementing a functionality that we had in SignStream version 2 -- and which has been on the "to do" list for SignStream 3 ever since:  the ability to save searches (obviously not for the current release, but ASAP thereafter), as the process of conducting a specific search through multiple collections is odious if this feature, which has been present through

[2021-05-19 16:22] foltik commented on #447
Your last screenshot looks like it has U11 selected and displayed, did you click U9 to have nothing change at all?

[2021-05-19 16:25] gregorydimitriadis commented on #447
Separate question - in this collection is there any length (of time) between the utterances showing as gray/blue?

[2021-05-19 16:26] foltik commented on #447
The previous utterance looks to be only highlighted when it ends at exactly the same time as the current utterance starts. Seems like this should be the expected behavior, as presumably an event could end at the exact end of the previous utterance and be visible at the start of the next.

[2021-05-19 16:28] cneidle commented on #447
NO.  This is not the expected, nor the desired, behavior.   Can you fix it so that this case will not cause the previous utterance to be highlighted?    Thank you.

[2021-05-19 16:35] cneidle commented on #447
In answer to the question above "Your last screenshot looks like it has U11 selected and displayed, did you click U9 to have nothing change at all?"  The screenshot was not illustrating the case of U9 specifically.  U9 was just chosen as a random example of an utterance number.  There is nothing anomalous shown in the screen shot I provided.  The point is that I am now able to select utterances (s

[2021-05-19 16:57] foltik commented on #455
Changed 4->3, removed audio section, removed old known issues. Leaving open for release notes and additional known issues.

[2021-05-19 17:51] cneidle commented on #447
Answer from Carol:  No.  Jack is correct that the end point of the previous utterance is = the start point of the next one.  But all that is actually displayed is that latter utterance.

This is what you see when you click on U9.

<img width="1439" alt="Screen Shot 2021-05-19 at 1 49 59 PM" src="https://user-images.githubusercontent.com/13629122/118860325-4023bd80-b8a9-11eb-8fea-1f33c6a6f161.png">

[2021-05-19 17:54] douglas-motto-at-rutgers commented on #417
Claimed fixed as of SignStream3_3.7.0_pre_2021_05_19_1003_86750a7c

Closing this issue.

Saving search is in https://github.com/DCS-LCSR/SignStream3/issues/95.

[2021-05-19 18:03] gregorydimitriadis commented on #450
@cneidle what is the collection in use here? Can it be attached here? Thanks.

[2021-05-19 18:06] foltik commented on #413
Can't reproduce this with 3.7 or 4.1.

Is there any consistent state in which you see this? Such as:
- Does this only happen when creating a new macro unit, or also when editing?
- Is every file grayed out, or just ones in certain folders?
- Does the issue also happen with audio files?

[2021-05-19 18:12] cneidle commented on #450
This is Utterance 3 from Rachel 43.  But it happens 100% of the time in all files previously edited in 3.3.5.  I can't upload SIgnStream files here, but will send it by email.  Here's another example, from 1-Ben

<img width="1192" alt="Screen Shot 2021-05-19 at 2 08 11 PM" src="https://user-images.githubusercontent.com/13629122/118862885-3a7ba700-b8ac-11eb-97c8-5c0584c2c3b4.png">

[2021-05-19 18:24] cneidle commented on #417
I had not looked at the top of this when I responded to Greg's comment.  The response from Greg is not appropriate for the problem that was reported here on top. That is a separate issue that Greg was referring to.

The problem that was reported is that the deleted item was still showing up, in the exact same file from which it had been deleted.

This had nothing to do with closing SignStream coll

[2021-05-19 18:28] cneidle commented on #413
Just tried this again in 3.7 - with a new file.  The video files appeared fine when I chose the first one, but one I went to choose the second one, this is what I saw, and it seems to systematically gray out all video files:

<img width="896" alt="Screen Shot 2021-05-19 at 2 27 49 PM" src="https://user-images.githubusercontent.com/13629122/118864938-757eda00-b8ae-11eb-86ce-67b29f2d06da.png">

[2021-05-19 18:41] cneidle commented on #413
I tried opening the same movies with the newest version I have of 4, and my own movies were grayed out.  The Louvre movie, with audio, was not grayed out, for addition as video or audio.  FYI.

[2021-05-19 19:10] foltik commented on #454
Fixed as of `SignStream3_3.7.0_pre_2021_05_19_1003_86750a7c`. Per email, please remove any collections saved while experiencing this issue.

[2021-05-19 19:11] foltik commented on #444
Mistakenly didn't include the code change in the previous build; included and fixed as of `SignStream3_3.7.0_pre_2021_05_19_1003_86750a7c`.

[2021-05-19 19:11] #444 closed, assigned to nobody

[2021-05-19 19:33] gregorydimitriadis commented on #450
So this was due to the values of the phases saved in the xml not being properly translated in/out from the collection file. This will be fixed in the next ver3 release.

[2021-05-19 19:53] gregorydimitriadis commented on #417
The first comment mentioned after saving/reopening the results were still there. However, even if I don't save and/or quit after the first search, if I edit and/or delete the gloss and then search again (i.e. leaving the search window open while I make edits in the main utterance view window), I do not find it in the results this second time.

(For both ver3 and ver4)

[2021-05-19 21:31] gregorydimitriadis commented on #448
will be fixed in next release of both ver3 and ver4

[2021-05-19 21:31] #448 closed, assigned to gregorydimitriadis

[2021-05-20 12:38] douglas-motto-at-rutgers commented on #413
In 10.15, I am able to see this behavior if I search for a file in the file opener, but not if just clicking on a directory.

<img width="1154" alt="Screen Shot 2021-05-20 at 8 35 41 AM" src="https://user-images.githubusercontent.com/13223830/118979677-b4606e80-b946-11eb-9b75-478a82516e87.png">

[2021-05-20 12:47] douglas-motto-at-rutgers commented on #451
In SignStream3_3.7.0_pre_2021_05_19_1003_86750a7c

This "at least" occurs after click on the prev/next buttons...then the arrow keys stop working...then you'd need to re-click the utterance index.

[2021-05-20 13:05] douglas-motto-at-rutgers commented on #450
As of SignStream3_3.7.0_pre_2021_05_19_1728_c2f3e14a

Appears to be working with the Cory 106 ss3 file.

Closing.

[2021-05-20 13:05] #450 closed, assigned to gregorydimitriadis

[2021-05-20 13:32] foltik commented on #452
Carol, here's the look of your first suggestion. Let me know if this works:

<img width="1035" alt="Screen Shot 2021-05-20 at 9 28 50 AM" src="https://user-images.githubusercontent.com/5026551/118987311-ae32b800-b96f-11eb-889c-5c9a17590810.png">

[2021-05-20 13:37] cneidle commented on #452
That is definitely better for the labeling of those columns!  Thanks.  But why is the window still so wide?

[2021-05-20 13:40] cneidle commented on #413
Good to know.  But I did not search for files, so what I reported is not covered by this case.

[2021-05-21 15:08] cneidle opened #456 "Get Sign Bank command does not work"
3.7.0_pre_2021_05_21_0908_cd9209c7

ios 10.12.6

<img width="572" alt="Screen Shot 2021-05-21 at 11 03 05 AM" src="https://user-images.githubusercontent.com/13629122/119158845-a7b24800-ba24-11eb-95b7-c5db27a7a003.png">

[2021-05-21 15:18] cneidle opened #457 "Adding onsets and offsets not working properly - these are created way larger than they should be"
3.7.0_pre_2021_05_21_0908_cd9209c7

ios 10.12.6

<img width="1129" alt="Screen Shot 2021-05-21 at 11 14 18 AM" src="https://user-images.githubusercontent.com/13629122/119159895-b9481f80-ba25-11eb-95fc-5cc0a949810c.png">

<img width="1047" alt="Screen Shot 2021-05-21 at 11 15 10 AM" src="https://user-images.githubusercontent.com/13629122/119160076-e3014680-ba25-11eb-9b05-ef6c8b539597.png">

[2021-05-21 15:19] cneidle commented on #457
Same thing happens with manual signs.  I added an onset and offset.  Same issue.  I then tried to add an initial hold, which is totally compatible with having an onset, and got this error message:

<img width="1126" alt="Screen Shot 2021-05-21 at 11 18 04 AM" src="https://user-images.githubusercontent.com/13629122/119160485-54d99000-ba26-11eb-8043-2d452f428c07.png">

[2021-05-21 15:31] cneidle opened #458 "Error in the listings in the left-hand index"
The gloss HELLO is in U1

There is nothing glossed in U2

It is true that the offset from HELLO extends (erroneously) into the next sentence.  However, that should not result in the gloss HELLO showing up in the second utterance.  Only the the core event should be visible in the index.

<img width="1151" alt="Screen Shot 2021-05-21 at 11 28 43 AM" src="https://user-images.githubusercontent.com/136

[2021-05-21 15:50] cneidle opened #459 "Problem in focus"
I made am minor adjustment in the start point of an utterance (making it start a frame or two sooner), and the view totally changed!  This should not happen.

<img width="1027" alt="Screen Shot 2021-05-21 at 11 45 20 AM" src="https://user-images.githubusercontent.com/13629122/119164259-3aa1b100-ba2a-11eb-8a8a-a60855771a57.png">

<img width="929" alt="Screen Shot 2021-05-21 at 11 45 47 AM" src="htt

[2021-05-21 16:11] cneidle opened #460 "Incorrect error message - in setting start point of utterance to be the frame AFTER the end of the previous U"
First I go to the end of the first utterance: 129.07 seconds

<img width="685" alt="Screen Shot 2021-05-21 at 11 53 17 AM" src="https://user-images.githubusercontent.com/13629122/119165253-4cd01f00-ba2b-11eb-8baf-7a051af01c73.png">

Then I advance by one, 129.10 seconds, and try to establish that frame as the start of the next utterance.

<img width="1168" alt="Screen Shot 2021-05-21 at 11 53 30 A

[2021-05-21 16:45] cneidle commented on #457
A not-unexpected corollary to the above:  It is not possible to add an onset unless there is a huge amount of free space available for it.

<img width="919" alt="Screen Shot 2021-05-21 at 12 44 03 PM" src="https://user-images.githubusercontent.com/13629122/119171272-590baa80-ba32-11eb-9d68-6073250fd993.png">

[2021-05-21 16:48] cneidle opened #461 "Problem changing the start/end point of a sign when it has an onset/offset"
I reset the onset to be a reasonable length (about 10 frames or so), but cannot adjust the start point of the core event using the - button.  Same exact problem with the mirror image: trying to extend the endpoint by one frame.

<img width="450" alt="Screen Shot 2021-05-21 at 12 46 26 PM" src="https://user-images.githubusercontent.com/13629122/119171565-c0c1f580-ba32-11eb-9f41-eec326ac9716.png">

[2021-05-21 17:00] cneidle commented on #451
Still do not work as of 5/21

Oh wow!  The up and down arrow change the selected/highlighted field !  The up arrow does this:

<img width="1441" alt="Screen Shot 2021-05-21 at 12 59 21 PM" src="https://user-images.githubusercontent.com/13629122/119172899-7772a580-ba34-11eb-9b6e-945b42c06387.png">

<img width="1437" alt="Screen Shot 2021-05-21 at 12 59 28 PM" src="https://user-images.githubusercont

[2021-05-21 19:38] foltik commented on #451
The up and down arrow keys aren't a global hotkey, they apply to the UI element that has keyboard focus. This hasn't changed in the new versions.

If you click in the field list (red highlight on ndom hand in your last screenshot), then the arrow keys will apply to that instead until you click somewhere else.

Individual elements can be made to not take keyboard focus at all, which I can do for th

[2021-05-21 19:39] douglas-motto-at-rutgers commented on #461
Not observing this behavior in...

SignStream4_4.1.0_pre_2021_05_21_0909_15a705be
SignStream3_3.7.0_pre_2021_05_21_0908_cd9209c7

Did you do anything else before this?

Send collection file.

[2021-05-21 19:43] foltik commented on #452
That's just the default width for the content in the window. I can force it to be a little smaller if you'd prefer.

[2021-05-21 19:45] douglas-motto-at-rutgers commented on #460
Behavior not observed in...

SignStream4_4.1.0_pre_2021_05_21_0909_15a705be
SignStream3_3.7.0_pre_2021_05_21_0908_cd9209c7

Send collection file.

[2021-05-21 19:46] douglas-motto-at-rutgers commented on #459
Behavior observed in

SignStream4_4.1.0_pre_2021_05_21_0909_15a705be
SignStream3_3.7.0_pre_2021_05_21_0908_cd9209c7

[2021-05-21 19:48] foltik commented on #456
Can't reproduce. From what's shown, it's just the download that failed. It's possible the site hosting the signbank file was down at the time you ran the script. Does it consistently fail for you?

[2021-05-21 19:48] cneidle commented on #451
Up through 3.3.5, the up and down arrows change the selection of the Utterance on the left by moving it up and down.

You can have a gloss selected. Or a non-manual event. The arrow keys still have the same effect: moving up and down through the utterance list.

They do not apply to anything else.

This is not what is happening in the version you sent.

[2021-05-21 19:58] douglas-motto-at-rutgers commented on #460
What video are you using?...it says 30 FPS.

[2021-05-21 19:58] douglas-motto-at-rutgers commented on #457
Can not reproduce in

SignStream4_4.1.0_pre_2021_05_21_0909_15a705be
SignStream3_3.7.0_pre_2021_05_21_0908_cd9209c7

Send collection.

What video are you using?...it says 30 FPS.

[2021-05-21 20:04] douglas-motto-at-rutgers commented on #456
This occurs if when the access to the website fails for some reason.  Just retested in...

SignStream4_4.1.0_pre_2021_05_21_0909_15a705be
SignStream3_3.7.0_pre_2021_05_21_0908_cd9209c7

...and seemed to work.

Closing.

[2021-05-21 20:04] #456 closed, assigned to nobody

[2021-05-21 20:06] cneidle commented on #457
Download full resolution images
Available until Jun 20, 2021
 <https://www.icloud.com/attachment/?u=https%3A%2F%2Fcvws.icloud-content.com%2FB%2FATzuz6kmnwUmlLzDC4fbNOrENoafAaRTW8QANdZ8tWLlYiQxos5mbP5J%2F%24%7Bf%7D%3Fo%3DAg2rsi95_sN3L4vQM-czeVP_LU0iOoDesKz2qd-rSmsg%26v%3D1%26x%3D3%26a%3DCAog4Ti65jElCFCa4fnD7CcHjlbvkClQB0ZUo_XobPRiUYgSdBCH_qWEmS8Yh46h2KIvIgEAKgkC6AMA_yVh6N5SBMQ2hp9aBGZs_klqJPvUfsN__

[2021-05-21 20:07] cneidle commented on #460
This occurred with the same file and video I just sent.

[2021-05-21 20:09] cneidle commented on #456
OK - It is working now.  Thanks.

[2021-05-21 20:12] douglas-motto-at-rutgers commented on #457
was able to reproduce with a 30FPS video file.

[2021-05-21 20:12] cneidle commented on #452
Not sure why that would be.

But yes, if this can take up less horizontal space, that would be desirable.
There is a lot of wasted space here, and screen real estate is at a premium.

Thanks.

[2021-05-21 20:18] foltik commented on #460
This buggy behavior is caused by the collection being broken because of #454. Shouldn't occur with fresh collections created with `SignStream3_3.7.0_pre_2021_05_21_0908_cd9209c7`

[2021-05-21 20:18] #460 closed, assigned to nobody

[2021-05-21 20:27] cneidle opened #462 "Error trying to set start and end of utterance."
I created a new file with the latest version of SIgnStream, Clicked to create U1 and then tried to set its start point.  Error.

<img width="276" alt="Screen Shot 2021-05-21 at 4 21 59 PM" src="https://user-images.githubusercontent.com/13629122/119194305-e1994380-ba50-11eb-96f2-3f41624e363d.png">

<img width="1047" alt="Screen Shot 2021-05-21 at 4 21 46 PM" src="https://user-images.githubuserconte

[2021-05-21 20:31] cneidle commented on #460
You are correct.  I must have accidentally opened the wrong version of SS.  (Too many versions floating around.). This OK with the latest version.  Thanks.

[2021-05-21 20:41] cneidle commented on #461
Same problem - new file - new version of SignStream.  Tried to adjust the endpoint of the gloss after adding an offset.

<img width="391" alt="Screen Shot 2021-05-21 at 4 40 49 PM" src="https://user-images.githubusercontent.com/13629122/119195908-5ec5b800-ba53-11eb-8ac9-0efbc3167836.png">

Also with video P07_V01    OS 10.12.6

[2021-05-21 20:55] douglas-motto-at-rutgers commented on #461
This is likely related to

https://github.com/DCS-LCSR/SignStream3/issues/457

which involves a 30 fps video.

[2021-05-21 20:56] cneidle commented on #462
This same file - still with newest version of SignStream came to look like this!  Not sure how that happened, but it should not be possible.

<img width="1108" alt="Screen Shot 2021-05-21 at 4 55 35 PM" src="https://user-images.githubusercontent.com/13629122/119197255-72721e00-ba55-11eb-9412-548e9112af76.png">

[2021-05-21 20:58] cneidle commented on #462
Will send this collection by email.

[2021-05-21 20:59] douglas-motto-at-rutgers commented on #452
Done as of...

SignStream4_4.1.0_pre_2021_05_21_0909_15a705be
SignStream3_3.7.0_pre_2021_05_21_0908_cd9209c7

Closing

[2021-05-21 21:00] douglas-motto-at-rutgers commented on #462
Again...likely an issue with 30 fps videos.

[2021-05-21 21:03] foltik commented on #457
Fixed as of `SignStream3_3.7.0_pre_2021_05_21_1657_31230ca4`.

[2021-05-21 21:03] #457 closed, assigned to nobody

[2021-05-21 21:03] foltik commented on #462
Fixed as of `SignStream3_3.7.0_pre_2021_05_21_1657_31230ca4`.

[2021-05-21 21:03] #462 closed, assigned to nobody

[2021-05-21 21:04] foltik commented on #461
Looks to be working as of `SignStream3_3.7.0_pre_2021_05_21_1657_31230ca4` with the fix for #457.

[2021-05-21 21:04] #461 closed, assigned to nobody

[2021-05-21 22:10] douglas-motto-at-rutgers commented on #442
I think this is NOT fixed 100% yet.

[2021-05-24 16:55] cneidle commented on #435
Just to confirm that this is still a problem.   With latest 5/21 version of SignStream and a fresh copy of a file previously edited with version 3.3.5 (4-Ben-Deaf-Speech).

<img width="283" alt="Screen Shot 2021-05-24 at 12 52 07 PM" src="https://user-images.githubusercontent.com/13629122/119380547-dfbcc380-bc8e-11eb-8f34-2032de9dc2f8.png">

Go to end of selected utterance results in this:

<img w

[2021-05-24 20:48] foltik commented on #439
Was not able to find a bug in the script that would lead to creating a duplicate signbank with " 2" in the filename. Closing for now unless the problem is reproduced.

[2021-05-24 20:51] Foltik commented on #420
Display Time Period is hidden as of ``.

[2021-05-24 20:54] foltik commented on #420
Closed by mistake.

[2021-05-24 20:58] foltik commented on #442
Fixed remaining situations where other events could be selected or double clicked with the morph-phon window open in May 24th build.

[2021-05-24 20:58] #442 closed, assigned to nobody

[2021-05-25 12:50] douglas-motto-at-rutgers commented on #413
Still not seeing this behavior as of

SignStream4_4.1.0_pre_2021_05_24_1819_794effbf
SignStream3_3.7.0_pre_2021_05_24_1815_897b87d3

on Mac OS 10.15

Will need to test on Mac OS 11.

[2021-05-25 13:19] gregorydimitriadis commented on #394
Fixed as of:
SignStream4_4.1.0_pre_2021_05_24_1819_794effbf
SignStream3_3.7.0_pre_2021_05_24_1815_897b87d3

[2021-05-25 13:19] #394 closed, assigned to nobody

[2021-05-25 13:20] douglas-motto-at-rutgers commented on #417
In...

SignStream4_4.1.0_pre_2021_05_24_1819_794effbf
SignStream3_3.7.0_pre_2021_05_24_1815_897b87d3

...opening a search window...and then adding new glosses after...the new glosses can not be found.

Keeping open.

[2021-05-25 16:27] cneidle commented on #439
The above scenario just happened again with the latest SignStream version, Mac OS 11.3.1

<img width="254" alt="Screen Shot 2021-05-25 at 12 26 17 PM" src="https://user-images.githubusercontent.com/13629122/119534080-86b76300-bd54-11eb-984b-31d39418cfb2.png">

<img width="669" alt="Screen Shot 2021-05-25 at 12 25 21 PM" src="https://user-images.githubusercontent.com/13629122/119534110-8dde7100-bd5

[2021-05-25 16:32] cneidle commented on #321
This appears to be fixed (by Augustine).

[2021-05-25 16:32] #321 closed, assigned to gregorydimitriadis

[2021-05-25 16:34] cneidle commented on #409
Seems to be fixed.

[2021-05-25 16:40] cneidle commented on #365
Appears to be fixed.

[2021-05-25 16:47] cneidle commented on #384
This is still a problem with 11.3.1,

<img width="257" alt="Screen Shot 2021-05-25 at 12 44 34 PM" src="https://user-images.githubusercontent.com/13629122/119536578-3c83b100-bd57-11eb-98ac-c9b48e43f3a7.png">

It is impossible to view handshapes at all for shorter signs.  This is not a problem in 3.3.5.

<img width="854" alt="Screen Shot 2021-05-25 at 12 43 26 PM" src="https://user-images.githubuse

[2021-05-25 17:01] foltik commented on #439
@cneidle Does this happen consistently? As in, if you follow the same steps from download release to disable quarantine to run to get signbank, can you get it to happen 100% of the time?

[2021-05-25 17:04] cneidle commented on #384
Compare with 3.3.5 for top example:

<img width="950" alt="Screen Shot 2021-05-25 at 1 03 40 PM" src="https://user-images.githubusercontent.com/13629122/119538970-a56c2880-bd59-11eb-8751-ad9fb7fde48f.png">

[2021-05-25 17:08] cneidle commented on #439
I think this may be triggered by a prior unsuccessful attempt to download the Sign Bank file.

When downloading the Sign Bank fails (in this most recent case, because Augustine was
re-uploading it), in principle, things should be left in their original state.  But perhaps that
doesn't quite happen.

[2021-05-25 18:30] douglas-motto-at-rutgers commented on #331
As of ...

SignStream4_4.1.0_pre_2021_05_24_1819_794effbf
SignStream3_3.7.0_pre_2021_05_24_1815_897b87d3

told fixed.

Closing.

[2021-05-25 18:30] #331 closed, assigned to gregorydimitriadis

[2021-05-25 18:50] gregorydimitriadis commented on #362
Closing as fixed in recent versions.

[2021-05-25 18:50] #362 closed, assigned to gregorydimitriadis

[2021-05-25 19:16] foltik commented on #439
Tried forcing the download to fail, but it doesn't seem to affect subsequent downloads. Can you send the output of `GetSignBank.command` when it creates `globalSignBank 2.xml`?

[2021-05-25 19:52] cneidle commented on #439
I just tried to get it to happen, but it didn’t.

Next time it does, I’ll send the output.

[2021-05-25 21:12] gregorydimitriadis commented on #417
Will be fixed in versions:
3.7.0_pre_2021_05_25_1704_16f12c84
4.1.0_pre_2021_05_25_1708_694156a2

[2021-05-25 21:12] foltik commented on #384
As of `SignStream3_3.7.0_pre_2021_05_25_1704_16f12c84` and `SignStream4_4.1.0_pre_2021_05_25_1708_694156a2`, tripled the maximum zoom such that a single frame long event with two handshapes can always be displayed without collapsing any of the images.

[2021-05-25 21:12] #384 closed, assigned to nobody

[2021-05-25 21:13] gregorydimitriadis commented on #458
Will be fixed in versions:
3.7.0_pre_2021_05_25_1704_16f12c84
4.1.0_pre_2021_05_25_1708_694156a2

[2021-05-25 21:13] gregorydimitriadis commented on #378
Will be fixed in versions:
3.7.0_pre_2021_05_25_1704_16f12c84
4.1.0_pre_2021_05_25_1708_694156a2

[2021-05-25 21:13] gregorydimitriadis commented on #340
Will be fixed in versions:
3.7.0_pre_2021_05_25_1704_16f12c84
4.1.0_pre_2021_05_25_1708_694156a2

[2021-05-25 21:13] gregorydimitriadis commented on #368
Will be fixed in versions:
3.7.0_pre_2021_05_25_1704_16f12c84
4.1.0_pre_2021_05_25_1708_694156a2

[2021-05-25 21:14] gregorydimitriadis commented on #370
Will be fixed in versions:
3.7.0_pre_2021_05_25_1704_16f12c84
4.1.0_pre_2021_05_25_1708_694156a2

[2021-05-25 21:14] foltik commented on #447
Fixed for utterances with the same start and end time as of `SignStream3_3.7.0_pre_2021_05_25_1704_16f12c84` and `SignStream4_4.1.0_pre_2021_05_25_1708_694156a2`.

Note that the Cory collection has some utterances that are erroneously overlapping (U1 end > U2 start).

[2021-05-25 21:14] #447 closed, assigned to nobody

[2021-05-25 21:14] #417 closed, assigned to gregorydimitriadis

[2021-05-25 21:14] foltik commented on #459
Fixed as of `SignStream3_3.7.0_pre_2021_05_25_1704_16f12c84` and `SignStream4_4.1.0_pre_2021_05_25_1708_694156a2`.

[2021-05-25 21:14] #459 closed, assigned to nobody

[2021-05-25 21:14] #378 closed, assigned to gregorydimitriadis

[2021-05-25 21:14] #340 closed, assigned to gregorydimitriadis

[2021-05-25 21:14] #368 closed, assigned to gregorydimitriadis

[2021-05-25 21:14] #370 closed, assigned to gregorydimitriadis

[2021-05-26 01:12] douglas-motto-at-rutgers commented on #439
This may be a Big Sur issue.  Need to test.

[2021-05-26 13:32] douglas-motto-at-rutgers commented on #409
Closing.

[2021-05-26 13:32] #409 closed, assigned to nobody

[2021-05-26 13:32] douglas-motto-at-rutgers commented on #365
Closing.

[2021-05-26 13:32] #365 closed, assigned to gregorydimitriadis

[2021-05-26 15:40] cneidle commented on #413
Still an issue, as of May 26 release, Mac OS 11.4

The first two I selected were fine.  The third displayed the above issue with regard to appearance, although, as above, I was able to select the movie with no problem.  In this case, on this 3rd action, I used Default Folder to go to the recently selected folder.

<img width="1045" alt="Screen Shot 2021-05-26 at 11 34 53 AM" src="https://user-imag

[2021-05-26 16:33] cneidle opened #463 "Error on trying to open a file previously edited in 3.3.5 (in OS 11.4)"
<img width="1164" alt="Screen Shot 2021-05-26 at 12 31 52 PM" src="https://user-images.githubusercontent.com/13629122/119697656-6e137f80-be1e-11eb-83f8-1e984984ca92.png">

[SignStreamOut.txt](https://github.com/DCS-LCSR/SignStream3/files/6548278/SignStreamOut.txt)

[2021-05-26 16:38] cneidle commented on #413
Same issue as well for opening SignStream collections

<img width="793" alt="Screen Shot 2021-05-26 at 12 37 09 PM" src="https://user-images.githubusercontent.com/13629122/119698408-348f4400-be1f-11eb-8bcb-e27b6fd64541.png">

[2021-05-26 16:39] cneidle commented on #463
I reopened SignStream and was able to reopen that same file.  However, the video file had to be reselected.  Don't know if that contributed to the problem above...

[2021-05-26 16:44] cneidle opened #464 "Unable to select the Translation field for editing"
OS 11.4.  SS- May26

This is a new problem.  This has been working fine for a very long time (although this issue or something similar was previously reported).  Nothing happens when I click or double-click on the translation in any of the sentences in this file.

<img width="824" alt="Screen Shot 2021-05-26 at 12 42 14 PM" src="https://user-images.githubusercontent.com/13629122/119699225-ea5a9280

[2021-05-26 16:51] cneidle commented on #458
Now the gloss fails to show up at all.  It should show up in the sentence that contains the core part of the event.

<img width="1405" alt="Screen Shot 2021-05-26 at 12 48 52 PM" src="https://user-images.githubusercontent.com/13629122/119700256-f85ce300-be20-11eb-935d-b5de7e963809.png">

[2021-05-26 17:35] cneidle commented on #454
Mac OS 11.4.  May 26

There is something still not right about Zoom and Focus.  If the current frame is at the end of the sign shown below, and I increase the Zoom, look what happens.

<img width="1439" alt="Screen Shot 2021-05-26 at 1 30 37 PM" src="https://user-images.githubusercontent.com/13629122/119705738-1b8a9100-be27-11eb-9c13-15399e40c0d7.png">

<img width="1450" alt="Screen Shot 2021-05-2

[2021-05-26 17:40] cneidle commented on #454
Compare with what happens in 3.3.5, which is what should happen:

<img width="804" alt="Screen Shot 2021-05-26 at 1 38 11 PM" src="https://user-images.githubusercontent.com/13629122/119706309-d155df80-be27-11eb-9aeb-6a8dba3c0898.png">

<img width="1320" alt="Screen Shot 2021-05-26 at 1 38 19 PM" src="https://user-images.githubusercontent.com/13629122/119706325-d61a9380-be27-11eb-894e-dd986a2a61a1.

[2021-05-26 17:43] cneidle commented on #454
A related weirdness:  If I start out with things as in the top screen shot; I slide the zoom to zoom out, and then I slide the zoom back to the original position, I do not end up with the original view.

<img width="897" alt="Screen Shot 2021-05-26 at 1 41 42 PM" src="https://user-images.githubusercontent.com/13629122/119706730-57722600-be28-11eb-8c87-5d5640856f93.png">

<img width="988" alt="Scre

[2021-05-26 19:40] douglas-motto-at-rutgers commented on #463
Email us video and collection file.

[2021-05-26 19:44] douglas-motto-at-rutgers commented on #464
Translation code was changed to allow the removal of events being constrained within utterances.  Issue could have been introduced.

[2021-05-26 19:45] douglas-motto-at-rutgers commented on #464
Reproducible with old collection files.

[2021-05-26 19:51] douglas-motto-at-rutgers commented on #463
I might have just observed this.

[2021-05-26 19:52] douglas-motto-at-rutgers commented on #463
I got the error as soon as I did an open on an old collection file.

Do you get this error at the same time...or...do you get this after changing the file location and trying to save the macro edit settings?

[2021-05-26 20:46] foltik commented on #454
While zooming, the position of the green bar is held constant. The position of the green bar changes when you zoom all the way out, so the original view can't be preserved while keeping the green bar in the same place.

As long as there's still sufficient room on the screen for the green bar to remain in the same place, the view will be preserved.

(This is how zoom almost universally works; try z

[2021-05-26 20:49] foltik commented on #454
What's the difference in the 3.3.5 screenshot? It looks to me like in both cases the view is expanding around the sign, keeping the green bar in the same position relative to the sign. What are you expecting to happen?

**CAROL's REPLY:  The Zoom moves the selected item partially out of view.  In 3.3.5, the Zoom prioritizes keeping the Utterance in view.  You do not lose visibility of that gloss.*

[2021-05-26 20:55] foltik commented on #464
Fixed as of `SignStream3_3.7.0_pre_2021_05_26_1633_f4b57607`.

[2021-05-26 20:55] #464 closed, assigned to nobody

[2021-05-26 20:55] foltik commented on #463
Fixed as of `SignStream3_3.7.0_pre_2021_05_26_1633_f4b57607`.

[2021-05-26 20:56] cneidle commented on #454
Why does zooming work differently from how it worked in 3.3.5, which is how it should work for annotation ?  Can we not use the same algorithm ??   If you do nothing other than slide the zoom level back and forth, ending in the original position, the view should be unchanged.

Sent from my iPhone; please excuse typos.

[2021-05-26 21:00] foltik commented on #454
The algorithm is the same. The view is always preserved, unless you zoom **all the way out** and the green bar moves.

[2021-05-26 21:12] cneidle commented on #454
Could you perhaps consult with Greg?  This is definitely not behaving the same...

[2021-05-26 21:44] cneidle commented on #454
This is fundamentally different from the typical use of Zoom.

The typical use of Zoom is to focus in on a selected element

Here the Zoom bar serves to change the scale of the display — not necessarily
to focus in on any one element.  This is the only way we have to do this.

So if you’re viewing an utterance, changing the Zoom while the current
frame is near the edge of the utterance  should not

[2021-05-27 14:12] cneidle commented on #454
OS 10.12.6 - version Doug sent on Thursday, May 27

What you said about the Zoom is not true.   I start with the view in 1 below.   I move the zoom to the level shown in 2, do nothing else (i.e., the green bar does not move) and then move the zoom back to the original level.  The display has changed, as shown in 3.

<img width="1087" alt="Screen Shot 2021-05-27 at 10 05 50 AM" src="https://user-im

[2021-05-27 14:18] cneidle commented on #413
Low priority

[2021-05-27 14:32] cneidle commented on #455
Are these not resolved ??

-----KNOWN ISSUES

1) Color selection of nonmanual fields may not work as expected.
2) When creating a new nonmanual field, many of the options to edit field parameters do not work.
3) Search window
  a) Clicking on the listing of sentences in the search results does not always open the correct sentence.
  b) Warning to users:  Closing the window displaying an utterance

[2021-05-27 15:01] cneidle opened #465 "Save as - default file name not appearing"
Mac OS 10.12.6 - THU May 27

I believe I reported this previously, but "Save as" should provide the current filename (not the containing folder name).

<img width="804" alt="Screen Shot 2021-05-27 at 10 57 09 AM" src="https://user-images.githubusercontent.com/13629122/119849543-b6907300-beda-11eb-85d1-b3e3f65773f0.png">

[2021-05-27 15:04] cneidle commented on #414
This appears to be working properly.

[2021-05-27 15:04] #414 closed, assigned to nobody

[2021-05-27 15:26] foltik commented on #454
When you zoomed out, the scrollbar hit the beginning of the video. This changes the relative horizontal position of the green bar on the screen. When this happens, the view will be in a different spot when you zoom back in.

[2021-05-27 15:48] cneidle commented on #463
Happened again- have not changed anything - simply tried to open a previously annotated file from its existing location.

10.12.6 - May 27

<img width="1057" alt="Screen Shot 2021-05-27 at 11 45 22 AM" src="https://user-images.githubusercontent.com/13629122/119857099-4802e380-bee1-11eb-9cc3-0b2457d1639f.png">

[SignStreamOut.txt](https://github.com/DCS-LCSR/SignStream3/files/6555246/SignStreamOut.

[2021-05-27 16:43] foltik commented on #463
This is an issue with loading that specific collection file, not the media player as above. Can you send it?

[2021-05-27 16:48] cneidle commented on #463
Yes, I can send the file, but I have been able subsequently to open that same file
without a problem, so it is presumably not something inherent to the file.

[2021-05-27 18:01] gregorydimitriadis commented on #455
I think the color selection, while somewhat working, has some bugs remaining. I believe it works within the application before it is closed/quit, but then when re-opened the colors don't persist.

If this is 'okay' we can remove #2 as I believe the other properties work.

Regarding search: the quitting of the window will still occur. Clicking the listings to see the correct sentence - probably is

[2021-05-27 18:27] foltik commented on #463
Looks like this error is caused by some internal state getting messed up when opening a new collection with one already loaded.

I'm not able to get this to happen, is it reproducible with a certain set of steps?

[2021-05-27 18:53] cneidle commented on #452
This is still extremely wide.  There is lots of wasted space.

<img width="1135" alt="Screen Shot 2021-05-27 at 2 53 32 PM" src="https://user-images.githubusercontent.com/13629122/119881585-6ece1380-befb-11eb-9d3a-ede9b76e0af5.png">

[2021-05-27 19:05] gregorydimitriadis commented on #463
@cneidle also can you point/link us to the video for the collection? thanks in advance

[2021-05-27 19:07] cneidle commented on #452
Trivial fix:  Please change the Graph Selector "Display of default" to "Display by default" for consistency.

<img width="537" alt="Screen Shot 2021-05-27 at 3 05 36 PM" src="https://user-images.githubusercontent.com/13629122/119883085-20217900-befd-11eb-8fd7-209b2be4b175.png">

[2021-05-27 19:08] cneidle commented on #452
Not essential for this next release, but shouldn't the options for graph fields be the same as for the other fields -- utterance vs. tier vs. global?

[2021-05-27 19:47] gregorydimitriadis commented on #311
This is fixed in recent versions.

[2021-05-27 19:47] #311 closed, assigned to gregorydimitriadis

[2021-05-27 20:25] cneidle opened #466 "UNDESIRABLE UI CHANGES from previous version: 1) Database Window Toolbar"
If possible, can you please swap the icons (colors) for Display Non-empty and Refresh Default Display?  That way the same icon used previously for Display Non-empty will be used in the new version for the same thing.  I am drafting documentation, and it seems silly to have to explain that the previous Display Non-Empty icon now is used for something else, and a different icon is used for Display N

[2021-05-27 21:10] foltik commented on #465
Fixed as of `SignStream3_3.7.0_pre_2021_05_27_1708_5e4dc83b`.

[2021-05-27 21:10] #465 closed, assigned to foltik

[2021-05-27 21:12] cneidle commented on #463
It has happened more than once, I think on trying to open one file while another was open, but I am not able to reproduce it with any particular sequence of steps.

[2021-05-27 21:36] cneidle opened #467 "File validation (!)"
Not promising so far...

<img width="908" alt="Screen Shot 2021-05-27 at 5 35 25 PM" src="https://user-images.githubusercontent.com/13629122/119900109-0c344200-bf12-11eb-8322-3b66c92d9681.png">

[SignStreamOut.txt](https://github.com/DCS-LCSR/SignStream3/files/6556949/SignStreamOut.txt)

[2021-05-27 21:38] cneidle commented on #467
<img width="982" alt="Screen Shot 2021-05-27 at 5 37 45 PM" src="https://user-images.githubusercontent.com/13629122/119900276-50274700-bf12-11eb-9cc9-55e3c4265cc5.png">

[SignStreamOut.txt](https://github.com/DCS-LCSR/SignStream3/files/6556960/SignStreamOut.txt)

[2021-05-27 21:40] cneidle commented on #467
<img width="707" alt="Screen Shot 2021-05-27 at 5 39 25 PM" src="https://user-images.githubusercontent.com/13629122/119900459-8cf33e00-bf12-11eb-8f8d-a31cc2fae785.png">

[SignStreamOut.txt](https://github.com/DCS-LCSR/SignStream3/files/6556969/SignStreamOut.txt)

[2021-05-27 23:39] cneidle commented on #467
it's not just old files that fail.

I tried opening a new file created earlier today with this morning's version of signstream.

same errors

[SignStreamOut.txt](https://github.com/DCS-LCSR/SignStream3/files/6557286/SignStreamOut.txt)

<img width="956" alt="Screen Shot 2021-05-27 at 7 36 48 PM" src="https://user-images.githubusercontent.com/13629122/119909555-232f6000-bf23-11eb-9b85-d5a07a324dbb.p

[2021-05-28 13:16] douglas-motto-at-rutgers commented on #467
I created a very simple new collection file in v3 and then reopened it without seeing errors.  Can you send us that "new" file you created?

[2021-05-28 13:28] foltik commented on #467
Looking into the errors about overlap, which seem to be related to gloss text that hasn't had a start/end time set. All of the rest of the errors look like actual actual problems with the files.

Could you send the collection that shows the "Invalid framerate 0.0" error?

[2021-05-28 13:29] cneidle commented on #467
can you tell me which file you want me to send?

[2021-05-28 13:31] foltik commented on #467
Could you send the one that produced the errors shown in your third screenshot?

[2021-05-28 13:34] cneidle commented on #467
will send this file

[SignStreamOut.txt](https://github.com/DCS-LCSR/SignStream3/files/6561144/SignStreamOut.txt)

<img width="712" alt="Screen Shot 2021-05-28 at 9 33 36 AM" src="https://user-images.githubusercontent.com/13629122/119991849-e81b4400-bf97-11eb-89f5-b6ee3388f0a8.png">

[2021-05-28 13:45] foltik commented on #466
Colors have been swapped for next version.

[2021-05-28 13:48] douglas-motto-at-rutgers commented on #467
FYI...Some of these issues are NOT with the validator incorrectly detecting an error...they are bugs with the application that may have existed for a long time.

[2021-05-28 13:51] cneidle commented on #467
Well there are large numbers of errors reported for ALL of our previously annotated files, which we need to be able to continue to use.   What is to be done ?

Sent from my iPhone; please excuse typos.

[2021-05-28 13:58] douglas-motto-at-rutgers commented on #458
Carol, when previously discussing the removal of utterance boundary constraints we mentioned that there would be some issues with identifying what is now considered still within an utterance.  At that time we stated the initial approach we would take is if it was allowed before (such as an entity completely within an utterance), it was still be considered within that utterance....all other cases,

[2021-05-28 14:04] cneidle commented on #466
Thank you

[2021-05-28 16:01] douglas-motto-at-rutgers commented on #466
Leaving the rest open as future change.

[2021-05-28 16:30] cneidle commented on #466
I have to say I am unhappy about this.  This is unnecessarily user unfriendly.  It seems absurd that we have to wait until version 3.8 to be able to announce that we finally have 'Play Utterance' labeled as such in the Database View.  It likewise seems unfortunate that we have to begin our documentation about the purported improvements in the new version with explanations about how and why the too

[2021-05-28 16:58] douglas-motto-at-rutgers commented on #454
Carol,

We see the zoom working exactly as it is in 3.3.1 and 3.3.5.

I am closing this issue.

If a change is desired, please open a new feature request issue.

[2021-05-28 16:58] #454 closed, assigned to nobody

[2021-05-28 17:04] douglas-motto-at-rutgers commented on #435
This has been addressed at least as of
SignStream4_4.1.0_pre_2021_05_27_1707_ac7cf550
SignStream3_3.7.0_pre_2021_05_27_1708_5e4dc83b

Closing.

[2021-05-28 17:04] #435 closed, assigned to nobody

[2021-05-28 18:01] douglas-motto-at-rutgers commented on #467
In many specific cases I recommend we correct the old xml collection files.

In the general case....

There's two known issues currently that would effect many old collection files.
One is a double entry of a gloss due to NO start/end time previously being set.
The other is that the translations were not directly related to the utterances.

We are considering what to do about these two problems.

[2021-05-28 18:04] cneidle commented on #467
OK - thanks for considering the options.

While repairs of various kinds could be done to our own files,
others out there who have been using SignStream must not
lose access to their own files.

So the solution has to be general.

[2021-05-28 18:09] douglas-motto-at-rutgers commented on #467
The validator does not prevent using that file...it just says that if you use it you could have problems.

It's no different than if the validator did not exist...those problem with the application's understanding of the xml still exist (just as it did before).

In some cases...there's no other solution than to look at the xml and fix it.

[2021-05-28 18:14] cneidle commented on #467
Well, if you’re saying that everyone who updates SignStream to the
new version is going to receive these messages upon opening their
previous files, we need to alert them in advance about what to do
when that happens.

This is definitely not a desirable user experience, and will not
reflect well on our program unless we have a very good way
for users to address it.

[2021-05-28 18:40] douglas-motto-at-rutgers commented on #314
This existed in 3.3.1 and 3.3.5.

[2021-05-28 18:42] douglas-motto-at-rutgers commented on #314
Disabled the default functionality of arrow keys for the middle panel when focused.  Added the left/right to move the green bar.

As of

SignStream4_4.0.0_convergence_2021_05_12_1551_3d417a80

Closing.

[2021-05-28 18:42] #314 closed, assigned to gregorydimitriadis

[2021-05-28 18:50] douglas-motto-at-rutgers commented on #451
Fixed as of..

SignStream4_4.0.0_convergence_2021_05_12_1551_3d417a80

Closing

[2021-05-28 18:50] #451 closed, assigned to nobody

[2021-05-28 19:23] douglas-motto-at-rutgers commented on #452
As with the Field show and hide in 3.3.1 and 3.3.5...Graph data show and hide was only temporary within the active utterance view session.  Going back to database and back to utterance view would and still does lose these settings.

[2021-05-28 19:25] douglas-motto-at-rutgers commented on #452
There appears to exist a bug though...considering hiding these all together for the moment.

[2021-05-29 02:03] douglas-motto-at-rutgers commented on #467
Let me recap.

The XML validation is in response to some problems being reported in which we ultimately discover that the issue appears to be with the contents of XML collection file, not the application....there have been many such situations.

Now with the validation, for certain problems in the XML, users are made immediately aware.

Without becoming immediately aware there is a real risk of th

[2021-05-29 02:16] douglas-motto-at-rutgers commented on #467
Also, we need to validate that the validator is detecting correctly.

[2021-05-29 02:22] douglas-motto-at-rutgers commented on #463
The original error window above is different from the second error window above.

Believe this relates to the validator.  If clicking "Cancel" on the Validation popup, the above window and error message appears.

Closing this ticket.

If changes are desired to what happens when clicking "Cancel" please add to issue...

https://github.com/DCS-LCSR/SignStream3/issues/467

[2021-05-29 02:22] #463 closed, assigned to nobody

[2021-05-29 02:24] douglas-motto-at-rutgers commented on #458
There is a slight error in implementation detected.  Solved for XML saving.  Needs slight correction in the index and search.

[2021-05-29 02:27] douglas-motto-at-rutgers commented on #452
In the graph field editor, color is hard set to red and unchangeable...to match color used.

[2021-05-29 02:31] douglas-motto-at-rutgers commented on #452
Graph fields may be temporarily hidden via "-".

But in graph field editor, hide/show options do not do anything.
Refresh buttons do not effect the display of graph fields.

Entering Field editor and clicking "done" redisplays all graph fields.

[2021-05-29 02:36] cneidle commented on #467
I would like to set up a meeting that includes Dimitris to discuss this.

Please also see one question below.

What “system administrator” are you referring to?

SignStream has been widely distributed.  Are you proposing to have
all users who get errors upon opening their previous files contact *you* ?

[2021-05-29 02:42] douglas-motto-at-rutgers commented on #445
Fields appear to need belong to a "group".  Some fields where previously editable and got edited, but the editing process was broken in such a way that the group was set to "".  This caused the application to fail when expecting a group to exist.

Handling orphaned groups, non-existing groups, and custom groups have been considered.

Solution for right now is for us to correct this specific XML fi

[2021-05-29 02:49] douglas-motto-at-rutgers opened #468 "Play Previous event/entity button"
In addition to Next {event, entity} it would be great to have a Previous {event, entity} button.
It would also be useful to be able to jump forward and backward from one core event to the next.

[2021-05-29 02:50] douglas-motto-at-rutgers opened #469 "Changing collection file extension"
Presumably the file type will change from .ss3 to .ss4, if we renumber the new version as SIgnStream 4.0.

[2021-05-29 02:51] douglas-motto-at-rutgers commented on #416
moved to
https://github.com/DCS-LCSR/SignStream3/issues/468
https://github.com/DCS-LCSR/SignStream3/issues/469

Issues better handled individually.

Closing.

[2021-05-29 02:51] #416 closed, assigned to nobody

[2021-05-29 02:54] douglas-motto-at-rutgers commented on #469
Collection file extension has been changed to ".ssc".

Internally there is now a version within this file to identify the collection file version as well as the XML format used.

[2021-05-29 02:54] #469 closed, assigned to nobody

[2021-05-29 04:47] douglas-motto-at-rutgers commented on #413
This does not appear to be a Big Sur issue.

Can not reproduce.

Will have to demonstrate in person.

[2021-05-29 04:49] douglas-motto-at-rutgers commented on #439
This does not appear to be a Big Sur issue.

Can not reproduce.

Will have to demonstrate in person.

[2021-05-29 05:30] douglas-motto-at-rutgers commented on #412
The image file formats were changed, but I do not believe this is the cause.  See attached...

<img width="915" alt="Screen Shot 2021-05-29 at 1 28 57 AM" src="https://user-images.githubusercontent.com/13223830/120059121-5fdf8200-c01d-11eb-86b9-f7bb2d7498ca.png">

...Even the shades of blue and and other colors appear more reddish.

[2021-05-29 05:32] douglas-motto-at-rutgers commented on #407
Believe these issues have been corrected.

Closing.

[2021-05-29 05:32] #407 closed, assigned to nobody

[2021-05-29 05:38] douglas-motto-at-rutgers commented on #403
Believe fixed in the last versions.

Closing.

[2021-05-29 05:38] #403 closed, assigned to nobody

[2021-05-29 05:44] douglas-motto-at-rutgers commented on #396
Can not reproduce.  Believe fixed.

Closing.

[2021-05-29 05:44] #396 closed, assigned to nobody

[2021-05-29 05:47] douglas-motto-at-rutgers commented on #391
Change Search Domain functionality was removed as well as Return to Original State.  Will need to add it back in as a new feature.

[2021-05-29 05:52] douglas-motto-at-rutgers commented on #386
Not as of

SignStream4_4.1.0_pre_2021_05_28_2110_7a9f7c09
SignStream3_3.7.0_pre_2021_05_28_2112_68341ef3

FYI...I'm informed by others that we may be changing the versions of Mac OS that we support.

[2021-05-29 05:55] douglas-motto-at-rutgers commented on #375
This is being rolled into the xml validator and possible automatic corrections.

[2021-05-29 05:57] douglas-motto-at-rutgers commented on #375
See https://github.com/DCS-LCSR/SignStream3/issues/467

[2021-05-29 05:57] douglas-motto-at-rutgers commented on #375
This is being rolled into the xml validator and possible automatic corrections.

[2021-05-29 05:58] douglas-motto-at-rutgers commented on #374
This is being rolled into the xml validator and possible automatic corrections.

[2021-05-29 05:58] douglas-motto-at-rutgers commented on #374
https://github.com/DCS-LCSR/SignStream3/issues/467

[2021-05-29 06:01] douglas-motto-at-rutgers commented on #373
per emails...

Re [1] , the problem no longer seems to be occurring.  thanks.

closing

[2021-05-29 06:01] #373 closed, assigned to gregorydimitriadis